{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:0px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    #content .title{font-size:26px;color:{$website['color_word']};font-weight:800;text-align:center;line-height:normal !important;margin-bottom:15px;}
    #content .infomationBox{display: grid;grid-template-columns: repeat(2,1fr);-moz-column-gap: 20px;column-gap: 20px;row-gap: 20px;}
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="col-md-12">
                <div class="title">会员中心</div>
                <div class="infomationBox">
                    <a href="/?s=index/person_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/center.png" alt="" />
                            个人中心
                        </div>
                    </a>
                    <a href="/?s=index/shop_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/trade.png" alt="" />
                            购物中心
                        </div>
                    </a>
                    <a href="/?s=index/logistics_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/center.png" alt="" />
                            物流中心
                        </div>
                    </a>
                    <a href="/?s=index/financial_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/trade.png" alt="" />
                            账务中心
                        </div>
                    </a>
                    <a href="/?s=index/business_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/center.png" alt="" />
                            商务中心
                        </div>
                    </a>
                    <a href="/?s=index/customer_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/center.png" alt="" />
                            客服中心
                        </div>
                    </a>
                    <a href="/?s=index/rule_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/center.png" alt="" />
                            规则中心
                        </div>
                    </a>
                    <a href="/?s=index/nav_center">
                        <div class="box_content disf">
                            <img class="" src="./img/account/center.png" alt="" />
                            导航中心
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}