<!--推荐区-->
<style>
    /*A区*/
    .recommendBox{width:100%;border:1px solid {$data['websites']['info']['color']};}
    .recommendBox .column4_list {display: grid;grid-template-columns: repeat(4, 1fr);-moz-column-gap: 10px;column-gap: 10px;row-gap: 10px;margin:10px 10px 10px 10px;}
    .recommendBox .column4_list .column_gad2 {grid-column-start: 1;grid-column-end: 4;}
    .recommendBox .column_item {border-radius: 0px;}
    .recommendBox .column4_list .column_gad2 #discovery-container {width: 100%;height: 385px;border-radius: 0px;}
    .recommendBox .column4_list .column_gad2 #discovery-container .swiper-wrapper .swiper-slide{width:100% !important;}
    .recommendBox .discoveryDiv {position: relative;height: 100%;width: 100%;}
    .recommendBox .discoveryDiv .titleDiv {position: absolute;width: 100%;height: 80px;bottom: 0;left: 0;color: #fff;background: rgba(0, 0, 0, 0.5);padding: 15px;box-sizing: border-box;font-weight: 800;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
    .recommendBox .swiper-button-prev,.recommendBox  .swiper-button-next {color: #fff;background: rgba(94, 95, 94, 0.5);box-shadow: 0px 0px 10px 0 #fff;border: 1px solid #fff;border-radius: 50%;width: 30px;height: 30px;}
    .recommendBox .swiper-container-horizontal>.swiper-pagination-bullets,.recommendBox .swiper-pagination-custom,.recommendBox .swiper-pagination-fraction {bottom: 10px;left: 0;width: 100%;}
    .recommendBox .swiper-pagination-bullet {width: 6px;height: 6px;background-color: #FFFFFF;opacity: 1;}
    .recommendBox .swiper-pagination-bullet-active {width: 14px;height: 6px;border-radius: 3px;opacity: 1;background-color: #FFFFFF;}
    .recommendBox .swiper-button-prev:after,.recommendBox .swiper-button-next:after{font-size: 14px;}
    /*B区*/
    .recommendBox .column_gd1{min-width:495px;}
    .recommendBox .column_gd1 .newsDiv {height: 385px;width: 100%;background: {$data['websites']['info']['color']};border-radius: 0px;overflow: hidden;border: 1px solid {$data['websites']['info']['color']};}
    .recommendBox .column_gd1 .newsDiv .newsHead {width: 100%;height: 10%;border-bottom: 1px solid {$data['websites']['info']['color_word']};}
    .recommendBox .column_gd1 .newsDiv .newsHead .newsText {width: 50%;text-align: center;color: {$data['websites']['info']['color_word']};padding: 5px 0;cursor: pointer;}
    .recommendBox .column_gd1 .newsDiv .newsHead .newsAct {background: {$data['websites']['info']['color_word']};color: {$data['websites']['info']['color']};}
    .recommendBox .column_gd1 .newsDiv .newsCont {height: 90%;max-width: 100%;min-width: 100%;width: 100%;padding: 8px 10px 10px;box-sizing: border-box;position: relative;}
    .recommendBox .column_gd1 .newsDiv .newsCont .swiper-container {height: 100%;width: 100%;}
    .recommendBox .column_gd1 .newsDiv .newsCont .swiper-container .swiper-slide a {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .recommendBox .column_gd1 .goodsDiv .goodsImg {width: calc(20% - 10px);height: 50px;margin-right: 10px;}
    .recommendBox .column_gd1 .goodsDiv .goodsInfo {width: 80%;}
    .recommendBox .column_gd1 .goodsDiv .goodsInfo .title {width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;color: {$data['websites']['info']['color_word']};}
    .recommendBox .column_gd1 .goodsDiv .goodsInfo .price {background: {$data['websites']['info']['color_word']};color: {$data['websites']['info']['color']};padding: 3px 10px;border-radius: 5px;width: 110px;text-align: center;margin-top: 5px;}
    .recommendBox .column_gd1 .viewGoods {background: #e60000;color: {$data['websites']['info']['color_word']};padding: 3px 10px;border-radius: 5px;width: fit-content;text-align: center;margin-left: 15px;cursor: pointer;margin-top: 5px;}

    @media (max-width: 992px){
        .recommendBox .column4_list{display: block;}
        .recommendBox .discoveryDiv .titleDiv{font-size: 16px !important;}
        .column_gd1 {margin-top: 30px;}
        .column_gd1 .newsDiv {height: 355px;}
        .recommendBox .column_gd1{min-width: 100%;max-width: 100%;width:100%;}
    }
</style>
<section class="recommendBox">
    <div class="column4_list">
        <div class="column_gad2 column_item">
            {if !empty($data['websites']['recommendA'])}
            <div class="swiper-container" id="discovery-container">
                <!--轮播内容-->
                <div class="swiper-wrapper">
                    {foreach name="data['websites']['recommendA']" key="k" id="vo"}
                    <div class="swiper-slide">
                        <div class="discoveryDiv">
                            {if $vo['go_other']==0}
                                <!--无跳转-->
                                <a href="javascript:void(0);">
                            {elseif($vo['go_other']==1 || $vo['go_other']==6 || $vo['go_other']==7)}
                                <!--分享&我要咨询&去找客服-->
                                <a href="javascript:common_operation({$vo['go_other']},this);">
                            {elseif($vo['go_other']==2)}
                                <!--商品链接-->
                                <a href="//www.gogo198.cn/goods-{$vo['other_goods']}.html" target="_blank">
                            {elseif($vo['go_other']==3)}
                                <!--菜单链接-->
                                <a href="/?s=merch/detail&id={$vo['other_navbar']}&company_id={$company_id}&company_type={$company_type}" target="_blank">
                            {elseif($vo['go_other']==4)}
                                <!--第三方链接-->
                                <a href="{$vo['other_link']}" target="_blank">
                            {elseif($vo['go_other']==5)}
                                <!--搜索关键字-->
                                <a href="/?s=merch/goods_list&frame_id=4&hotsearchId={$vo['id']}&searchTitle={$vo['other_keywords']}&company_id={$company_id}&company_type={$company_type}" target="_blank">
                            {/if}

                                <img src="{$data['source_link']}{$vo['thumb']}" srcset="{$data['source_link']}{$vo['thumb']} 1x, {$data['source_link']}{$vo['thumb']} 2x, {$data['source_link']}{$vo['thumb']} 3x" alt="" style="width:100%;height:100%;" class="carousel-image"/>
                                <div class="titleDiv f22">
                                    {$vo['descs']}
                                </div>
                            </a>
                        </div>
                    </div>
                    {/foreach}
                </div>
                <!--左右切换-->
                <div class="swiper-button-next sn1"></div>
                <div class="swiper-button-prev sp1"></div>
                <!--分页器-->
                <div class="swiper-pagination discovery-pagination" style="text-align:center;"></div>
            </div>
            {/if}
        </div>
        <div class="column_gd1 column_item">
            {if !empty($data['websites']['recommendB'])}
            <div class="newsDiv">
                <div class="newsHead disf">
                    {foreach name="data['websites']['recommendB']" key="k" id="v"}
                    <div class="newsText leftText {if $k==0} newsAct {/if} f20" onclick="change_news({$v['go_other']},{$k},this)">{$v['name']}</div>
                    {/foreach}
                </div>
                <div class="newsCont">
                    {foreach name="data['websites']['recommendB']" key="k" id="v"}
                    {if $v['go_other']==2}
                    <div class="swiper-container news{$k}" style="display:{if $k!=0} none {/if};">
                        <div class="swiper-wrapper">
                            {foreach name="v['children']" key="k2" id="vo"}
                            <div class="swiper-slide">
                                <div class="goodsDiv">
                                    <a href="//www.gogo198.cn/goods-{$vo['goods_id']}.html" target="_blank">
                                        <div class="disf">
                                            <div class="goodsImg" style="background: url({$vo['goods_image']}) no-repeat 100% 100%;background-size: cover;"></div>
                                            <div class="goodsInfo">
                                                <div class="title f15" title="{$vo['goods_name']}">{$vo['goods_name']}</div>
                                                <div class="disf">
                                                    <div class="price f15">{$vo['currency']} {$vo['goods_price']}</div>
                                                    <div class="viewGoods">详情</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                    {/if}
                    {if $v['go_other']==7}
                    <div class="news{$k}" style="width:100%;height:100%;display:{if $k!=0} none {/if};">
<!--                        <iframe src="https://boss.gogo198.cn/?s=customer/customer_online&pa=2&who_send=2&id=0&pid=0&company_id={$company_id}&isframe=1&uid=<?php echo session('account.gogo_id');?>" frameborder="0" style="width:100%;height:calc(100% + 3px);"></iframe>-->
                        <iframe src="https://boss.gogo198.cn/?s=memberc/member_center&identify=0&outsideUrl='https://dtc.gogo198.net/?s=merch/merch_shop_index&company_id=<?php echo $company_id;?>&company_type=<?php echo $company_type;?>'&mid=<?php echo base64_encode(session('account.id'));?>&height_limit=0" frameborder="0" style="width:100%;height:calc(100% + 3px);"></iframe>
                    </div>
                    {/if}
                    {/foreach}
                </div>
            </div>
            {/if}
        </div>
    </div>
</section>