@page {
	/* size: 21cm 29.7cm; */
	font-size: 14pt;
	font-family: SimSun, 宋体, serif;
	color:black;
	line-height: 1.4;
	text-align: justify;
	margin:0;
	padding:0;
	}

body{
	font-size: 14pt;  /*在打印中，字体大小使用pt单位*/
	/*font-family: "Times New Roman", Times, serif;*/
	font-family: 'Arial';
	}
/**公共样式**/
body,
p,
form,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
html,
body {
	width: 100%;
	height: 100%;
overflow: hidden;
}
img {
	border: 0;
	display: block;
}
input,
textarea {
	border: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
	color: inherit;
}
a,
img,
button,
input,
textarea {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.txt_ell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
b{font-weight: normal;}
i{font-style: normal;}
.fleft {
float: left;
}
.fright{
	float: right;
}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
.hidden{display: none!important;}

/**禁止选中文字**/
.unselectfont{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
}
.scrollnone::-webkit-scrollbar{
	width:0px;
	opacity:0;
	-webkit-overflow-scrolling: touch;

}

/* element-ui */
.btn{width:300px;line-height:40px}
body{overflow-y: auto;}
.page{width: 595.32pt;margin: 0 auto;}
.content>div{
    width: 100%;
    /*height: 716pt;*/
    padding-top: 5px;
}
#printId{width: 100%;background: white;font-size: 18px;}
.invoice-bg{
	background: url('http://shop.gogo198.cn/foll/public/static/doc/images/invoice-bg2.jpg') no-repeat;
	background-size: 100% 100%;
	height: 709pt;
	width: 100%;
	z-index: 1;
}
.invoice-top{
	margin: 0 auto;
	width: 190mm;
	height: 3em;
	/*display: flex;*/
}
.invoice-mid{
	margin: 0 auto;
	width: 190mm;
	height: 33em;
	/*display: flex;*/
	/*min-height: 30em;*/
	/*padding: 0 10mm;*/
	/*background: #f9f9f9;*/
	border: 1px solid #222;
}
.invoice-bottom{
	margin: 0 auto;
	width: 190mm;
	height: 16em;
	display: flex;
	border: 1px solid #222;
	border-top: 0;
}
.invoice-top-left{
	width: 115mm;
	height: 16mm;
	float: left;
	border-right: 1px solid #222;
}
.invoice-top-right{
	width: 60mm;
	float: left;
	margin-left: 10mm;
}
.top-left{
	width: 105mm;
	/*float: left;*/
	text-align: left;
	font-weight: normal;
	margin-left: 2mm;
}
.top-left-txt{
	width: 105mm;
	line-height: 6mm;
	margin-left: 2mm;
	/*float: left;*/
}
.top-left-txt p{
	padding: 0;
	margin: 0;
}
.top-title, .invoice-num, .invoice-date{
	font-weight: normal;
}
.top-en{
	width: 110mm;
	padding: 0;
	margin: 0;
}
.invoice-num, .invoice-date{
	/*margin: 0.4em auto;*/
}
.top-add{
	font-size: 12pt;
	line-height: 1.2em;
}
.invoice-pic{
	margin: 2mm 0;
	text-align: left;
}
.invoice-pic img{
	width: 240px;
	margin-left: 5mm;
}
.invoice-title{
	text-align: center;
	font-size: 2em;
	margin: 1mm 0
}
.invoice-table{
	border: 0;
	margin: 0.5em 0;
}
.invoice-table tr th, .invoice-table tr td{
	padding: 0.5em 0;
	text-align: center;
}
.invoice-table tr td{
	font-size: 12pt;
	border-bottom: 1px solid #222;
}
.td1{
	width: 20mm;
}
.td2{
	width: 90mm;
}
.td3{
	width: 30mm;
}
.td4{
	width: 20mm;
}
.td5{
	width: 30mm;
}

.bottom-left{
	width: 95mm;
	float: left;
	border-right: 1px solid #222;
	/*padding-right: 2mm;*/
}
.bottom-right{
	width: 75mm;
	float: left;
	margin-left: 17mm;
    margin-top: 5mm;
}
.bottom-txt, .bottom-right{
	font-weight: bold;
}
.info-title{
	/*color: #079eeb;*/
	color: #505050;
	margin: 0.4em 0;
	padding-bottom: 2mm;
    padding-left: 2mm;
    border-bottom: 1px solid #222;
}
.bottom-info{
	margin-top: 5mm;
	/*margin-left: 2mm;*/
}
.bottom-info p{
	padding: 0.15em 0;
	margin: 0;
	font-size: 12pt;
}
.bottom-right p{
	padding: 0.1em 0;
	margin: 0;
}
.info-table{
	margin-left: 2mm;
}
.info-table tr td{
	padding: 1mm 0;
}
.w1{
	width: 28mm;
    vertical-align: text-bottom;
}
.w2{
	width: 65mm;
	margin-left: 10mm;
}
.w3{
	width: 45mm;
	margin-left: 10mm;
}
.sign{
	width: 50mm;
	margin: 10mm auto 0;
	font-weight: bold;
	border-top: 1px solid #0f131e;
	text-align: center;
	padding: 3mm 0;
}
.seal{
	position: relative;
	top: -24mm;
	left: 26mm;
	z-index: 999;
}
/*.seal img{
	width: 45mm;
}*/
.root{
	width: 210mm;
	height: auto;
	padding: 10mm 24mm 0 24mm;
	/* margin-bottom: 24mm; */
	background-color: darkgrey;
}
.inv-con{
	width: 100%;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	display: inline-block;
}
