.pi-bg{
	/*background: url('http://shop.gogo198.cn/foll/public/static/doc/images/invoice-bg2.jpg') no-repeat;*/
	background-size: 100% 100%;
	/*height: 710pt;*/
	width: 100%;
	z-index: 1;
}

.pi-top{
	margin: 0 auto;
	width: 190mm;
	height: 3em;
	/*display: flex;*/
}
.pi-mid{
	margin: 0 10mm 0.5em;
	width: 190mm;
	height: 49.5em;
	border: 1px solid #222;
	/*display: flex;*/
	/*min-height: 30em;*/
	/*padding: 0 10mm;*/
	/*background: #f9f9f9;*/
	display: inline-block
}
.pi-bottom{
	margin: 0 auto;
	width: 190mm;
	height: 8em;
}

.pi-title{
	width: 100%;
	margin: 0;
    text-align: center;
    border-bottom: 1px solid #222;
    font-family: 'Arial';
}
.pi-pic{
	margin: 2mm 0;
	text-align: left;
}
.pi-pic img{
	width: 240px;
	margin-left: 5mm;
}
.pi-txt{
	width: 100%;
	font-family: 'Arial';
	font-size: 12pt;
	border-bottom: 1px solid #222;
	height: 6mm;
	line-height: 6mm;
}
.pi-num{
	width: 100mm;
	float: left;
	text-align: center;
}
.pi-date{
	width: 90mm;
	float: left;
}
.pi-con{
	width: 100%;
}
.pi-con-left{
	width: 100mm;
	float: left;
	border-right: 1px solid #222;
}
.pi-con-right{
	width: 89mm;
	float: left;
}
.num1{
	width: 100%;
}
.num-title{
	font-size: 12pt;
	font-family: "Arial";
	font-weight: bold;
	margin: 1mm;
}
.num-title span{
	font-family: "SimSun";
}
.num1-con{
	/*height: 50mm;*/
	font-size: 12pt;
	line-height: 5.5mm;
	margin: 0.5mm 1mm;
}
.pi4-5{
	width: 100%;
	border-top: 1px solid #222;
	/*display: inline-block;*/
}
.num-left{
	width: 49mm;
	float: left;
	border-right: 1px solid #222;
}
.noborder{
	border-right: none;
}
.pi-table{
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	font-size: 12pt;
}
.pi-table tr th{
	padding-top: 3mm;
	text-align: left;
	font-weight: bold;
	font-family: "Arial";
}
.totalprice{
	width: 100%;
	font-weight: bold;
	text-align: right;
	font-size: 12pt;
	margin: 2mm 0;
	font-family: "Arial";
}
.totalprice span{
	margin-left: 10mm;
	margin-right: 2mm;
}
.pi-14{
	font-family: "Arial";
	font-weight: bold;
	font-size: 12pt;
	margin: 5mm 1mm 0;
}
.pi-14-con{
	/*width: 100%;*/
	font-size: 12pt;
	margin: 1mm;
}
.pi-15{
	font-family: "Arial";
	font-weight: bold;
	font-size: 12pt;
	margin: 3mm 1mm 0;
}
.pi-15-con{
	/*width: 100%;*/
	font-size: 12pt;
	margin: 1mm;
}
.signature{
	width: 100%;
}
.sign-left, .sign-right{
	width: 95mm;
	float: left;
}
.sigh-buy{
	font-family: "Arial";
	margin: 0 auto;
	border-top: 1px solid #222;
	width: 80mm;
	padding: 2mm 0;
	height: 20mm;
	font-size: 12pt;
}
.pi-seal{
	position: relative;
    top: -30mm;
    left: 134mm;
    z-index: 999;
}
.pi-seal img{
	/*width: 55mm;*/
}


