.position-center {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 86px 0 80px;
    text-align: center
}

.title {
    font-size: 28px;
    font-weight: 700
}

.selected {
    border-bottom: 5px solid #ffd400
}

.subtitle {
    padding: 16px 0 49px;
    font-size: 16px;
    color: #666
}

.el-carousel__button {
    height: 4px!important
}

[v-cloak] {
    display: none
}

@media (max-width: 700px) {
    .position-center {
        width:90%
    }
}

#app .notice {
    padding: 0
}

#app .notice .el-dialog {
    width: 50%
}

#app .notice .el-dialog__body,#app .notice .el-dialog__header {
    padding: 0
}

#app .notice .el-dialog__footer {
    padding: 60px 20px 20px
}

#app .notice .notice-title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    color: #fff;
    align-items: center;
    padding: 20px 30px;
    background-color: #ffd400
}

#app .notice .notice-title i {
    font-size: 50px
}

#app .notice .notice-title .notice-text {
    color: #333;
    line-height: 29px
}

#app .notice .notice-content {
    padding: 25px 40px;
    height: 200px;
    overflow-y: auto;
    line-height: 35px
}

#app .notice .notice-content h2 {
    margin: 0
}

#app .notice .notice-content img {
    width: auto
}

#app .notice .notice-content .notice-time {
    text-align: right
}

#app .notice .notice-content::-webkit-scrollbar {
    width: 10px;
    height: 1px
}

#app .notice .notice-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    background: #ebebeb
}

#app .notice .notice-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff
}

#app .notice .notice-footer {
    display: flex;
    justify-content: center
}

#app .notice .notice-footer .notice-button {
    cursor: pointer;
    width: 16%;
    padding: 15px 0;
    text-align: center;
    background-color: #ffd400
}

#app header .introduce {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 68px
}

#app header .introduce .introduce-content {
    width: 50%
}

#app header .introduce .introduce-content .introduce-title {
    font-size: 48px;
    font-weight: 700
}

#app header .introduce .introduce-content .introduce-subtitle {
    font-size: 32px
}

#app header .head-nav {
    background: #0e2e68
}

#app header .head-nav .nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto
}

#app header .head-nav .nav .nav-item {
    padding: 35px 0
}

#app header .head-nav .nav .nav-item:hover {
    background-color: #f1be83
}

#app header .head-nav .nav .nav-item .hidden-border {
    border-right: none!important
}

#app header .head-nav .nav .nav-item .nav-items {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-right: 1px solid #fff;
    color:#fff;
}

#app header .head-nav .nav .nav-item:last-child .nav-items {
    border-right: none;
}

#app section .is-active button {
    background-color: #ffd400
}

#app section .process {
    text-align: center
}

#app section .process .process-content {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(9,1fr)
}

#app section .process .process-content .process-item .process-title {
    padding: 18px 0 12px;
    font-size: 20px
}

#app section .process .process-content .process-item .process-subtitle {
    font-size: 14px
}

#app section .process .process-content .jian-tou {
    padding-top: 50px
}

#app section .route {
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

#app section .route .route-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start
}

#app section .route .route-info .package {
    width: 100%;
    max-width: 1200px;
    padding: 60px 10px
}

#app section .route .route-info .package .el-carousel__container {
    height: 306px
}

#app section .route .route-info .package .line-scroll {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-gap: 60px
}

#app section .route .route-info .package .no-line {
    text-align: center
}

#app section .route .route-info .package .package-item {
    cursor: pointer;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1)
}

#app section .route .route-info .package .package-item .lint-name {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#app section .route .route-info .package .package-item .attribute {
    margin: 20px 0;
    padding: 8px 10px;
    color: #666;
    background: #f5f5f5;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#app section .route .route-info .package .package-item .line-region {
    padding-bottom: 20px
}

#app section .route .route-info .package .package-item .line-region .el-carousel__item {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    text-align: center
}

#app section .route .route-info .package .package-item .line-region .el-carousel__container {
    width: 90%
}

#app section .route .route-info .package .package-item .line-region .el-carousel__arrow {
    width: 16px!important;
    height: 16px!important;
    color: #717171!important;
    font-size: 16px!important;
    background-color: transparent!important
}

#app section .route .route-info .package .package-item .line-region .el-carousel__arrow--right {
    right: -20px
}

#app section .route .route-info .package .package-item .line-region .el-carousel__arrow--left {
    display: none
}

#app section .route .route-info .package .package-item .line-region .region-item {
    padding: 8px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

#app section .route .route-info .package .package-item .line-region .region-item:hover {
    background: #f5f5f5;
    border-radius: 5px
}

#app section .route .route-info .package .package-item .line-region .select-region {
    color: #333!important;
    background: #f5f5f5;
    border-radius: 5px
}

#app section .route .route-info .package .package-item .line-info {
    display: grid;
    grid-template-columns: repeat(2,1fr)
}

#app section .route .route-info .package .package-item .line-info .line-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center
}

#app section .route .route-info .package .package-item .line-info .line-details .weight {
    padding: 10px 0 28px;
    color: #999;
    font-size: 14px
}

#app section .route .route-info .package .package-item .line-info .border {
    position: relative
}

#app section .route .route-info .package .package-item .line-info .border:before {
    position: absolute;
    top: 20%;
    right: 0;
    content: "";
    width: 1px;
    background-color: #ccc;
    height: 70%
}

#app section .information .information-content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px
}

#app section .information .information-content .banner {
    width: 100%
}

#app section .information .information-content .information-info {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    max-height: 235px;
    overflow: hidden;
    box-sizing: border-box;
    overflow-y: auto
}

#app section .information .information-content .information-info .information-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    cursor: pointer
}

#app section .information .information-content .information-info .information-item .notice-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#app section .information .information-content .information-info .information-item:hover {
    color: #0e2e68
}

#app section .information .information-content .information-info::-webkit-scrollbar {
    width: 10px;
    height: 1px
}

#app section .information .information-content .information-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    background: #ebebeb
}

#app section .information .information-content .information-info::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff
}

#app section .service {
    background: #fafafa
}

#app section .service .service-content {
    display: grid;
    row-gap: 60px;
    -moz-column-gap: 145px;
    column-gap: 145px;
    grid-template-columns: 1fr 1fr
}

#app section .service .service-content .service-item {
    display: flex;
    gap: 45px;
    align-items: center;
    text-align: start
}

#app section .service .service-content .service-item .service-img {
    padding: 20px;
    border-radius: 50%;
    background: #fff
}

#app section .service .service-content .service-item .service-details .service-title {
    padding-top: 10px;
    font-size: 18px
}

#app section .service .service-content .service-item .service-details .service-subtitle {
    padding-top: 28px;
    font-size: 14px;
    color: #666
}

#app section .customer .customer-scroll {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4,1fr);
    text-align: start;
    padding: 10px;
    box-sizing: border-box
}

#app section .customer .customer-scroll .customer-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1)
}

#app section .customer .customer-scroll .customer-item .customer-top {
    display: flex;
    gap: 20px
}

#app section .customer .customer-scroll .customer-item .customer-top .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden
}

#app section .customer .customer-scroll .customer-item .customer-top .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center
}

#app section .customer .customer-scroll .customer-item .customer-top .user-info .user-name {
    font-size: 20px;
    padding-bottom: 6px
}

#app section .customer .customer-scroll .customer-item .customer-top .user-info .user-star {
    display: flex;
    gap: 5px
}

#app section .customer .customer-scroll .customer-item .customer-top .user-info .user-star .star {
    width: 12px;
    height: 12px
}

#app section .customer .customer-scroll .customer-item .customer-center {
    padding: 16px 0
}

#app section .customer .customer-scroll .customer-item .customer-center .comment {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

#app section .customer .customer-scroll .customer-item .customer-center .customer-img {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,60px);
    height: 60px;
    padding-top: 16px;
    overflow: hidden
}

#app section .customer .customer-scroll .customer-item .customer-center .customer-img img {
    width: 100%
}

#app section .customer .customer-scroll .customer-item .customer-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999
}

#app .look-img {
    display: flex;
    align-items: center;
    text-align: center
}

#app .look-img .el-dialog {
    position: static!important;
    box-shadow: none!important;
    background: transparent!important
}

#app .look-img .el-dialog__body {
    box-sizing: border-box;
    padding-bottom: 60px
}

#app .look-img .el-dialog__close {
    display: none
}

#app .look-img .back,#app .look-img .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffd400;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0,0,0,.04)
}

#app .look-img .back {
    left: 10%
}

#app .look-img .forward {
    right: 10%
}

#app .look-img .big-img {
    height: 100%;
    max-height: 700px;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

@media (max-width: 1300px) {
    #app section .customer .el-carousel__container {
        height:600px
    }

    #app section .customer .customer-scroll {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr
    }

    #app section .customer .customer-scroll .customer-item .customer-center .comment {
        -webkit-line-clamp: 4
    }
}

@media (max-width: 1000px) {
    #app section .process .process-content {
        display:grid;
        grid-template-columns: repeat(5,1fr)
    }

    #app section .process .process-content .none-960 {
        display: none
    }

    #app section .service .service-content {
        row-gap: 20px;
        -moz-column-gap: 25px;
        column-gap: 25px
    }

    #app section .route .route-info .package .el-carousel__container {
        height: 620px
    }

    #app section .route .route-info .package .line-scroll {
        display: grid;
        grid-template-columns: repeat(2,minmax(250px,1fr));
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px
    }
}

@media (max-width: 700px) {
    #app header .introduce .introduce-content .introduce-title {
        font-size:32px;
        font-weight: 700
    }

    #app header .introduce .introduce-content .introduce-subtitle {
        font-size: 20px
    }

    #app header .head-nav .nav {
        row-gap: 20px;
        grid-template-columns: repeat(2,1fr)
    }

    #app header .head-nav .nav .nav-item:nth-child(2n) .nav-items {
        border-right: none
    }

    #app section .process .process-content {
        display: grid;
        grid-template-columns: repeat(3,1fr)
    }

    #app section .process .process-content .none-960 {
        display: block
    }

    #app section .process .process-content .none-700 {
        display: none
    }

    #app section .information .information-content {
        grid-template-columns: 100%
    }

    #app section .service .service-content {
        grid-template-columns: 1fr
    }

    #app section .service .service-content .service-item {
        gap: 10px
    }

    #app section .service .service-content .service-item .service-img {
        padding: 10px
    }

    #app section .service .service-content .service-item .service-details .service-title {
        padding-top: 10px
    }

    #app section .service .service-content .service-item .service-details .service-subtitle {
        padding-top: 15px
    }

    #app section .route .route-info .package .el-carousel__container {
        height: 935px
    }

    #app section .route .route-info .package .line-scroll {
        grid-template-columns: repeat(1,minmax(250px,1fr));
        grid-template-rows: 1fr 1fr 1fr
    }

    #app section .customer .el-carousel__container {
        height: 1200px
    }

    #app section .customer .customer-scroll {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr)
    }

    #app .look-img {
        text-align: center
    }

    #app .look-img .el-dialog {
        width: 80%
    }

    #app .look-img .back,#app .look-img .forward {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px
    }

    #app .look-img .back {
        left: 0
    }

    #app .look-img .forward {
        right: 0
    }
}
