.aside {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    top: 0;
    background-color: #f7f7f7;
    z-index: 999
}

.aside .close {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: 24px
}

.aside.open {
    display: block!important
}

.aside>.aside-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.aside>.aside-nav .member-center {
    width: 101px;
    height: 40px;
    background: #ff8421;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    border: none
}

.aside>.aside-nav .nav-list {
    text-align: center;
    padding: 0;
    margin: 0
}

.aside>.aside-nav .nav-list .item {
    display: block;
    padding: 15px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500
}

.aside>.aside-nav .nav-list .item a {
    color: #6a6e79;
    font-weight: 400;
    font-size: 20px;
    vertical-align: middle
}

.aside>.aside-nav .nav-list .item .icon {
    color: #555;
    font-size: 18px;
    vertical-align: middle;
    margin-right: 8px
}

.aside>.aside-nav .nav-list .item.link-active {
    font-weight: 700;
    background-color: rgba(216,222,226,.7)
}

.aside>.aside-nav .nav-list .item.link-active .icon,.aside>.aside-nav .nav-list .item.link-active a {
    color: #49c799
}

.aside>.aside-nav .nav-list .experience .icon,.aside>.aside-nav .nav-list .experience a {
    color: #ee9c40
}

.is-select a {
    color: #ff8421!important
}
