{include file="common/header"}
<link rel="stylesheet" href="https://www.gogo198.net/layui/font/iconfont.woff?v=256">
<link rel="stylesheet" href="layui/css/layui.css">
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .inquiry_box{display:none;}
    .navbar_menu{color: {$website['color_word']};font-size: 16px;margin-bottom:10px;}
    .context,.navbar_menu a{color:{$website['color_word']};}
    .context{margin-bottom:1cm;}
    .layui-colla-title{color:{$website['color_word']};background-color:#0e2e68;}
    .preamble_con,.layui-colla-content{color:{$website['color_word']};font-size:15px;}
    .layui-colla-content p{margin-bottom:0.3cm;}

    .navbar_menu{color:{$website['color_word']};font-size:16px;margin-bottom:10px;margin-top:15px;margin-left:10px;}
    .navbar_menu a{color:{$website['color_word']};}
    .navbar_menu a:last-child{color:#D2A778;font-weight:700;}
    .layui-elem-field legend{border-bottom: 0;color: #fff;width:fit-content;}
    .layui-form-item{border-bottom: 1px solid #fff;padding-bottom: 5px;}
    .layui-form-label{padding: 10px 10px;text-align: left;font-weight:600;color:{$website['color_word']};}
    .layui-input-block{min-height: fit-content;margin-left: 80px;}
    .input50{width:50%;}
    .input25{width:25%;}
    .input35{width:35%;}
    .input36{width:36%;}
    .white_color{color:{$website['color_word']};white-space:nowrap;width:45px;text-align:center;}
</style>
<script src="layui/layui.js"></script>
<section id="content" class="non_topimg">
    <div class="container">
        <p class="navbar_menu"><a href="/?s=index/express&id={$id}">集运管理</a>&nbsp;<span style="color:#d1a575;">\</span>
            {if $type==1}&nbsp;<a href="/?s=index/express_list&id={$id}&typ=1">待处理运单列表</a>&nbsp;<span style="color:#d1a575;">\</span>{/if}
            {if $type==2}&nbsp;<a href="/?s=index/express_list&id={$id}&typ=2">已处理运单列表</a>&nbsp;<span style="color:#d1a575;">\</span>{/if}
            <a href="javascript:;">费用确认</a>&nbsp;<span style="color:#d1a575;">\</span>
        </p>

        <form class="layui-form" action="" method="post" lay-filter="component-form-element">
            <input type="text" style="display:none;" name="id" id="id" value="{$id}">
            <input type="text" style="display:none;" name="type" id="type" value="{$type}">
            <div class="content" style="padding:10px 10px;box-sizing:border-box;margin-top:20px;border:1px solid #fff;">
                <div class="layui-form-item">
                    <div class="layui-form-label">计费重量</div>
                    <div class="layui-input-block disf">
                        <input type="number" class="layui-input" value="{$info['true_weight']}" lay-verify="required" name="true_weight" id="true_weight" placeholder="计费重量" onchange="monitor_input()">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-form-label">首重单价</div>
                    <div class="layui-input-block disf">
                        <input type="number" class="layui-input input50" value="" lay-verify="required" name="first_weight" id="first_weight" placeholder="首重" onchange="monitor_input()">
                        <div class="input50">
                            <select name="unit" class="unit" lay-filter="unit">
                                <option value="1">KGS</option>
                                <option value="2">GS</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-input-block disf">
                        <input type="number" class="layui-input input50" value="" lay-verify="required" name="first_price" id="first_price" placeholder="金额" onchange="monitor_input()">
                        <div class="input50">
                            <select name="currency" class="currency" lay-filter="currency">
                                {volist name="currency" id="vo"}
                                    <option value="{$vo['code_value']}" {if $vo['code_value']==142}selected{/if}>{$vo['code_name']}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-form-label">续重单价</div>
                    <div class="layui-input-block disf">
                        <input type="number" class="layui-input input50" value="" lay-verify="required" name="second_weight" id="second_weight" placeholder="续重" onchange="monitor_input()">
                        <div class="input50">
                            <select name="unit" class="unit" lay-filter="unit">
                                <option value="1">KGS</option>
                                <option value="2">GS</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-input-block disf">
                        <input type="number" class="layui-input input50" value="" lay-verify="required" name="second_price" id="second_price" placeholder="金额" onchange="monitor_input()">
                        <div class="input50">
                            <select name="currency" class="currency" lay-filter="currency">
                                {volist name="currency" id="vo"}
                                <option value="{$vo['code_value']}" {if $vo['code_value']==142}selected{/if}>{$vo['code_name']}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-form-label">计重进阶</div>
                    <div class="layui-input-block disf">
                        <span class="white_color">不足</span>
                        <input type="number" class="layui-input input50" value="" name="insu_weight" id="insu_weight" placeholder="数量">
                        <div class="input50">
                            <select name="unit" class="unit" lay-filter="unit">
                                <option value="1">KGS</option>
                                <option value="2">GS</option>
                            </select>
                        </div>
                        <span class="white_color"></span>
                    </div>
                    <div class="layui-input-block disf">
                        <span class="white_color">按照</span>
                        <input type="number" class="layui-input input50" value="" name="cont_weight" id="cont_weight" placeholder="数量" onchange="monitor_input()">
                        <div class="input50">
                            <select name="unit" class="unit" lay-filter="unit">
                                <option value="1">KGS</option>
                                <option value="2">GS</option>
                            </select>
                        </div>
                        <span class="white_color">计费</span>
                    </div>
                </div>

                <div class="layui-form-item" style="border-bottom: 0;margin-bottom: 0;">
                    <div class="layui-form-label">附加费用</div>
                    <div class="layui-input-block disf">
                    </div>
                </div>
                <div class="fee_box">
                    <div class="layui-form-item">
                        <div class="layui-input-block disf" style="margin-left:0;">
                            <span class="num white_color">1.</span>
                            <textarea name="fee_desc[]" class="layui-textarea input100" placeholder="描述" style="min-height:38px;line-height: 15px"></textarea>
                        </div>
                        <div class="layui-input-block disf" style="margin-left:0;">
                            <span class="num white_color"></span>
                            <div class="input35">
                                <select name="fee_currency[]" class="fee_currency" lay-filter="fee_currency">
                                    {volist name="currency" id="vo"}
                                    <option value="{$vo['code_value']}" title="{$vo['code_name']}" {if $vo['code_value']==142}selected{/if}>{$vo['code_name']}</option>
                                    {/volist}
                                </select>
                            </div>
                            <input type="text" class="layui-input input50 fee_money" name="fee_money[]" placeholder="金额" onchange="change_fee(this)">
                            <div class="layui-btn layui-btn-normal" style="background:#009688;" onclick="add_fee()">+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content" style="padding:10px 10px;box-sizing:border-box;margin-top:20px;border:1px solid #fff;">
                <div class="layui-form-item">
                    <div class="layui-form-label">运费总价</div>
                    <div class="layui-input-block disf">
                        <div class="input50">
                            <select name="currency" class="currency" lay-filter="currency">
                                {volist name="currency" id="vo"}
                                <option value="{$vo['code_value']}" {if $vo['code_value']==142}selected{/if}>{$vo['code_name']}</option>
                                {/volist}
                            </select>
                        </div>
                        <input type="number" class="layui-input input50" value="" lay-verify="required" name="total_money" id="total_money" placeholder="运费总价">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-form-label">附加总价</div>
                    <div class="other_fee_box">

                    </div>
                </div>
                {if $info['status']==2}
                <div style="text-align: center;margin-top:20px;">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2">费用确认，提交</button>   
                    <!--<div class="layui-btn layui-btn-normal sure_data">费用确认，提交</div>-->
                </div>
                {/if}
            </div>
        </form>
    </div>
</section>

{include file="common/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'upload','element'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.render(null,'component-form-element');

        form.on('select(currency)',function(data){
            let val = data.value;
            let currency = document.getElementsByClassName('currency');
            for(let i=0;i<currency.length;i++){
                document.getElementsByClassName('currency')[i].value=val;
            }
            form.render(null,'component-form-element');
        });

        form.on('select(unit)',function(data){
            let val = data.value;
            let unit = document.getElementsByClassName('unit');
            for(let i=0;i<unit.length;i++){
                document.getElementsByClassName('unit')[i].value=val;
            }
            form.render(null,'component-form-element');
        });
        
        //附加费用币种
        form.on('select(fee_currency2)',function(data){
            let t_currency_code = data.value;//当前行币种
            let t_currency = data.elem[data.elem.selectedIndex].title;//当前行币种
            t_currency = t_currency.split(')')[1];
           
            let fee_currency = document.getElementsByClassName('fee_currency');
    
            let html = '';
            if(fee_currency.length>1){
                let now_price = 0;
                let is_have = 0;
                for(let i=0;i<fee_currency.length;i++){
                    if(document.getElementsByClassName('fee_currency')[i].value == t_currency_code){
                        is_have = 1;
                        now_price += parseFloat($('.fee_money').eq(i).val());
                        $('.curr_'+t_currency_code+'_price').val(now_price.toFixed(2));
                        if($('.curr_'+t_currency_code+'_price').length==0){
                            is_have = 0;
                        }
                    }else{
                        is_have = 0;
                        continue;
                    }
                }
                if(is_have==0){
                    let now_price = parseFloat($(this).parent().parent().parent().parent().find('.fee_money').val());
                    now_price = now_price.toFixed(2);
                    html = '<div class="layui-input-block disf">\n' +
                        '       <span class="white_color" style="width:60px;white-space: wrap;">'+t_currency+'</span>\n'+
                        '       <input name="total_fee_currency[]" type="hidden" value="'+t_currency_code+'">\n'+
                        '       <input class="layui-input input50 curr_'+t_currency_code+'_price" name="total_fee_price[]" value="'+now_price+'" type="number">\n'+
                        '    </div>';
                    $('.other_fee_box').append(html);
                }
            }else{
                let now_price = parseFloat($(this).parent().parent().parent().parent().find('.fee_money').val());
                now_price = now_price.toFixed(2);
                html = '<div class="layui-input-block disf">\n' +
                    '       <span class="white_color" style="width:60px;white-space: wrap;">'+t_currency+'</span>\n'+
                    '       <input name="total_fee_currency[]" type="hidden" value="'+t_currency_code+'">\n'+
                    '       <input class="layui-input input50 curr_'+t_currency_code+'_price" name="total_fee_price[]" value="'+now_price+'" type="number">\n'+
                    '    </div>';
                $('.other_fee_box').append(html);
            }
            form.render(null,'component-form-element');
        });

        form.on('submit(component-form-element2)', function(data){
            $.ajax({
                url:"/?s=index/express_fee&pa=1&id={$id}&type={$type}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            // window.history.back(-1);
                            window.location.href="/?s=index/express_list&id={$id}&typ=2";
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });

    function monitor_input(){
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer;

        //获取首重+金额
        let first_weight = parseFloat($('#first_weight').val());
        let first_price = parseFloat($('#first_price').val());
        //获取续重+金额
        let second_weight = parseFloat($('#second_weight').val());
        let second_price = parseFloat($('#second_price').val());
        //获取不足重量+按照重量
        let insu_weight = parseFloat($('#insu_weight').val());
        let cont_weight = parseFloat($('#cont_weight').val());

        //开始计算
        let now_weight = parseFloat($('#true_weight').val());//当前重量
        let now_price = 0;//运费总价
        let residue_weight = now_weight - first_weight;//当前重量 - 首重 = 剩余重量
        now_price += first_price;
        // console.log(cont_weight);
        if(residue_weight>0){
            now_price = calc_price(residue_weight,second_weight,second_price,insu_weight,cont_weight,now_price);
        }

        $('#total_money').val(now_price);
        form.render(null,'component-form-element');
    }

    function calc_price(residue_weight=0,second_weight=0,second_price=0,insu_weight=0,cont_weight=0,now_price=0){
        residue_weight = residue_weight - second_weight;//剩余重量 - 续重 = 剩余重量
        now_price += second_price;
        // console.log(residue_weight,cont_weight,now_price);
        if(residue_weight>0){
            return calc_price(residue_weight,second_weight,second_price,insu_weight,cont_weight,now_price);
        }else{
            return now_price;
        }
    }

    function add_fee(){
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer;
        let num = $('.fee_box').find('.layui-form-item').length;
        let now_num = parseInt(num) + 1;
        let html = '<div class="layui-form-item">\n' +
            '                    <div class="layui-input-block disf" style="margin-left:0;">\n' +
            '                        <span class="num white_color">'+now_num+'.</span>\n' +
            '                        <textarea name="fee_desc[]" class="layui-textarea input100" placeholder="描述" style="min-height:38px;line-height: 15px"></textarea>\n' +
            '                    </div>\n' +
            '                    <div class="layui-input-block disf" style="margin-left:0;">\n' +
            '                        <span class="num white_color"></span>\n' +
            '                        <div class="input35">\n' +
            '                            <select name="fee_currency[]" class="fee_currency" lay-filter="fee_currency">\n';
                                            {volist name="currency" id="vo"}
            html += '                              <option value="{$vo[\'code_value\']}" title="{$vo[\'code_name\']}" {if $vo["code_value"]==142}selected{/if}>{$vo[\'code_name\']}</option>\n';
                                            {/volist}
            html += '                    </select>\n' +
            '                        </div>\n' +
            '                        <input type="text" class="layui-input input36 fee_money" name="fee_money[]" placeholder="金额" onchange="change_fee(this)">\n' +
            '                        <div class="layui-btn layui-btn-normal add" style="background:#009688;" onclick="add_fee()">+</div>\n' +
            '                        <div class="layui-btn layui-btn-danger del" onclick="del_fee(this)" style="margin-left:0;">-</div>\n' +
            '                    </div>\n' +
            '                </div>';

        $('.fee_box').append(html);
        form.render(null,'component-form-element');
    }

    function del_fee(t){
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer;

        layer.confirm('确认删除？', {
            btn: ['确认', '取消']
        }, function () {
            let fc_code = $(t).parent().find('.fee_currency').val();
            let fee_money = $(t).parent().find('.fee_money').val();
            let money = parseFloat($('.curr_'+fc_code+'_price').val()) - parseFloat(fee_money);
            money = money.toFixed(2);
            if(money<=0){
                $('.curr_'+fc_code+'_price').parent().remove();
            }else{
                $('.curr_'+fc_code+'_price').val(money);
            }
            $(t).parent().parent().remove();
            layer.closeAll();
        }, function(){

        });
    }

    function change_fee(t){
        var $ = layui.$
            , form = layui.form
            , layer = layui.layer;
        let fee_currency = document.getElementsByClassName('fee_currency');

        let t_currency = $(t).parent().find('.fee_currency option:selected').text();//当前行币种
        t_currency = t_currency.split(')')[1];
        let t_currency_code = $(t).parent().find('.fee_currency option:selected').val();//当前行币种

        let html = '';
        if(fee_currency.length>1){
            let now_price = 0;
            let is_have = 0;
            for(let i=0;i<fee_currency.length;i++){
                if(document.getElementsByClassName('fee_currency')[i].value == t_currency_code){
                    is_have = 1;
                    now_price += parseFloat($('.fee_money').eq(i).val());
                    $('.curr_'+t_currency_code+'_price').val(now_price.toFixed(2));
                    if($('.curr_'+t_currency_code+'_price').length==0){
                        is_have = 0;
                    }
                }else{
                    is_have = 0;
                    continue;
                }
            }
            if(is_have==0){
                let now_price = parseFloat($(t).val());
                now_price = now_price.toFixed(2);
                html = '<div class="layui-input-block disf">\n' +
                    '       <span class="white_color" style="width:60px;white-space: wrap;">'+t_currency+'</span>\n'+
                    '       <input name="total_fee_currency[]" type="hidden" value="'+t_currency_code+'">\n'+
                    '       <input class="layui-input input50 curr_'+t_currency_code+'_price" name="total_fee_price[]" value="'+now_price+'" type="number">\n'+
                    '    </div>';
                $('.other_fee_box').append(html);
            }
        }else{
            let now_price = parseFloat($(t).val());
            now_price = now_price.toFixed(2);
            html = '<div class="layui-input-block disf">\n' +
                '       <span class="white_color" style="width:60px;white-space: wrap;">'+t_currency+'</span>\n'+
                '       <input name="total_fee_currency[]" type="hidden" value="'+t_currency_code+'">\n'+
                '       <input class="layui-input input50 curr_'+t_currency_code+'_price" name="total_fee_price[]" value="'+now_price+'" type="number">\n'+
                '    </div>';
            $('.other_fee_box').append(html);
        }
        form.render(null,'component-form-element');
    }
</script>