{include file="common/header"}
<link rel="stylesheet" href="https://www.gogo198.net/layui/font/iconfont.woff?v=256">
<link rel="stylesheet" href="layui/css/layui.css">
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .inquiry_box{display:none;}
    .navbar_menu{color: {$website['color_word']};font-size: 16px;margin-bottom:10px;}
    .context,.navbar_menu a{color:{$website['color_word']};}
    .context{margin-bottom:1cm;}
    .layui-colla-title{color:{$website['color_word']};background-color:#0e2e68;}
    .preamble_con,.layui-colla-content{color:{$website['color_word']};font-size:15px;}
    .layui-colla-content p{margin-bottom:0.3cm;}
    
    .navbar_menu{color:{$website['color_word']};font-size:16px;margin-bottom:10px;margin-top:15px;margin-left:10px;}
    .navbar_menu a{color:{$website['color_word']};}
    .navbar_menu a:last-child{color:#D2A778;font-weight:700;}

    .layui-table-body,.layui-table-cell{height:fit-content;}
</style>
<script src="layui/layui.js"></script>
<section id="content" class="non_topimg">
    <div class="container">
        <p class="navbar_menu"><a href="/?s=index/express&id={$id}">集运管理</a>&nbsp;<span style="color:#d1a575;">\</span>
            {if $type==1}&nbsp;<a href="javascript:;">待处理运单列表</a>&nbsp;<span style="color:#d1a575;">\</span>{/if}
            {if $type==2}&nbsp;<a href="javascript:;">已处理运单列表</a>&nbsp;<span style="color:#d1a575;">\</span>{/if}
        </p>
        
        <div class="content" style="padding:10px 10px;">
            <div class="layui-fluid" style="padding:0;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12" style="padding:0;">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <table class="layui-hide" id="mainTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sign_box" style="display:none;padding:20px;box-sizing:border-box;">
    <form class="layui-form" action="" method="post" lay-filter="component-form-element">
        <input type="text" name="id" id="id" value="" style="display:none;"/>
        <div class="layui-form-item">
            <div class="layui-form-label">验证码</div>
            <div class="layui-input-block">
                <div>即将发送验证码到手机号：{$phone}，请注意查收！</div>
                <div class="disf">
                    <input type="text" class="layui-input" name="code" value="" placeholder="" lay-verify="required"/>
                    <div class="layui-btn layui-btn-primary btn-send" onclick="send_code()" id="sendCode">发送</div>
                </div>
            </div>
        </div>
        <div style="text-align:center;">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2">确认签收</button>
        </div>
    </form>
</div>
<div class="agreement_box" style="display: none;">
    <form class="layui-form" action="" method="post" lay-filter="agreement-element">
        <input type="text" name="id" id="id2" value="" style="display:none;"/>
        <div class="layui-form-item">
            <div class="layui-form-label">协议内容</div>
            <div class="layui-input-block">
                <div>......</div>
            </div>
        </div>
        <div style="text-align:center;">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="agreement-element2">协议确认</button>
        </div>
    </form>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.render(null,'component-form-element');

        table.render({
            elem: '#mainTable'
            ,url: "/?s=index/express_list&pa=1&id={$id}&typ={$type}"
            ,cellMinWidth: 200
            ,cols: [[
                {field:'send_name', title: '发件人名称', width:100}
                ,{field:'status_name', title: '运单状态', width:100}
                ,{field:'createtime', title: '生成时间'}
                ,{align:'center',  title: '操作',fixed:'right',width:90, templet: function(d){
                    if(d.status==0){
                        return [
                            '<a onclick="openWindow('+"'"+ d.id +"'" +','+"1"+ ');" class="layui-btn layui-btn-primary layui-btn-xs">签收确认</a>',    
                        ].join('');
                    }
                    if(d.status==1){
                        return [
                            '<a onclick="openWindow('+"'"+ d.id +"'" +','+"2"+ ');" class="layui-btn layui-btn-normal layui-btn-xs">数据确认</a>',
                        ].join('');
                    }
                    if(d.status==2){
                        return [
                            '<a onclick="openWindow('+"'"+ d.id +"'" +','+"3"+ ');" class="layui-btn layui-btn-warning layui-btn-xs">费用确认</a>',
                        ].join('');
                    }
                    if(d.status==3){
                        return [
                            '<a onclick="openWindow('+"'"+ d.id +"'" +','+"6"+ ');" class="layui-btn layui-btn-warning layui-btn-xs">协议确认</a>',
                        ].join('');
                    }
                    if(d.status==4){
                        return [
                            '<a onclick="openWindow('+"'"+ d.id +"'" +','+"4"+ ');" class="layui-btn layui-btn-normal layui-btn-xs">物流管理</a>',
                            '<br><a onclick="openWindow('+"'"+ d.id +"'" +','+"5"+ ');" class="layui-btn layui-btn-warning layui-btn-xs">分享运单</a>',
                        ].join('');
                    }
                }}
            ]]
            ,page: true
        });

        form.on('submit(component-form-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;

            $.ajax({
                url:"/?s=index/express_list&pa=2&typ={$type}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

        form.on('submit(agreement-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;

            $.ajax({
                url:"/?s=index/express_list&pa=3&typ={$type}",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

    });
    
    function openWindow(id,typ){
        if(typ==1){
            $('.sign_box').find('#id').val(id);
            layer.open({
                type: 1,
                title: '签收确认',
                area:['90%','30%'],
                content: $('.sign_box')
            });
        }else if(typ==2){
            window.location.href="/?s=index/express_info&type={$type}&id="+id;
        }else if(typ==3){
            window.location.href="/?s=index/express_fee&type={$type}&id="+id;
        }else if(typ==4){
            window.location.href="/?s=index/express_manage&type={$type}&id="+id;
        }else if(typ==5){
            window.location.href="/?s=index/express_share&type={$type}&id="+id;
        }else if(typ==6){
            $('.agreement_box').find('#id2').val(id);
            layer.open({
                type: 1,
                title: '协议确认',
                area:['90%','30%'],
                content: $('.agreement_box')
            });
        }
    }
    
    //倒计时
    var n=60;
    function timers(){
        n-=1;
        if(n==0){
            n=60;
            $("#sendCode").html("发送");
        }else{
            $("#sendCode").html(n+"重试");
            setTimeout(function () {
                timers();
            },1000);
        }
    }
    
    function send_code(){
        let val = 1;
        let number = '';
        
        if(n==60){
            timers();
            $.ajax({
                url: "?s=index/send_code",
                method: 'post',
                data: {'code_type':val,'number':number,'isverify_express':1,'id':"{$id}"},
                dataType: 'JSON',
                success: function (res) {
                    if(res.code==-1){
                        alert(res.msg);
                        return false;
                    }else{
                        
                    }
                },
                error: function (data) {
                    
                }
            });   
        }
    }
</script>
