'<div class="layui-colla-item">'+
    '<h2 class="layui-colla-title" style="display:flex;align-items:center;justify-content:space-between;">'+
        '货物'
        '<div>'+
        '</div>'+
        '</h2>'+
    '<div class="layui-colla-content layui-show">'+
        '<div class="layui-form-item">\n' +
            '<div class="layui-form-label">类别</div>\n' +
            '<div class="layui-input-block disf hide2 ori_block">\n' +
                ' <span class="white_color">原数据：</span><span class="white_color ori_data"></span>\n' +
                '</div>\n' +
            '<div class="layui-input-block disf" style="justify-content: space-between;">\n' +
                '<div class="no_edit">\n'+
                '</div>\n' +
                '<div class="edit hide2">\n' +
                    '<select name="goods_list[cate]['+now_num+']" class="cate" lay-verify="required" lay-search>\n' +
                        '<option>请选择类别</option>\n';
                        {volist name="category" key="key" id="vo"}
                        html += '<option value="{$vo[\'id\']}" data-title="{$vo[\'name\']}">{$vo[\'name\']}</option>';
                        {/volist}
                        html += ' </select>\n' +
                    '</div>\n' +
                '<div class="btns disf">\n' +
                    ' <img src="./img/edit.png" class="ebtn edit_btn" alt="" onclick="edit(this)">\n' +
                    ' <img src="./img/cancel.png" class="ebtn cancel_btn" alt="" onclick="cancel_edit(this)">\n' +
                    ' <img src="./img/save.png" class="ebtn save_btn" alt="" onclick="save_edit(this,{$gtype},1)">\n' +
                    '</div>\n' +
                '</div>\n' +
            '</div>\n'+
        '<div class="layui-form-item">\n' +
            '<div class="layui-form-label">属性</div>\n' +
            '<div class="layui-input-block disf">\n' +
                '<div class="layui-btn layui-btn-primary" onclick="view_value(this)">查看属性</div>\n' +
                '<div class="value_box" style="display: none;padding:15px 20px 15px 0;box-sizing: border-box;background:{$website[\'color_inner\']};">\n' +
                    '<div class="layui-form-item">\n' +
                        '<div class="layui-form-label white_color">选择属性</div>\n' +
                        '<div class="layui-input-block disf hide2 ori_block max_width">\n' +
                            ' <span class="white_color">原数据：</span><br><span class="white_color ori_data text_wrap"></span>\n' +
                            '</div>\n' +
                        '<div class="layui-input-block disf" style="justify-content: space-between;">\n' +
                            '<div class="no_edit max_width">\n' +
                                ' <span class="white_color now_data text_wrap"></span>\n' +
                                '</div>\n' +
                            '<div class="edit hide2">\n' +
                                '<div id="value'+goods_list_num+'" class="xm-select-demo"></div>\n' +
                                '</div>\n' +
                            '<div class="btns disf">\n' +
                                ' <img src="./img/edit.png" class="ebtn edit_btn" alt="" onclick="edit(this)">\n' +
                                ' <img src="./img/cancel.png" class="ebtn cancel_btn" alt="" onclick="cancel_edit(this)">\n' +
                                ' <img src="./img/save.png" class="ebtn save_btn" alt="" onclick="save_edit(this,{$gtype},2,1)">\n' +
                                '</div>\n' +
                            '</div>\n' +
                        '</div>\n' +
                    '<hr>\n' +
                    '<div class="value_box_box vbb'+goods_list_num+'">\n' +
                    '</div>\n' +
                    '<div style="text-align: center;">\n' +
                        '<div class="layui-btn layui-btn-normal sure" style="">确定</div>\n' +
                        '</div>\n' +
                    '</div>\n' +
                '</div>\n' +
            '</div>\n'+
        '<div class="layui-form-item">\n' +
            '<div class="layui-form-label">描述</div>\n' +
            '<div class="layui-input-block disf hide2 ori_block max_width">\n' +
                ' <span class="white_color">原数据：</span><span class="white_color ori_data text_wrap"></span>\n' +
                '</div>\n' +
            '<div class="layui-input-block disf" style="justify-content: space-between;">\n' +
                '<div class="no_edit max_width">\n' +
                    ' <span class="white_color now_data text_wrap"></span>\n' +
                    '</div>\n' +
                '<div class="edit hide2">\n' +
                    ' <input type="text" name="goods_list[desc]['+now_num+']" placeholder="描述" autocomplete="off" class="layui-input desc" value="">\n' +
                '</div>\n' +
                '<div class="btns disf">\n' +
                    ' <img src="./img/edit.png" class="ebtn edit_btn" alt="" onclick="edit(this)">\n' +
                    ' <img src="./img/cancel.png" class="ebtn cancel_btn" alt="" onclick="cancel_edit(this)">\n' +
                    ' <img src="./img/save.png" class="ebtn save_btn" alt="" onclick="save_edit(this,{$gtype},3)">\n' +
                    '</div>\n' +
                '</div>\n' +
            '</div>\n'+
        '<div class="layui-form-item">\n' +
            '<div class="layui-form-label">品牌</div>\n' +
            '<div class="layui-input-block disf hide2 ori_block max_width">\n' +
                ' <span class="white_color">原数据：</span><span class="white_color ori_data text_wrap"></span>\n' +
                '</div>\n' +
            '<div class="layui-input-block disf" style="justify-content: space-between;">\n' +
                '<div class="no_edit max_width">\n' +
                    ' <span class="white_color now_data text_wrap"></span>\n' +
                    '</div>\n' +
                '<div class="edit hide2">\n' +
                    ' <select name="goods_list[brand_type]['+now_num+']" class="brand_type" lay-filter="brand_type">\n' +
                        '<option value="1" data-title="无牌（无商标信息）">无牌（无商标信息）</option>\n' +
                        '<option value="2" data-title="仿牌（商品无注册）">仿牌（商品无注册）</option>\n' +
                        '<option value="3" data-title="普通品牌（有注册非知名）">普通品牌（有注册非知名）</option>\n' +
                        '<option value="4" data-title="奢侈品牌（有注册且知名）">奢侈品牌（有注册且知名）</option>\n' +
                        ' </select>\n' +
                    ' <input type="text" class="layui-input brand_name hide2" name="goods_list[brand_name]['+now_num+']" placeholder="品牌名称" style="margin:10px 0;" value="">\n' +
                    '<div class="select_brand_name" style="display: none;">\n' +
                        ' <select name="goods_list[brand_name2]['+now_num+']" id="select_brand_name" class="select_brand_name" lay-filter="brand_name" lay-search>\n' +
                            '<option value="">请选择品牌名称</option>\n';
                            {volist name="brand" key="key" id="vo"}
                            html += '<option value="{$vo[\'name\']}" data-title="{$vo[\'name\']}">{$vo[\'name\']}</option>\n';
                            {/volist}
                            html += ' </select>\n' +
                        '</div>\n' +
                    '</div>\n' +
                '<div class="btns disf">\n' +
                    ' <img src="./img/edit.png" class="ebtn edit_btn" alt="" onclick="edit(this)">\n' +
                    ' <img src="./img/cancel.png" class="ebtn cancel_btn" alt="" onclick="cancel_edit(this)">\n' +
                    ' <img src="./img/save.png" class="ebtn save_btn" alt="" onclick="save_edit(this,{$gtype},4)">\n' +
                '</div>\n' +
                '</div>\n' +
            '</div>\n'+
        '<div class="layui-form-item">\n' +
            '<div class="layui-form-label">数量</div>\n' +
            '<div class="layui-input-block disf hide2 ori_block max_width">\n' +
                ' <span class="white_color">原数据：</span><span class="white_color ori_data text_wrap"></span>\n' +
                '</div>\n' +
            '<div class="layui-input-block disf" style="justify-content: space-between;">\n' +
                '<div class="no_edit max_width">\n' +
                    ' <span class="white_color now_data text_wrap"></span>\n' +
                    '</div>\n' +
                '<div class="edit hide2">\n' +
                    ' <input type="text" name="goods_list[num]['+now_num+']" placeholder="数量" autocomplete="off" class="layui-input num" value="">\n' +
                    '</div>\n' +
                '<div class="btns disf">\n' +
                    ' <img src="./img/edit.png" class="ebtn edit_btn" alt="" onclick="edit(this)">\n' +
                    ' <img src="./img/cancel.png" class="ebtn cancel_btn" alt="" onclick="cancel_edit(this)">\n' +
                    ' <img src="./img/save.png" class="ebtn save_btn" alt="" onclick="save_edit(this,{$gtype},5)">\n' +
                    '</div>\n' +
                '</div>\n' +
            '</div>\n' +
        '<div class="layui-form-item">\n' +
            '<div class="layui-form-label">单位</div>\n' +
            '<div class="layui-input-block disf hide2 ori_block">\n' +
                ' <span class="white_color">原数据：</span><span class="white_color ori_data"></span>\n' +
                '</div>\n' +
            '<div class="layui-input-block disf" style="justify-content: space-between;">\n' +
                '<div class="no_edit">\n'+
                '</div>\n' +
                '<div class="edit hide2">\n' +
                    ' <select name="goods_list[unit]['+now_num+']" class="unit" lay-verify="required" lay-search>\n' +
                        '<option>请选择单位</option>\n';
                        {volist name="unit" key="key" id="vo"}
                        html += '<option value="{$vo[\'code_value\']}" data-title="{$vo[\'code_name\']}">{$vo[\'code_name\']}</option>\n';
                        {/volist}
                        html += ' </select>\n' +
                    '</div>\n' +
                '<div class="btns disf">\n' +
                    ' <img src="./img/edit.png" class="ebtn edit_btn" alt="" onclick="edit(this)">\n' +
                    ' <img src="./img/cancel.png" class="ebtn cancel_btn" alt="" onclick="cancel_edit(this)">\n' +
                    ' <img src="./img/save.png" class="ebtn save_btn" alt="" onclick="save_edit(this,{$gtype},6)">\n' +
                    '</div>\n' +
                '</div>\n' +
            '</div>\n'+
        '</div>'+
    '</div>';