{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .layui-form-label{width:110px;color:{$website['color_word']};}
    .grey_div{background:#a0a0a0;}

    .layui-colla-title{color:{$website['color_word']};background-color:{$website['color']};}
    .preamble_con,.layui-colla-content{font-size:15px;}
    .layui-colla-content p{margin-bottom:0.2cm;}

    .layui-card{background:unset;border:1px solid {$website['color_word']};}
    legend{width: fit-content;border-bottom: 0;color:{$website['color_word']};}
    .layui-input-block .spanclass{color:{$website['color_word']};}

    .bill_head{display: grid;grid-template-columns: repeat(2,1fr);-moz-column-gap: 0px;column-gap: 0px;row-gap: 0px;}
    .bill_head .layui-input-block{color:{$website['color_word']};}
    thead tr{background:{$website['color']} !important;color:{$website['color_word']};}
    .grey_div{background:#a0a0a0;}
    .wrong,.opera_wrong,.cancel_edit,.sure_edit{display:none;}

    .xm-label-block span{overflow: hidden;}
    [class*="span"]{margin-bottom:0;}
    .bill_body_div .correct{color:{$website['color_word']};border-bottom: 1px solid {$website['color_word']};width:100%;}
    .line_info{color:{$website['color_word']};width:100%;text-decoration:underline;}
    .currency_div2{color:{$website['color_word']};width:70px;}
    .bill_head .layui-form-item{margin-bottom:0;}
    .currency_div,.unit_div{width:180px;text-align: center;}
    .white_color{color:{$website['color_word']};border-bottom: 1px solid {$website['color_word']};width: 100%;}

    @media (max-width: 992px){
        .layui-form-label{width: 90px;padding: 9px 0;justify-content: end;}
        .layui-input-block {margin-left: 100px;}
        .bill_body_div .layui-form-label{width:90px;}
        .bill_body_div .layui-input-block{margin-left:100px;}
        .layui-card{border:0;}
        .layui-card-body{padding:0;}
        .layui-colla-content{padding:10px 10px;}
    {if session('miniprogram')==1}
        .back{display:none;}
        .layui-colla-title{color:{$website['color_word']};background-color:#603160;}
    {/if}
    }
</style>
<script src="layui/layui.js"></script>

<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" style="padding:0;">
            <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                <input type="text" style="display:none;" name="id" id="id" value="{$id}">
                <input type="text" style="display:none;" name="typeid" id="typeid" value="{$typeid}">
                <div class="layui-col-md12" style="margin-bottom:25px;">
                    <a class="back" href="javascript:history.back(-1);">
                        <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                            <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                            返回
                        </div>
                    </a>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-collapse" lay-accordion="now" style="margin:10px 0;">
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">账单概览</h2>
                                    <div class="layui-colla-content">
                                        <div class="bill_head">
                                            {if !empty($info['content'])}
                                            {if $typeid==1}
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">寄件人：</div>
                                                <div class="layui-input-block disf">
                                                    <div style="margin-top:8px;">
                                                        <p>{$recon['head_content'][2]}</p>
                                                        <p>{$recon['mobile_start']}&nbsp;{$recon['head_content'][3]}</p>
                                                        <p>{$recon['head_content'][0]}</p>
                                                        <p>{$recon['head_content'][1]}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">收件人：</div>
                                                <div class="layui-input-block disf">
                                                    <div style="margin-top:8px;">
                                                        <p>{$recon['head_content'][6]}</p>
                                                        <p>{$recon['mobile_end']}&nbsp;{$recon['head_content'][7]}</p>
                                                        <p>{$recon['head_content'][4]}</p>
                                                        <p>{$recon['head_content'][5]}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">物流线路：</div>
                                                <div class="layui-input-block disf">
                                                    <div style="margin-top:8px;">
                                                        <p><a href="/?s=index/line_info&id={$recon['line_id']}&recon_id={$recon['id']}" class="line_info">{$recon['head_content'][9]}</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">货物类别：</div>
                                                <div class="layui-input-block disf">
                                                    <div style="margin-top:8px;">
                                                        <p>{$recon['head_content'][8]}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">包裹毛重：</div>
                                                <div class="layui-input-block disf">
                                                    <div style="margin-top:8px;">
                                                        <p>{$recon['head_content'][10][0]}&nbsp;{$recon['parcel_weight']}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">包裹尺寸：</div>
                                                <div class="layui-input-block disf">
                                                    <div style="margin-top:8px;">
                                                        <p>{$recon['head_content'][11][0]} × {$recon['head_content'][11][1]} × {$recon['head_content'][11][2]}&nbsp;({$recon['parcel_size']})</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">计费重：</div>
                                                <div class="layui-input-block disf">
                                                    {$recon['head_content'][13]}&nbsp;{$recon['parcel_weight']}
                                                </div>
                                            </div>
                                            {else}
                                            {volist name="info['content']" key="key2" id="vo"}
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">{$vo.label_name}</div>
                                                <div class="layui-input-block disf">
                                                    {if($vo.label_value==1 || $vo.label_value==2 || $vo.label_value==3 || $vo.label_value==4 || $vo.label_value==5 || $vo.label_value==6)}
                                                    {$recon['head_content'][$key2-1]}
                                                    {elseif($vo.label_value==7)}
                                                    {if empty($vo['label_introduce'])}
                                                    {$recon['head_content'][$key2-1][0]}
                                                    <?php $select_unit=1;?>
                                                    {$recon['parcel_weight']}
                                                    {else}
                                                    {volist name="vo['label_introduce2']" key="key" id="vo2"}
                                                    (<span class="spanclass">{$vo2}：</span>{$recon['head_content'][$key2-1][$key-1]})
                                                    {/volist}
                                                    <?php $select_unit=$key;?>
                                                    {$recon['parcel_size']}
                                                    {/if}
                                                    {volist name="vo['label_select2']" key="key" id="vo2"}
                                                    {if $vo2==$recon['head_content'][$key2-1][$select_unit]}{$vo2}{/if}
                                                    {/volist}
                                                    {/if}
                                                </div>
                                            </div>
                                            {/volist}
                                            {/if}
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">账单详情</h2>
                                    <div class="layui-colla-content">
                                        <table class="layui-table bill_body">
                                            <thead>
                                            <th>序号</th>
                                            <th>项目</th>
                                            <th>摘要</th>
                                            <th>单价</th>
                                            <th class="wrong">数量</th>
                                            <th>金额</th>
                                            <th>备注</th>
                                            <!--                                            <th>#</th>-->
                                            </thead>
                                            <tbody>
                                            {volist name="recon['body_content']['snum']" key="key2" id="vo"}
                                            <tr>
                                                <td>
                                                    <div class="correct">{$vo}</div>
                                                    <div class="wrong"><input class="layui-input" name="body_content[snum][]" value="{$vo}" lay-verify="required" readonly></div>
                                                </td>
                                                <td>
                                                    <div class="correct">{$recon['body_content']['project'][$key2-1]}</div>
                                                    <div class="wrong"><input class="layui-input" name="body_content[project][]" value="{$recon['body_content']['project'][$key2-1]}" lay-verify="required"></div>
                                                </td>
                                                <td>
                                                    <div class="correct">{$recon['body_content']['abstract'][$key2-1]}</div>
                                                    <div class="wrong"><input class="layui-input" name="body_content[abstract][]" value="{$recon['body_content']['abstract'][$key2-1]}" lay-verify="required"></div>
                                                </td>
                                                <td>
                                                    <div class="disf">
                                                        <div class="currency_div wrong">{$recon['body_content']['currency_name'][$key2-1]}</div>
                                                        <div class="correct"><div class="disf">{$recon['body_content']['currency_name'][$key2-1]} {$recon['body_content']['price'][$key2-1]} / {$recon['body_content']['num'][$key2-1]} <div class="unit_div2">{$recon['body_content']['unit_name'][$key2-1]}</div></div></div>
                                                        <div class="wrong"><input class="layui-input" name="body_content[price][]" value="{$recon['body_content']['price'][$key2-1]}" lay-verify="required"></div>
                                                    </div>
                                                </td>
                                                <td class="wrong">
                                                    <div class="disf">
                                                        <div class="correct">{$recon['body_content']['num'][$key2-1]}</div>
                                                        <div class="wrong"><input class="layui-input" name="body_content[num][]" value="{$recon['body_content']['num'][$key2-1]}" lay-verify="required"></div>
                                                        <div class="unit_div">{$recon['body_content']['unit_name'][$key2-1]}</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="disf">
                                                        <div class="currency_div" style="width:fit-content;">{$recon['body_content']['currency_name'][$key2-1]}</div>
                                                        <div class="correct">{$recon['body_content']['money'][$key2-1]}</div>
                                                        <div class="wrong"><input class="layui-input" name="body_content[money][]" value="{$recon['body_content']['money'][$key2-1]}" lay-verify="required"></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="correct">{$recon['body_content']['remark'][$key2-1]}</div>
                                                    <div class="wrong"><input class="layui-input" name="body_content[remark][]" value="{$recon['body_content']['remark'][$key2-1]}"></div>
                                                </td>
                                                <td class="opera_wrong22" style="display: none;">
                                                    <div class="layui-btn layui-btn-danger add_row f26" onclick="del_row(this)">×</div>
                                                </td>
                                            </tr>
                                            {/volist}
                                            <tr class="opera wrong22" style="display:none;">
                                                <td colspan="8">
                                                    <div class="layui-btn layui-btn-success add_row f26" onclick="add_row(this)">+</div>
                                                </td>
                                            </tr>
                                        </table>

                                        <div class="layui-collapse bill_body_div" lay-accordion="now" style="margin:10px 0;display:none;">
                                            {if $id>0}
                                            <div class="layui-colla-item bill_body_phone">
                                                <h2 class="layui-colla-title disf" style="justify-content: space-between;">
                                                    <span>合计：</span>
                                                </h2>
                                                <div class="layui-colla-content layui-show">
                                                    <div class="layui-collapse bill_body_phone" lay-accordion="now" style="margin:10px 0;">
                                                        {volist name="total_currency2" id="vo2"}
                                                        <div class="layui-colla-item">
                                                            <h2 class="layui-colla-title">{$vo2['currency']} {$vo2['total']}</h2>
                                                            <div class="layui-colla-content">
                                                                <div class="layui-collapse bill_body_div" lay-accordion="now" style="margin:10px 0;">
                                                                    {volist name="recon['body_content']['snum']" key="key2" id="vo"}
                                                                    {if($vo2['currency']==$recon['body_content']['currency_name'][$key2-1])}
                                                                    <div class="layui-colla-item bill_body_phone">
                                                                        <h2 class="layui-colla-title disf" style="justify-content: space-between;">
                                                                            <span>{$recon['body_content']['project'][$key2-1]}.</span>
                                                                            <div><div class="layui-btn layui-btn-danger add_row f26 wrong22"  style="display: none;" onclick="del_row(this)">×</div></div>
                                                                        </h2>
                                                                        <div class="layui-colla-content">

                                                                            <div class="layui-form-item" style="display: {if(!empty($vo))}block{else}none{/if}">
                                                                                <div class="layui-form-label">序号</div>
                                                                                <div class="layui-input-block disf">
                                                                                    <div class="correct">{$vo}</div>
                                                                                    <div class="wrong">
                                                                                        <input class="layui-input" name="body_content[snum][]" value="{$vo}" lay-verify="" readonly>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="layui-form-item" style="display: {if(!empty($recon['body_content']['project'][$key2-1]))}block{else}none{/if}">
                                                                                <div class="layui-form-label">项目</div>
                                                                                <div class="layui-input-block disf">
                                                                                    <div class="correct">{$recon['body_content']['project'][$key2-1]}</div>
                                                                                    <div class="wrong">
                                                                                        <input class="layui-input" name="body_content[project][]" value="{$recon['body_content']['project'][$key2-1]}" lay-verify="" onchange="project_name(this)">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="layui-form-item" style="display: {if(!empty($recon['body_content']['abstract'][$key2-1]))}block{else}none{/if}">
                                                                                <div class="layui-form-label">摘要</div>
                                                                                <div class="layui-input-block disf">
                                                                                    <div class="correct">{$recon['body_content']['abstract'][$key2-1]}</div>
                                                                                    <div class="wrong">
                                                                                        <input class="layui-input" name="body_content[abstract][]" value="{$recon['body_content']['abstract'][$key2-1]}" lay-verify="">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="layui-form-item">
                                                                                <div class="layui-form-label" style="display:flex;align-items: center;">单价<div class="currency_div wrong">({$recon['body_content']['currency_name'][$key2-1]})</div></div>
                                                                                <div class="layui-input-block disf">
                                                                                    <div class="correct">
                                                                                        <div class="disf">{$recon['body_content']['currency_name'][$key2-1]} {$recon['body_content']['price'][$key2-1]} / {$recon['body_content']['num'][$key2-1]} <div class="unit_div2">{$recon['body_content']['unit_name'][$key2-1]}</div></div>
                                                                                    </div>
                                                                                    <div class="wrong">
                                                                                        <input type="hidden" name="body_content[currency][]" value="{$recon['body_content']['currency'][$key2-1]}">
                                                                                        <input class="layui-input" name="body_content[price][]" value="{$recon['body_content']['price'][$key2-1]}" lay-verify="required">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="layui-form-item wrong">
                                                                                <div class="layui-form-label" style="display:flex;align-items: center;">数量(<div class="unit_div">{$recon['body_content']['unit_name'][$key2-1]}</div>)</div>
                                                                                <div class="layui-input-block disf">
                                                                                    <div class="correct disf">{$recon['body_content']['num'][$key2-1]}</div>
                                                                                    <div class="wrong">
                                                                                        <input type="hidden" name="body_content[unit][]" value="{$recon['body_content']['unit'][$key2-1]}">
                                                                                        <input class="layui-input" name="body_content[num][]" value="{$recon['body_content']['num'][$key2-1]}" lay-verify="required">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="layui-form-item">
                                                                                <div class="layui-form-label" style="display:flex;align-items: center;">金额<div class="currency_div wrong">({$recon['body_content']['currency_name'][$key2-1]})</div></div>
                                                                                <div class="layui-input-block disf">
                                                                                    <div class="correct">{$recon['body_content']['currency_name'][$key2-1]} {$recon['body_content']['money'][$key2-1]}</div>
                                                                                    <div class="wrong">
                                                                                        <input class="layui-input" name="body_content[money][]" value="{$recon['body_content']['money'][$key2-1]}" lay-verify="required">
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="layui-form-item" style="display: {if(!empty($recon['body_content']['remark'][$key2-1]))}block{else}none{/if}">
                                                                                <div class="layui-form-label">备注</div>
                                                                                <div class="layui-input-block disf">
                                                                                    <div class="correct">{$recon['body_content']['remark'][$key2-1]}</div>
                                                                                    <div class="wrong">
                                                                                        <input class="layui-input" name="body_content[remark][]" value="{$recon['body_content']['remark'][$key2-1]}">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {/if}
                                                                    {/volist}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {/volist}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="layui-form-item wrong22" style="display: none;">
                                                <div class="layui-input-block disf" style="margin-left:20px;margin-top:10px;">
                                                    <div class="layui-btn layui-btn-success add_row f26" onclick="add_row(this)">+</div>
                                                </div>
                                            </div>
                                            {/if}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                    <div class="disf" style="justify-content: center;">
                        {if $recon['status']!=-1}
                        <div class="layui-btn layui-btn-primary cancel_edit" onclick="cancel_edit()">取消修改</div>
                        <button class="layui-btn layui-btn-normal sure_edit" lay-submit lay-filter="component-form-element2">确认修改</button>
                        {if($recon['status']!=2 && $recon['status']!=3)}
                        <div class="layui-btn layui-btn-danger wrong_bill" onclick="wrong()">有误，要修改</div>
                        <div class="layui-btn layui-btn-success correct_bill" onclick="correct(1)">准确，去支付</div>
                        {/if}
                        {/if}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="select_currency" style="display: none;padding:15px;box-sizing: border-box;background:#a0a0a0;">
    <form class="layui-form" action="" method="post" lay-filter="component-form-element2">
        <input type="hidden" id="is_mulcurr" value="0">
        <div class="layui-form-item">
            <div class="layui-form-label">付款方式</div>
            <div class="layui-input-block disf">
                <select name="select_method" id="select_method">
                    <option value="1">使用统一币种</option>
                    <option value="2" disabled>使用不同币种</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">付款币种</div>
            <div class="layui-input-block disf">
                <select name="select_currency" id="select_currency">
                    {volist name="currency" id="vo"}
                    {if($vo['id']==5)}
                    <option value="{$vo['id']}" selected>{$vo['code_zhname']}:{$vo['currency_symbol_origin']}</option>
                    {else}
                    <option value="{$vo['id']}" disabled>{$vo['code_zhname']}:{$vo['currency_symbol_origin']}</option>
                    {/if}
                    {/volist}
                </select>
            </div>
        </div>
    </form>
    <div style="width: 100%;text-align: center;">
        <div class="layui-btn layui-btn-success correct_bill" onclick="correct2()">确认，去支付</div>
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'table', 'upload','element'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        //有误修改
        form.on('submit(component-form-element2)', function(data){
            data.field['status'] = -1;
            $.ajax({
                url:"/?s=index/view_recon",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

        //无误支付
        form.on('submit(component-form-element3)', function(data){
            data.field['status'] = 2;
            $.ajax({
                url:"/?s=index/view_recon",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            window.location.reload();
                        }
                        else if(res.code==-1){
                            //弹出公众号二维码框
                            let area = [];
                            if(IsPhone()){
                                area = ['90%','60%'];
                            }else{
                                area = ['50%','50%'];
                            }
                            layer.open({
                                skin:'grey_div',
                                type: 1,
                                title: '关注“Gogo購購网”微信公众号',
                                area:area,
                                content: '<div style="padding:10px;box-sizing:border-box;text-align: center;color:#fff;"><img src="https://gather.gogo198.cn/identify/images/wx.jpg" style="width:100%;margin-bottom:10px;"><p>为了提供更多的服务，请关注我司公众号“Gogo購購网”</p></div>'
                            });
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

        //币种选择
        form.on('select(currency)',function(data){
            let val = data.value;
            let t = this;
            let currency = $(t).parent().parent().parent().find('select option:selected').attr('data-title');
            $(t).parents(":eq(6)").find('.currency_div2').text(currency);
        });

        if(IsPhone()){
            $('.bill_head').css({'grid-template-columns':'repeat(1,1fr)'});
            $('.bill_body_div').css({'display':'block'});
            // $('.bill_body').css({'display':'none'});
            $('.bill_body').remove();
        }else{
            $('.bill_body_div').remove();
        }
    });

    //添加一行表体内容
    function add_row(t){
        var layer = layui.layer
            ,form  = layui.form
            ,$ = layui.jquery
            ,element = layui.element;
        let html = '';
        let unit = '';let currency = '';
        if("{$typeid}"==1){
            unit = $('.unit_div').eq(0).text();
            currency = $('.currency_div').eq(0).text();
        }
        if(IsPhone()){
            let snum = parseInt($('.bill_body_phone').length) + 1;
            html+= '<div class="layui-colla-item bill_body_phone">\n' +
                '                                                        <h2 class="layui-colla-title disf" style="justify-content: space-between;">\n' +
                '                                                            <span>新内容</span>\n' +
                '                                                            <div><div class="layui-btn layui-btn-danger add_row f26" onclick="del_row(this)">×</div></div>\n' +
                '                                                        </h2>\n' +
                '                                                        <div class="layui-colla-content">\n' +
                '                                                            <div class="layui-form-item">\n' +
                '                                                                <div class="layui-form-label">序号</div>\n' +
                '                                                                <div class="layui-input-block disf">\n' +
                '                                                                    <input class="layui-input" name="body_content[snum][]" value="'+snum+'" lay-verify="">\n' +
                '                                                                </div>\n' +
                '                                                            </div>\n' +
                '                                                            <div class="layui-form-item">\n' +
                '                                                                <div class="layui-form-label">项目</div>\n' +
                '                                                                <div class="layui-input-block disf">\n' +
                '                                                                    <input class="layui-input" name="body_content[project][]" value="" lay-verify="" onchange="project_name(this)">\n' +
                '                                                                </div>\n' +
                '                                                            </div>\n' +
                '                                                            <div class="layui-form-item">\n' +
                '                                                                <div class="layui-form-label">摘要</div>\n' +
                '                                                                <div class="layui-input-block disf">\n' +
                '                                                                    <input class="layui-input" name="body_content[abstract][]" value="" lay-verify="">\n' +
                '                                                                </div>\n' +
                '                                                            </div>\n' +
                '                                                            <div class="layui-form-item">\n' +
                '                                                                <div class="layui-form-label" style="display: flex;align-items: center;">单价</div>\n' +
                '                                                                <div class="layui-input-block disf">\n' +
                '                                                                    <div class="currency_div">'+
                '                                                                         <select name="body_content[currency][]" class="currency" lay-filter="currency" lay-search>\n'+
                '                                                                                <option value="">选择币种</option>\n';
            {volist name="currency" id="vo"}
            html +='                                                                         <option value="{$vo[\'id\']}" data-title="{$vo[\'currency_symbol_origin\']}">{$vo['code_zhname']}:{$vo['currency_symbol_origin']}</option>\n';
            {/volist}
                html+='                                                                         </select>\n'+
                    '                                                                    </div>\n'+
                    '                                                                    <input class="layui-input" name="body_content[price][]" value="" lay-verify="required">\n' +
                    '                                                                </div>\n' +
                    '                                                            </div>\n' +
                    '                                                            <div class="layui-form-item">\n' +
                    '                                                                <div class="layui-form-label" style="display: flex;align-items: center;">数量</div>\n' +
                    '                                                                <div class="layui-input-block disf">\n' +
                    '                                                                    <div class="unit_div">'+
                    '                                                                        <select name="body_content[unit][]" lay-search lay-filter="unit">'+
                    '                                                                             <option value="">选择单位</option>';
                {volist name="unit" id="vo"}
                html +='                                                                      <option value="{$vo[\'code_value\']}" data-title="{$vo[\'code_name\']}">{$vo['code_name']}</option>';
                {/volist}
                    html+='                                                                        </select>'+
                        '                                                                    </div>'+
                        '                                                                    <input class="layui-input" name="body_content[num][]" value="" lay-verify="required">\n' +
                        '                                                                </div>\n' +
                        '                                                            </div>\n' +
                        '                                                            <div class="layui-form-item">\n' +
                        '                                                                <div class="layui-form-label" style="display: flex;align-items: center;">金额</div>\n' +
                        '                                                                <div class="layui-input-block disf">\n' +
                        '                                                                    <div class="currency_div2"></div>\n'+
                        '                                                                    <input class="layui-input" name="body_content[money][]" value="" lay-verify="required">\n' +
                        '                                                                </div>\n' +
                        '                                                            </div>\n' +
                        '                                                            <div class="layui-form-item">\n' +
                        '                                                                <div class="layui-form-label">备注</div>\n' +
                        '                                                                <div class="layui-input-block disf">\n' +
                        '                                                                    <input class="layui-input" name="body_content[remark][]" value="">\n' +
                        '                                                                </div>\n' +
                        '                                                            </div>\n' +
                        '                                                        </div>\n' +
                        '                                                    </div>';
                    $('.bill_body_div>.layui-form-item').before(html);
                    element.render('collapse');
                    $('.currency_div2').css('color','#fff');
                    // $('.unit_div').css('color','#fff');
                }else{
                let snum = parseInt($('.bill_body').find('tbody').find('tr').length);
                html+='<tr>' +
                    '           <td><input class="layui-input" name="body_content[snum][]" value="'+snum+'" lay-verify=""></td>' +
                    '           <td><input class="layui-input" name="body_content[project][]" value="" lay-verify=""></td>' +
                    '           <td><input class="layui-input" name="body_content[abstract][]" value="" lay-verify=""></td>' +
                    '           <td><div class="disf"><div class="currency_div">'+currency+'</div><input class="layui-input" name="body_content[price][]" value="" lay-verify="required"></div></td>' +
                    '           <td><div class="disf"><div class="unit_div">'+unit+'</div><input class="layui-input" name="body_content[num][]" value="" lay-verify="required"></div></td>' +
                    '           <td><div class="disf"><div class="currency_div">'+currency+'</div><input class="layui-input" name="body_content[money][]" value="" lay-verify="required"></div></td>' +
                    '           <td><input class="layui-input" name="body_content[remark][]" value=""></td>' +
                    '           <td><div class="layui-btn layui-btn-danger add_row f26" onclick="del_row(this)">×</div></td>\n'+
                    '        </tr>\n';
                $('.bill_body').find('tbody').find('.opera').before(html);
            }
                form.render(null,'component-form-element');
            }

            function project_name(t){
                var layer = layui.layer
                    ,form  = layui.form
                    ,$ = layui.jquery;

                $(t).parent().parent().parent().parent().find('.layui-colla-title').find('span').text($(t).val()+'.');
            }

            function correct2(){
                var layer = layui.layer
                    ,form  = layui.form
                    ,$ = layui.jquery;

                $.ajax({
                    url: "/?s=index/view_recon",
                    method: 'post',
                    data: {'status': 2, 'id': "{$id}", 'typeid': "{$typeid}",'method':$('#select_method').val(),'currency':$('#select_currency').val(),'is_mulcurr':$('#is_mulcurr').val()},
                    dataType: 'JSON',
                    success: function (res) {
                        layer.msg(res.msg, {time: 2000}, function () {
                            if (res.code == 0) {
                                window.location.reload();
                            } else if (res.code == -1) {
                                //弹出公众号二维码框
                                let area = [];
                                if (IsPhone()) {
                                    area = ['90%', '60%'];
                                } else {
                                    area = ['50%', '50%'];
                                }
                                layer.open({
                                    skin: 'grey_div',
                                    type: 1,
                                    title: '关注“Gogo購購网”微信公众号',
                                    area: area,
                                    content: '<div style="padding:10px;box-sizing:border-box;text-align: center;color:#fff;"><img src="https://gather.gogo198.cn/identify/images/wx.jpg" style="width:100%;margin-bottom:10px;"><p>为了提供更多的服务，请关注我司公众号“Gogo購購网”</p></div>'
                                });
                            }
                        });
                    },
                    error: function (data) {
                        layer.msg('系统错误', {time: 2000});
                    }
                });
            }

            function correct(){
                var layer = layui.layer
                    ,form  = layui.form
                    ,$ = layui.jquery;

                if("<?php echo count($total_currency2);?>" > 1){
                    let area = [];
                    if(IsPhone()){
                        area = ['80%','30%'];
                    }else{
                        area = ['50%','50%'];
                    }
                    $('#is_mulcurr').val(1);
                    layer.open({
                        skin:'grey_div',
                        type: 1,
                        title: '选择付款币种',
                        shadeClose: true,
                        shade: 0.3,
                        area: area,
                        content: $('.select_currency'),
                    });
                }else {
                    layer.load();
                    $.ajax({
                        url: "/?s=index/view_recon",
                        method: 'post',
                        data: {'status': 2, 'id': "{$id}", 'typeid': "{$typeid}",'method':$('#select_method').val(),'currency':$('#select_currency').val(),'is_mulcurr':$('#is_mulcurr').val()},
                        dataType: 'JSON',
                        success: function (res) {
                            layer.closeAll('loading'); //关闭loading
                            layer.msg(res.msg, {time: 2000}, function () {
                                if (res.code == 0) {
                                    window.location.reload();
                                } else if (res.code == -1) {
                                    //弹出公众号二维码框
                                    let area = [];
                                    if (IsPhone()) {
                                        area = ['90%', '60%'];
                                    } else {
                                        area = ['50%', '50%'];
                                    }
                                    layer.open({
                                        skin: 'grey_div',
                                        type: 1,
                                        title: '关注“Gogo購購网”微信公众号',
                                        area: area,
                                        content: '<div style="padding:10px;box-sizing:border-box;text-align: center;color:#fff;"><img src="https://gather.gogo198.cn/identify/images/wx.jpg" style="width:100%;margin-bottom:10px;"><p>为了提供更多的服务，请关注我司公众号“Gogo購購网”</p></div>'
                                    });
                                }
                            });
                        },
                        error: function (data) {
                            layer.msg('系统错误', {time: 2000});
                        }
                    });
                }
            }

            function wrong(){
                var layer = layui.layer
                    ,form  = layui.form
                    ,$ = layui.jquery;
                if(IsPhone()){
                    $('.bill_body_div .opera_wrong').show();
                    $('.bill_body_div .correct').hide();
                    $('.bill_body_div .wrong').show();
                }else{
                    $('.bill_body .opera_wrong').show();
                    $('.bill_body .correct').hide();
                    $('.bill_body .wrong').show();
                }

                $('.correct_bill').hide();
                $('.wrong_bill').hide();
                $('.cancel_edit').show();
                $('.sure_edit').show();
            }

            function cancel_edit(){
                var layer = layui.layer
                    ,form  = layui.form
                    ,$ = layui.jquery;
                window.location.reload();
                if(IsPhone()){
                    $('.bill_body_div .opera_wrong').hide();
                    $('.bill_body_div .correct').show();
                    $('.bill_body_div .wrong').hide();
                }else {
                    $('.bill_body .opera_wrong').hide();
                    $('.bill_body .correct').show();
                    $('.bill_body .wrong').hide();
                }
                $('.correct_bill').show();
                $('.wrong_bill').show();
                $('.cancel_edit').hide();
                $('.sure_edit').hide();
            }

            //删除当前行的表体内容
            function del_row(t){
                var layer = layui.layer
                    ,form  = layui.form
                    ,$ = layui.jquery;
                let idx = layer.confirm('确定删除？', {
                    btn: ['确认', '取消']
                }, function () {
                    if(IsPhone()){
                        $(t).parent().parent().parent().remove();
                    }else {
                        $(t).parent().parent().remove();
                    }
                    layer.close(idx);
                }, function(){

                });
            }

            function IsPhone() {
                var info = navigator.userAgent;
                var isPhone = /mobile/i.test(info);
                return isPhone;
            }

            function delPic(obj)
            {
                var layer = layui.layer,$ = layui.$;
                layer.confirm('确认要删除该附件？', {
                    btn: ['删除','取消']
                }, function(){
                    $(obj).parent().remove();
                    layer.closeAll();
                }, function(){

                });
            }
</script>
{include file="common/footer"}