{include file="common/header"}
<link href="css/gallery-1.css" rel="stylesheet">
<style type="text/css" media="all">
#content{padding-top:20px;}
    select{display: block;width: 100%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;margin-bottom:20px;}
    .news_content .text{width:100%;color:#000;}
    .news_content .text .title{font-size:22px;font-weight:600;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;color:{$website['color_word']};}
    .news_content .text .desc{font-size:15px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;color:{$website['color_word']}}
    .news_content .text .release_date{font-size:15px;position:absolute;left:0;bottom:0;color:{$website['color_word']}}
    .news_content .img{width:40%;}
    .news_content .text{width:60%;position:relative;}
    .page_content{text-align:center;}
    .page_content a{color:#000 !important;}
    .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{background:{$website['color']};border-color:{$website['color']};}
    @media (min-width: 1000px){
        .news_content .text{margin-left:0px;height:240px}
        .news_content .img .color_box{width:400px;height:240px;}
        .news_content .img .img{width:400px;height:240px;}
        #content .container{padding-top:30px;}
        #content{padding-top:0;margin:0;}
    }
    
    @media (max-width:992px){
        .news_content .text{margin-left:0px;height:90px;}
        .news_content .text .desc{display:none;}
        .news_content .img .img{width:130px;height:90px;}
        .news_content .img .color_box{width:130px;height:90px;}
    }
</style>
<!--<img class="detail_topimg" src="https://shop.gogo198.cn/{$website['inpic']}" alt="" style="max-width:100%;width:100%;">-->
<section id="content" class="non_topimg" style="background:{$website['color_inner']};">
    <div class="container">
        <select id="category" class="selectpicker">
            <option value="all">{if session('lang')=='zh'}全部{elseif(session('lang')=='cht')}全部{elseif(session('lang')=='en')}ALL{/if}</option>
            {volist name="news_cate" id="vo"}
                <option value="{$vo.id}" {if $cate_id==$vo.id}selected{/if}>{$vo.category_name}</option>
            {/volist}
          </select>
          <div class="news_list">
              {if !empty($list)}
                  {volist name="list" id="vo"}
                    <a href="?s=index/news_detail&id={$vo.id}">
                        <div class="news_content">
                            <div class="disf" style="align-items:flex-start;">
                                <div class="img">
                                    {if $vo.format==1}
                                    <img class="img" src="https://shop.gogo198.cn/{$vo.avatar}" alt="" />
                                    {elseif($vo.format==2)}
                                        <div class="color_box" style="background:{$vo.color};color:{$vo.word_color};font-size:15px;text-align:center;display:flex;align-items:center;justify-content:center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{$vo.color_word}</div>
                                    {/if}
                                </div>
                                <div class="text">
                                    <p class="title">{$vo.name}</p>
                                    <p class="desc">{$vo.desc}</p>
                                    <div class="release_date">{$vo.release_date}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <hr />
                {/volist}
            {else}
                <p style="text-align:center;font-size:15px;color:{$website['color_word']};">————暂无信息————</p>
            {/if}
            <div class="page_content">{$page2}</div>
    </div>
</section>

{include file="common/footer"}
<script>
    $(function(){
        $('#category').change(function(){
            let val = $(this).val();
            window.location.href="?s=index/all_news&cate_id="+val;
            // $.ajax({
            //     url: "?s=index/all_news",
            //     method: 'post',
            //     data: {'val':val},
            //     dataType: 'JSON',
            //     success: function (res) {
            //         window.location.href="?s=index/all_news&cate_id="+val;
                    // let html = '';
                    // if(res.list.length==0){
                    //     html = '<p style="text-align:center;font-size:15px;">————暂无信息————</p>';
                    // }else{
                    //     for(let i=0;i<res.list.length;i++){
                    //         html += '<a href="?s=index/news_detail&id='+res.list[i].id+'">\n' +
                    //         '                    <div class="news_content">\n' +
                    //         '                        <div class="disf" style="align-items:flex-start;">\n' +
                    //         '                            <div class="img">\n';
                    //                                         if(res.list[i].format==1){
                    //         html += '                                <img class="img" src="https://shop.gogo198.cn/'+res.list[i].avatar+'" alt="" />\n';
                    //                                         }else if(res.list[i].format==2){
                    //         html += '                                <div class="color_box" style="background:'+res.list[i].color+';">\n'+
                    //         '                                        </div>\n';
                    //         }
                    //         html += '                            </div>\n' +
                    //         '                            <div class="text">\n' +
                    //         '                                <p class="title">'+res.list[i].name+'</p>\n' +
                    //         '                                <p class="desc">'+res.list[i].desc+'</p>\n' +
                    //         '                                <div class="release_date">'+res.list[i].release_date+'</div>\n' +
                    //         '                            </div>\n' +
                    //         '                        </div>\n' +
                    //         '                    </div>\n' +
                    //         '                </a>\n' +
                    //         '                <hr />';
                    //     }
                    // }
                    
            //         $('.news_list').html(html);
            //     },
            //     error: function (data) {
                    
            //     }
            // });
        });
    })
</script>