{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{border:1px solid {$website['color_word']};padding:20px 20px;box-sizing:border-box;box-shadow:1px 1px 10px {$website['color_word']};}
    .content .col-md-12{padding:0;float:unset;}
    .content .title{font-size:26px;color:{$website['color_word']};font-weight:800;text-align:center;line-height:normal !important;}
    .content .control-group{margin-top:10px;}
    .content .control-group .label_title{width:80px;color:{$website['color_word']};font-weight:800;font-size:15px;text-align:right;margin-right:10px;}
    .content .control-group .controls .form-control{width:90%;font-size:15px;}
    .content .control-group .controls .btn-send{padding:7px 20px;background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};}
    .content form{text-align:center;}
    .content form .btn-submit{background:{$website['color']};color:{$website['color_word']};border:1px solid #D2A778;padding:10px 100px;box-sizing:border-box;float:unset !important;margin-top:15px;}
    
</style>
<section id="content" class="non_topimg" >
    <div class="container">
        <!--<div class="title">{if session('lang')=='zh'}商户合作{elseif(session('lang')=='cht')}商戶合作{elseif(session('lang')=='en')}Merchant cooperation{/if}</div>-->
        <div class="content" >
            <div class="col-md-12">
                <a href="javascript:history.back(-1);">
                            <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                                <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                                返回
                            </div>
                        </a>
                {if($account['agent_id']==0 && $account['agent_status']==2)}
                    <p style="text-align:center;font-size:20px;color:{$website['color_word']};">尊敬的客户（ID:<?php echo session('account.custom_id');?>）您已是分销商，无需重复申请！</p>
                {else}
                {if $account['agent_status']==1}
                    <p style="text-align:center;font-size:20px;color:{$website['color_word']};">尊敬的客户（ID:<?php echo session('account.custom_id');?>）您已提交申请，请等待工作人员审核！</p>
                {elseif($account['agent_status']==2)}
                    <p style="text-align:center;font-size:20px;color:{$website['color_word']};">尊敬的客户（ID:<?php echo session('account.custom_id');?>）您已是分销商，无需重复申请！</p>
                {elseif($account['agent_status']==0 || $account['agent_status']==-1)}
                    <form name="sentMessage" id="regForm"  novalidate>
            	        <div class="title">申请分销</div>
                	        {if $account['agent_status']==-1}
                	            <p style="text-align:center;font-size:15px;color:{$website['color_word']};">拒绝原因：{$account['agent_remark']}</p>
                	        {/if}
                	            <div class="control-group">
                                    <div class="controls disf">
                			            <label class="label_title">分销业务</label>
                    			        <select name="category" id="category" class="form-control">
                    			            <option value="1" {if $account['agent_content']['category']==1}selected{/if}>物流服务</option>
                    			            <option value="2" {if $account['agent_content']['category']==2}selected{/if}>仓储服务</option>
                    			            <option value="3" {if $account['agent_content']['category']==3}selected{/if}>电商服务</option>
                    			        </select>
                    			        <p class="help-block"></p>
                		            </div>
                	            </div>
                	            <div class="control-group">
                                    <div class="controls disf">
                                        <label class="label_title">上级手机</label>
                    			        <input type="text" class="form-control" placeholder="请输入上级的手机号码" id="phone" name="phone" required/>
                    			        <p class="help-block"></p>
                    		        </div>
                    	        </div>
            	                <button type="submit" class="btn pull-center btn-submit">提交申请</button><br />
                          {/if}
                        </form>
                  {/if}
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}
<script type="text/javascript" charset="utf-8">
    $(function(){
        $('#regForm').submit(function(){
            // let json = $('#regForm').serialize();
            
            let number = $('#phone').val();
            if(number==''){
                alert('请输入上级的手机号码');return false;
            }
            
            $.ajax({
                url: "?s=index/apply_distr",
                method: 'post',
                data: {'category':$('#category').val(),'number':number},
                dataType: 'JSON',
                success: function (res) {
                    if(res.code==-1){
                        alert(res.msg);
                        return false;
                    }else{
                        alert(res.msg);
                        setTimeout(function(){
                            window.location.reload();
                        },3000);
                    }
                },
                error: function (data) {
                    
                }
            }); 
            
            return false;
        });
    });
</script>