{include file="common/header"}
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .title{font-size:26px;color:{$website['color_word']};font-weight:800;text-align:center;line-height:normal !important;}
    .content .control-group{margin-top:10px;}
    .content .control-group .label_title{width:80px;color:{$website['color_word']};font-weight:800;font-size:15px;text-align:right;margin-right:10px;}
    .content .control-group .controls .form-control{width:90%;font-size:15px;}
    .content .control-group .controls .btn-send{padding:7px 20px;background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};}
    .content form{text-align:center;}
    .content form .btn-submit{background:{$website['color']};color:{$website['color_word']};border:1px solid #D2A778;padding:10px 100px;box-sizing:border-box;float:unset !important;margin-top:15px;}
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="col-md-12">
                <a href="javascript:history.back(-1);">
                    <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;">
                        <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                        返回
                    </div>
                </a>
                <form name="sentMessage" id="basicForm"  novalidate>
                    <input type="text" name="id" id="id" value="{$account['id']}" style="display:none;"/>
                    <div class="title">认证信息</div>

                    <div class="control-group">
                        <div class="controls disf">
                            <label class="label_title">真实名称</label>
                            <input type="text" class="form-control" placeholder="请输入您的真实名称" id="realname" name="realname" required value="{$account['realname']}"/>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls disf">
                            <label class="label_title">身份证号</label>
                            <input type="text" class="form-control" placeholder="请输入您的身份证号" id="idcard" name="idcard" required  value="{$account['idcard']}"/>
                            <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group phone">
                        <div class="controls disf">
                            <label class="label_title">手机号码</label>
                            <input type="text" class="form-control" placeholder="请输入您的手机号码" id="phone" name="phone" required value="{$account['phone']}"/>
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <button type="submit" class="btn pull-center btn-submit">提交认证</button><br />
                    {if $account['is_verify']==1}
                    <h4 style="color:#fff;margin-top:10px;">您已认证成功！</h4>
                    {/if}
                    <p class="jn" style="font-size:15px;color:#fff;margin:15px 0;text-align: center;"><span style="color:#ff2222;">*</span>注意：由于电脑版不能进行支付宝扫脸实名认证操作，烦请使用手机浏览器进入并提交验证！</p>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="form_info"></div>
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
{include file="common/footer"}
<script type="text/javascript" charset="utf-8">
    $(function(){
        $('#basicForm').submit(function(){
            // let json = $('#basicForm').serialize();
            let realname = $('input[name="realname"]').val();
            let phone = $('input[name="phone"]').val();
            let idcard = $('input[name="idcard"]').val();
            let id = $('input[name="id"]').val();

            $.ajax({
                url: "?s=index/auth_info",
                method: 'post',
                data: {'realname':realname,'phone':phone,'idcard':idcard,'id':id},
                dataType: 'JSON',
                success: function (res) {
                    $.ajax({
                        url: 'https://decl.gogo198.cn/api/auth_verify',
                        method: 'post',
                        data: {
                            'mobile': res.data[0],
                            'idcard': res.data[1],
                            'realname': res.data[2],
                            'reg_type':2,
                            'is_merch':3
                        },
                        dataType: 'JSON',
                        success: function (rres) {
                            $.ajax({
                                url: 'https://decl.gogo198.cn/api/record_merch',
                                method: 'post',
                                data: {
                                    'id':"<?php echo session('account')['id'];?>",
                                    'form': rres,
                                },
                                dataType: 'JSON',
                                success: function (rres2) {
                                    $('.form_info').html(rres2.info);
                                    // window.location.href=rres2.url;
                                }
                            });
                        }
                    });
                },
                error: function (data) {

                }
            });

            return false;
        });
    });

    //倒计时
    var n=60;
    function timers(){
        n-=1;
        if(n==0){
            n=60;
            $("#sendCode").html({if session('lang')=='zh'}"发送"{elseif(session('lang')=='cht')}"發送"{elseif(session('lang')=='en')}"Send"{/if});
            }else{
                $("#sendCode").html(n+"重试");
                setTimeout(function () {
                    timers();
                },1000);
            }
        }

        function send_code(){
            let val = $('#reg_method').val();
            let number = '';

            if(val==1){
                number = $('input[name="phone"]').val();
                if(number==''){
                    alert('手机格式错误');return false;
                }
            }else if(val==2){
                number = $('input[name="email"]').val();
                var myreg=/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/; //邮箱正则
                if (!myreg.test(number)){
                    alert('邮箱格式错误');return false;
                }
            }
            if(n==60){
                timers();
                $.ajax({
                    url: "?s=index/send_code",
                    method: 'post',
                    data: {'code_type':val,'number':number,'islogin':1},
                    dataType: 'JSON',
                    success: function (res) {
                        if(res.code==-1){
                            alert(res.msg);
                            return false;
                        }else{

                        }
                    },
                    error: function (data) {

                    }
                });
            }
        }
</script>