{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    
    .layui-form-label{width:100px;}
    .layui-input-block{line-height:38px;}
    .money{color:#ff2222;}
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
        <div class="layui-fluid" style="padding:0;">
            <div class="layui-row layui-col-space15">
                <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                    <input type="text" name="id" value="{$data['id']}" style="display: none;">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-body">
                                <div class="layui-form-item">
                                    <div class="layui-form-label">付款人名称</div>
                                    <div class="layui-input-block">
                                        {$data['pay_name']}
                                    </div>
                                </div>
                                {if !empty($data['phone'])}
                                <div class="layui-form-item">
                                    <div class="layui-form-label">付款人电话</div>
                                    <div class="layui-input-block">
                                        {$data['phone']}
                                    </div>
                                </div>
                                {else}
                                <div class="layui-form-item">
                                    <div class="layui-form-label">付款人邮箱</div>
                                    <div class="layui-input-block">
                                        {$data['email']}
                                    </div>
                                </div>
                                {/if}
                                <div class="layui-form-item">
                                    <div class="layui-form-label">订单编号</div>
                                    <div class="layui-input-block">
                                        {$data['ordersn_flow']}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-form-label">订单金额</div>
                                    <div class="layui-input-block money">
                                        {$data['totalmoney']}
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-form-label">账户类型</div>
                                    <div class="layui-input-block">
                                        {if $data['type']==1}
                                        自有账户收款
                                        {elseif($data['type']==2)}
                                        委托平台账户
                                        {/if}
                                    </div>
                                </div>
                                {if !empty($data['bank_info'])}
                                <div class="layui-form-item">
                                    <div class="layui-form-label">收款账户</div>
                                    <div class="layui-input-block">
                                        {if $data['type']==1}
                                            {if $data['type2']==1}
                                            银行名称：{$data['bank_info']['bankname']}，账号名称：{$data['bank_info']['bank_name']}，账号号码：{$data['bank_info']['bank_account']}
                                            {else}
                                            收款方式：{$data['bank_info']['platform_name']}
                                            {/if}
                                        {elseif($data['type']==2)}
                                            {if $data['type3']==1}
                                            银行名称：{$data['bank_info']['bank_name']}，账号名称：{$data['bank_info']['name']}，账号号码：{$data['bank_info']['bank_account']}
                                            {else}
                                            收款方式：在线支付
                                            {/if}
                                        {/if}
                                    </div>
                                </div>
                                {/if}
                                <div class="layui-form-item">
                                    <div class="layui-form-label">订单状态</div>
                                    <div class="layui-input-block">
                                        {$data['statusname']}
                                    </div>
                                </div>
                                {if !empty($data['payinfo'])}
                                <fieldset class="layui-elem-field">
                                    <legend>付款信息</legend>
                                    <div class="layui-field-box">
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">已付金额</div>
                                            <div class="layui-input-block money">
                                                {$data['payinfo']['totalmoney']}
                                            </div>
                                        </div>
                                        {if !empty($data['payinfo']['transfer_date'])}
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">付款日期</div>
                                            <div class="layui-input-block">
                                                {$data['payinfo']['transfer_date']}
                                            </div>
                                        </div>
                                        {/if}
                                        {if !empty($data['payinfo']['pay_platform'])}
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">付款平台</div>
                                            <div class="layui-input-block">
                                                {$data['payinfo']['pay_platform']}
                                            </div>
                                        </div>
                                        {/if}
                                        {if !empty($data['payinfo']['pic_file'])}
                                        <div class="layui-form-item">
                                            <div class="layui-form-label">付款记录</div>
                                            <div class="layui-input-block">
                                                {volist name="data['payinfo']['pic_file']" id="vo"}
                                                    <a href="{$vo}" target="_blank"><img src="{$vo}" alt="" style="width:50px;height:50px;display: inline-block;margin-right:7px;margin-top:7px;" onerror=src="https://shop.gogo198.cn/attachment/images/default_file.png"></a>
                                                {/volist}
                                            </div>
                                        </div>
                                        {/if}
                                    </div>
                                </fieldset>
                                {/if}
                                {if $data['status']==3}
                                <div class="layui-form-item">
                                    <div class="layui-form-label">确认状态</div>
                                    <div class="layui-input-block">
                                        <select name="status2" id="status2" lay-verify="required">
                                            <option value="">请选择确认状态</option>
                                            <option value="1">确认款项未到账</option>
                                            <option value="2">确认到账未足额</option>
                                            <option value="3">确认到账已足额</option>
                                        </select>
                                    </div>
                                </div>
                                {elseif($data['status']==4)}
                                <div class="layui-form-item">
                                    <div class="layui-form-label">确认状态</div>
                                    <div class="layui-input-block">
                                        {$data['statusname2']}
                                    </div>
                                </div>
                                {/if}
                            </div>
                        </div>
                    </div>
                    {if $data['status']==3}
                    <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                        <div>
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element">立即确认</button>
        <!--                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                        </div>
                    </div>
                    {/if}
                </form>
            </div>
        </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function(){
        laydate = layui.laydate;
        layer = layui.layer;
        var form  = layui.form;
        $ = layui.jquery;
        var upload = layui.upload;

        form.on('submit(component-form-element)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            // if( $('#img_file-upload-list').children().length == 0 )
            // {
            //     layer.msg('请上传分类图片！');
            //     return false;
            // }

            $.ajax({
                url:"/?s=index/collect_detail",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

        // 轮播图文件
        upload.render({
            elem: '#img_file-upload'
            ,url: '{:Url("admin/basic/upload_file")}'
            ,accept: 'image'
            ,data: { folder: 'centralize', type: 'website_news'}
            ,multiple: false
            ,number:1
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 1)
                {

                    $('#img_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="/'+ res.file_path +'" class="layui-upload-img" style="width:80px;height:80px;"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="category_img[]" value="'+res.file_path+'"></div>')
                }
            }
        });
    });

    function delPic(obj)
    {
        var layer = layui.layer,$ = layui.$;
        layer.confirm('确认要删除该附件？', {
            btn: ['删除','取消']
        }, function(){
            $(obj).parent().remove();
            layer.closeAll();
        }, function(){

        });
    }

</script>
{include file="common/footer"}