{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    /**轮播图修改样式**/
    .swiper-button-prev, .swiper-button-next{color: #fff;background: #5e5f5e;}
    .swiper-button-prev:after, .swiper-button-next:after {font-size: 16px;}
    .swiper-pagination-bullet {width: 6px;height: 6px;background-color: #FFFFFF;opacity: 1;}
    .swiper-pagination-bullet-active {width: 14px;height: 6px;border-radius: 3px;opacity: 1;background-color: #FFFFFF;}
        
    .navbar_menu{color:{$website['color_word']};}
    .navbar_menu a{color:{$website['color_word']};}
    #gallery-1 .active a{color:#D2A778;}
    .isotope-hidden{display:none;}
    #content{padding:20px 0;}
    #content .color_word{font-size:16px;padding: 15px 10px;box-sizing:border-box;}
    .filter li:before{color:{$website['color_word']};}
    .filter li a{color:{$website['color_word']};}
    .filter li a:hover, .filter li a:focus, .filter li a.active{color:#d1a575;}
    h3, h4, h5, h6{color:{$website['color_word']};}
    .about-logo img{width:100%;}
    @media (min-width: 993px) {
        .about-logo img{width:500px;}
    }
    .navbar_menu{font-size:16px;}
    .navbar_menu a:last-child{color:#D2A778;font-weight:700;}
    .filter li a{font-size:16px;}
    .gallery-thumb{box-shadow:1px 1px 10px #000;border-radius:6px;}
    .gallery-item .gallery-thumb img{width:100%;height:200px;}
    .gallery-item .gallery-details h5{font-size:16px;}
    .gallery-item .gallery-details{background:unset;}
    @media (min-width: 1000px){
        /*.need_service_box{margin-top: 180px;margin-left: 180px;}*/
        .main_img,.color_word{width:400px;height:280px;text-align:center;margin:20px auto;}
    }
    @media (max-width: 992px){
        .main_img,.color_word{width:100%;height:250px;text-align:center;margin:20px auto;}
        .color_word{padding:30px;box-sizing:border-box;}
        #content{padding-top:100px;}
    }
    
    .detail_container .row .about-logo *{background:{$website['color_inner']} !important;font-size:16px;}
    .detail_container .row .about-logo img{box-shadow:1px 1px 15px #000;}
    
</style>

<section id="content" style="background:{$website['color_inner']};">
    <div class="container detail_container">
        <div class="row" style="width:100%;margin:0 auto;">
            <div class="col-md-12" style="border:1px solid {$website['color_word']};padding:10px;box-sizing:border-box;">
                <div class="about-logo">
                    <div class="" style="text-align:center;">
                        <img class="main_img" src="https://shop.gogo198.cn/{$img['img']}" alt="" style="height:auto;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}