{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .disf2{display: flex;align-items: flex-start;}
    .layui-fluid,.layui-card-body{padding: 0;}
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .navbar_menu a:last-child{color:#D2A778;font-weight:700;}
    .navbar_menu{margin-bottom:15px;}
    .navbar_menu a{color:{$website['color_word']};font-size:16px;}
    .layui-elem-field legend{width:fit-content;border:0;}
    .layui-elem-field legend,.layui-form-item .layui-form-label{color:{$website['color_word']};}
    .layui-card{background:{$website['color_inner']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color_inner']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .layui-card-header{background:#0a8ddf;color:#fff;}
    .layui-input-block{line-height: 38px;}
    .select_box,.introduce_box{display:none;width:250px;}
    .layui-form-label{width:100px;}
    /**数量增减框样式**/
    .quantity {display: flex;align-items: center;}
    .quantity input[type="number"] {width: 100%;text-align: center;}
    .quantity button {background-color: transparent;cursor: pointer;font-size: 20px;padding: 0 5px;border: 1px solid #e6e6e6;height: 38px;width: 50px;color:{$website['color_word']};text-align:center;}
    .template_box .layui-input-block{max-width:330px;}
    .half{width:50%;}
    .del_line{width:30px;height:30px;display: inline-block;margin-left:10px;}
    @media (max-width: 992px){
        .template_box .layui-input-block{max-width:240px;}
        .del_line{width:25px;height:25px;margin-left:8px;}
        .back_div{margin-top:15px;}
        #name{width:91% !important;}
        .layui-laydate-range{left: 0 !important;width: fit-content;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .select_box,.introduce_box{width:100%;}
    }
    .add,.save1,.save2{background:unset;border:1px solid {$website['color_word']};}
</style>
<link rel="stylesheet" href="./css/ajaxupload/font-awesome.min.css?x=123">
<link rel="stylesheet" href="./css/ajaxupload/style.css?x=1111">
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" style="padding:0;">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                        <input type="text" style="display:none;" name="buss_id" id="buss_id" value="{$buss_id}">
                        <input type="text" style="display:none;" name="id" id="id" value="{$id}">
                        <div class="layui-col-md12 back_div">
                            <a href="javascript:history.back(-1);">
                                <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;margin-left:10px;">
                                    <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                                    返回
                                </div>
                            </a>
                            <div class="layui-card">
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">模板名称</div>
                                        <div class="layui-input-block">
                                            <input type="text" name="name" class="layui-input" id="name" value="{$data['name']}" placeholder="模板名称" style="width:250px;"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">添加行</div>
                                        <div class="layui-input-block">
                                            <div class="disf">
                                                <input type="text" name="label_name" class="layui-input" id="label_name" value="" placeholder="标签名称" style="width:100px;"/>
                                                <div style="width: 150px">
                                                    <select name="label_value" id="label_value" style="width:50%;" lay-filter="lable_value">
                                                        <option value="1">文本输入框</option>
                                                        <option value="2">数值输入框</option>
                                                        <option value="3">日期选择框</option>
                                                        <option value="6">日期选择框(起止)</option>
                                                        <option value="4">普通选择框</option>
                                                        <option value="5">数量增减框</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="select_box">
                                                <input type="text" name="select_name" class="layui-input" id="select_name" value="" placeholder="选择内容用顿号‘、’隔开"/>
                                            </div>
                                            <div class="introduce_box">
                                                <input type="text" name="introduce_name" class="layui-input" id="introduce_name" value="" placeholder="输入描述（可为空）"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label"></div>
                                        <div class="layui-input-block">
                                            <div class="layui-btn layui-btn-md add">添加</div>
                                        </div>
                                    </div>
                                    <fieldset class="layui-elem-field  template_box">
                                        <legend>模板预览</legend>
                                        <div class="layui-field-box">
                                            {if !empty($data['content'])}
                                            {volist name="data['content']" key="key" id="vo"}
                                            {if !empty($vo['label_name'])}
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">{$vo.label_name}</div>
                                                <div class="layui-input-block">
                                                    {if $vo.label_value==1}
                                                    <div class="disf2">
                                                        <div class="half">
                                                            <input type="text" class="layui-input" value="" placeholder=""/>
                                                            <input type="text" name="content[label_name][]" value="{$vo.label_name}" style="display:none;"><input type="text" name="content[label_value][]" value="{$vo.label_value}" style="display:none;"><input type="text" name="content[label_select][]" value="" style="display:none;"><input type="text" name="content[label_rand][]" value="" style="display:none;"><input type="text" name="content[label_introduce][]" value="" style="display:none;">
                                                        </div>
                                                        <div class="half">
                                                            <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">
                                                            <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up" {if $key==1}style="display:none;"{/if}>
                                                            <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down" {if count($data['content'])==$key}style="display:none;"{/if}>
                                                        </div>
                                                    </div>
                                                    {elseif($vo.label_value==2)}
                                                    <div class="disf2">
                                                        <div class="half">
                                                            <input type="number" class="layui-input" value="" placeholder=""/>
                                                            <input type="text" name="content[label_name][]" value="{$vo.label_name}" style="display:none;"><input type="text" name="content[label_value][]" value="{$vo.label_value}" style="display:none;"><input type="text" name="content[label_select][]" value="" style="display:none;"><input type="text" name="content[label_rand][]" value="" style="display:none;"><input type="text" name="content[label_introduce][]" value="" style="display:none;">
                                                        </div>
                                                        <div class="half">
                                                            <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">
                                                            <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up" {if $key==1}style="display:none;"{/if}>
                                                            <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down" {if count($data['content'])==$key}style="display:none;"{/if}>
                                                        </div>
                                                    </div>
                                                    {elseif($vo.label_value==3)}
                                                    <div class="disf2">
                                                        <div class="half">
                                                            <input type="text" class="layui-input" id="date{$vo.label_rand}" value="" placeholder="yymmddhhii">
                                                            <input type="text" name="content[label_name][]" value="{$vo.label_name}" style="display:none;"><input type="text" name="content[label_value][]" value="{$vo.label_value}" style="display:none;"><input type="text" name="content[label_select][]" value="" style="display:none;"><input type="text" name="content[label_rand][]" value="{$vo.label_rand}" style="display:none;"><input type="text" name="content[label_introduce][]" value="" style="display:none;">
                                                        </div>
                                                        <div class="half">
                                                            <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">
                                                            <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up" {if $key==1}style="display:none;"{/if}>
                                                            <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down" {if count($data['content'])==$key}style="display:none;"{/if}>
                                                        </div>
                                                    </div>
                                                    {elseif($vo.label_value==4)}
                                                    <div class="disf2">
                                                        <div class="half">
                                                            <?php $key33=$key;?>
                                                            <select lay-search>
                                                                {volist name="vo.label_select2" id="vo2"}
                                                                <option value="{$vo2}">{$vo2}</option>
                                                                {/volist}
                                                            </select>
                                                            <input type="text" name="content[label_name][]" value="{$vo.label_name}" style="display:none;"><input type="text" name="content[label_value][]" value="{$vo.label_value}" style="display:none;"><input type="text" name="content[label_select][]" value="{$vo.label_select}" style="display:none;"><input type="text" name="content[label_rand][]" value="" style="display:none;"><input type="text" name="content[label_introduce][]" value="" style="display:none;">
                                                            <?php $key=$key33;?>
                                                        </div>
                                                        <div class="half">
                                                            <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">
                                                            <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up {$key}" {if $key==1}style="display:none;"{/if}>
                                                            <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down" {if count($data['content'])==$key}style="display:none;"{/if}>
                                                        </div>
                                                    </div>
                                                    {elseif($vo.label_value==5)}
                                                    <div class="disf2">
                                                        <div class="half">
                                                            <div class="disf2_div">
                                                                <input type="text" name="content[label_name][]" value="{$vo.label_name}" style="display: none;"><input type="text" name="content[label_introduce][]" value="{$vo.label_introduce}" style="display:none;"><input type="text" name="content[label_value][]" value="{$vo.label_value}" style="display:none;"><input type="text" name="content[label_select][]" value="" style="display:none;"><input type="text" name="content[label_rand][]" value="" style="display:none;">
                                                                <div class="quantity">
                                                                    <button type="button" onclick="decrementValue(event)">-</button>
                                                                    <input type="number" class="layui-input" value="0" oninput="if(value>1000)value=1000;if(value.length>4)value=value.slice(0,4);if(value<0)value=0" />
                                                                    <button type="button" onclick="incrementValue(event)">+</button>
                                                                </div>
                                                                {if $vo.label_introduce!=''}
                                                                <span style="font-size: 12px;color: #888;white-space: nowrap;">{$vo.label_introduce}</span>
                                                                {/if}
                                                            </div>
                                                        </div>
                                                        <div class="half">
                                                            <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">
                                                            <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up" {if $key==1}style="display:none;"{/if}>
                                                            <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down" {if count($data['content'])==$key}style="display:none;"{/if}>
                                                        </div>
                                                    </div>
                                                    {elseif($vo.label_value==6)}
                                                    <div class="disf2 {if count($data['content'])==$key}the_lst{/if}">
                                                        <div class="half">
                                                            <input type="text" class="layui-input" id="date{$vo.label_rand}" value="" placeholder="yymmddhhii">
                                                            <input type="text" name="content[label_name][]" value="{$vo.label_name}" style="display:none;"><input type="text" name="content[label_value][]" value="{$vo.label_value}" style="display:none;"><input type="text" name="content[label_select][]" value="" style="display:none;"><input type="text" name="content[label_rand][]" value="{$vo.label_rand}" style="display:none;"><input type="text" name="content[label_introduce][]" value="" style="display:none;">
                                                        </div>
                                                        <div class="half">
                                                            <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">
                                                            <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up" {if $key==1}style="display:none;"{/if}>
                                                            <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down" {if count($data['content'])==$key}style="display:none;"{/if}>
                                                        </div>
                                                    </div>
                                                    {/if}
                                                </div>
                                            </div>
                                            {/if}
                                            {/volist}
                                            {/if}
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                            <div>
                                <button class="layui-btn layui-btn-normal save1" lay-submit lay-filter="component-form-element2">保存模板</button>
                                <button class="layui-btn layui-btn-normal save2" lay-submit lay-filter="component-form-element3">保存，使用此模板报价</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}
<script type="text/javascript" src="./js/ajaxupload/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="./js/ajaxupload/ajaxupload.js"></script>
<script type="text/javascript" src="./js/ajaxupload/edit_deal_item.js"></script>
<script type="text/javascript" src="./js/ajaxupload/juUI.js"></script>
<script type="text/javascript" src="./js/ajaxupload/plupload.full.min.js"></script>
<script type="text/javascript" src="./js/ajaxupload/script.js"></script>
<script type="text/javascript" src="./js/ajaxupload/jquery.bgiframe.js"></script>
<script type="text/javascript" src="./js/ajaxupload/jquery.weebox.js"></script>
<script type="text/javascript" src="./js/ajaxupload/touch.js"></script>
<script type="text/javascript">
    function incrementValue(event) {
        event.preventDefault();
        var input = event.target.parentNode.querySelector('input[type="number"]');
        var newValue = parseInt(input.value) + 1;
        input.value = newValue > parseInt(input.max) ? input.value : newValue;
    }

    function decrementValue(event) {
        event.preventDefault();
        var input = event.target.parentNode.querySelector('input[type="number"]');
        var newValue = parseInt(input.value) - 1;
        if(newValue>=0){
            input.value = newValue < parseInt(input.min) ? input.value : newValue;
        }
    }

    function IsPhone() {
        var info = navigator.userAgent;
        var isPhone = /mobile/i.test(info);
        return isPhone;
    }

    layui.use(['layer','form','laydate','upload'],function(){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;

        form.render(null, 'component-form-element');
        {if !empty($data['content'])}
        {volist name="data['content']" id="vo"}
        {if(isset($vo['label_value']))}
            {if($vo.label_value==3)}
                laydate.render({
                    elem: '#date{$vo.label_rand}' //指定元素
                });
            {elseif($vo.label_value==6)}
                laydate.render({
                    elem: '#date{$vo.label_rand}' //指定元素
                    ,range:true
                });
            {/if}
        {/if}
        {/volist}
        {/if}

        form.on('select(lable_value)',function(data){
            let val = data.value;
            if(val==1){
                $('.select_box').hide();
                $('.introduce_box').hide();
            }else if(val==2){
                $('.select_box').hide();
                $('.introduce_box').hide();
            }else if(val==3){
                $('.select_box').hide();
                $('.introduce_box').hide();
            }else if(val==4){
                $('.select_box').show();
                $('.introduce_box').hide();
            }else if(val==5){
                $('.select_box').hide();
                $('.introduce_box').show();
            }else if(val==6){
                $('.select_box').hide();
                $('.introduce_box').hide();
            }
        });

        $('.add').click(function(){
            let label_name = $('#label_name').val();
            let label_value = $('#label_value').val();
            let select_name = $('#select_name').val();
            let introduce_name = $('#introduce_name').val();
            let rand = new Date().valueOf();
            if(label_name==''){
                layer.msg('请输入标签名称');return false;
            }
            let up_show=1;
            if($('.template_box').find('.layui-field-box').find('.layui-form-item').length==0){
                up_show=0;
            }
            let item_num = $('.template_box').find('.layui-field-box').find('.layui-form-item').length;

            let html = '<div class="layui-form-item">\n' +
                '                            <div class="layui-form-label">'+label_name+'</div>\n' +
                '                            <div class="layui-input-block">\n'+
                '                               <div class="disf2">\n'+
                '                               <div class="half">\n';
            if(label_value==1){
                html += '<input type="text" class="layui-input" value="" placeholder=""/>\n'+
                    '<input type="text" name="content[label_name]['+item_num+']" value="'+label_name+'" style="display:none;"><input type="text" name="content[label_value]['+item_num+']" value="'+label_value+'" style="display:none;"><input type="text" name="content[label_select]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_rand]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_introduce]['+item_num+']" value="" style="display:none;">\n';
            }else if(label_value==2){
                html += '<input type="number" class="layui-input" value="" placeholder=""/>\n'+
                    '<input type="text" name="content[label_name]['+item_num+']" value="'+label_name+'" style="display:none;"><input type="text" name="content[label_value]['+item_num+']" value="'+label_value+'" style="display:none;"><input type="text" name="content[label_select]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_rand]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_introduce]['+item_num+']" value="" style="display:none;">\n';
            }else if(label_value==3){
                html += ' <input type="text" class="layui-input" id="date'+rand+'" value="" placeholder="yymmddhhii">\n'+
                    '<input type="text" name="content[label_name]['+item_num+']" value="'+label_name+'" style="display:none;"><input type="text" name="content[label_value]['+item_num+']" value="'+label_value+'" style="display:none;"><input type="text" name="content[label_select]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_rand]['+item_num+']" value="'+rand+'" style="display:none;"><input type="text" name="content[label_introduce]['+item_num+']" value="" style="display:none;">\n';
            }else if(label_value==4){
                if(select_name==''){
                    layer.msg('请输入选择框内容');return false;
                }
                let val = select_name.split('、');
                html += '<select lay-search>\n';
                for(let i=0;i<val.length;i++){
                    html += '<option value="'+val[i]+'">'+val[i]+'</option>\n';
                }
                html += '</select>\n'+
                    '<input type="text" name="content[label_name]['+item_num+']" value="'+label_name+'" style="display:none;"><input type="text" name="content[label_value]['+item_num+']" value="'+label_value+'" style="display:none;"><input type="text" name="content[label_select]['+item_num+']" value="'+select_name+'" style="display:none;"><input type="text" name="content[label_rand]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_introduce]['+item_num+']" value="" style="display:none;">\n';
            }else if(label_value==5){
                html = '   <div class="layui-form-item">        \n' +
                    '        <label class="layui-form-label">'+label_name+'</label>\n' +
                    '        <div class="layui-input-block">\n' +
                    '         <div class="disf2">\n'+
                    '           <div class="half">\n'+
                    '           <div class="disf2_div">\n'+
                    '              <input type="text" name="content[label_name]['+item_num+']" value="'+label_name+'" style="display: none;"><input type="text" name="content[label_value]['+item_num+']" value="'+label_value+'" style="display: none;"><input type="text" name="content[label_select]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_rand]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_introduce]['+item_num+']" value="'+introduce_name+'" style="display:none;">\n'+
                    '              <div class="quantity">\n'+
                    '                <button type="button" onclick="decrementValue(event)">-</button>\n'+
                    '                <input type="number" class="layui-input" value="0" oninput="if(value>1000)value=1000;if(value.length>4)value=value.slice(0,4);if(value<0)value=0" />\n'+
                    '                <button type="button" onclick="incrementValue(event)">+</button>\n'+
                    '              </div>\n'+
                    '           </div>\n';

                if(introduce_name!=''){
                    html += '<span style="font-size: 12px;color: #888;white-space: nowrap;">'+introduce_name+'</span>\n'+
                        '           </div>\n';
                }else{
                    html += '</div>';
                }
                html += '           <div class="half">\n'+
                        '                               <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">\n';
                if(up_show==1){
                    html +='                                   <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up">\n';
                }else{
                    html +='                                   <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up" style="display:none;">\n';
                }

                html += '                                   <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down">\n'+
                        '           </div>\n'+
                        '     </div>\n'+
                        '    </div>\n' +
                    '     </div>\n';
            }else if(label_value==6){
                html += ' <input type="text" class="layui-input" id="date'+rand+'" value="" placeholder="yymmddhhii">\n'+
                    '<input type="text" name="content[label_name]['+item_num+']" value="'+label_name+'" style="display:none;"><input type="text" name="content[label_value]['+item_num+']" value="'+label_value+'" style="display:none;"><input type="text" name="content[label_select]['+item_num+']" value="" style="display:none;"><input type="text" name="content[label_rand]['+item_num+']" value="'+rand+'" style="display:none;"><input type="text" name="content[label_introduce]['+item_num+']" value="" style="display:none;">\n';
            }
            if(label_value!=5){
                html += '           </div>\n'+
                        '           <div class="half">\n'+
                        '                               <img src="./img/delete.png" alt="" onclick="del(this)" class="del_line">\n';
                if(up_show==1){
                    html +='                                   <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up">\n';
                }else{
                    html +='                                   <img src="./img/up.png" alt="" onclick="up(this)" class="del_line up" style="display:none;">\n';
                }

                html += '                                   <img src="./img/down.png" alt="" onclick="down(this)" class="del_line down">\n'+
                '                                </div>\n'+
                '                            </div>\n' +
                '                            </div>\n' +
                '                        </div>';
            }
            $('.template_box').find('.layui-field-box').append(html);
            $('.template_box').find('.layui-field-box').find('.layui-form-item').last().prev().find('.down').show();
            $('.template_box').find('.layui-field-box').find('.layui-form-item').last().find('.down').hide();
            form.render(null,'component-form-element');
            if(label_value==3){
                laydate.render({
                    elem: '#date'+rand //指定元素
                });
            }else if(label_value==6){
                laydate.render({
                    elem: '#date'+rand //指定元素
                    ,range: true
                });
            }
        });

        form.on('submit(component-form-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            // if( $('#img_file-upload-list').children().length == 0 )
            // {
            //     layer.msg('请上传轮播图！');
            //     return false;
            // }

            $.ajax({
                url:"/?s=index/create_inquiry_template",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            parent.location.reload();
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
        form.on('submit(component-form-element3)', function(data){
            $.ajax({
                url:"/?s=index/create_inquiry_template",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            window.location.href='/?s=index/save_inquiry&buss_id='+res.buss_id;
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });

    function del(t){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form;
        if($(t).parent().parent().parent().parent().prev().length==1 && $(t).parent().parent().parent().parent().next().length==1){

        }else if($(t).parent().parent().parent().parent().prev().length==0 && $(t).parent().parent().parent().parent().next().length==1){
            $(t).parent().parent().parent().parent().next().find('.layui-input-block').find('.disf2').find('.up').hide();
        }else if($(t).parent().parent().parent().parent().prev().length==1 && $(t).parent().parent().parent().parent().next().length==0){
            $(t).parent().parent().parent().parent().prev().find('.layui-input-block').find('.disf2').find('.down').hide();
        }
        $(t).parent().parent().parent().parent().remove();
        form.render(null, 'component-form-element');
        layer.msg('删除成功', {
            icon: 6,
        });
    }

    function up(t){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form;
        let e = $(t).parent().parent().parent().parent().prev().before($(t).parent().parent().parent().parent());
        if(e.selector==".parent().parent().parent().parent().prev().before(.parent().parent().parent().parent().prev())"){
            layer.msg('上移失败', {
                icon: 5,
            });
        }else{
            layer.msg('上移成功', {
                icon:6,
            });
        }
        if($(t).parent().parent().parent().parent().prev().length==0){
            //没前面
            $(t).hide();
        }else{
            $(t).show();
        }

        if($(t).parent().parent().parent().parent().next().next().length==0){
            $(t).parent().parent().parent().parent().next().find('.layui-input-block').find('.disf2').find('.down').hide();
        }else{
            $(t).parent().parent().parent().parent().next().find('.layui-input-block').find('.disf2').find('.up').show();
        }
        $(t).next().show();
    }

    function down(t){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form;
        let e = $(t).parent().parent().parent().parent().next().after($(t).parent().parent().parent().parent());
        if(e.selector==".parent().parent().parent().parent().next().after(.parent().parent().parent().parent().next())"){
            layer.msg('下移失败', {
                icon: 5,
            });
        }else{
            layer.msg('下移成功', {
                icon:6,
            });
        }
        if($(t).parent().parent().parent().parent().next().length==0){
            //没下面
            $(t).hide();
        }else{
            $(t).show();
        }
        if($(t).parent().parent().parent().parent().prev().prev().length==0){
            $(t).parent().parent().parent().parent().prev().find('.layui-input-block').find('.disf2').find('.up').hide();
        }else{
            $(t).parent().parent().parent().parent().prev().find('.layui-input-block').find('.disf2').find('.down').show();
        }
        $(t).prev().show();
    }
</script>
