{include file="common/header"}
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{border:1px solid {$website['color_word']};padding:20px 20px;box-sizing:border-box;box-shadow:1px 1px 10px {$website['color_word']};}
    .content .col-md-12{padding:0;float:unset;}
    .content .title{font-size:26px;color:{$website['color_word']};font-weight:800;text-align:center;line-height:normal !important;}
    .content .control-group{margin-top:10px;}
    .content .control-group .label_title{width:80px;color:{$website['color_word']};font-weight:800;font-size:15px;text-align:right;margin-right:10px;}
    .content .control-group .controls .form-control{width:90%;font-size:15px;}
    .content .control-group .controls .btn-send{padding:7px 20px;background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};}
    .content form{text-align:center;}
    .content form .btn-submit{background:{$website['color']};color:{$website['color_word']};border:1px solid #D2A778;padding:10px 100px;box-sizing:border-box;float:unset !important;margin-top:15px;}
    
    .email{display:none;}
</style>
<section id="content" class="non_topimg" >
    <div class="container">
        <!--<div class="title">{if session('lang')=='zh'}商户合作{elseif(session('lang')=='cht')}商戶合作{elseif(session('lang')=='en')}Merchant cooperation{/if}</div>-->
        <div class="content" >
            <div class="col-md-12">
                <form name="sentMessage" id="regForm"  novalidate>
        	        <div class="title">{if session('lang')=='zh'}账号注册{elseif(session('lang')=='cht')}賬號註冊{elseif(session('lang')=='en')}Register{/if}</div>
    	            <div class="control-group">
                        <div class="controls disf">
    			            <label class="label_title">{if session('lang')=='zh'}所属国地{elseif(session('lang')=='cht')}所屬國地{elseif(session('lang')=='en')}Country{/if}</label>
        			        <select name="reg_method" id="reg_method" class="form-control">
        			            <option value="1">{if session('lang')=='zh'}中国境内{elseif(session('lang')=='cht')}中國境內{elseif(session('lang')=='en')}Within China{/if}</option>
        			            <option value="2">{if session('lang')=='zh'}中国境外{elseif(session('lang')=='cht')}中國境外{elseif(session('lang')=='en')}Outside China{/if}</option>
        			        </select>
        			        <p class="help-block"></p>
    		            </div>
    	            </div>
    	            <div class="control-group phone">
                        <div class="controls disf">
                            <label class="label_title">{if session('lang')=='zh'}手机号码{elseif(session('lang')=='cht')}手機號碼{elseif(session('lang')=='en')}Phone{/if}</label>
        			        <input type="text" class="form-control" placeholder="{if session('lang')=='zh'}请输入您的手机号码{elseif(session('lang')=='cht')}請輸入您的手機號碼{elseif(session('lang')=='en')}Please enter your Phone{/if}" id="phone" name="phone" required/>
        			        <p class="help-block"></p>
        		        </div>
        	        </div>
    	            <div class="control-group email">
                        <div class="controls disf">
                            <label class="label_title">{if session('lang')=='zh'}邮箱地址{elseif(session('lang')=='cht')}郵箱地址{elseif(session('lang')=='en')}Email{/if}</label>
        			        <input type="text" class="form-control" placeholder="{if session('lang')=='zh'}请输入您的邮箱地址{elseif(session('lang')=='cht')}請輸入您的郵箱地址{elseif(session('lang')=='en')}Please enter your Email{/if}" id="email" name="email" required />
        			        <p class="help-block"></p>
        		        </div>
        	        </div>
        	        
        	        <div class="control-group">
                        <div class="controls disf">
                            <label class="label_title">{if session('lang')=='zh'}验证码{elseif(session('lang')=='cht')}驗證碼{elseif(session('lang')=='en')}Code{/if}</label>
        			        <input type="text" class="form-control" placeholder="{if session('lang')=='zh'}请输入验证码{elseif(session('lang')=='cht')}請輸入驗證碼{elseif(session('lang')=='en')}Please enter Verify-Code{/if}" id="code" name="code" required style="width:65%;"/>
        			        <div class="btn btn-sm btn-send" onclick="send_code()" id="sendCode">{if session('lang')=='zh'}发送{elseif(session('lang')=='cht')}發送{elseif(session('lang')=='en')}Send{/if}</div>
        		        </div>
        	        </div>
        	        <div class="control-group" style="text-align:right;">
        	            <a href="/?s=index/customer_login" class="f15" style="text-decoration:underline;">立即登录</a>
    	            </div>
    	            <button type="submit" class="btn pull-center btn-submit">{if session('lang')=='zh'}提交{elseif(session('lang')=='cht')}提交{elseif(session('lang')=='en')}Submit{/if}</button><br />
                  </form>
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}
<script type="text/javascript" charset="utf-8">
    $(function(){
        $('#reg_method').change(function(){
           let val = $(this).val();
           if(val==1){
               $('.email').hide();
               $('.phone').show();
           }else if(val==2){
               $('.email').show();
               $('.phone').hide();
           }
        });
        
        $('#regForm').submit(function(){
            // let json = $('#regForm').serialize();
            
            let number = '';
            if($('#reg_method').val()==1){
                number = $('#phone').val();
                if(number==''){
                    alert('请输入您的手机号码');return false;
                }
            }else if($('#reg_method').val()==2){
                number = $('#email').val();
                if(number==''){
                    alert('请输入您的邮箱地址');return false;
                }
            }
            
            if($('#code').val()==''){
                alert('请输入验证码');return false;
            }
            
            
            $.ajax({
                url: "?s=index/customer_reg",
                method: 'post',
                data: {'reg_method':$('#reg_method').val(),'number':number,'code':$('#code').val()},
                dataType: 'JSON',
                success: function (res) {
                    if(res.code==-1){
                        alert(res.msg);
                        return false;
                    }else{
                        alert(res.msg);
                        setTimeout(function(){
                            window.location.href='/?s=index/customer_login';
                        },3000);
                    }
                },
                error: function (data) {
                    
                }
            }); 
            
            return false;
        });
    });
    
    //倒计时
    var n=60;
    function timers(){
        n-=1;
        if(n==0){
            n=60;
            $("#sendCode").html({if session('lang')=='zh'}"发送"{elseif(session('lang')=='cht')}"發送"{elseif(session('lang')=='en')}"Send"{/if});
        }else{
            $("#sendCode").html(n+"重试");
            setTimeout(function () {
                timers();
            },1000);
        }
    }
    
    function send_code(){
        let val = $('#reg_method').val();
        let number = '';
        
        if(val==1){
            number = $('input[name="phone"]').val();
            if(number==''){
                alert('手机格式错误');return false;
            }
        }else if(val==2){
            number = $('input[name="email"]').val();
            var myreg=/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/; //邮箱正则
            if (!myreg.test(number)){
                alert('邮箱格式错误');return false;
            }
        }
        if(n==60){
            timers();
            $.ajax({
                url: "?s=index/send_code",
                method: 'post',
                data: {'code_type':val,'number':number},
                dataType: 'JSON',
                success: function (res) {
                    if(res.code==-1){
                        alert(res.msg);
                        return false;
                    }else{
                        
                    }
                },
                error: function (data) {
                    
                }
            });   
        }
    }
    
    
</script>