{include file="common/header"}
<link href="css/gallery-1.css" rel="stylesheet">
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{background:{$website['color_inner']};}
    #content .container{padding:30px;}
    #content .container .title{font-size:20px;font-weight:600;color:{$website['color_word']};}
    #content .container .title2{margin-top:20px;width:250px;font-size:15px;display:inline-block;color:{$website['color_word']};}
    .con_box{margin-top:30px;border-bottom:1px solid #eee;padding-bottom:10px;}
    .con_box:first-child{margin-top:0px;}
</style>
<!--<img class="detail_topimg" src="https://shop.gogo198.cn/{$website['inpic']}" alt="" style="max-width:100%;width:100%;">-->
<section id="content" class="non_topimg" style="padding-top:0;">
    <div class="container">

        {volist name="linkcate_list" id="vo"}
            <div class="con_box">
                <div class="title">{$vo.name}</div>
                {volist name="vo.children" id="vo2"}
                    <a href="{$vo2.link}" target="_blank"><div class="title2">{$vo2.name}</div></a>
                {/volist}
            </div>
        {/volist}
    </div>
</section>
{include file="common/footer"}