<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    body{background:#a0a0a0;}
    .main-container{padding:10px;box-sizing: border-box;}
    .contents{background:#a0a0a0;padding:10px;box-sizing: border-box;border:2px solid #fff;text-align: center;}
    .contents img{width:100%;}
    .f15{color:#fff;margin-top:10px;font-size: 15px;}
</style>

<div class="main-container">
    <div class="contents">
        <img src="{$img}" alt="">
        <p class="f15">长按二维码保存</p>
    </div>
</div>
