{include file="common/header"}
<style type="text/css" media="all">
    .disf2{display: flex;align-items: center;}
    #content{padding-top:20px;padding-bottom:20px;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .inquiry_box{display:block;}
    .btn_create{margin-left:10px;height:36px;width: 250px;}
    #buss_name{width: 250px;}
    @media (max-width: 992px){
        .disf2{display: block;}
        #buss_name{width: 100%;}
        .btn_create{margin-top:10px;margin-left:0;width: 100%;}
    }
</style>
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="col-md-12">
                <a href="javascript:history.back(-1);">
                    <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                        <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                        返回
                    </div>
                </a>
                <div class="inquiry_box">
                    <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:0px;padding:0;color:{$website['color_word']};"></label>
                            <div class="layui-input-block disf2" style="margin-left:0;">
                                <div id="buss_name" class="xm-select-demo"></div>
                                <div class="layui-btn layui-btn-primary btn_create" onclick="javascript:window.location.href='/?s=index/inquiry_template';">创建新的模板询价</div>
                            </div>
                        </div>
<!--                        <div class="layui-form-item" style="margin-top: 25px;text-align: left;">-->
<!--                            <div>-->
<!--                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2" style="margin-left:110px;">发起询价</button>-->
<!--                            </div>-->
<!--                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="./layui/xm-select.js"></script>
{include file="common/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.render(null,'component-form-element');

        xmSelect.render({
            el: '#buss_name',
            name:'buss_name',
            autoRow: true, //自动换行
            filterable: true, //可搜索
            searchTips: '选择既有模板询价',
            tips:'选择既有模板询价',
            radio:true,
            model: {
                icon: 'hidden',//是否展示复选框或者单选框图标 show, hidden:变换背景色  ！！这句话是重点，不然会变成父节点也有单选框！！
            },
            tree: {
                show: true, //用树显示
                showFolderIcon: true, //是否显示节点前的三角图标
                expandedKeys: false, //默认全部展开
                showLine: true, //显示渐近线
                indent: 20, //间距
                strict: false, //重点！！设置成非严格父子模式，这样父节点被禁用，子节点依然可以点击
                clickCheck:true,
            },
            toolbar: {
                show: false, //显示工具条
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            height: '300px', //最大下拉框高度
            data: {$temp_menu},
            on:function(data){
                let change = data.change[0].value.split('_');
                let buss_id = change[1];
                let val = change[0];
                if(val==-1){
                    window.location.href="/?s=index/save_inquiry&buss_id="+val;
                }else if(val!=-1 && val!=-5){
                    window.location.href="/?s=index/save_inquiry&buss_id="+val;
                }else if(val==-5){
                    window.location.href="/?s=index/save_page_inquiry&buss_id="+buss_id;
                }
            }
            // initValue:[$data['navbar_id']]
        });

        // form.on('submit(component-form-element2)',function(data){
        //     data.field['buss_method']=0;
        //     if(data.field['buss_name']==-2){
        //         data.field['buss_method']=1;
        //     }
        //     if(data.field['buss_name']!=-1){
        //         window.location.href="/?s=index/save_inquiry&buss_id="+data.field['buss_name']+"&type="+data.field['buss_method'];
        //     }else{
        //         layer.msg('请选择询价业务');
        //         return false;
        //     }
        //     return false;
        // });
    });

    function save(title,url) {
        var $ = layui.$
            , layer = layui.layer;

        //打开选择询价业务
        layer.open({
            type: 1,
            title: '既有模板询价',
            shadeClose: true,
            shade: 0.3,
            area: ['100%', '100%'],
            content: $('.inquiry_box'),
        });
    }
</script>