{include file="common/header"}
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .inquiry_box{display:none;}
</style>
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="col-md-12">
                <a href="javascript:history.back(-1);">
                    <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                        <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                        返回
                    </div>
                </a>
                <a href="/?s=index/inquiry_template_manage&id={$id}">
                    <div class="box_content disf">
                        <img class="" src="./img/account/center.png" alt="" />
                        发起询价
                    </div>
                </a>
                <a href="/?s=index/inquiry_list&id={$id}">
                    <div class="box_content disf">
                        <img class="" src="./img/account/trade.png" alt="" />
                        查看询价
                    </div>
                </a>
                <a href="/?s=index/inquiry_template&buss_id={$id}">
                    <div class="box_content disf">
                        <img class="" src="./img/account/center.png" alt="" />
                        询价模板
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="inquiry_box">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">{$buss_pname}<br/>业务询价</label>
                    <div class="layui-input-block layui-select-fscon">
                        <div id="buss_name" class="xm-select-demo" style="width:250px;padding-top: 10px;"></div>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 25px;text-align: left;">
                    <div>
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2" style="margin-left:110px;">发起询价</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./layui/xm-select.js"></script>
{include file="common/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.render(null,'component-form-element');

        xmSelect.render({
            el: '#buss_name',
            name:'buss_name',
            autoRow: true, //自动换行
            filterable: true, //可搜索
            searchTips: '请选择既有模板询价',
            tips:'请选择既有模板询价',
            radio:true,
            model: {
                icon: 'hidden',//是否展示复选框或者单选框图标 show, hidden:变换背景色  ！！这句话是重点，不然会变成父节点也有单选框！！
            },
            tree: {
                show: true, //用树显示
                showFolderIcon: true, //是否显示节点前的三角图标
                expandedKeys: true, //默认全部展开
                showLine: true, //显示渐近线
                indent: 20, //间距
                strict: false, //重点！！设置成非严格父子模式，这样父节点被禁用，子节点依然可以点击
                clickCheck:true,
            },
            toolbar: {
                show: true, //显示工具条
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            height: '300px', //最大下拉框高度
            data: {$temp_menu},
            // initValue:[$data['navbar_id']]
        });

        form.on('submit(component-form-element2)',function(data){
            data.field['buss_method']=0;
            if(data.field['buss_name']==-2){
                data.field['buss_method']=1;
            }
            if(data.field['buss_name']!=-1){
                window.location.href="/?s=index/save_inquiry&buss_id="+data.field['buss_name']+"&type="+data.field['buss_method'];
            }else{
                layer.msg('请选择询价业务');
                return false;
            }
            return false;
        });
    });

    function save(title,url) {
        var $ = layui.$
            , layer = layui.layer;

        //打开选择询价业务
        layer.open({
            type: 1,
            title: '发起询价',
            shadeClose: true,
            shade: 0.3,
            area: ['100%', '100%'],
            content: $('.inquiry_box'),
        });
    }
</script>