{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .layui-elem-field legend,.layui-form-item .layui-form-label{color:{$website['color_word']};}
    .layui-card{background:{$website['color_inner']};}
    .layui-input-block{color:{$website['color_word']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    
    .layui-form-label{width:100px;}
    .layui-input-block{line-height:38px;}
    legend{width:unset;border-bottom:0;}
    .ordertype2,.type1_h,.type1,.type2,.create_user,.type2_h,.type3,.sms{display:none;}
    @media (max-width: 992px) {
        .back_div{margin-top:15px;}
        .layui-fluid,.layui-card-body{padding:0;}
    }
    .main_template{padding:0 15px;}
    .main_template .layui-input-block{line-height: 24px !important;margin-left:90px;color:{$website['color_word']};}
    .main_template .layui-form-label{width:80px;}
    .right{text-align: right;}
    /**聊天模板**/
    #edui1_iframeholder{height:150px !important;}
    /*.chatBox_con #edui1 {color:#000 !important;}*/
    .conatact_info{padding:10px;box-sizing: border-box;}
    .chat_content{border:1px solid #eee;height:300px;margin-bottom:5px;overflow-y:scroll;background:rgb(240,230,221);}
    .chat_content .center{width: fit-content;margin: 0 auto;padding: 5px 20px;box-sizing: border-box;background: unset;border-radius: 8px;margin-top: 10px;font-weight:bolder;}
    .conatact_info .right{float:right;margin-top:5px;}
    .conatact_info .left{float:left;margin-top:5px;}
    .conatact_info .disflex{display:flex;align-items:center;max-width:80%;}
    /**右**/
    .conatact_info .right .my_txt{background:rgb(230,254,218);color:#000;font-size:15px;padding:10px 15px;padding-right:70px;box-sizing: border-box;border-radius: 10px;border-top-right-radius:5px;margin-right:15px;box-shadow:0px 0px 10px 2px #efeded;position:relative;}
    /*calc(50% - 10px)*/
    .conatact_info .right .my_txt::after{content: '';width: 0;height: 0;border-top: 10px solid transparent;border-left: 10px solid rgb(230,254,218);border-bottom: 10px solid transparent;position: absolute;right: -8px;top: 0;}
    .conatact_info .right .my_txt .time_info{position:absolute;bottom:0;right:6px;}
    .conatact_info .right .my_txt .time_info .time{font-size:12px;font-weight:bold;color:#666;margin-right: 8px;}
    /**左**/
    .conatact_info .left .my_txt{background:#efefef;color:#000;font-size:15px;padding:10px 15px;padding-left:50px;box-sizing: border-box;border-radius: 10px;border-top-left-radius:5px;margin-left:15px;box-shadow:0px 0px 10px 2px #efeded;position: relative;}
    .conatact_info .left .my_txt::after{width: 0;height: 0;border-top: 10px solid transparent;border-right: 10px solid #efefef;border-bottom: 10px solid transparent;content: '';position: absolute;left: -10px;top: 0;}
    .conatact_info .left .my_txt .time_info{position:absolute;bottom:0;left:8px;}
    .conatact_info .left .my_txt .time_info .time{font-size:12px;font-weight:bold;color:#666;margin-right: 8px;}
    .conatact_info .my_ava img{width:30px;height:30px;}
    .edui-editor-iframeholder iframe {background: #444444;}
    /**对号样式**/
    .check-style-unequal-width {width: 5px;height: 10px;border-color: #1790FF;border-style: solid;border-width: 0 3px 3px 0;transform: rotate(35deg);}
    .check-style-unequal-width-1 {width: 5px;height: 10px;border-color: #666;border-style: solid;border-width: 0 3px 3px 0;transform: rotate(35deg);}
    .check-style-unequal-width2 {width: 5px;height: 10px;border-color: #1790FF;border-style: solid;border-width: 0 3px 3px 0;transform: rotate(35deg);}
    .check-style-unequal-width2-1 {width: 5px;height: 10px;border-color: #666;border-style: solid;border-width: 0 3px 3px 0;transform: rotate(35deg);}
    /**聊天样式结束**/
    /**询报价详情样式**/
    .table_diy{border-collapse: collapse;width: 100%;}
    .table_diy td,.table_diy th{border: 1px solid #fff;width: 100px;text-align: center;}
</style>
<!--百度富文本-->
<script type="text/javascript" src="/cklein/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/cklein/plugins/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/cklein/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" style="padding:0;">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                        <!--<input type="text" name="buss_id" id="buss_id" value="$buss_id" style="display:none;"/>-->
                        <div class="layui-col-md12 back_div">
                            <a href="javascript:history.back(-1);">
                                <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                                    <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                                    返回
                                </div>
                            </a>
                            <div class="layui-card">
                                <div class="layui-card-body">
                                    <fieldset class="layui-elem-field  template_box" style="margin-bottom:0;">
                                        <legend>[{$data['buss_name']}]业务询价单</legend>
                                        <div class="layui-field-box" style="padding:0;">
                                            {if !empty($data['content'])}
                                                {if $data['is_quote']==1}
                                                    <!--复制报价表单的，由B端创建无询价报价订单-->
                                                    {volist name="data['content']" key="key" id="vo"}
                                                        <div class="main_template">
                                                            <fieldset class="layui-elem-field quote_box">
                                                                <legend class="disf disf_legend">{$vo['project_name']}</legend>
                                                                <div class="layui-field-box" style="padding:0 20px;">
                                                                    <div class="layui-form-item">
                                                                        <div class="layui-form-label label_select" style="padding: 0;overflow: visible;">
                                                                            {if $vo['project_type']==1}收费标准{elseif($vo['project_type']==2)}收费说明{/if}
                                                                        </div>
                                                                        <div class="layui-input-block">
                                                                            {if $vo['project_type']==1}
                                                                            <div class="template_type1">
                                                                                <div class="disf">
                                                                                    <table class="table_diy">
                                                                                        <thead>
                                                                                        <tr>
                                                                                            <th>币种</th>
                                                                                            <th>金额</th>
                                                                                            <th>计价单位</th>
                                                                                            {if $vo['quote_type']==1}
                                                                                            <th>报价说明</th>
                                                                                            {elseif($vo['quote_type']==2)}
                                                                                            <th>有效期限</th>
                                                                                            {elseif($vo['quote_type']==3)}
                                                                                            {if $vo['range_type']==1}
                                                                                            <th>适用国地</th>
                                                                                            {elseif($vo['range_type']==2)}
                                                                                            <th>适用货物</th>
                                                                                            {/if}
                                                                                            {/if}
                                                                                        </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td>{$vo['currency']}</td>
                                                                                            <td>{$vo['money']}</td>
                                                                                            <td>{if $vo['unit_type']==1}{$vo['unit']}{elseif($vo['unit_type']==2)}{$vo['unit_name']}{/if}</td>
                                                                                            {if $vo['quote_type']==1}
                                                                                            <td>{$vo['remark']}</td>
                                                                                            {elseif($vo['quote_type']==2)}
                                                                                            <td>{$vo['date']}</td>
                                                                                            {if $vo['range_type']==1}
                                                                                            <td>{if $vo['country_type']==1}{$vo['country']}{elseif($vo['country_type']==2)}{$vo['country_name']}{/if}</td>
                                                                                            {elseif($vo['range_type']==2)}
                                                                                            <td>{if $vo['value_type']==1}{$vo['value']}{elseif($vo['value_type']==2)}{$vo['value']}{/if}</td>
                                                                                            {/if}
                                                                                            {/if}
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                </div>
                                                                            </div>
                                                                            {/if}
                                                                            {if $vo['project_type']==2}
                                                                            <div class="template_type2">
                                                                                <table class="table_diy">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>{if $vo['feedesc_type']==1}说明文本{elseif($vo['feedesc_type']==2)}选择文本{/if}</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        {if $vo['feedesc_type']==1}
                                                                                        {volist name="vo.quote_text1" id="vo2"}
                                                                                        <td>{$vo2}</td>
                                                                                        {/volist}
                                                                                        {/if}
                                                                                        {if $vo['feedesc_type']==2}
                                                                                        {volist name="vo.quote_text2" id="vo2"}
                                                                                        <td>{$vo2}</td>
                                                                                        {/volist}
                                                                                        {/if}
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            {/if}
                                                                            <div class="right" style="display: none;">
                                                                                <div class="layui-btn layui-btn-warm layui-btn-md" onclick="chat('{$vo[\'project_name\']}','{$vo[\'project_randname\']}')"><img src="/img/chat.png" style="width: 30px;height:30px;">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                            </fieldset>
                                                        </div>
                                                    {/volist}
                                                {elseif($data['is_quote']==0)}
                                                    {volist name="data['form']" key="key" id="vo"}
                                                        {if $vo['label_value']==5}
                                                            {if !empty($data['label5_select'])}
                                                                {volist name="data['label5_select']" index="key2" id="vo2"}
                                                                    {if $vo2==$vo.label_name}
                                                                    <div class="layui-form-item">
                                                                        <div class="layui-form-label">{$vo2}</div>
                                                                        <div class="layui-input-block">
                                                                            {$data['label5_content'][$key]}
                                                                        </div>
                                                                    </div>
                                                                    {/if}
                                                                {/volist}
                                                            {/if}
                                                        {else}
                                                            <div class="layui-form-item">
                                                                <div class="layui-form-label">{$vo.label_name}</div>
                                                                <div class="layui-input-block">
                                                                    {$data['content'][$key-1]}
                                                                </div>
                                                            </div>
                                                        {/if}
                                                    {/volist}
                                                {/if}
                                            {/if}
                                            {if !empty($data['text'])}
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">询价详情</div>
                                                <div class="layui-input-block">
                                                    {$data['text']}
                                                </div>
                                            </div>
                                            {/if}
                                            {if !empty($data['files'])}
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">我的文件</label>
                                                    <div class="layui-input-block layui-select-fscon">
                                                        {volist name="data['files']" key="k" id="v"}
                                                        <a href="https://www.gogo198.net{$v['files']}" target="_blank" style="color:{$website['color_word']};text-decoration:underline;margin-right:2px;">{$v['filenames']}</a>
                                                        {/volist}
                                                    </div>
                                                </div>
                                            {/if}
                                        </div>
                                    </fieldset>
                                    <div class="right">
                                        <div class="layui-btn layui-btn-warm layui-btn-md" onclick="chat('{$data[\'ordersn\']}',0)"><img src="/img/chat.png" style="width: 30px;height:30px;">
                                        </div>
                                    </div>

                                    {if !empty($data['quote_id'])}
                                    <fieldset class="layui-elem-field  template_box">
                                        <legend>报价卖家[{$data['quote_user']['custom_id']}]的报价单</legend>
                                        <div class="layui-field-box" style="padding:0;">
                                            {if !empty($data['quote']['content'])}
                                            <div class="main_template">
                                                {volist name="data['quote']['content']" key="key" id="vo"}
                                                <fieldset class="layui-elem-field template_box">
                                                    <legend class="disf disf_legend">{$vo['project_name']}</legend>
                                                    <div class="layui-field-box" style="padding:0 20px;">
                                                        <div class="layui-form-item">
                                                            <div class="layui-form-label label_select" style="padding: 0;overflow: visible;">
                                                                {if $vo['project_type']==1}收费标准{elseif($vo['project_type']==2)}收费说明{/if}
                                                            </div>
                                                            <div class="layui-input-block">
                                                                {if $vo['project_type']==1}
                                                                <div class="template_type1">
                                                                    <div class="disf">
                                                                        <table class="table_diy">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>币种</th>
                                                                                <th>金额</th>
                                                                                <th>计价单位</th>
                                                                                {if $vo['quote_type']==1}
                                                                                <th>报价说明</th>
                                                                                {elseif($vo['quote_type']==2)}
                                                                                <th>有效期限</th>
                                                                                {elseif($vo['quote_type']==3)}
                                                                                {if $vo['range_type']==1}
                                                                                <th>适用国地</th>
                                                                                {elseif($vo['range_type']==2)}
                                                                                <th>适用货物</th>
                                                                                {/if}
                                                                                {/if}
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr>
                                                                                <td>{$vo['currency']}</td>
                                                                                <td>{$vo['money']}</td>
                                                                                <td>{if $vo['unit_type']==1}{$vo['unit']}{elseif($vo['unit_type']==2)}{$vo['unit_name']}{/if}</td>
                                                                                {if $vo['quote_type']==1}
                                                                                <td>{$vo['remark']}</td>
                                                                                {elseif($vo['quote_type']==2)}
                                                                                <td>{$vo['date']}</td>
                                                                                {elseif($vo['quote_type']==3)}
                                                                                {if $vo['range_type']==1}
                                                                                <td>{if $vo['country_type']==1}{$vo['country']}{elseif($vo['country_type']==2)}{$vo['country_name']}{/if}</td>
                                                                                {elseif($vo['range_type']==2)}
                                                                                <td>{if $vo['value_type']==1}{$vo['value']}{elseif($vo['value_type']==2)}{$vo['value']}{/if}</td>
                                                                                {/if}
                                                                                {/if}
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                </div>
                                                                {/if}
                                                                {if $vo['project_type']==2}
                                                                <div class="template_type2">
                                                                    <table class="table_diy">
                                                                        <tbody>
                                                                        {if $vo['feedesc_type']==1}
                                                                        {volist name="vo.quote_text1" id="vo2"}
                                                                        <tr>
                                                                            <td>{$vo2}</td>
                                                                        </tr>
                                                                        {/volist}
                                                                        {/if}
                                                                        {if $vo['feedesc_type']==2}
                                                                        {volist name="vo.quote_text2" id="vo2"}
                                                                        <tr>
                                                                            <td>{$vo2}</td>
                                                                        </tr>
                                                                        {/volist}
                                                                        {/if}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                {/if}
                                                                <div class="right">
                                                                    <div class="layui-btn layui-btn-warm layui-btn-md" onclick="chat('{$vo[\'project_name\']}','{$vo[\'project_randname\']}')"><img src="/img/chat.png" style="width: 30px;height:30px;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </fieldset>
                                                {/volist}
                                            </div>
                                            {/if}
                                            {if !empty($data['quote']['text'])}
                                            <div class="layui-form-item">
                                                <div class="layui-form-label">报价信息</div>
                                                <div class="layui-input-block">
                                                    <p>{$data['quote']['text']}</p>
                                                </div>
                                            </div>
                                            {/if}
                                        </div>
                                    </fieldset>
                                    {/if}
                                </div>
                                <!--<div class="layui-form-item" style="margin-top: 25px;text-align: center;">-->
                                <!--    <div>-->
                                <!--        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2">提交询价</button>-->
                                <!--    </div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="chatBox_con" style="display: none;">
    <div class="layui-fluid">
        <div class="layui-card">
<!--            <div class="layui-card-header" style="background: #0a8ddf;color:#fff;">咨询[<span class="consult_name"></span>]</div>-->
            <div class="layui-card-body" style="padding: 15px;background:#fff;">
                <form class="layui-form" action="" lay-filter="component-form-group">
                    <input type="hidden" name="quote_id" id="quote_id" value="">
                    <input type="hidden" name="project_randname" id="project_randname" value="">
                    <div class="layui-col-xs12 chat_content">

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-tab layui-tab-card">
                            <ul class="layui-tab-title">
                                <li class="layui-this" data-i='1'>普通文本</li>
                                <li data-i='2'>富文本</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <textarea class="layui-textarea" name="content" placeholder="开始聊天~~"></textarea>
                                </div>
                                <div class="layui-tab-item">
                                    <script id="content_chat" type="text/plain" style="width:100%;height:100px;color:#000 !important;">
                                    </script>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-xs12" style="text-align: center;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1" style="margin-top:10px;">立即提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(['layer','form','laydate','upload','element'],function(){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , element = layui.element
            , upload = layui.upload;

        form.render(null, 'component-form-element');
        
        $('.chat_content').scrollTop($('.chat_content').height(), -1);
        var ue = UE.getEditor('content_chat', {
            initialFrameHeight: 400,
            serverUrl: 'cklein/plugins/ueditor/php/controller.php'
        });
        /* 监听提交聊天记录 */
        form.on('submit(component-form-demo1)', function (data) {
            data.field['content_type']=1;
            data.field['pa']=2;

            if("{$data['mid']}">0){
                data.field['who_send']=1;
            }else{
                data.field['is_inquiry']=1;
            }
            if($('.chatBox_con').find('.layui-this').attr('data-i')==2){
                data.field['content_type']=2;
                data.field['content'] = data.field['editorValue'];
            }

            if(data.field['content']==''){
                layer.msg('请输入内容！');
                return false;
            }
         
            $.ajax({
                url: "/?s=index/quote_chat",
                method: 'post',
                data: data.field,
                dataType: 'JSON',
                success: function (res) {
                    layer.msg(res.msg, {time: 2000}, function () {
                        if (res.code == 0) {
                            // var index = parent.layer.getFrameIndex(window.name);
                            
                            // parent.layer.close(index);
                            // window.location.reload();
                            chat('',data.field['project_randname'],1);
                        }else if(res.code == -2){
                            layer.open({
                                type: 2,
                                title: '请先登录',
                                shadeClose: true,
                                shade: 0.3,
                                area: ['85%', '50%'],
                                content: "/?s=index/customer_login&open=4",
                            });
                        }
                    });
                },
                error: function (data) {
                    layer.msg('系统错误', {time: 2000});
                }
            });
            return false;
        });
        {if !empty($template['content'])}
            {volist name="template['content']" id="vo"}
                {if($vo.label_value==3)}
                    laydate.render({
                        elem: '#date{$vo.label_rand}' //指定元素
                    });
                {/if}
            {/volist}
        {/if}

        form.on('submit(component-form-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            $.ajax({
                url:"/?s=index/save_inquiry",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    layer.msg(res.msg,{time:2000}, function () {
                        if(res.code == 0)
                        {
                            window.history.go(-1);
                        }else if(res.code == -1){
                            layer.open({
                                type: 2,
                                title: '请先登录',
                                shadeClose: true,
                                shade: 0.3,
                                area: ['85%', '50%'],
                                content: "/?s=index/customer_login&open=1",
                            });
                        }
                    });
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });
    });
    
    function chat(project_name,project_randname,refresh=0){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate;
        let html = '';
        let who_send=2;//不是单向时，2代表C/B端
        let who_send2=1;//不是单向时，1代表O端
        let is_inquiry=1;//不是单向时，1是c端在询价
        let chat_id = "{$data['id']}";
        if("{$data['mid']}">0){
            who_send=1;
            who_send2=2;
            is_inquiry=2;//单向，2是c端在咨询报价
            chat_id = "{$data['quote_id']}";
        }

        $.ajax({
            url: "/?s=index/quote_chat",
            method: 'post',
            data: {"id":chat_id,'project_randname':project_randname,'pa':1,'is_inquiry':is_inquiry,'who_send':who_send2},
            dataType: 'JSON',
            success: function (res) {
                // $('.chatBox_con').find('.consult_name').text(project_name);
                $('.chatBox_con').find('#quote_id').val(res.id);
                $('.chatBox_con').find('#project_randname').val(res.project_randname);

                if(res.data.length>0){
                    for(let i=0;i<res.data.length;i++){
                        html += '             <div class="center">'+res.data[i].time+'</div>\n';
                        for(let i2=0;i2<res.data[i].info.length;i2++) {
                            if (res.data[i].info[i2]['who_send'] == who_send) {
                                html += '                <div class="conatact_info layui-col-xs12">\n' +
                                    '                            <div class="right disflex">\n' +
                                    '                                <div class="my_txt">\n';
                                // if(res.data[i].info[i2]['content_type']==1){
                                html += res.data[i].info[i2]['content'];
                                // }
                                html += '                            <div class="disf time_info">\n' +
                                    '                                        <div class="time">' + res.data[i].info[i2]['createtime'] + '</div>\n' +
                                    '                                        <div class="status disf">\n';
                                if (res.data[i].info[i2]['is_send'] == 1) {
                                    html += '                               <div class="check-style-unequal-width" style="margin-right:3px;"></div>\n';
                                } else if (res.data[i].info[i2]['is_send'] == 0) {
                                    html += '                               <div class="check-style-unequal-width-1" style="margin-right:3px;"></div>\n';
                                }
                                if (res.data[i].info[i2]['is_read'] == 0) {
                                    html += '                               <div class="check-style-unequal-width2-1" style="margin-right:3px;"></div>\n';
                                } else if (res.data[i].info[i2]['is_read'] == 1) {
                                    html += '                               <div class="check-style-unequal-width2" style="margin-right:3px;"></div>\n';
                                }
                                html += '                                 </div>\n' +
                                    '                                    </div>\n' +
                                    '                                </div>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n';
                            } else if (res.data[i].info[i2]['who_send'] == who_send2) {
                                html += '                       <div class="conatact_info layui-col-xs12">\n' +
                                    '                            <div class="left disflex">\n' +
                                    '                                <div class="my_txt">' + res.data[i].info[i2]['content'] + '\n'+
                                    '                                    <div class="disf time_info">\n' +
                                    '                                        <div class="time">' + res.data[i].info[i2]['createtime'] + '</div>\n' +
                                    '                                    </div>\n' +
                                    '                                </div>\n' +
                                    '                            </div>\n' +
                                    '                        </div>\n';
                            }
                        }
                    }
                }else{
                    $('.chat_content').html('');
                }
                if(html != ''){
                    $('.chat_content').html(html);
                }
                if(refresh==0) {
                    layer.open({
                        type: 1,
                        title: '咨询项目[' + project_name + ']',
                        area: ['100%', '100%'],
                        content: $('.chatBox_con')
                    });
                }
                form.on(null,'component-form-group');
            }
        });
        // console.log(idx,template_name);
    }
</script>
{include file="common/footer"}