{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="col-md-12">
                <a href="javascript:history.back(-1);">
                    <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                        <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                        返回
                    </div>
                </a>
                <div class="disf">
                    <div class="label f18">选择业务：</div>
                    <div class="input-block">
                        <select name="bussiness_select" id="bussiness_select" class="f18" style="padding:8px 10px;box-sizing: border-box;">
                            <option value="">请选择业务</option>
                            {volist name="list" id="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
<!--                volist name="list" id="vo"}-->
<!--                <a href="/?s=index/inquiry_list&id=$vo.id}">-->
<!--                    <div class="box_content disf">-->
<!--                        <img class="" src="./img/account/approve.png" alt="" />-->
<!--                        $vo.name}-->
<!--                    </div>-->
<!--                </a>-->
<!--                /volist}-->
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}
<script>
    $(function(){
        $('#bussiness_select').change(function(){
            if($(this).val()!=''){
                window.location.href="/?s=index/inquiry_direction&id="+$(this).val();
            }
        });
    })
</script>