{include file="common/header"}
<link rel="stylesheet" href="https://www.gogo198.net/layui/font/iconfont.woff?v=256">
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .inquiry_box{display:none;}
    /*.xm-select-demo .xm-label{overflow: hidden;}*/
    /*.xm-select-demo .xm-label-block{white-space: nowrap;}*/
</style>
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="layui-fluid" style="padding:0;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12" style="padding:0;">
                        <a href="javascript:history.back(-1);">
                            <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                                <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                                返回
                            </div>
                        </a>
                        <div class="layui-card">
<!--                            <div class="layui-card-header" style="padding-top:8px;">-->
<!--                            <button class="layui-btn layui-btn-normal" onclick="save('既有模板询价','/?s=index/save_inquiry&buss_id={$id}');">既有模板询价</button>-->
<!--                            <button class="layui-btn layui-btn-normal" onclick="template('创建模板询价','/?s=index/inquiry_template&buss_id={$id}');">创建模板询价</button>-->
<!--                            </div>-->
                            <div class="layui-card-body">
                                <table class="layui-hide" id="mainTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="inquiry_box">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">{$buss_pname}<br/>业务询价</label>
                    <div class="layui-input-block layui-select-fscon">
                        <div id="buss_name" class="xm-select-demo" style="width:250px;padding-top: 10px;"></div>
                    </div>
                </div>
                <div class="layui-form-item" style="margin-top: 25px;text-align: left;">
                    <div>
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2" style="margin-left:110px;">发起询价</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./layui/xm-select.js"></script>
<script>
    layui.use(['layer', 'form', 'table', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.render(null,'component-form-element');

        xmSelect.render({
            el: '#buss_name',
            name:'buss_name',
            autoRow: true, //自动换行
            filterable: true, //可搜索
            searchTips: '请选择既有模板询价',
            tips:'请选择既有模板询价',
            radio:true,
            model: {
                icon: 'hidden',//是否展示复选框或者单选框图标 show, hidden:变换背景色  ！！这句话是重点，不然会变成父节点也有单选框！！
            },
            tree: {
                show: true, //用树显示
                showFolderIcon: true, //是否显示节点前的三角图标
                expandedKeys: true, //默认全部展开
                showLine: true, //显示渐近线
                indent: 20, //间距
                strict: false, //重点！！设置成非严格父子模式，这样父节点被禁用，子节点依然可以点击
                clickCheck:true,
            },
            toolbar: {
                show: true, //显示工具条
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            height: '300px', //最大下拉框高度
            data: {$temp_menu},
            // initValue:[$data['navbar_id']]
        });

        table.render({
            elem: '#mainTable'
            ,url: "/?s=index/inquiry_list&pa=1&id={$id}"
            ,cellMinWidth: 200
            ,cols: [[
                {field:'buss_name', title: '业务名称'}
                ,{field:'ordersn', title: '订单编号'}
                // ,{field:'platform', title: '订单渠道'}
                ,{field:'statusname', title: '订单状态'}
                ,{field:'createtime', title: '询价时间'}
                ,{align:'center',  title: '操作',fixed:'right',width:120, templet: function(d){
                        return [
                            '<a onclick="openWindow('+"'"+ d.id +"'" +','+"1"+ ');" class="layui-btn layui-btn-primary layui-btn-xs">询价详情</a>',
                            '<a onclick="openWindow('+"'"+ d.id +"'" +','+"2"+ ');" class="layui-btn layui-btn-normal layui-btn-xs">查看报价</a>',
                            // '<a onclick="openWindow('+"'"+ d.id +"'" +','+"2"+ ');" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>',
                        ].join('');
                    } }
            ]]
            ,page: true
        });

        form.on('submit(component-form-element2)',function(data){
            data.field['buss_method']=0;
            if(data.field['buss_name']==-2){
                data.field['buss_method']=1;
            }
            if(data.field['buss_name']!=-1){
                window.location.href="/?s=index/save_inquiry&buss_id="+data.field['buss_name']+"&type="+data.field['buss_method'];
            }else{
                layer.msg('请选择询价业务');
                return false;
            }
            return false;
        });
    });

    function template(titile,url){
        window.location.href=url;
    }

    function save(title,url){
        var $ = layui.$
            , layer = layui.layer;

        //打开选择询价业务
        layer.open({
            type: 1,
            title: '既有模板询价',
            shadeClose: true,
            shade: 0.3,
            area: ['100%', '100%'],
            content: $('.inquiry_box'),
        });

        // layer.confirm('请选择询价方式', {
        //     btn: ['模板询价','文本询价']
        //     // ,btn3: function(index, layero){
        //     //     //按钮【按钮三】的回调
        //     //
        //     // }
        // }, function(){
        //     window.location.href=url+'&type=0';
        // }, function(){
        //     window.location.href=url+'&type=1';
        // });
    }
    
    function openWindow(id,typ){
        let url = '';
        if(typ==1){
            window.location.href="/?s=index/inquiry_info&id="+id;
        }else if(typ==2){
            window.location.href="/?s=index/inquiry_quote&inquiry_id="+id;
        }
        else if(typ==3){
            layer.confirm('确认删除该账号吗？',function(index){
                $.ajax({
                    url: "/?s=index/del_account",
                    data:{'id':id},
                    type:'post',
                    cache:false,
                    dataType:'json',
                    success:function(data){
                        if(data.code==1)
                        {
                            layer.msg(data.msg, {
                                icon: 1,
                                time: 2000
                            }, function(){
                                window.location.reload();
                            });
                            return true;
                        }else {
                            layer.msg(data.message, {icon:2, time:2000});
                            return false;
                        }
                    },
                    error:function() {
                        layer.msg('系统出错,请重试',{icon:2,time:1000});
                    }
                });
            });
        }
    }
</script>
{include file="common/footer"}