{include file="common/header"}
<link rel="stylesheet" href="https://www.gogo198.net/layui/font/iconfont.woff?v=256">
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .inquiry_box{display:none;}
    #temp_name{width:250px;}
    @media (max-width: 992px){
        #temp_name{width:unset;}
    }
</style>
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="layui-fluid" style="padding:0;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12" style="padding:0;">
                        <a href="javascript:history.back(-1);">
                            <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                                <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                                返回
                            </div>
                        </a>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width:100px;color:{$website['color_word']};">创建模板</label>
                            <div class="layui-input-block layui-select-fscon">
                                <div id="temp_name" class="xm-select-demo"></div>
                            </div>
                        </div>
<!--                        <div class="layui-card">-->
<!--                            <div class="layui-card-header" style="padding-top:8px;">-->
<!--                                <button class="layui-btn layui-btn-normal" onclick="save('创建新的模板','/?s=index/create_inquiry_template&buss_id={$buss_id}');">创建新的模板</button>-->
<!--                                <button class="layui-btn layui-btn-normal" onclick="save('修改已有模板','/?s=index/create_inquiry_template&buss_id={$buss_id}');">修改已有模板</button>-->
<!--                            </div>-->
<!--                            <div class="layui-card-body">-->

<!--                                <table class="layui-hide" id="mainTable"></table>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="./layui/xm-select.js"></script>
<script>
    layui.use(['layer', 'form', 'table', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.render(null,'component-form-element');

        xmSelect.render({
            el: '#temp_name',
            name:'temp_name',
            autoRow: true, //自动换行
            filterable: true, //可搜索
            searchTips: '请选择创建模板方式',
            tips:'请选择创建模板方式',
            radio:true,
            model: {
                icon: 'hidden',//是否展示复选框或者单选框图标 show, hidden:变换背景色  ！！这句话是重点，不然会变成父节点也有单选框！！
            },
            tree: {
                show: true, //用树显示
                showFolderIcon: true, //是否显示节点前的三角图标
                expandedKeys: false, //默认全部展开
                showLine: true, //显示渐近线
                indent: 20, //间距
                strict: false, //重点！！设置成非严格父子模式，这样父节点被禁用，子节点依然可以点击
                clickCheck:true,
            },
            toolbar: {
                show: false, //显示工具条
                list: ['ALL', 'REVERSE', 'CLEAR']
            },
            height: '300px', //最大下拉框高度
            data: {$temp},
            on:function(data){
                let change = data.change[0].value.split('_');
                let buss_id = change[1];
                let val = change[0];
                if(val==-1){
                    window.location.href="/?s=index/create_inquiry_template&buss_id="+buss_id;
                }else if(val!=-1){
                    window.location.href="/?s=index/create_inquiry_template&buss_id="+buss_id+"&id="+val;
                }
            }
            // initValue:[$data['navbar_id']]
        });

        // table.render({
        //     elem: '#mainTable'
        //     ,url: "/?s=index/inquiry_template&pa=1&buss_id={$buss_id}"
        //     ,cellMinWidth: 200
        //     ,cols: [[
        //         {field:'name', title: '模板名称'}
        //         ,{align:'center',  title: '操作',fixed:'right',width:120, templet: function(d){
        //                 return [
        //                     '<a onclick="openWindow('+"'"+ d.id +"'" +','+"1"+ ');" class="layui-btn layui-btn-primary layui-btn-xs">查看模板</a>',
        //                     '<a onclick="openWindow('+"'"+ d.id +"'" +','+"3"+ ');" class="layui-btn layui-btn-danger layui-btn-xs">删除</a>',
        //                 ].join('');
        //             } }
        //     ]]
        //     ,page: true
        // });
    });

    function save(title,url){
        var $ = layui.$
            , layer = layui.layer;

        //打开选择询价业务
        layer.open({
            type: 2,
            title: '创建询价模板',
            shadeClose: true,
            shade: 0.3,
            area: ['100%', '100%'],
            content: url,
        });

        // layer.confirm('请选择询价方式', {
        //     btn: ['模板询价','文本询价']
        //     // ,btn3: function(index, layero){
        //     //     //按钮【按钮三】的回调
        //     //
        //     // }
        // }, function(){
        //     window.location.href=url+'&type=0';
        // }, function(){
        //     window.location.href=url+'&type=1';
        // });
    }

    function openWindow(id,typ){
        let url = '';
        if(typ==1){
            window.location.href="/?s=index/create_inquiry_template&buss_id={$buss_id}&id="+id;
        }else if(typ==2){
            window.location.href="/?s=index/inquiry_quote&inquiry_id="+id;
        }
        else if(typ==3){
            layer.confirm('确认删除该模板吗？',function(index){
                $.ajax({
                    url: "/?s=index/del_template",
                    data:{'id':id},
                    type:'post',
                    cache:false,
                    dataType:'json',
                    success:function(data){
                        if(data.code==1)
                        {
                            layer.msg(data.msg, {
                                icon: 1,
                                time: 2000
                            }, function(){
                                window.location.reload();
                            });
                            return true;
                        }else {
                            layer.msg(data.message, {icon:2, time:2000});
                            return false;
                        }
                    },
                    error:function() {
                        layer.msg('系统出错,请重试',{icon:2,time:1000});
                    }
                });
            });
        }
    }
</script>
{include file="common/footer"}