<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>多语文档列表</title>
    <style>
        html,body{background:#fff;}
        .layui-fluid{padding:0;}
        .layui-card,.layui-card-body,.layui-tab{height:100%;}
        .layui-card-body{box-sizing: border-box;padding:0px;}
        .layui-tab-card>.layui-tab-title{background:#fff;}
        .layui-tab-card>.layui-tab-title .layui-this{background:{$website['color']};color:{$website['color_word']};}
        .layui-btn-danger{background: #e60000 !important;}
    </style>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                    <button class="layui-btn layui-btn-normal" onclick="openWindow('新增文档','/?s=index/save_knowledge',1);">新增文档</button>
<!--                    <button class="layui-btn layui-btn-normal" onclick="openWindow('提交知识','/?s=merchant/active_knowledge',3);" style="background:#F7931E !important;">提交知识至平台</button>-->
<!--                    <button class="layui-btn layui-btn-normal" onclick="openWindow('热门商品','/?s=merchant/hot_product',1);" style="background:#18a689 !important;">热门商品</button>-->
                    <button class="layui-btn layui-btn-normal" onclick="location.reload()" style="background:#c9c9c9 !important;">刷新</button>
                </div>
                <div class="main-table-reload-btn" style="margin-bottom: 10px;float: right;display: none;">
                    搜索名称：
                    <div class="layui-inline">
                        <input class="layui-input" placeholder="要搜索的名称"  id="keywords" autocomplete="off">
                    </div>
                    <button class="layui-btn layui-btn-normal" data-type="reload">搜索</button>
                </div>
                <table class="layui-hide" id="mainTable"></table>
            </div>
        </div>
    </div>
    <script src="layui/layui.js"></script>
    <script>
        layui.config({
            base: '/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'upload'], function(){
            var admin = layui.admin
                ,table = layui.table
                ,$ = layui.jquery
                ,upload = layui.upload;

            table.render({
                elem: '#mainTable'
                ,url: "/?s=index/knowledge_list&pa=1"
                ,cellMinWidth: 200
                ,cols: [[
                    {field:'id', width:80, title: '编号'}
                    ,{field:'type_name', width:200, title: '知识类型'}
                    ,{field:'status_name', width:250, title: '状态'}
                    ,{field:'createtime', title: '创建时间'}
                    // ,{ align:'center', fixed: 'right', title: '操作', templet: function(d){
                    //         if(d.status==0){
                    //             return [
                    //                 '<a onclick="openWindow('+ "'["+d.type_name+"]编辑'" +',' + "'/?s=index/save_knowledge&id="+ d.id +"'" + ');" class="layui-btn layui-btn-xs layui-btn-normal">编辑</a>',
                    //                 '<a onclick="del('+ "'"+d.id+"'" +');" class="layui-btn layui-btn-xs layui-btn-danger" style="display: none;">删除</a>'
                    //             ].join('');
                    //         }
                    //         else{
                    //             return [].join('');
                    //         }
                    //     }}
                ]]
                ,page: true
            });

            var $ = layui.$, active = {
                reload: function(){
                    //执行重载
                    table.reload('mainTable', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            keywords: $("#keywords").val()
                        }
                    });
                }
            };

            $('.main-table-reload-btn .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });

        function IsPhone() {
            var info = navigator.userAgent;
            var isPhone = /mobile/i.test(info);
            return isPhone;
        }

        function openWindow(title,url,type=1)
        {
            var layer = layui.layer, $ = layui.$;
            let area = ['100%','100%'];
            if(type==1){
                if(IsPhone()){
                    area = ['100%','50%'];
                }

                var index = layer.open({
                    type: 2,
                    title: title,
                    content: url,
                    area: area
                });
            }
            else if(type==3){
                layer.load();

                $.ajax({
                    url:"/?s=merchant/active_knowledge",
                    method:'post',
                    data:{pa:1},
                    dataType:'JSON',
                    success:function(res){
                        layer.closeAll('loading');
                        layer.msg(res.msg,{time:2000}, function () {
                            if(res.code == 0)
                            {
                                window.location.reload();
                            }
                        });
                    },
                    error:function (data) {
                        layer.msg('系统错误',{time:2000});
                    }
                });
            }
        }

        function del(id){
            var layer = layui.layer,$ = layui.$;
            layer.confirm('确定删除该知识条吗？',{
                btn:['确定','取消']
            }, function(){
                $.ajax({
                    url:"/?s=merchant/del_knowledge",
                    method:'post',
                    data:{id:id,'type':1},
                    dataType:'JSON',
                    success:function(res){
                        layer.msg(res.msg,{time:2000}, function () {
                            if(res.code == 0)
                            {
                                window.location.reload();
                            }
                        });
                    },
                    error:function (data) {
                        layer.msg('系统错误',{time:2000});
                    }
                });
                layer.closeAll();
            }, function(){
                layer.closeAll();
            });
        }
    </script>
</body>
</html>