{include file="common/header"}
<link href="css/gallery-1.css" rel="stylesheet">
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .disf{display:flex;align-items:center;}
    
    /**轮播图修改样式**/
    .swiper-button-prev, .swiper-button-next{color: #fff;background: #5e5f5e;}
    .swiper-button-prev:after, .swiper-button-next:after {font-size: 16px;}
    .swiper-pagination-bullet {width: 6px;height: 6px;background-color: #FFFFFF;opacity: 1;}
    .swiper-pagination-bullet-active {width: 14px;height: 6px;border-radius: 3px;opacity: 1;background-color: #FFFFFF;}
    
    .navbar_menu{color:{$website['color_word']};font-size:16px;}
    .navbar_menu a{color:{$website['color_word']};}
    .navbar_menu a:last-child{color:#D2A778;font-weight:700;}
    
    .itDiv{width:100%;margin-bottom:30px;align-items:flex-start;border: 1px solid #000;border-radius: 10px;background:#fff;box-shadow: 0px 0px 10px 0px #fff;padding:20px;box-sizing: border-box;}
    .itDiv *{color:#000;}
    .itDiv .itHead{margin-bottom:10px;}
    .itDiv .itsedDiv{background:{$website['color']};box-shadow: 0px 0px 10px 0px #000;}
    .itRightDiv .itLeft,.itRightDiv .itRight{width:50%;/*padding:20px 40px 20px 20px;*/box-sizing:border-box;overflow: hidden;}
    .itLeftDiv .itLeft,.itLeftDiv .itRight{width:50%;/*padding:20px;*/box-sizing:border-box;overflow: hidden;}
    .itRightDiv .itLeft{margin-left:20px;box-sizing:border-box}
    .itRightDiv .itDesc{margin-right: 20px;}
    .itLeftDiv .itLeft{margin-right:20px;box-sizing:border-box}
    .itLeftDiv .itHead{text-align: -webkit-right;}
    .itLeftDiv .itDesc{margin-left: 20px;}

    .fweight{font-weight: 800;}
    .itDesc{height: 220px;margin-top: 0;line-height: 1.5;text-align: justify;overflow-y: scroll;padding-right: 5px;color:{$website['color_word']};}


    .itHeadBox{min-width:300px;max-height:90%;height: 70px;border-radius:10px;width: 95%;text-align: center;margin: 0 auto 30px auto;padding: 10px 30px;position:relative;}
    .itHeadBox .innerBox{position:absolute;left: 3%;height: 50px;display: flex;align-items: center;width:95%;overflow: hidden;}
    .itHeadBox .arrow{color:{$website['color_word']};cursor:pointer;position:absolute;}
    .itHeadBox .arrow_left{top:50%;left:-10px;transform: translate(-50%, -50%);}
    .itHeadBox .arrow_right{top:50%;right:-20px;transform: translate(-50%, -50%);}
    .itHeadBox .switchto_title{background:{$website['color']};white-space: nowrap;margin-right:38px;color:{$website['color_word']};padding:4px 12px;box-sizing: border-box;border: 2px solid #bebebe;border-radius: 12px;}
    .itHeadBox .switchto_title:hover{background:#e60000;}
    .tiebian{position:fixed;top:0;background:{$website['color']};border:0;border-bottom:1px solid #999;box-shadow: 0px 0px 10px 0px #fff;z-index: 99;border-radius: 0;}
    .itTitle{width: fit-content;white-space: nowrap;overflow: hidden;color:{$website['color_word']};margin: 0 auto;}
    .itSubtitle{width:100%;white-space: nowrap;overflow: hidden;}

    @media (max-width: 992px){
        .itDiv .itsedDiv{padding:20px;}
        .itTitle{white-space: unset;}
        .itDesc{height:180px;}
    }
</style>
<section id="content" style="background:{$website['color_inner']};">
    <div class="container detail_container">
     
        <p class="navbar_menu"><i class="fa fa-sign-in" style="margin-right:5px;display:none;"></i><a href="/">HOME</a>&nbsp;<span style="color:#d1a575;">\</span>&nbsp;{$navbar_menu}</p>
        
        <div class="row" style="width:100%;margin:20px auto 0 auto;">
            <div class="col-md-12" style="border:0px solid {$website['color_word']};padding:10px;box-sizing:border-box;">
                <div class="about-logo" style="margin-bottom:10px;">
                    <div class="itHeadBox disf">
                        <div class="arrow_left arrow f22" onclick="arrows('left',this)">&lt;</div>
                        <div class="innerBox">
                            {volist name="list" key="key" id="vo"}
                            <a href="#t<?php echo substr($vo['title'],0,18);?>" class="switchto_title f18 fweight">
                                <?php echo substr($vo['title'],0,18);?>
                            </a>
                            {/volist}
                        </div>
                        <div class="arrow_right arrow f22" onclick="arrows('right',this)">&gt;</div>
                    </div>
                    {volist name="list" key="key" id="vo"}
                        {if $key%2==0}
                            <div class="itDiv itLeftDiv" id="t<?php echo substr($vo['title'],0,18);?>">
                                <div class="disf itsedDiv">
                                    <div class="itLeft">
                                        <div class="itHead">
                                            <div class="f22 fweight itTitle">
                                                <?php echo substr($vo['subtitle'],0,45);?>
                                            </div>
                                        </div>
                                        <div class="itDesc f18">
                                            {$vo['desc']}
                                        </div>
                                        <div class="itInfo">
                                            {if !empty($vo['type'])}
                                            <a class="btn" href="{if $vo['type']==1}{$vo['link']}{elseif($vo['type']==2)}?s=index/detail&id={$vo['menu_id']}{/if}">查看详情</a>
                                            {/if}
                                        </div>
                                    </div>
                                    <div class="itRight">
                                        <div class="swiper-container"  id="carousel-container{$key}">
                                            <!--轮播内容-->
                                            <div class="swiper-wrapper">
                                                {volist name="vo['pic_list']" id="vo2"}
                                                <div class="swiper-slide">
                                                    <a href="javascript:;">
                                                        <div style="background: url(https://shop.gogo198.cn/{$vo2});background-repeat: no-repeat;background-size:cover;background-position:top center;width:100%;height:300px;" class="carousel-image"></div>
                                                    </a>
                                                </div>
                                                {/volist}
                                            </div>
                                            <!--左右切换-->
                                            <!--<div class="swiper-button-next sn1"></div>-->
                                            <!--<div class="swiper-button-prev sp1"></div>-->
                                            <!--分页器-->
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {else}
                            <div class="itDiv itRightDiv" id="t<?php echo substr($vo['title'],0,18);?>">
                                <div class="disf itsedDiv">
                                    <div class="itRight">
                                        <div class="swiper-container"  id="carousel-container{$key}">
                                            <!--轮播内容-->
                                            <div class="swiper-wrapper">
                                                {volist name="vo['pic_list']" id="vo2"}
                                                    <div class="swiper-slide">
                                                        <a href="javascript:;">
                                                            <div style="background: url(https://shop.gogo198.cn/{$vo2});background-repeat: no-repeat;background-size:cover;background-position:top center;width:100%;height:300px;" class="carousel-image"></div>
                                                        </a>
                                                    </div>
                                                {/volist}
                                            </div>
                                            <!--左右切换-->
                                            <!--<div class="swiper-button-next sn1"></div>-->
                                            <!--<div class="swiper-button-prev sp1"></div>-->
                                            <!--分页器-->
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                    <div class="itLeft">
                                        <div class="itHead">
                                            <div class="f22 fweight itTitle">
                                                <?php echo substr($vo['subtitle'],0,45);?>
                                            </div>
    <!--                                        <div class="f18 itSubtitle">-->

    <!--                                        </div>-->
                                        </div>
                                        <div class="itDesc f18">
                                            {$vo['desc']}
                                        </div>
                                        <div class="itInfo">
                                            {if !empty($vo['type'])}
                                                <a class="btn" href="{if $vo['type']==1}{$vo['link']}{elseif($vo['type']==2)}?s=index/detail&id={$vo['menu_id']}{/if}">查看详情</a>
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {/if}
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="./js/ajaxupload/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf-8">
    //头部滚动
    var move = 0;
    function arrows(names,t){
        if(move<$(".innerBox").outerWidth()){
            if(names=='left'){
                move -= $(".innerBox .switchto_title").eq(0).outerWidth()+38;
            }else if(names=='right'){
                move += $(".innerBox .switchto_title").eq(0).outerWidth()+38;
            }
            console.log(names,move,$(".innerBox").outerWidth());

            $('.itHeadBox').find('.innerBox').stop().animate({"scrollLeft":move},300);
        }else if(move>$(".innerBox").outerWidth()){
            if(names=='left'){
                move -= $(".innerBox .switchto_title").eq(0).outerWidth()+38;
            }else if(names=='right'){
                move += $(".innerBox .switchto_title").eq(0).outerWidth()+38;
            }
            console.log(names,move,$(".innerBox").outerWidth());

            $('.itHeadBox').find('.innerBox').stop().animate({"scrollLeft":move},300);
        }
    }


    //轮播图开始
    {volist name="list" key="key" id="vo"}
    var mySwiper = new Swiper ('#carousel-container{$key}', {
        // direction: 'vertical', // 垂直切换选项（不设置默认是水平切换）
        loop: true, // 循环模式选项
        autoplay: false,
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        
        // 如果需要前进后退按钮
        // navigation: {
        //   nextEl: '.sn1',
        //   prevEl: '.sp1',
        // },
    });
    {/volist}

    $(window).scroll(function() {
        var scrollTop = $(this).scrollTop();
        if(scrollTop>=225){
            $('.itHeadBox').addClass('tiebian');
            $('.tiebian').css({'width':$('.about-logo').css('width')});
        }else{
            $('.itHeadBox').removeClass('tiebian');
        }
    });
</script>
{include file="common/footer"}