{include file="common/header"}
<link href="css/gallery-1.css" rel="stylesheet">
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    /**轮播图修改样式**/
    .swiper-button-prev, .swiper-button-next{color: #fff;background: #5e5f5e;}
    .swiper-button-prev:after, .swiper-button-next:after {font-size: 16px;}
    .swiper-pagination-bullet {width: 6px;height: 6px;background-color: #FFFFFF;opacity: 1;}
    .swiper-pagination-bullet-active {width: 14px;height: 6px;border-radius: 3px;opacity: 1;background-color: #FFFFFF;}

    #gallery-1 .active a{color:#D2A778;}
    .isotope-hidden{display:none;}
    #content{padding-top:100px;}
    #content .color_word{font-size:16px;padding: 15px 10px;box-sizing:border-box;}
    .filter li:before{color:{$website['color_word']};}
    .filter li a{color:{$website['color_word']};}
    .filter li a:hover, .filter li a:focus, .filter li a.active{color:#d1a575;}
    h3, h4, h5, h6{color:{$website['color_word']};}
    .about-logo img{width:100%;}
    @media (min-width: 993px) {
        .about-logo img{width:500px;}
    }

    .navbar_menu{color:{$website['color_word']};font-size:16px;margin-bottom:10px;}
    .navbar_menu a{color:{$website['color_word']};}
    .navbar_menu a:last-child{color:#D2A778;font-weight:700;}
    .filter li a{font-size:16px;}
    .gallery-thumb{box-shadow:1px 1px 10px #000;border-radius:6px;}
    .gallery-item .gallery-thumb img{width:100%;height:200px;}
    .gallery-item .gallery-details h5{font-size:16px;}
    .gallery-item .gallery-details{background:unset;}

    @media (min-width: 1000px){
        /*.need_service_box{margin-top: 180px;margin-left: 180px;}*/
        .main_img,.color_word{width:400px;height:280px;text-align:center;margin:20px auto;}
    }
    @media (max-width: 992px){
        .main_img,.color_word{width:100%;height:250px;text-align:center;margin:20px auto;}
        .color_word{padding:30px;box-sizing:border-box;}
    }
    .carousel-image{height:450px;width: 100%;}
    .detail_container .row .about-logo *{background:{$website['color_inner']} !important;font-size:16px;}
    .detail_container .row .about-logo img{box-shadow:1px 1px 15px #000;}

    footer{display:block !important;}

    .page_box{padding:10px 0;box-sizing: border-box;justify-content: space-between;color:{$website['color_word']};padding-bottom:0;}
    .page_box a{color:{$website['color_word']} !important;}

    @media (max-width: 992px){
        .carousel-image{height:150px;}

        /**小程序打开隐藏事项**/
        {if session('miniprogram')==1}
            #banner{margin-top: 0px;}
        {/if}

    }
</style>

<section id="content" style="background:{$website['color_inner']};">
    <div class="container detail_container">
        {if !empty($navbar_menu)}
        <p class="navbar_menu"><i class="fa fa-sign-in" style="margin-right:5px;display:none;"></i><a href="/">HOME</a>&nbsp;<span style="color:#d1a575;">\</span>&nbsp;{$navbar_menu}</p>
        {/if}

        {if !empty($news['desc'])}
        <div class="row" style="width:100%;margin:0 auto;">
            <div class="col-md-12" style="border:1px solid {$website['color_word']};padding:10px;box-sizing:border-box;">
                <div class="about-logo" style="margin-bottom:10px;">
                    {$news['desc']}
                </div>
                {include file="common/like"}
                <div class="like">
                    <div class="disf">
                        <div class="like_box disf" onclick="like_num()">
                            <img loading="lazy" alt="GOGO198 網站圖片" src="./img/like.png" alt="">
                            <div class="like_num upd_num">&nbsp;{$news['like_num']}</div>
                        </div>
                        <div class="like_box disf" onclick="comment()">
                            <img loading="lazy" alt="GOGO198 網站圖片" src="./img/comment.png" alt="">
                            <div class="like_num upd_comment_num">&nbsp;{$news['comment_num']}</div>
                        </div>
                        <div class="like_box disf" onclick="show_share()">
                            <i class="fa fa-share-square-o" style="color:{$website['color_word']};font-size:15px;margin-right:3px;"></i>
                            <div class="like_num upd_share_num">&nbsp;{$news['share_num']}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_box disf" style="justify-content: space-between;">
            <div class="prev">{if empty($prev_news)}
                上一篇：无
                {else}
                <a href="/?s=index/msg_detail&id={$prev_news['id']}"><&nbsp;上一篇</a>
                {/if}
            </div>
            <div class="next">{if empty($next_news)}
                下一篇：无
                {else}
                <a href="/?s=index/msg_detail&id={$next_news['id']}">下一篇&nbsp;></a>
                {/if}
            </div>
        </div>
        <hr  style="border-top:1px solid #fff;"/>
        <div class="row">
            <div class="col-md-12">
                {include file="common/advice"}
            </div>
        </div>
        <div class="row comment_box">
            {if !empty($all_comment)}
            {volist name="all_comment" id="vo"}
            <div class="comment_div">
                <div class="disf" style="justify-content: space-between;">
                    <div class="name f15">游客:{$vo['ip']}</div>
                    <div class="time f15"><?php echo date('Y-m-d H:i',$vo['createtime']);?></div>
                </div>
                <div class="comment_content f15">{$vo.text}</div>
            </div>
            {/volist}
            {else}
            <div class="f15 no_comment" style="text-align: center;color:{$website['color_word']};">——暂无评论——</div>
            {/if}
        </div>
        {/if}
    </div>
</section>
<div class="comment" style="display: none;padding:20px;box-sizing: border-box;text-align: center;">
    <textarea name="comment_content" id="comment_content" class="layui-textarea" placeholder="请留下您的评论..."></textarea>
    <div class="layui-btn layui-btn-md submit_comment" style="margin-top:15px;">立即评论</div>
</div>
{include file="common/footer"}
<script type="text/javascript" charset="utf-8">
    //轮播图开始
    var mySwiper = new Swiper ('.swiper-container', {
        // direction: 'vertical', // 垂直切换选项（不设置默认是水平切换）
        loop: true, // 循环模式选项
        autoplay: true,
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        // 如果需要前进后退按钮
        // navigation: {
        //   nextEl: '.sn1',
        //   prevEl: '.sp1',
        // },
    });

    //板块开始
    if(window.screen.width < 992){
        var mySwiper = new Swiper ('.swiper-container2', {
            // direction: 'vertical', // 垂直切换选项（不设置默认是水平切换）
            loop: true, // 循环模式选项
            autoplay: true,
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination2',
            },

            // 如果需要前进后退按钮
            // navigation: {
            //   nextEl: '.sn1',
            //   prevEl: '.sp1',
            // },
        });
    }
    else{
        var mySwiper = new Swiper ('.swiper-container2', {
            // direction: 'vertical', // 垂直切换选项（不设置默认是水平切换）
            loop: true, // 循环模式选项
            autoplay: true,
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination2',
            },
            slidesPerView: 3,
            paginationClickable: true,
            spaceBetween: 60,

            // 如果需要前进后退按钮
            // navigation: {
            //   nextEl: '.sn1',
            //   prevEl: '.sp1',
            // },
        });
    }
</script>

