{include file="common/header"}
<link href="css/gallery-1.css" rel="stylesheet">
<style type="text/css" media="all">
    .title{font-size:30px;font-weight:600;color:{$website['color_word']};text-align:center;margin-bottom:18px;}
    .preface{width:100%;}
    .preface .preface_title{width:80px;text-align:right;font-size:15px;color:{$website['color_word']};font-weight:600;}
    .preface .preface_title2{text-align:left;font-size:15px;color:{$website['color_word']};}
    .preface .more{padding: 10px 40px;color: {$website['color_word']};font-size: 15px;border: 1px solid #D2A778;background: {$website['color']};border-radius: 0px;margin-top: 20px;box-shadow:1px 1px 10px #666;}
    #content{padding-top:20px;}
    #content .container .content{border: 1px solid {$website['color_word']};padding:30px 20px;box-sizing:border-box;position:relative;margin-top:10px;}
    #content .container .content .in_mask{background-color: #000;opacity: 0.4;position: absolute;left: 0;top: 0;height: 100%;width: 100%;z-index: 1;}
    #content .container .content .contents{z-index:2;position:relative;}
    #content .container{padding-bottom:0px;}
    #content .color_word{font-size:15px;padding: 15px 10px;box-sizing:border-box;}
    @media (min-width: 1000px){
        #content .container{padding-top:30px;}
        #content{padding-top:0;margin:0;}
        /*.need_service_box{margin-top: 180px;margin-left: 180px;}*/
        .main_img,.color_word{width:400px;height:280px;text-align:center;margin:20px auto;}
    }
    @media (max-width: 992px){
        .main_img,.color_word{width:100%;height:250px;text-align:center;margin:20px auto;}
        .color_word{padding:30px;box-sizing:border-box;}
    }
    /*.need_service,.need_share{background:#041837;padding:10px 25px;box-sizing:border-box;font-size:15px;box-shadow:1px 1px 10px #333;text-align:center;margin-top:20px;}*/
    .need_service,.need_share,.need_advice{padding:7px 10px;box-sizing:border-box;font-size:15px;font-weight:800;box-shadow:1px 1px 10px #333;text-align:center;/* margin-top:15px; */border:1px solid #D2A778;color:#ffffff;background:#0B2074;white-space:nowrap;}
    
    .detail_container .row .about-logo *{background:{$website['color_inner']} !important;font-size:16px;}
    .detail_container .row .about-logo img{box-shadow:1px 1px 15px #000;}
</style>
<!--<img class="detail_topimg" src="https://shop.gogo198.cn/{$website['inpic']}" alt="" style="max-width:100%;width:100%;">-->
<section id="content" class="non_topimg"  style="background:{$website['color_inner']};">
    <div class="container">
        <div class="title">{$news['name']}</div>
        <div class="content" >
            {if $news['avatar_location']==1}
                {if $news['format']==1}
                    <img class="main_img" src="https://shop.gogo198.cn/{$news['avatar']}" alt="" />
                {elseif($news['format']==2)}
                    <div class="color_word" style="background:{$news['color']};color:{$news['word_color']};">{$news['color_word']}</div>
                {/if}
            {/if}
            <!--<div class="in_mask"></div>-->
            <div class="contents">{$news['content']}</div>
            {if $news['avatar_location']==2}
                {if $news['format']==1}
                    <img class="main_img" src="https://shop.gogo198.cn/{$news['avatar']}" alt="" />
                {elseif($news['format']==2)}
                    <div class="color_word" style="background:{$news['color']};color:{$news['word_color']};">{$news['color_word']}</div>
                {/if}
            {/if}
        </div>
        <div class="preface" style="margin-top:18px;">
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}发文机关{elseif(session('lang')=='cht')}發文機關{elseif(session('lang')=='en')}Document-Issuing Agency{/if}：</div>
                <div class="preface_title2">{$news['issuing_authority']}</div>
            </div>
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}文号{elseif(session('lang')=='cht')}文號{elseif(session('lang')=='en')}Document Number{/if}：</div>
                <div class="preface_title2">{$news['document_number']}</div>
            </div>
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}效力{elseif(session('lang')=='cht')}效力{elseif(session('lang')=='en')}effect{/if}：</div>
                <div class="preface_title2">{$news['effect']}</div>
            </div>
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}效力说明{elseif(session('lang')=='cht')}效力說明{elseif(session('lang')=='en')}Effectiveness Statement{/if}：</div>
                <div class="preface_title2">{$news['effect_statement']}</div>
            </div>
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}新闻描述{elseif(session('lang')=='cht')}新聞描述{elseif(session('lang')=='en')}News Description{/if}：</div>
                <div class="preface_title2">{$news['desc']}</div>
            </div>
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}发布日期{elseif(session('lang')=='cht')}發布日期{elseif(session('lang')=='en')}Release Date{/if}：</div>
                <div class="preface_title2">{$news['release_date']}</div>
            </div>
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}生效日期{elseif(session('lang')=='cht')}生效日期{elseif(session('lang')=='en')}Effective Date{/if}：</div>
                <div class="preface_title2">{$news['effective_date']}</div>
            </div>
            <div class="disf">
                <div class="preface_title">{if session('lang')=='zh'}原文链接{elseif(session('lang')=='cht')}原文鏈接{elseif(session('lang')=='en')}Original Link{/if}：</div>
                <div class="preface_title2"><a href="{$news['link']}" target="_blank" style="color:{$website['color_word']};">{$news['link']}</a></div>
            </div>
            <div class="disf" style="justify-content:center;">
                <a href="?s=index/all_news">
                    <div class="more">
                        {if session('lang')=='zh'}更多新闻{elseif(session('lang')=='cht')}更多新聞{elseif(session('lang')=='en')}More news{/if}&nbsp;>>
                    </div>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor.</p>-->
                
                {include file="common/advice"}    
            </div>
            
        </div>
    </div>
</section>
{include file="common/footer"}