{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:{$website['color_inner']};}
    .navbar_menu a:last-child{color:#D2A778;font-weight:700;}
    .navbar_menu{margin-bottom:15px;}
    .navbar_menu a{color:{$website['color_word']};font-size:16px;}
    .layui-elem-field legend,.layui-form-item .layui-form-label{color:{$website['color_word']};}
    .layui-card{background:{$website['color_inner']};}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color_inner']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}

    .layui-form-label{width:100px;}
    .layui-input-block{line-height:38px;}
    legend{width:unset;border-bottom:0;}
    .ordertype2,.type1_h,.type1,.type2,.create_user,.type2_h,.type3,.sms{display:none;}
    /**文件上传**/
    .image_box{}
    .image_box .image_item{}
    .image_box .image_item .remove_image{color:{$website['color_word']};font-size:15px;}
    /**数量增减框样式**/
    .quantity {display: flex;align-items: center;}
    .quantity input[type="number"] {text-align: center;}
    .quantity button {background-color: transparent;cursor: pointer;font-size: 20px;padding: 0 5px;border: 1px solid #e6e6e6;height: 38px;width: 50px;text-align: center;color:{$website['color_word']};}
    .input30{width:30%;}
    /**数量增减框样式**/
    .quantity {display: flex;align-items: center;}
    .quantity input[type="number"] {text-align: center;}
    .quantity button {background-color: transparent;cursor: pointer;font-size: 20px;padding: 0 5px;border: 1px solid #e6e6e6;height: 38px;width: 50px;text-align: center;color:{$website['color_word']};}
    @media (max-width: 992px) {
        .input30{width: 100%}
        .layui-laydate-range{left: 0 !important;width: 100%;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .back_div{margin-top:15px;}
    }
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" style="padding:0;">
            <div class="layui-fluid" style="padding:0;">
                <div class="layui-row layui-col-space15">
                    <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                        <input type="text" name="buss_id" id="buss_id" value="{$buss_id}" style="display:none;"/>
                        <a href="javascript:history.back(-1);">
                            <div class="back_div" style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">
                                <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>
                                返回
                            </div>
                        </a>
                        {if $buss_id==1}
                            <!--整柜订舱-->
                            <div class="layui-form-item">
                                <div class="layui-form-label">出发地</div>
                                <div class="layui-input-block">
                                    <div class="input30">
                                        <select name="departure" id="departure" lay-filter="departure" lay-search>
                                            <option value="">支持搜索城市、港口</option>
                                            {volist name="china_port" id="vo"}
                                            <option value="{$vo['code_value']}">{$vo['code_value']}，{$vo['code_name_cn']}（{$vo['code_name_en']}）</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-label">目的地</div>
                                <div class="layui-input-block">
                                    <div class="input30">
                                        <select name="destination" id="destination" lay-filter="destination" lay-search>
                                            <option value="">支持搜索城市、港口</option>
                                            {volist name="global_port" id="vo"}
                                            <option value="{$vo['code_value']}">{$vo['code_value']}，{$vo['code_name_cn']}（{$vo['code_name_en']}）</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-label">商品类型</div>
                                <div class="layui-input-block">
                                    <div class="input30">
                                        <select name="goods_type" id="goods_type" lay-filter="goods_type" lay-search>
                                            <option value="普货">普货</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-label">箱型箱量</div>
                                <div class="layui-input-block">
                                    <div class="layui-btn layui-btn-primary layui-btn-md input30" onclick="select_box()">选定箱型</div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-form-label">预计开航</div>
                                <div class="layui-input-block">
                                    <input type="text" class="layui-input input30" name="departure_date" id="departure_date" value="" placeholder="选择起止日期" lay-verify="required">
                                </div>
                            </div>
                            <div class="select_box" style="display:none;background:{$website['color_inner']};padding: 20px 10px 0 0;height: 100%;">
<!--                                <div class="input50">-->
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">20GP</div>
                                        <div class="layui-input-block">
                                            <div class="quantity">
                                                <button type="button" onclick="decrementValue(event)">-</button>
                                                <input type="number" class="layui-input input20" name="box_content[]" value="0" oninput="if(value>1000)value=1000;if(value.length>4)value=value.slice(0,4);if(value<0)value=0" />
                                                <button type="button" onclick="incrementValue(event)">+</button>
                                            </div>
                                            <span class="label_introduce" style="font-size: 12px;color: {$website['color_word']};">内: 5.898*2.352*2.385 m</span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">40GP</div>
                                        <div class="layui-input-block">
                                            <div class="quantity">
                                                <button type="button" onclick="decrementValue(event)">-</button>
                                                <input type="number" class="layui-input input20" name="box_content[]" value="0" oninput="if(value>1000)value=1000;if(value.length>4)value=value.slice(0,4);if(value<0)value=0" />
                                                <button type="button" onclick="incrementValue(event)">+</button>
                                            </div>
                                            <span class="label_introduce" style="font-size: 12px;color: {$website['color_word']};">内: 12.032*2.352*2.385 m</span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">40HQ</div>
                                        <div class="layui-input-block">
                                            <div class="quantity">
                                                <button type="button" onclick="decrementValue(event)">-</button>
                                                <input type="number" class="layui-input input20" name="box_content[]" value="1" oninput="if(value>1000)value=1000;if(value.length>4)value=value.slice(0,4);if(value<0)value=0" />
                                                <button type="button" onclick="incrementValue(event)">+</button>
                                            </div>
                                            <span class="label_introduce" style="font-size: 12px;color: {$website['color_word']};">内: 12.032*2.352*2.69 m</span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">NOR</div>
                                        <div class="layui-input-block">
                                            <div class="quantity">
                                                <button type="button" onclick="decrementValue(event)">-</button>
                                                <input type="number" class="layui-input input20" name="box_content[]" value="0" oninput="if(value>1000)value=1000;if(value.length>4)value=value.slice(0,4);if(value<0)value=0" />
                                                <button type="button" onclick="incrementValue(event)">+</button>
                                            </div>
                                            <span class="label_introduce" style="font-size: 12px;color: {$website['color_word']};">内: 11.585*2.29*2.544 m</span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">45HQ</div>
                                        <div class="layui-input-block">
                                            <div class="quantity">
                                                <button type="button" onclick="decrementValue(event)">-</button>
                                                <input type="number" class="layui-input input20" name="box_content[]" value="0" oninput="if(value>1000)value=1000;if(value.length>4)value=value.slice(0,4);if(value<0)value=0" />
                                                <button type="button" onclick="incrementValue(event)">+</button>
                                            </div>
                                            <span class="label_introduce" style="font-size: 12px;color: {$website['color_word']};">内: 13.556×2.352×2.698m</span>
                                        </div>
                                    </div>
                                    <div class="" style="text-align: center;">
                                        <div class="layui-btn layui-btn-md layui-btn-primary sure_box" onclick="sure_box()">确认箱型</div>
                                    </div>
<!--                                </div>-->

                            </div>
                        {/if}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}
<script>
    layui.use(['layer','form','laydate','upload'],function() {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;

        form.render(null, 'component-form-element');

        laydate.render({
            elem: '#departure_date' //指定元素
            ,range:true
            ,min: "<?php echo date('Y-m-d');?>"
            ,max: "<?php echo date('Y-m-d',time()+63072000)?>"
        });


    });

    var open_index = 0;
    //选定箱型
    function select_box(){
        var $ = layui.$
            , layer = layui.layer;

        if(IsPhone()){
            open_index = layer.open({
                type: 1,
                title: '选定箱型',
                shadeClose: true,
                shade: 0.3,
                area: ['80%', '70%'],
                content: $('.select_box'),
            });
        }else{
            open_index = layer.open({
                type: 1,
                title: '选定箱型',
                shadeClose: true,
                shade: 0.3,
                area: ['30%', '65%'],
                content: $('.select_box'),
            });
        }
    }
    //确认箱型
    function sure_box(){
        var $ = layui.$
            , layer = layui.layer;
        layer.close(open_index);
    }

    function incrementValue(event) {
        event.preventDefault();
        var input = event.target.parentNode.querySelector('input[type="number"]');
        var newValue = parseInt(input.value) + 1;
        input.value = newValue > parseInt(input.max) ? input.value : newValue;
    }

    function decrementValue(event) {
        event.preventDefault();
        var input = event.target.parentNode.querySelector('input[type="number"]');
        var newValue = parseInt(input.value) - 1;
        if(newValue>=0){
            input.value = newValue < parseInt(input.min) ? input.value : newValue;
        }
    }

    function IsPhone() {
        var info = navigator.userAgent;
        var isPhone = /mobile/i.test(info);
        return isPhone;
    }
</script>