{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{border:1px solid {$website['color_word']};padding:20px 20px;box-sizing:border-box;box-shadow:1px 1px 10px {$website['color_word']};}
    .content .col-md-12{padding:0;float:unset;}
    .content .title{font-size:26px;color:{$website['color_word']};font-weight:800;text-align:center;line-height:normal !important;}
    .content .control-group{margin-top:10px;}
    .content .control-group .label_title{width:80px;color:{$website['color_word']};font-weight:800;font-size:15px;text-align:right;margin-right:10px;}
    .content .control-group .controls .form-control{width:90%;font-size:15px;}
    .content .control-group .controls .btn-send{padding:7px 20px;background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};}
    .content form{text-align:center;}
    .content form .btn-submit{background:{$website['color']};color:{$website['color_word']};border:1px solid #D2A778;padding:10px 100px;box-sizing:border-box;float:unset !important;margin-top:15px;}
    
    .phone{display:none;}
    .tipsp{color:{$website['color_word']};font-size:15px;}
    /**文件上传**/
    .image_box{}
    .image_box .image_item{}
    .image_box .image_item .remove_image{color:{$website['color_word']};font-size:15px;}
</style>
<link rel="stylesheet" href="./css/ajaxupload/font-awesome.min.css?x=123">
<link rel="stylesheet" href="./css/ajaxupload/style.css?x=1111">

<section id="content" class="non_topimg" >
    <div class="container">
        <!--<div class="title">{if session('lang')=='zh'}商户合作{elseif(session('lang')=='cht')}商戶合作{elseif(session('lang')=='en')}Merchant cooperation{/if}</div>-->
        <div class="content" >
            <div class="col-md-12">
                <form name="sentMessage" id="regForm"  novalidate>
        	        <div class="title">补充资料</div>
        	                {if empty(session('account.phone'))}
                    	        <div class="control-group">
                                    <div class="controls disf">
                			            <label class="label_title">手机号码</label>
                    			        <input type="text" class="form-control" placeholder="请输入手机号码" id="phone" name="phone" />
                    			        <p class="help-block"></p>
                		            </div>
                	            </div>
            	            {/if}
            	            {if empty(session('account.email'))}
                    	        <div class="control-group">
                                    <div class="controls disf">
                			            <label class="label_title">电子邮箱</label>
                    			        <input type="text" class="form-control" placeholder="请输入电子邮箱" id="email" name="email" />
                    			        <p class="help-block"></p>
                		            </div>
                	            </div>
            	            {/if}
            	            {if empty(session('account.phone')) || empty(session('account.email'))}
                	            <div class="control-group">
                                    <div class="controls disf">
                                        <label class="label_title">验证码</label>
                    			        <input type="text" class="form-control" placeholder="请输入验证码" id="code" name="code" required style="width:65%;"/>
                    			        <div class="btn btn-sm btn-send" onclick="send_code()" id="sendCode">发送</div>
                    		        </div>
                    	        </div>
                	        {/if}
                		    <div class="control-group" style="display: none;">
                                <div class="controls disf">
                                    <label class="label_title">真实姓名</label>
                			        <input type="text" class="form-control" placeholder="请输入您的真实姓名" id="realname" name="realname"/>
                			        <p class="help-block"></p>
                		        </div>
                	        </div>
                            <div class="control-group" style="display: none;">
                                <div class="controls disf">
            			            <label class="label_title">{if session('lang')=='zh'}身份证号{elseif(session('lang')=='cht')}身份證號{elseif(session('lang')=='en')}ID{/if}</label>
                			        <input type="text" class="form-control" placeholder="{if session('lang')=='zh'}请输入您的身份证号{elseif(session('lang')=='cht')}請輸入您的身份證號{elseif(session('lang')=='en')}Please enter your ID{/if}" id="idcard" name="idcard" />
                			        <p class="help-block"></p>
            		            </div>
            	            </div>
        	            
        	            <button type="submit" class="btn pull-center btn-submit">提交资料</button><br />
                  </form>
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}
<script type="text/javascript" src="./js/ajaxupload/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="./js/ajaxupload/ajaxupload.js"></script>
<script type="text/javascript" src="./js/ajaxupload/edit_deal_item.js"></script>
<script type="text/javascript" src="./js/ajaxupload/juUI.js"></script>
<script type="text/javascript" src="./js/ajaxupload/plupload.full.min.js"></script>
<script type="text/javascript" src="./js/ajaxupload/script.js"></script>
<script type="text/javascript" src="./js/ajaxupload/jquery.bgiframe.js"></script>
<script type="text/javascript" src="./js/ajaxupload/jquery.weebox.js"></script>
<script type="text/javascript" src="./js/ajaxupload/touch.js"></script>

<script type="text/javascript" charset="utf-8">
    $(function(){
        
        $('#regForm').submit(function(){
            var data = '';
			data = $('input[name="phone"]').val()+','+$('input[name="email"]').val()+','+$('input[name="realname"]').val()+','+$('input[name="idcard"]').val()+','+$('input[name="code"]').val();
			$.ajax({
				url:"?s=index/save_basicinfo",
				method:'post',
				data:{'data':data},
				dataType:"json",
				success:function(res){
					alert(res.msg);
					if(res.code==0){
						if({$open}==1){
							window.history.back(-1);
							// var layer = layui.layer;
							// var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
							// parent.layer.close(index);
						}else{
							window.location.href='/?s=index/account_manage';
						}
					}else if(res.code==1){
						window.location.reload();
					}
					// if($open==1){
					//     var layer = layui.layer;
					//     var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
					//     parent.layer.close(index);
					//     // window.open("about:blank","_self").close();
					// }
				}
			});
            return false;
        });
    });

	//倒计时
	var n=60;
	function timers(){
		n-=1;
		if(n==0){
			n=60;
			$("#sendCode").html("发送");
			}else{
				$("#sendCode").html(n+"重试");
				setTimeout(function () {
					timers();
				},1000);
			}
		}

		function send_code(){
			let val = 1;
			let number = '';

			if("<?php echo session('account.phone');?>"==''){
				val=1;
				number = $('input[name="phone"]').val();
				if(number==''){
					alert('手机格式错误');return false;
				}
			}else if("<?php echo session('account.email');?>"==''){
				val=2;
				number = $('input[name="email"]').val();
				var myreg=/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/; //邮箱正则
				if (!myreg.test(number)){
					alert('邮箱格式错误');return false;
				}
			}

			if(n==60){
				timers();
				$.ajax({
					url: "?s=index/send_code",
					method: 'post',
					data: {'code_type':val,'number':number,'isverify':1},
					dataType: 'JSON',
					success: function (res) {
						if(res.code==-1){
							alert(res.msg);
							return false;
						}else{

						}
					},
					error: function (data) {

					}
				});
			}
		}
</script>