{include file="common/header"}
<!--<meta name="viewport" content="width=device-width, initial-scale=0.5" />-->
<link rel="stylesheet" href="layui/css/layui.css">
<style type="text/css" media="all">
    .main-container{background:unset;min-height:720px;padding:15px;box-sizing:border-box;border-radius: 5px;box-shadow: 0 0 14px rgba(0,0,0,.04);border:2px solid {$website['color_word']};}
    .main-container .layui-elem-field legend,.main-container .layui-form-label{color:{$website['color_word']};}
    .guide{cursor:pointer;color:{$website['color_word']};display:none;}
    #cs{display:none;}
    .know{color:#f1be83;}
    .layui-form-item .layui-input-inline{line-height: 38px;}
    .personalMain{overflow: unset !important;}
    .layui-none{color:{$website['color_word']} !important;}
    .layui-table-cell {height: 38px;line-height: 38px;}
    thead .layui-table-cell {height: 28px;line-height: 28px}

    @media (max-width: 992px) {
        /*.layui-table-cell {height: 38px;line-height: 38px;}*/
        /*thead .layui-table-cell {height: 28px;line-height: 28px}*/
        #content .container{margin:10px auto 0px;}
    }
    .grey_div{background:#a0a0a0;}
    .layui-table-view .layui-table th:last-child{display: none;}
</style>
<section id="content" class="non_topimg">
    <div class="container">
        {include file="common/member_header"}
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div class="personal_right">
                    <div class="main-container">
                        {include file="common/new_domestic_top"}
                        <div style="padding-top:20px;width: 100%;">
                            <table id="table" class="layui-table" lay-filter="table"></table>

                            <!-- 操作列 -->
                            {if $process_ids['process1']==16}
                            <!--仓库预订-->
                            <script type="text/html" id="state">
                                <a class="layui-btn layui-btn-success layui-btn-md" lay-event="del" onclick="openWindow('包裹预报','/?s=index/add_forecast&id={{d.oid}}',3,19,20,20)">包裹预报</a>
                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="add" onclick="openWindow('修改','/?s=index/edit_booking&id={{d.oid}}',4,17,17);">撤回修改</a>
                                <a class="layui-btn layui-btn-danger layui-btn-md del_cancel" lay-event="edit" onclick="del('{{d.oid}}',1,'/?s=index/del_operation');">删除中止</a>
                            </script>
                            {elseif($process_ids['process1']==19)}
                            <!--包裹预报-->
                            <script type="text/html" id="state">
                                <span class="sure_info" style="font-size:15px;display:none;"></span>
                                <a class="layui-btn layui-btn-success layui-btn-md" lay-event="del" onclick="openWindow('分享预报单','/?s=index/share_orders&id={{d.oid}}',5,22,23,23)">分享预报单</a>
                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="add" onclick="openWindow('修改','/?s=index/package_info&id={{d.oid}}',3,19,21);">撤回修改</a>
                                <a class="layui-btn layui-btn-danger layui-btn-md del_cancel" lay-event="edit" onclick="del('{{d.oid}}',2,'/?s=index/del_operation');">删除中止</a>
<!--                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="del" onclick="openWindow('签收入库','/?s=gather/package_manage&manage=3',3,22,23,23)">签收入库</a>-->
                            </script>
                            {elseif($process_ids['process1']==22 && $process_ids['process2']==23)}
                            <!--签收入库，确认信息-->
                            <script type="text/html" id="state">
                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="del" onclick="openWindow('确认信息','/?s=gather/package_info&id={{d.oid}}',3,22,23,23)">查看包裹，确认信息</a>
                            </script>
                            {elseif($process_ids['process1']==22 && $process_ids['process2']==24)}
                            <!--签收入库，确认签收-->
                            <script type="text/html" id="state">
                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="del" onclick="openWindow('确认签收','/?s=gather/package_info&id={{d.oid}}',3,22,24,24)">查看包裹，确认签收</a>
                            </script>
                            {elseif($process_ids['process1']==25)}
                            <!--仓库集货-->
                            <script type="text/html" id="state">
                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="del" onclick="openWindow('查看包裹({{d.function_name}}','/?s=gather/package_info&id={{d.oid}}',3,25,27,27)">查看包裹({{d.function_name}})</a>
                                <!--                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="del" onclick="openWindow('结算费用，确认操作','/?s=gather/package_order_info&id={{d.oid}}',4,25,27,27)">结算费用，确认操作(包裹合并)</a>-->
                                <!--                                <a class="layui-btn layui-btn-danger layui-btn-md" lay-event="del" onclick="del('{{d.oid}}',3,'/?s=gather/del_operation')">不结费用，撤回操作(包裹合并)</a>-->
                            </script>
                            {elseif($process_ids['process1']==31)}
                            <!--仓库集货-->
                            <script type="text/html" id="state">
                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="del" onclick="openWindow('确认转运','/?s=gather/package_order_info&id={{d.oid}}',4,25,27,27)">确认转运</a>
                                <a class="layui-btn layui-btn-danger layui-btn-md del_cancel" lay-event="del" onclick="del('{{d.oid}}',3,'/?s=gather/del_operation')">撤回修改</a>
                                <a class="layui-btn layui-btn-primary layui-btn-md" lay-event="del" onclick="openWindow('确认转运','/?s=gather/package_order_info&id={{d.oid}}',4,25,27,27)">对账结算</a>
                                <a class="layui-btn layui-btn-normal layui-btn-md" lay-event="del" onclick="openWindow('确认转运','/?s=gather/package_order_info&id={{d.oid}}',4,25,27,27)">物流跟踪</a>
                            </script>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/footer"}
<script src="layui/layui.js"></script>
<script>
    layui.config({
        base: './layui/'
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['layer', 'form', 'table', 'upload','treetable'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , treetable = layui.treetable
            , table = layui.table;

        form.render(null, 'component-form-group');
        {if $tips==1}
            layer.msg('请等待管理员配置仓库');
        {/if}
            // 渲染表格
            layer.load(2);
            var treetable_width = 200;
            var treetable_width2 = 522;
            if(IsPhone()){
                treetable_width = 145;
                treetable_width2 = 340;
            }
            treetable.render({
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'id',
                treePidName: 'orderid',
                elem: '#table',
                url: "/?s=index/share_order&process1={$process_ids['process1']}&process2={$process_ids['process2']}&process3={$process_ids['process3']}",
                page: true,
                treeDefaultClose:true,
                cols: [[
                    {type: 'numbers'},
                    // {field: 'process_name', align: 'left', width:treetable_width, title: '业务名称'},
                    {field: 'ordersn', align: 'left', width:'100%', title: '业务编号'},
                    // {field: 'createtime', align: 'left', width:treetable_width, title: '创建日期'},
                    {templet: '#state', align: 'center', width:treetable_width2,style:'display:none;', title: '业务操作'},
                ]],
                done: function (data) {
                    {if $process_ids['process1']!=16}
                        for(let i=0;i<data.data.length;i++){
                            if(data.data[i].otherplace_status==1 || data.data[i].otherplace_status==-1){
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('.sure_info').show();
                                let msg = '确认信息无误';
                                let color = 'green';
                                if(data.data[i].otherplace_status==-1){
                                    msg = '确认信息有误';
                                    color = 'red';
                                }
                                $('.layui-table').find('tr').eq(i+1).find('div').find('span').css({'color':'#1E9FFF','font-weight':'bold'});
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('.sure_info').text(msg);
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('.sure_info').css('color',color);
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div a').hide();

                                //点击弹出操作框
                                $('.layui-table').find('tr').eq(i + 1).find('td').eq(1).find('span').on('click',function(){
                                    // window.location.href="/?s=index/package_info&id="+data.data[i].oid+"&process1={$process_ids['process1']}&process2={$process_ids['process2']}&process3={$process_ids['process3']}";
                                    area = ['fit-content','fit-content'];
                                    $('.layui-table').find('tr').eq(i+1).find('td').eq(2).css('border','0');
                                    $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div').css({'white-space':'nowrap','overflow':'visible','width':'100%','text-align':'center'});
                                    var index = layer.open({
                                        skin:'grey_div',
                                        type: 1,
                                        title: data.data[i].ordersn,
                                        content: $('.layui-table').find('tr').eq(i+1).find('td').eq(2),
                                        area:area
                                    });
                                });
                            }else{
                                if(data.data[i].orderid==0) {
                                    $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div a').hide();
                                }else{
                                    $('.layui-table').find('tr').eq(i+1).find('div').find('span').css({'color':'#1E9FFF','font-weight':'bold'});
                                    //点击弹出操作框
                                    $('.layui-table').find('tr').eq(i + 1).find('td').eq(1).find('span').on('click',function(){
                                        // window.location.href="/?s=index/package_info&id="+data.data[i].oid+"&process1={$process_ids['process1']}&process2={$process_ids['process2']}&process3={$process_ids['process3']}";
                                        area = ['fit-content','fit-content'];
                                        $('.layui-table').find('tr').eq(i+1).find('td').eq(2).css('border','0');
                                        $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div').css({'white-space':'nowrap','overflow':'visible','width':'100%','text-align':'center'});
                                        var index = layer.open({
                                            skin:'grey_div',
                                            type: 1,
                                            title: data.data[i].ordersn,
                                            content: $('.layui-table').find('tr').eq(i+1).find('td').eq(2),
                                            area:area
                                        });
                                    });
                                }
                            }
                        }
                    {elseif($process_ids['process1']==16)}
                        <!--仓库预订-->
                        for(let i=0;i<data.data.length;i++){
                            $('.layui-table').find('tr').eq(i+1).find('div').find('span').css({'color':'#1E9FFF','font-weight':'bold'});
                            if(data.data[i].sure_prediction==1) {
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div a').eq(0).hide();
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div a').eq(1).css('margin',0);
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div a').eq(2).hide();
                            }
                            //点击弹出操作框
                            $('.layui-table').find('tr').eq(i + 1).find('td').eq(1).find('span').on('click',function(){
                                area = ['fit-content','fit-content'];
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).css('border','0');
                                $('.layui-table').find('tr').eq(i+1).find('td').eq(2).find('div').css({'white-space':'nowrap','overflow':'visible','width':'100%','text-align':'center'});
                                var index = layer.open({
                                    skin:'grey_div',
                                    type: 1,
                                    title: data.data[i].ordersn,
                                    content: $('.layui-table').find('tr').eq(i+1).find('td').eq(2),
                                    area:area
                                });
                            });
                        }
                    {/if}
                    $('.treeTable .layui-icon-layer').css('display', 'none');
                    $('.treeTable .layui-icon-file').css('display', 'none');
                    layer.closeAll('loading');
                }
            });
        });

    function openWindow(title,url,type,process1,process2,process3)
    {
        var layer = layui.layer;
        var area = [];
        if(type==1){
            //废弃
            area = ['80%','80%'];
            var index = layer.open({
                type: 2,
                title: title,
                content: url+"&process1={$process_ids['process1']}&process2={$process_ids['process2']}&process3={$process_ids['process3']}",
                area:area
            });
        }else if(type==2){
            //废弃
            window.location.href=url+"&process1={$process_ids['process1']}&process2={$process_ids['process2']}&process3={$process_ids['process3']}";
            // area = ['100%','100%'];
        }else if(type==3){
            //包裹预报/包裹签收
            window.location.href=url+"&process1="+process1+"&process2="+process2+"&process3="+process3;
            // area = ['100%','100%'];
        }else if(type==4){
            //撤回修改
            area = ['80%','80%'];
            if(IsPhone()){
                area = ['100%','100%'];
            }
            var index = layer.open({
                skin:'grey_div',
                type: 2,
                title: title,
                content: url+"&process1={$process_ids['process1']}&process2="+process2+"&process3="+process3,
                area:area
            });
        }else if(type==5){
            //分享预报单
            area = ['80%','80%'];
            if(IsPhone()){
                area = ['95%','80%'];
            }
            var index = layer.open({
                skin:'grey_div',
                type: 2,
                title: title,
                content: url,
                area:area
            });
        }

        // layer.full(index);
    }

    //删除中止
    function del(id,typ,url){
        layer.confirm('确认删除吗？',function(index){
            $.ajax({
                url: url,
                data:{'id':id,'type':typ},
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data){
                    if(data.code==0)
                    {
                        layer.msg(data.msg, {
                            icon: 1,
                            time: 2000
                        }, function(){
                            window.location.reload();
                        });
                        return true;
                    }else {
                        layer.msg(data.msg, {icon:2, time:2000});
                        return false;
                    }
                },
                error:function() {
                    layer.msg('系统出错,请重试',{icon:2,time:1000});
                }
            });
        });
    }
</script>