.appraise {
    margin: 30px auto;
    padding: 10px 30px;
    background-color: unset;
    border:1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0,0,0,.04)
}

.appraise .grey-text {
    color: #999
}

.appraise .red-text {
    color: #f44
}

.appraise .flex-between {
    display: flex;
    justify-content: space-between
}

.appraise .appraise-item {
    padding: 20px 0;
    border-bottom: 1px solid #eee
}

.appraise .appraise-item .user-info {
    display: grid;
    gap: 10px;
    grid-template-columns: 50px 1fr
}

.appraise .appraise-item .user-info .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    grid-row: 1/3
}

.appraise .appraise-item .user-comment {
    padding: 20px;
    font-size: 14px
}

.appraise .appraise-item .user-comment .comment-image {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px 0
}

.appraise .appraise-item .user-comment .comment-image .img-item {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover
}

.appraise .appraise-item .user-city {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 14px;
    color: #fff
}

.appraise .appraise-item:last-child {
    border-bottom: none
}

.appraise .appraise-item .comment {
    padding: 0 10px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #f8f8f8
}

.appraise .appraise-item .comment .comment-item {
    padding: 10px 0
}

.appraise .pagination {
    display: flex;
    justify-content: space-between;
    padding: 30px 0
}

.look-img {
    display: flex;
    align-items: center;
    text-align: center
}

.look-img .el-dialog {
    position: static!important;
    box-shadow: none!important;
    background: transparent!important
}

.look-img .el-dialog__body {
    box-sizing: border-box;
    padding-bottom: 60px
}

.look-img .el-dialog__close {
    display: none
}

.look-img .back,.look-img .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffd400;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 16px rgba(0,0,0,.04)
}

.look-img .back {
    left: 10%
}

.look-img .forward {
    right: 10%
}

.look-img .big-img {
    height: 100%;
    max-height: 700px;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

@media (max-width: 700px) {
    .look-img {
        text-align:center
    }

    .look-img .el-dialog {
        width: 80%
    }

    .look-img .back,.look-img .forward {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px
    }

    .look-img .back {
        left: 0
    }

    .look-img .forward {
        right: 0
    }
}

@media (max-width: 560px) {
    .appraise .pagination .el-pagination__sizes,.appraise .pagination .el-pagination__total {
        display:none
    }
}
