<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://dtc.gogo198.net/</loc>
        <changefreq>daily</changefreq>
        <priority>1.0</priority>
    </url>
    {volist name="articles" id="vo"}
    <url>
        <loc>https://dtc.gogo198.net/?s=index/detail&id={$vo.id}</loc>
        <lastmod>{$vo.name}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>
    {/volist}
</urlset>
