{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style>
    @font-face {
        font-family: "gald_iconfont";
        src: url("/img/customers/font_2860232_zp4hx1jamq.woff2?t=1684402191373") format("woff2"),url("/img/customers/font_2860232_zp4hx1jamq.woff?t=1684402191373") format("woff"),url("/img/customers/font_2860232_zp4hx1jamq.ttf?t=1684402191373") format("truetype")
    }
    .gald_iconfont {
        font-family: "gald_iconfont" !important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    li{list-style: none;}
    p{margin-bottom:0;}

    .surveyHome {
        overflow: hidden
    }

    .surveyHome .surveyHomeBannerContainer {
        width: 100%;
        height: 400px;
        background: url("/img/customers/bd_banner_bg.png") #F4F6FB no-repeat top center/1920px 400px;
        border-top: 0.00001px solid #fff;
        padding-top: 20px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHome_remain_box {
        width: 1200px;
        margin: 0px auto;
        display: flex;
        justify-content: flex-end
    }

    .surveyHome .surveyHomeBannerContainer .surveyHome_remain_box .surveyHome_remain {
        display: flex;
        align-items: center;
        height: 28px;
        background: #0248C9;
        border-radius: 14px;
        width: max-content;
        padding: 0 20px;
        cursor: pointer
    }

    .surveyHome .surveyHomeBannerContainer .surveyHome_remain_box .surveyHome_remain .remain_label {
        font-size: 14px;
        color: #fff
    }

    .surveyHome .surveyHomeBannerContainer .surveyHome_remain_box .surveyHome_remain .remain_num {
        font-size: 16px;
        color: #FFD74C;
        margin: 0 5px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHome_remain_box .surveyHome_remain .check_more {
        font-size: 14px;
        color: #4AFFD2;
        margin-left: 20px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHome_remain_box .surveyHome_remain .getRemainNum {
        display: none
    }

    .surveyHome .surveyHomeBannerContainer .surveyHome_remain_box.nologin {
        visibility: hidden
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner {
        width: 1200px;
        height: 400px;
        margin: 0 auto;
        position: relative;
        display: flex
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch {
        padding-top: 20px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .title {
        font-size: 40px;
        font-weight: bold;
        color: #FFFFFF;
        background: linear-gradient(180deg, #D3E4FF 0%, #fff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 40px;
        text-align: center
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .subTitle {
        font-size: 16px;
        color: #E2EDFF;
        line-height: 16px;
        margin-top: 23px;
        text-align: center
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer {
        width: 1200px;
        height: 310px;
        border-radius: 6px;
        margin-top: 45px;
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
        background: url("/img/customers/bd_sear_bg.png") no-repeat center/100%
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox {
        width: 820px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul {
        display: flex;
        align-items: center
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul.right li {
        margin-right: 0;
        margin-left: 20px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li {
        width: 120px;
        height: 40px;
        background: #1a64e0;
        border-radius: 4px;
        margin-right: 20px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li:hover {
        background: linear-gradient(-17deg, #FF8C88, #FFCBAC)
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-family: A-OTF Jun Pro 34;
        color: #fff
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li a:hover {
        color: #522214 !important
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li.active {
        background: linear-gradient(-17deg, #FF8C88, #FFCBAC);
        position: relative;
        box-shadow: 0px 4px 15px 0px rgba(16,94,190,0.5)
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li.active a {
        color: #522214
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li.active::after {
        content: '';
        width: 0;
        height: 0;
        border: 6px solid;
        border-color: #FF8C88 transparent transparent transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -12px;
        margin: auto;
        z-index: 1888
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox {
        width: 820px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        border-radius: 6px;
        margin-top: 24px;
        position: relative
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .icon {
        width: 16px;
        height: 100%;
        margin-left: 20px;
        background: url("/img/customers/icon_se.png") no-repeat center/16px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .inputSearch {
        flex: 1;
        height: 100%;
        padding-right: 30px;
        position: relative
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .inputSearch #surveySearch {
        width: 100%;
        height: 100%;
        padding: 10px;
        background: #fff;
        border: none;
        font-size: 14px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .inputSearch #surveySearch::placeholder {
        color: #909399;
        font-size: 14px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .inputSearch .icon-guanbi1 {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        align-items: center;
        cursor: pointer;
        color: #909399;
        user-select: none;
        line-height: 50px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox #searchBtn {
        width: 100px;
        height: 50px;
        background: linear-gradient(0deg, #FF7E71, #FF7E71);
        border-radius: 0px 6px 6px 0px;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 50px;
        text-align: center;
        padding: 0;
        border: none
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox #searchBtn:hover {
        background: linear-gradient(0deg, #FF6859, #FF7E71)
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox #searchBtn:active {
        background: linear-gradient(0deg, #FF6859, #FF5948)
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop {
        position: absolute;
        display: none;
        width: 720px;
        background: #FFFFFF;
        border: 1px solid #DEDFE4;
        box-shadow: 0px 2px 20px 0px rgba(46,46,46,0.15);
        border-radius: 6px;
        padding: 20px;
        top: 55px;
        left: 0px;
        z-index: 1
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item {
        width: 100%
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .item_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .item_title .title_label {
        font-size: 14px;
        color: #999999
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box {
        display: flex;
        align-items: center;
        cursor: pointer
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box .delete_icon {
        width: 14px;
        height: 14px;
        background: url("../images/searchWorld/cq_icon_del.png") no-repeat;
        background-size: 100% 100%
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box .delete_label {
        font-size: 13px;
        color: #999999;
        margin: 2px 0 0 7px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box:hover .delete_icon {
        background: url("../images/searchWorld/cq_icon_del02.png") no-repeat;
        background-size: 100% 100%
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box:hover .delete_label {
        color: #4D64CC
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .search_box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-height: 80px;
        overflow: hidden
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .search_box .search_item {
        display: block;
        height: 28px;
        line-height: 26px;
        max-width: 244px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 10px 10px 0 0;
        background: #F4F3F8;
        border: 1px solid #EBEAED;
        border-radius: 2px;
        font-size: 13px;
        color: #555555
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .search_box .search_item:hover {
        color: #2486EE !important
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .history_list .history_item {
        display: flex;
        align-items: center;
        margin-top: 10px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .history_icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("../images/searchWorld/clock.png") no-repeat;
        background-size: 100% 100%
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .country_name {
        display: inline-block;
        padding: 1px 5px;
        background: #E7F4FF;
        color: #2B93EE;
        font-size: 13px;
        margin-left: 5px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .history_label {
        display: inline-block;
        width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        color: #555555;
        margin-left: 10px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .history_label:hover {
        color: #4D64CC
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .recentSearch {
        margin-bottom: 26px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .login_tips_box {
        width: 445px;
        height: 49px;
        background: url("../images/searchWorld/drop_login_tips.png") no-repeat;
        background-size: 100% 100%;
        margin: 20px auto 0;
        overflow: hidden;
        display: none
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .login_tips_box .drop_login_botton {
        font-size: 14px;
        color: #6283FB;
        margin: 20px 0 0 350px;
        cursor: pointer
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .login_tips_empty_box {
        width: 100%;
        display: none
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .login_tips_empty_box .login_tips_empty_img {
        width: 285px;
        height: 83px;
        background: url("../images/searchWorld/drop_login_tips_empty.png") no-repeat;
        background-size: 100% 100%;
        margin: 0px auto 30px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .history_drop .login_tips_empty_box .drop_login_botton {
        width: 128px;
        height: 39px;
        background: linear-gradient(0deg, #468fff 0%, #0b67f4 100%);
        border-radius: 6px;
        text-align: center;
        line-height: 39px;
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;
        margin: 0 auto
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot {
        width: 820px;
        margin-top: 26px;
        display: flex;
        align-items: center
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem {
        width: calc((100% - 20px) / 3);
        margin-right: 10px;
        display: flex;
        align-items: center;
        background: rgba(33,107,231,0.6);
        padding: 11px 15px;
        border-radius: 8px;
        color: #E2F1FE
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem:hover {
        cursor: pointer;
        background: #216be7
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem::last-child {
        margin-right: 0
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem .info {
        width: calc(100% - 22px);
        margin-right: 10px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem .info a {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 14px;
        font-weight: bold
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem .info a:hover {
        color: #fff !important
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem .info .orgStatics {
        width: 100%
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem .info .orgStatics p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 12px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem .icon {
        font-size: 18px;
        color: #4AFFD2
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySum {
        position: absolute;
        right: 0;
        top: 20px;
        width: 356px;
        height: 28px;
        background: #0248C9;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySum .sum {
        font-size: 14px;
        color: #FFFFFF
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySum .sum span {
        font-weight: bold;
        color: #FFD74C
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySum .more {
        font-size: 14px;
        color: #4AFFD2;
        cursor: pointer
    }

    .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySum .more:hover {
        color: #4AFFD2 !important
    }

    .surveyHome .backgroundMining {
        width: 100%;
        height: 715px;
        background: url("/img/customers/bd_web_bg.png") no-repeat center/1920px 100%;
        padding-top: 100px
    }

    .surveyHome .backgroundMining .backgroundMiningTitle {
        width: 1200px;
        margin: 70px auto;
        font-size: 28px;
        color: #303133;
        line-height: 28px;
        text-align: center
    }

    .surveyHome .backgroundMining .backgroundMiningContent {
        width: 1040px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem {
        display: flex;
        align-items: center;
        height: 60px;
        margin-bottom: 40px
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem:last-child {
        margin-bottom: 0
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem .icon {
        width: 60px;
        height: 60px;
        background: #FFF4ED;
        border-radius: 10px;
        text-align: center;
        line-height: 60px;
        margin-right: 20px
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem .icon.center {
        padding: 4px 0 0 10px
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem .icon i {
        background: linear-gradient(0deg, #FF9B6A, #FF565E);
        -webkit-background-clip: text;
        color: transparent;
        font-size: 32px
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem .mainTips {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem .mainTips .main {
        font-size: 18px;
        color: #303133;
        line-height: 30px
    }

    .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem .mainTips .sub {
        font-size: 15px;
        color: #757E8E;
        line-height: 30px
    }

    .surveyHome .moreInfo {
        width: 100%;
        height: 328px;
        background: url("/img/customers/bd_bg02.png") no-repeat center/1920px 100%;
        overflow: hidden
    }

    .surveyHome .moreInfo .title {
        width: 1200px;
        font-size: 28px;
        font-family: A-OTF Jun Pro 34;
        color: #FFFFFF;
        line-height: 50px;
        margin: 69px auto 0;
        text-align: center
    }

    .surveyHome .moreInfo .moreInfoList {
        width: 1200px;
        margin: 60px auto 0;
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    .surveyHome .moreInfo .moreInfoList .moreInfoItem {
        width: 372px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 18px;
        color: #FFFFFF
    }

    .surveyHome .moreInfo .moreInfoList .moreInfoItem:nth-of-type(1) {
        background: url("/img/customers/01.png") no-repeat center/100%
    }

    .surveyHome .moreInfo .moreInfoList .moreInfoItem:nth-of-type(2) {
        background: url("/img/customers/02.png") no-repeat center/100%
    }

    .surveyHome .moreInfo .moreInfoList .moreInfoItem:nth-of-type(3) {
        background: url("/img/customers/03.png") no-repeat center/100%
    }

    .surveyHome .B2B {
        width: 100%;
        height: 470px;
        background: url("/img/customers/bd_bg03.png") no-repeat center/1920px 100%
    }

    .surveyHome .B2B .b2bContent {
        width: 1200px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto
    }

    .surveyHome .B2B .b2bContent .tips {
        padding-left: 90px
    }

    .surveyHome .B2B .b2bContent .tips .main {
        font-size: 28px;
        color: #303133;
        line-height: 50px
    }

    .surveyHome .B2B .b2bContent .tips .sub {
        font-size: 16px;
        color: #757E8E;
        line-height: 50px;
        margin-top: 20px
    }

    .surveyHome .B2B .b2bContent .dataBase {
        width: 470px;
        height: 360px;
        display: flex;
        flex-wrap: wrap
    }

    .surveyHome .B2B .b2bContent .dataBase .dataBaseItem {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 20px 35px;
        width:120px;
    }

    .surveyHome .B2B .b2bContent .dataBase .dataBaseItem:nth-of-type(1) .icon {
        background: url("/img/customers/bd_icon01.png") no-repeat center/100%
    }

    .surveyHome .B2B .b2bContent .dataBase .dataBaseItem:nth-of-type(2) .icon {
        background: url("/img/customers/bd_icon02.png") no-repeat center/100%
    }

    .surveyHome .B2B .b2bContent .dataBase .dataBaseItem:nth-of-type(3) .icon {
        background: url("/img/customers/bd_icon03.png") no-repeat center/100%
    }

    .surveyHome .B2B .b2bContent .dataBase .dataBaseItem:nth-of-type(4) .icon {
        background: url("/img/customers/bd_icon04.png") no-repeat center/100%
    }

    .surveyHome .B2B .b2bContent .dataBase .dataBaseItem .icon {
        width: 100px;
        height: 100px;
        margin-bottom: 20px
    }

    .surveyHome .B2B .b2bContent .dataBase .dataBaseItem .label {
        font-size: 15px;
        color: #303133;
        line-height: 15px
    }

    /**手机版**/
    @media (max-width: 992px) {
        .surveyHome .surveyHomeBannerContainer{padding-top:80px;height: 580px;background: url(/img/customers/bd_banner_bg.png) #F4F6FB no-repeat top center/1920px 580px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner{width:100%;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch{width:100%;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .title {font-size: 30px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .subTitle {font-size: 20px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer {width: 100%;margin-top:30px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox{width: 100%;margin-top:0;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul{flex-wrap: wrap;padding-left: 0;justify-content: center;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li{width: 100px;display: inline-block;margin-top:10px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .linkBtnBox ul li a{font-size:14px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .icon{margin-left:10px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox{width:90%;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox #searchBtn {width: 80px;font-size: 15px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .searchBox .inputSearch{padding-right:10px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot {width: 100%;margin-top: 35px;padding-left: 10px;}
        .surveyHome .surveyHomeBannerContainer .surveyHomeBanner .surveySearch .searchContainer .hot .hotItem{width: 100%;}
        .surveyHome .backgroundMining{padding-top:10px;height:fit-content;padding-bottom: 20px;}
        .surveyHome .backgroundMining .backgroundMiningTitle{width:100%;font-size:20px;margin: 30px auto;margin-top:20px;}
        .surveyHome .backgroundMining .backgroundMiningContent{display: block;width: 100%;padding:0 20px;}
        .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem{margin-bottom:20px;}
        .backgroundMiningImg{display:none;}
        .surveyHome .backgroundMining .backgroundMiningContent .backgroundMiningList .backgroundMiningItem .mainTips .sub{font-size:14px;line-height:20px; }
        .surveyHome .moreInfo{padding:0 20px 20px;height: fit-content;}
        .surveyHome .moreInfo .title{width: 100%;font-size: 20px;line-height: 28px;margin:30px auto 0;}
        .surveyHome .moreInfo .moreInfoList{width: 100%;margin: 30px auto 0;display: block;}
        .surveyHome .moreInfo .moreInfoList .moreInfoItem {width: 100%;margin-bottom:10px;}
        .surveyHome .B2B{height:fit-content;}
        .surveyHome .B2B .b2bContent {width: 100%;display:block;padding: 20px;}
        .surveyHome .B2B .b2bContent .tips{padding:0;}
        .surveyHome .B2B .b2bContent .tips .main {font-size: 20px;line-height: 28px;}
        .surveyHome .B2B .b2bContent .tips .sub {font-size: 15px;margin-top:10px;}
        .surveyHome .B2B .b2bContent .dataBase {width: 100%;justify-content: center;}
        .surveyHome .B2B .b2bContent .dataBase .dataBaseItem{margin: 20px 20px;}
    }
</style>
<div id="main">
    <div class="surveyHome">
        <div class="surveyHomeBannerContainer">
            <div class="surveyHomeBanner">
                <div class="surveySearch">
                    <h1 class="title">做背调</h1>
                    <div class="subTitle">查阅客户背景资料及联系方式</div>
                    <div class="searchContainer">
                        <div class="linkBtnBox">
                            <ul>
                                <li>
                                    <a href="/?s=index/background_email">邮箱背调</a>
                                </li>
                                <li>
                                    <a href="/?s=index/background_site">网站背调</a>
                                </li>
                                <li class="active">
                                    <a href="/?s=index/background_company">企业名称背调</a>
                                </li>
<!--                            </ul>-->
<!--                            <ul class="right">-->
                                <li>
                                    <a href="/?s=index/background_searchworld" target="_blank">查注册信息</a>
                                </li>
                                <li>
                                    <a href="/?s=index/background_overseasreport" target="_blank">信用报告</a>
                                </li>
                            </ul>
                        </div>
                        <div class="searchBox">
                            <div class="icon"></div>
                            <div class="inputSearch">
                                <input type="text" id="surveySearch" placeholder="输入企业名称，全网挖掘企业信息、联系邮箱、网址信息、联系人信息" autocomplete="off">
                                <i class="gald_iconfont icon-guanbi1" id="clear_surveySearch"></i>
                            </div>
                            <button id="searchBtn">立即查询</button>

                            <div class="history_drop" id="history_drop">
                                <div class="drop_item recentSearch">
                                    <div class="item_title">
                                        <div class="title_label">最近搜索</div>
                                        <div class="delete_box" id="recentSearchDelete">
                                            <div class="delete_icon"></div>
                                            <div class="delete_label">清除</div>
                                        </div>
                                    </div>
                                    <div class="search_box" id="search_box"></div>
                                </div>
                                <div class="drop_item history_box">
                                    <div class="item_title">
                                        <div class="title_label">浏览历史</div>
                                        <div class="delete_box" id="historyDelete">
                                            <div class="delete_icon"></div>
                                            <div class="delete_label">清除</div>
                                        </div>
                                    </div>
                                    <div class="history_list" id="history_list"></div>
                                </div>

                                <div class="login_tips_empty_box">
                                    <div class="login_tips_empty_img"></div>
                                    <div class="drop_login_botton">马上登录</div>
                                </div>
                            </div>
                        </div>
                        <ul class="hot">
                            <li class="hotItem" onclick="window.location.href='https://www.gogo198.net/img/customers/Walmart Inc._企业详情_企业背调-Gogo.pdf';">
                                <div class="info">
                                    <a href="https://www.gogo198.net/img/customers/Walmart Inc._企业详情_企业背调-Gogo.pdf" target="_blank">Walmart Inc.</a>
                                    <div class="orgStatics">
                                        <p>所属行业：Department Stores</p>
                                        <p>企业联系人：1000+</p>
                                        <p>企业网址：www.stock.walmart.com</p>
                                    </div>
                                </div>
                                <div class="icon">
                                    >
                                </div>
                            </li>
                            <li class="hotItem" path="/background/detail-fba43074324eadc4ae8ba568922e01a1-1.html?industry=l_16&amp;companyWebsite=google.com" style="display: none;">
                                <div class="info">
                                    <a href="/background/detail-fba43074324eadc4ae8ba568922e01a1-1.html?industry=l_16&amp;companyWebsite=google.com" target="_blank">Google</a>
                                    <div class="orgStatics">
                                        <p>所属行业：Internet</p>
                                        <p>企业联系人：1000+</p>
                                        <p>企业网址：google.com</p>
                                    </div>
                                </div>
                                <div class="icon">
                                    >
                                </div>
                            </li>
                            <li class="hotItem" path="/background/detail-ffe3c058d7962e525818aa954fd40f1b-1.html?industry=l_13&amp;companyWebsite=tesla.com" style="display: none;">
                                <div class="info">
                                    <a href="/background/detail-ffe3c058d7962e525818aa954fd40f1b-1.html?industry=l_13&amp;companyWebsite=tesla.com" target="_blank">Tesla</a>
                                    <div class="orgStatics">
                                        <p>所属行业：Automotive</p>
                                        <p>企业联系人：1000+</p>
                                        <p>企业网址：tesla.com</p>
                                    </div>
                                </div>
                                <div class="icon">
                                    >
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="backgroundMining">
            <div class="backgroundMiningTitle">输入企业名称来进行客户背景挖掘</div>
            <div class="backgroundMiningContent">
                <div class="backgroundMiningList">
                    <div class="backgroundMiningItem">
                        <div class="icon">
                            <i class="gald_iconfont icon-qiye1"></i>
                        </div>
                        <div class="mainTips">
                            <div class="main">企业信息</div>
                            <div class="sub">为您展示企业基础信息、经营信息及联系信息</div>
                        </div>
                    </div>
                    <div class="backgroundMiningItem">
                        <div class="icon">
                            <i class="gald_iconfont icon-qiye1"></i>
                        </div>
                        <div class="mainTips">
                            <div class="main">联系人信息</div>
                            <div class="sub">为您展示企业相关联系人信息</div>
                        </div>
                    </div>
                    <div class="backgroundMiningItem">
                        <div class="icon">
                            <i class="gald_iconfont icon-qiye1"></i>
                        </div>
                        <div class="mainTips">
                            <div class="main">域名网址信息</div>
                            <div class="sub">为您展示企业官网及域名相关信息</div>
                        </div>
                    </div>
                    <div class="backgroundMiningItem">
                        <div class="icon">
                            <i class="gald_iconfont icon-qiye1"></i>
                        </div>
                        <div class="mainTips">
                            <div class="main">相关企业推荐</div>
                            <div class="sub">为您推荐同行业同地区的其他企业</div>
                        </div>
                    </div>
                </div>
                <div class="backgroundMiningImg">
                    <img src="https://cdn.www.x315.cn/public/images/survey/bd_pic_01.png" alt="">
                </div>
            </div>
        </div>
        <div class="moreInfo">
            <div class="title">您将会获得目标客户的更多联系邮箱、联系电话，产品信息、企业信息等</div>
            <div class="moreInfoList">
                <div class="moreInfoItem">
                    <span>查找海外企业联系方式</span>
                </div>
                <div class="moreInfoItem">
                    <span>了解海外客户经营信息</span>
                </div>
                <div class="moreInfoItem">
                    <span>调查海外客户信用状况</span>
                </div>
            </div>
        </div>
        <div class="B2B">
            <div class="b2bContent">
                <div class="tips">
                    <div class="main">
                        <p>数据库覆盖主流社交媒体、</p>
                        <p>B2B商业数据平台、全球网址库及广交会采购商，</p>
                        <p>为您找到最完整的客户信息</p>
                    </div>
                    <div class="sub">
                        <p>代替手工检索，一键全网抓取，提升获客效率</p>
                    </div>
                </div>
                <div class="dataBase">
                    <div class="dataBaseItem">
                        <div class="icon"></div>
                        <div class="label">主流社媒数据库</div>
                    </div>
                    <div class="dataBaseItem">
                        <div class="icon"></div>
                        <div class="label">全球网址库</div>
                    </div>
                    <div class="dataBaseItem">
                        <div class="icon"></div>
                        <div class="label">B2B商业数据库</div>
                    </div>
                    <div class="dataBaseItem">
                        <div class="icon"></div>
                        <div class="label">广交会采购商库</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function() {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;

        $('#searchBtn').click(function(){
            $.ajax({
                url:"/?s=index/background_company",
                method:'post',
                data:{},
                dataType:'JSON',
                success:function(res){
                    if(res.code == 0)
                    {
                        if(res.jump_gld==0) {
                            layer.confirm('是否同意授权跳转到第三方网站[格兰德]？', {
                                btn: ['同意', '拒绝']
                            }, function () {
                                $.ajax({
                                    url: "/?s=index/goto_gld",
                                    method: 'post',
                                    data: {'is_jump': 1, 'firsttimes': 1, 'type': 10},
                                    dataType: 'JSON',
                                    success: function (res) {
                                        if (res.code == 0) {
                                            window.location.href = res.url;
                                        }
                                    }
                                });
                            }, function () {

                            });
                        }else{
                        $.ajax({
                            url: "/?s=index/goto_gld",
                            method: 'post',
                            data: {'is_jump': 1,'firsttimes':0,'type':10},
                            dataType: 'JSON',
                            success: function (res) {
                                if(res.code==0){
                                    window.location.href=res.url;
                                }
                            }
                        });
                        }
                    }else if(res.code == -1){
                        layer.msg(res.msg,{time:2000}, function () {
                            layer.open({
                                type: 2,
                                title: '请先登录',
                                shadeClose: true,
                                shade: 0.3,
                                area: ['100%', '100%'],
                                content: "/?s=index/customer_login&open=3",
                            });
                        });
                    }else if(res.code==-2){

                    }
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
        });
    });
</script>