{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style>
    li{list-style: none;}
    p{margin-bottom:0;}
    a{text-decoration:none !important;}
    #choosePage .market_top_bg {
        width: 100%;
        height: 500px;
        background: url(/img/customers/bd_banner_bg.png) no-repeat top;
        display: flex;
        background-color: #fff;
        flex-direction: column;
        align-items: center
    }

    #choosePage .market_top_bg .reNum_box {
        width: 1200px;
        display: flex;
        justify-content: flex-end;
        margin: 20px auto 0
    }

    #choosePage .market_top_bg .reNum_box .remain_content_box .reNum_content {
        padding: 0 20px;
        height: 28px;
        background: #1559C9;
        border-radius: 14px;
        font-size: 14px;
        display: flex;
        align-items: center;
        cursor: pointer
    }

    #choosePage .market_top_bg .reNum_box .remain_content_box .reNum_content .normal {
        color: #FFFFFF
    }

    #choosePage .market_top_bg .reNum_box .remain_content_box .reNum_content .remain_num {
        font-size: 16px;
        color: #FFD74C;
        margin: 0 3px
    }

    #choosePage .market_top_bg .reNum_box .remain_content_box .reNum_content .check_more {
        color: #4AFFD2;
        margin-left: 16px
    }

    #choosePage .market_top_bg .reNum_box .remain_content_box .reNum_content .getRemainNum {
        display: none
    }

    #choosePage .market_top_bg .chooseMarket_title {
        font-size: 36px;
        font-weight: bold;
        color: #FFFFFF;
        margin-top: 50px
    }

    #choosePage .market_top_bg .chooseMarket_title.top {
        margin-top: 10px
    }

    #choosePage .market_top_bg .chooseMarket_txt {
        font-size: 24px;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 21px
    }

    #choosePage .market_top_bg .market_dialog {
        display: flex;
        width: 1200px;
        height: 360px;
        background: url(../images/chooseMarket/index/content_img.png) no-repeat center;
        border-radius: 10px;
        margin-top: 30px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content {
        flex: 1
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .tips_box {
        width: 665px;
        height: 40px;
        background: linear-gradient(90deg, #4488F2, rgba(68,136,242,0));
        border-radius: 8px;
        display: flex;
        align-items: center;
        margin: 20px 0 0 67px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .tips_box .tips_icon_box {
        position: relative
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .tips_box .tips_icon_box .tips_icon {
        width: 24px;
        height: 24px;
        background: url("/img/customers/icon_xiaoxi.png") no-repeat;
        background-size: 100% 100%;
        margin-left: 15px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .tips_box .tips_icon_box .point {
        width: 8px;
        height: 8px;
        background: #FA3C3C;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        position: absolute;
        right: -2px;
        top: -2px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .tips_box .tips_label {
        font-size: 14px;
        color: #FFF3BC;
        margin-left: 10px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_btn {
        margin-top: 44px;
        display: flex;
        align-items: center
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_btn .label {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        margin-left: 67px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_btn .market_btn {
        width: 100px;
        height: 38px;
        border-radius: 6px;
        margin-left: 9px;
        margin-right: 11px;
        font-size: 16px;
        font-family: PingFang SC;
        font-weight: 500;
        background: #61a4fe;
        color: #FFFFFF;
        line-height: 38px;
        text-align: center;
        cursor: pointer
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_btn .market_btn:hover {
        box-shadow: 0px 5px 10px 0px rgba(53,121,213,0.3)
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_btn .market_btn.market_active {
        background: linear-gradient(166deg, #FFE4B7, #FFA187);
        color: #866E5D
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_btn .market_btn.market_active:hover {
        background: linear-gradient(166deg, #FFDEA6, #FF987C)
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_btn.notips {
        margin-top: 94px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input {
        margin-left: 67px;
        display: flex;
        margin-top: 32px;
        align-items: center
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .label {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        margin-right: 9px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box {
        position: relative
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .input_content {
        display: flex;
        align-items: center
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .input_content #market_input {
        width: 470px;
        height: 50px;
        border: none;
        background: #FFFFFF;
        border-radius: 8px 0 0 8px;
        padding-left: 16px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .input_content .search_button {
        width: 110px;
        height: 50px;
        background: linear-gradient(159deg, #FFE4B7, #FFA288);
        border-radius: 0px 8px 8px 0px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        font-size: 16px;
        color: #744C30
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .input_content .search_button:hover {
        background: linear-gradient(159deg, #FFE1B0, #FF977A)
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .input_content .search_button:active {
        background: linear-gradient(159deg, #FF977A, #FFE1B0)
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box #market_input::-webkit-input-placeholder {
        font-size: 16px;
        font-weight: 500;
        color: #B6B6B6
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box #market_input:-moz-placeholder {
        font-size: 16px;
        font-weight: 500;
        color: #B6B6B6
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box #market_input::-moz-placeholder {
        font-size: 16px;
        font-weight: 500;
        color: #B6B6B6
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box #market_input:-ms-input-placeholder {
        font-size: 16px;
        font-weight: 500;
        color: #B6B6B6
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down {
        position: absolute;
        top: 55px;
        width: 580px;
        box-shadow: 0px 2px 28px 2px rgba(32,61,111,0.2);
        display: none;
        background: #FFFFFF;
        padding-top: 15px;
        z-index: 99;
        padding-bottom: 15px;
        border-radius: 6px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .drop_ul {
        max-height: 400px;
        overflow-y: auto;
        background: #FFFFFF;
        align-items: center
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .drop_ul a:hover li {
        background: #E8F1FE
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .drop_ul a li {
        margin: 5px auto;
        width: 540px;
        background: #F3F8FF;
        border: 1px solid #DEE8FA;
        box-sizing: border-box;
        padding: 15px 21px 13px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .drop_ul a li .market_hs_code {
        height: 35px;
        font-size: 16px;
        font-weight: bold;
        color: #7E9AC1;
        border-bottom: 1px dashed #DEE8FA
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .drop_ul a li .market_hs_code span {
        color: #162E51
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .drop_ul a li .market_hs_desc {
        font-size: 14px;
        font-weight: 400;
        color: #7E9AC1;
        line-height: 22px;
        padding-top: 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .market_no_result {
        height: 125px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .market_no_result.hide {
        display: none
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .market_no_result .img {
        height: 103px;
        margin-right: 18px;
        margin-top: -6px;
        width: 355px;
        background: url("/img/customers/noresult.png") no-repeat;
        background-size: 100% 100%;
        font-size: 14px;
        font-weight: 500;
        color: #8C99A7
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .market_no_result .img .t1 {
        line-height: 14px;
        margin-top: 40px;
        margin-left: 48px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .market_no_result .img .t2 {
        line-height: 14px;
        margin-top: 11px;
        margin-left: 109px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .market_drop_down .market_no_result .img .t2 span {
        cursor: pointer;
        color: #2486EE
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop {
        position: absolute;
        top: 55px;
        width: 580px;
        box-shadow: 0px 2px 28px 2px rgba(32,61,111,0.2);
        display: none;
        background: #FFFFFF;
        padding-top: 15px;
        z-index: 99;
        padding-bottom: 15px;
        border-radius: 6px;
        padding: 20px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item {
        width: 100%
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .item_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .item_title .title_label {
        font-size: 14px;
        color: #999999
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .item_title .delete_box {
        display: flex;
        align-items: center;
        cursor: pointer
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .item_title .delete_box .delete_label {
        font-size: 13px;
        color: #999999;
        margin: 2px 0 0 7px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .item_title .delete_box:hover .delete_icon {
        color: #2486EE
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .item_title .delete_box:hover .delete_label {
        color: #2486EE
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .drop_search_list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-height: 80px;
        overflow: hidden
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .drop_search_list .search_item {
        display: flex;
        align-items: center;
        height: 28px;
        line-height: 26px;
        padding: 0 10px;
        margin: 10px 10px 0 0;
        background: #F4F3F8;
        border: 1px solid #EBEAED;
        border-radius: 2px;
        font-size: 13px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .drop_search_list .search_item .type.import {
        color: #FF7C51
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .drop_search_list .search_item .type.export {
        color: #2486EE
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .drop_search_list .search_item .search_key {
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 244px;
        color: #555555
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .drop_search_list .search_item .search_key:hover {
        color: #2486EE
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list {
        margin-top: 10px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list .history_item {
        display: flex;
        align-items: center;
        margin-bottom: 15px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list .history_item .history_icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("../images/searchWorld/clock.png") no-repeat;
        background-size: 100% 100%
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list .history_item .item_type {
        width: 44px;
        height: 20px;
        font-size: 13px;
        border-radius: 2px;
        text-align: center;
        line-height: 20px;
        margin: 0 10px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list .history_item .item_type.export {
        background: #E7F4FF;
        color: #2486EE
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list .history_item .item_type.import {
        background: #FFEEE9;
        color: #FF7C51
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list .history_item .item_explain {
        margin-left: 5px;
        display: flex;
        align-items: center
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .drop_item .history_list .history_item .item_explain .item_explain_content {
        display: inline-block;
        max-width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .recentSearch {
        margin-bottom: 26px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .login_tips_box {
        width: 445px;
        height: 49px;
        background: url("../images/searchWorld/drop_login_tips.png") no-repeat;
        background-size: 100% 100%;
        margin: 20px auto 0;
        overflow: hidden;
        display: none
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .login_tips_box .drop_login_botton {
        font-size: 14px;
        color: #6283FB;
        margin: 20px 0 0 350px;
        cursor: pointer
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .login_tips_empty_box {
        width: 100%;
        display: none
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .login_tips_empty_box .login_tips_empty_img {
        width: 285px;
        height: 83px;
        background: url("../images/searchWorld/drop_login_tips_empty.png") no-repeat;
        background-size: 100% 100%;
        margin: 30px auto
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_input .market_input_box .cm_sh_drop .login_tips_empty_box .drop_login_botton {
        width: 128px;
        height: 39px;
        background: linear-gradient(-90deg, rgba(77,106,227,0.91) 0%, rgba(108,134,241,0.91) 100%);
        border-radius: 6px;
        text-align: center;
        line-height: 39px;
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;
        margin: 0 auto
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_hot {
        padding-top: 19px;
        font-size: 14px;
        font-weight: 500;
        margin-left: 152px;
        color: #bcdcff;
        display: flex
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_hot a {
        color: #bcdcff;
        margin-left: 19px
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_hot a .hot_list {
        cursor: pointer
    }

    #choosePage .market_top_bg .market_dialog .market_dialog_content .market_dialog_content_hot a .hot_list:hover {
        color: #FFFFFF
    }

    #choosePage .market_question {
        height: 565px;
        width: 100%;
        background: #F2F5F7
    }

    #choosePage .market_question p {
        font-size: 30px;
        font-weight: 400;
        color: #333333;
        text-align: center;
        padding-top: 81px
    }

    #choosePage .market_question .market_question_content {
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between
    }

    #choosePage .market_question .market_question_content .market_question_list {
        margin-top: 63px;
        width: 286px;
        height: 311px;
        background: #FFFFFF;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    #choosePage .market_question .market_question_content .market_question_list img {
        margin-top: 18px;
        width: 260px;
        height: 178px
    }

    #choosePage .market_question .market_question_content .market_question_list .market_question_list_txt {
        font-size: 18px;
        display: flex;
        font-weight: 400;
        color: #333333;
        line-height: 29px;
        text-align: center;
        margin-top: 45px
    }

    #choosePage .market_question .market_question_content .market_question_list .market_question_list_txt .sp {
        line-height: 25px;
        font-size: 23px;
        margin-right: 5px
    }

    #choosePage .find_market {
        width: 100%;
        height: 625px;
        background: #FFFFFF
    }

    #choosePage .find_market p {
        font-size: 30px;
        font-weight: 400;
        color: #333333;
        padding-top: 81px;
        text-align: center
    }

    #choosePage .find_market .find_market_content {
        display: flex;
        justify-content: center;
        margin-top: 80px
    }

    #choosePage .find_market .find_market_content img {
        height: 354px;
        width: 577px
    }

    #choosePage .find_market .find_market_content .find_market_list {
        height: 354px;
        width: 577px
    }

    #choosePage .find_market .find_market_content .find_market_list .border {
        background: #2486ee;
        width: 26px;
        height: 6px;
        margin-top: 51px;
        margin-left: 55px
    }

    #choosePage .find_market .find_market_content .find_market_list .market_list_detail {
        margin-left: 55px;
        margin-top: 47px;
        display: flex;
        flex-wrap: wrap
    }

    #choosePage .find_market .find_market_content .find_market_list .market_list_detail .market_list {
        width: 50%;
        height: 45px;
        font-size: 20px;
        font-weight: 400;
        color: #333333;
        line-height: 45px;
        display: flex;
        align-items: center
    }

    #choosePage .find_market .find_market_content .find_market_list .market_list_detail .market_list .duigou {
        width: 15px;
        height: 11px;
        background: url(/img/customers/duigou.png) no-repeat center
    }

    #choosePage .find_market .find_market_content .find_market_list .market_list_detail .market_list .market_list_txt {
        padding-left: 7px
    }

    #choosePage .glad_find_world {
        width: 100%;
        height: 670px;
        background: #245CC1
    }

    #choosePage .glad_find_world p {
        text-align: center
    }

    #choosePage .glad_find_world .glad_find_world_title {
        font-size: 32px;
        font-weight: bold;
        color: #FFFFFF;
        padding-top: 74px
    }

    #choosePage .glad_find_world .glad_find_world_txt {
        font-size: 16px;
        font-weight: 400;
        margin-top: 19px;
        color: #C9DCFF
    }

    #choosePage .glad_find_world img {
        margin: 33px auto auto
    }

    #choosePage .glad_find_world .glad_find_world_content {
        width: 1200px;
        margin: 6px auto auto;
        display: flex;
        justify-content: space-around
    }

    #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list {
        width: 389px;
        height: 98px;
        background: #4176D6;
        border-radius: 10px;
        display: flex
    }

    #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_left {
        width: 110px;
        height: 98px;
        background: #4F83E0;
        border-radius: 10px 0px 0px 10px;
        line-height: 98px;
        text-align: center;
        font-size: 49px;
        font-family: DIN;
        font-weight: bold;
        color: #FFFFFF
    }

    #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_left .sp1 {
        font-size: 22px
    }

    #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_right {
        margin-left: 22px
    }

    #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_right .right_p1 {
        margin-top: 25px;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        color: #FFFFFF
    }

    #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_right .right_p2 {
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 10px
    }

    #choosePage .glad_guys {
        width: 100%;
        height: 660px;
        background: #FFFFFF
    }

    #choosePage .glad_guys p {
        text-align: center
    }

    #choosePage .glad_guys .glad_guys_title {
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        padding-top: 80px;
        color: #333333
    }

    #choosePage .glad_guys .glad_guys_desc {
        font-size: 16px;
        line-height: 16px;
        margin-top: 19px;
        font-weight: 400;
        color: #8C98AF
    }

    #choosePage .glad_guys .glad_guys_content {
        width: 1200px;
        margin: 64px auto auto;
        position: relative
    }

    #choosePage .glad_guys .glad_guys_content .guys_list_img {
        width: 450px;
        height: 198px;
        border: 1px solid transparent
    }

    #choosePage .glad_guys .glad_guys_content .guys_list_img .guys_list_img_text {
        font-size: 22px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 40px;
        margin: 48px 47px auto
    }

    #choosePage .glad_guys .glad_guys_content .guys_list_bototm {
        display: flex
    }

    #choosePage .glad_guys .glad_guys_content .guys_list_bototm img {
        width: 36px;
        height: 36px;
        border-radius: 50%
    }

    #choosePage .glad_guys .glad_guys_content .guys_list_bototm .guys_list_txt {
        margin-left: 12px
    }

    #choosePage .glad_guys .glad_guys_content .guys_list_bototm .guys_list_txt .guys_list_label {
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        color: #333333
    }

    #choosePage .glad_guys .glad_guys_content .guys_list_bototm .guys_list_txt .guys_list_desc {
        font-size: 16px;
        line-height: 16px;
        margin-top: 12px;
        font-weight: 400;
        color: #8C98AF
    }

    #choosePage .glad_guys .glad_guys_content .guys_one {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1
    }

    #choosePage .glad_guys .glad_guys_content .guys_one .guys_list_img {
        background: url(../images/chooseMarket/index/blue_bg.png) no-repeat top
    }

    #choosePage .glad_guys .glad_guys_content .guys_two {
        position: absolute;
        top: 129px;
        left: 377px;
        z-index: 2
    }

    #choosePage .glad_guys .glad_guys_content .guys_two .guys_list_img {
        background: url(../images/chooseMarket/index/orange_bg.png) no-repeat top
    }

    #choosePage .glad_guys .glad_guys_content .guys_three {
        position: absolute;
        top: 0;
        left: 751px;
        z-index: 3
    }

    #choosePage .glad_guys .glad_guys_content .guys_three .guys_list_img {
        background: url(../images/chooseMarket/index/blue_bg.png) no-repeat top
    }

    #choosePage .glad_guys .glad_guys_content .guys_three .guys_list_bototm {
        margin-left: 125px
    }



    .searchContainer {
        width: 1200px;
        height: 260px;
        border-radius: 6px;
        margin-top: 45px;
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
        background: url("/img/customers/bd_sear_bg.png") no-repeat center/100%
    }

    .searchContainer .linkBtnBox {
        width: 820px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px
    }

    .searchContainer .linkBtnBox ul {
        display: flex;
        align-items: center
    }

    .searchContainer .linkBtnBox ul.right li {
        margin-right: 0;
        margin-left: 20px
    }

    .searchContainer .linkBtnBox ul li {
        width: 120px;
        height: 40px;
        background: #1a64e0;
        border-radius: 4px;
        margin-right: 20px
    }

    .searchContainer .linkBtnBox ul li:hover {
        background: linear-gradient(-17deg, #FF8C88, #FFCBAC)
    }

    .searchContainer .linkBtnBox ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-family: A-OTF Jun Pro 34;
        color: #fff
    }

    .searchContainer .linkBtnBox ul li a:hover {
        color: #522214 !important
    }

    .searchContainer .linkBtnBox ul li.active {
        background: linear-gradient(-17deg, #FF8C88, #FFCBAC);
        position: relative;
        box-shadow: 0px 4px 15px 0px rgba(16,94,190,0.5)
    }

    .searchContainer .linkBtnBox ul li.active a {
        color: #522214
    }

    .searchContainer .linkBtnBox ul li.active::after {
        content: '';
        width: 0;
        height: 0;
        border: 6px solid;
        border-color: #FF8C88 transparent transparent transparent;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -12px;
        margin: auto;
        z-index: 1888
    }

    .searchContainer .searchBox {
        width: 820px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        border-radius: 6px;
        margin-top: 24px;
        position: relative
    }

    .searchContainer .searchBox .icon {
        width: 16px;
        height: 100%;
        margin-left: 20px;
        background: url("/img/customers/icon_se.png") no-repeat center/16px
    }

    .searchContainer .searchBox .inputSearch {
        flex: 1;
        height: 100%;
        padding-right: 30px;
        position: relative
    }

    .searchContainer .searchBox .inputSearch #surveySearch {
        width: 100%;
        height: 100%;
        padding: 10px;
        background: #fff;
        border: none;
        font-size: 14px
    }

    .searchContainer .searchBox .inputSearch #surveySearch::placeholder {
        color: #909399;
        font-size: 14px
    }

    .searchContainer .searchBox .inputSearch .icon-guanbi1 {
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: none;
        align-items: center;
        cursor: pointer;
        color: #909399;
        user-select: none;
        line-height: 50px
    }

    .searchContainer .searchBox #searchBtn {
        width: 100px;
        height: 50px;
        background: linear-gradient(0deg, #FF7E71, #FF7E71);
        border-radius: 0px 6px 6px 0px;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 50px;
        text-align: center;
        padding: 0;
        border: none
    }

    .searchContainer .searchBox #searchBtn:hover {
        background: linear-gradient(0deg, #FF6859, #FF7E71)
    }

    .searchContainer .searchBox #searchBtn:active {
        background: linear-gradient(0deg, #FF6859, #FF5948)
    }

    .searchContainer .searchBox .history_drop {
        position: absolute;
        display: none;
        width: 720px;
        background: #FFFFFF;
        border: 1px solid #DEDFE4;
        box-shadow: 0px 2px 20px 0px rgba(46,46,46,0.15);
        border-radius: 6px;
        padding: 20px;
        top: 55px;
        left: 0px;
        z-index: 1
    }

    .searchContainer .searchBox .history_drop .drop_item {
        width: 100%
    }

    .searchContainer .searchBox .history_drop .drop_item .item_title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px
    }

    .searchContainer .searchBox .history_drop .drop_item .item_title .title_label {
        font-size: 14px;
        color: #999999
    }

    .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box {
        display: flex;
        align-items: center;
        cursor: pointer
    }

    .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box .delete_icon {
        width: 14px;
        height: 14px;
        background: url("../images/searchWorld/cq_icon_del.png") no-repeat;
        background-size: 100% 100%
    }

    .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box .delete_label {
        font-size: 13px;
        color: #999999;
        margin: 2px 0 0 7px
    }

    .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box:hover .delete_icon {
        background: url("../images/searchWorld/cq_icon_del02.png") no-repeat;
        background-size: 100% 100%
    }

    .searchContainer .searchBox .history_drop .drop_item .item_title .delete_box:hover .delete_label {
        color: #4D64CC
    }

    .searchContainer .searchBox .history_drop .drop_item .search_box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-height: 80px;
        overflow: hidden
    }

    .searchContainer .searchBox .history_drop .drop_item .search_box .search_item {
        display: block;
        height: 28px;
        line-height: 26px;
        max-width: 244px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 10px 10px 0 0;
        background: #F4F3F8;
        border: 1px solid #EBEAED;
        border-radius: 2px;
        font-size: 13px;
        color: #555555
    }

    .searchContainer .searchBox .history_drop .drop_item .search_box .search_item:hover {
        color: #2486EE !important
    }

    .searchContainer .searchBox .history_drop .drop_item .history_list .history_item {
        display: flex;
        align-items: center;
        margin-top: 10px
    }

    .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .history_icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url("../images/searchWorld/clock.png") no-repeat;
        background-size: 100% 100%
    }

    .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .country_name {
        display: inline-block;
        padding: 1px 5px;
        background: #E7F4FF;
        color: #2B93EE;
        font-size: 13px;
        margin-left: 5px
    }

    .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .history_label {
        display: inline-block;
        width: 500px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        color: #555555;
        margin-left: 10px
    }

    .searchContainer .searchBox .history_drop .drop_item .history_list .history_item .history_label:hover {
        color: #4D64CC
    }

    .searchContainer .searchBox .history_drop .recentSearch {
        margin-bottom: 26px
    }

    .searchContainer .searchBox .history_drop .login_tips_box {
        width: 445px;
        height: 49px;
        background: url("../images/searchWorld/drop_login_tips.png") no-repeat;
        background-size: 100% 100%;
        margin: 20px auto 0;
        overflow: hidden;
        display: none
    }

    .searchContainer .searchBox .history_drop .login_tips_box .drop_login_botton {
        font-size: 14px;
        color: #6283FB;
        margin: 20px 0 0 350px;
        cursor: pointer
    }

    .searchContainer .searchBox .history_drop .login_tips_empty_box {
        width: 100%;
        display: none
    }

    .searchContainer .searchBox .history_drop .login_tips_empty_box .login_tips_empty_img {
        width: 285px;
        height: 83px;
        background: url("../images/searchWorld/drop_login_tips_empty.png") no-repeat;
        background-size: 100% 100%;
        margin: 0px auto 30px
    }

    .searchContainer .searchBox .history_drop .login_tips_empty_box .drop_login_botton {
        width: 128px;
        height: 39px;
        background: linear-gradient(0deg, #468fff 0%, #0b67f4 100%);
        border-radius: 6px;
        text-align: center;
        line-height: 39px;
        font-size: 14px;
        color: #FFFFFF;
        cursor: pointer;
        margin: 0 auto
    }

    .searchContainer .hot {
        width: 820px;
        margin-top: 26px;
        display: flex;
        align-items: center
    }

    .searchContainer .hot .hotItem {
        width: calc((100% - 20px) / 3);
        margin-right: 10px;
        display: flex;
        align-items: center;
        background: rgba(33,107,231,0.6);
        padding: 11px 15px;
        border-radius: 8px;
        color: #E2F1FE
    }

    .searchContainer .hot .hotItem:hover {
        cursor: pointer;
        background: #216be7
    }

    .searchContainer .hot .hotItem::last-child {
        margin-right: 0
    }

    .searchContainer .hot .hotItem .info {
        width: calc(100% - 22px);
        margin-right: 10px
    }

    .searchContainer .hot .hotItem .info a {
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 14px;
        font-weight: bold
    }

    .searchContainer .hot .hotItem .info a:hover {
        color: #fff !important
    }

    .searchContainer .hot .hotItem .info .orgStatics {
        width: 100%
    }

    .searchContainer .hot .hotItem .info .orgStatics p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 12px
    }

    .searchContainer .hot .hotItem .icon {
        font-size: 18px;
        color: #4AFFD2
    }
    .advantage_item{display:none;}
    /**手机版**/
    @media (max-width: 992px){
        #main{margin-top:80px;}
        .searchContainer{width:100%;margin-top:0px;height:200px;background:url("/img/customers/bd_sear_bg.png") no-repeat bottom/100%;}
        .searchContainer .linkBtnBox{width:100%;justify-content: center;}
        .searchContainer .searchBox{width:95%;margin-top:34px;}
        .searchContainer .linkBtnBox ul{padding-left: 0;}
        .searchContainer .linkBtnBox ul li:nth-of-type(2){margin-right:0;}
        .searchContainer .searchBox #searchBtn{width:75px;font-size:15px;}
        .searchContainer .searchBox .icon{margin-left:10px;}
        .searchContainer .searchBox .inputSearch{padding-right:10px;font-size:12px;}
        #choosePage .market_top_bg .chooseMarket_title{font-size: 30px;margin-top:40px;}
        #choosePage .market_top_bg .chooseMarket_txt{font-size: 20px;margin-top:10px;}
        #choosePage .market_top_bg{height:330px;}
        #choosePage .market_question{height:510px;}
        #choosePage .market_question p{font-size: 20px;padding-top:40px;}
        #choosePage .market_question .market_question_content{width:100%;display: block;padding:15px;box-sizing: border-box;}
        #choosePage .market_question .market_question_content .market_question_list{margin-top:10px;width:49%;height:185px;display:inline-block;padding:0 20px;box-sizing: border-box;}
        #choosePage .market_question .market_question_content .market_question_list:nth-of-type(odd){margin-right:2px;}
        #choosePage .market_question .market_question_content .market_question_list img{width:100%;height:fit-content;margin-top:10px;}
        #choosePage .market_question .market_question_content .market_question_list .market_question_list_txt{display:none;font-size:14px;margin-top:15px;}
        #choosePage .market_question .market_question_content .market_question_list .market_question_list_txt .sp{font-size:14px;}
        .advantage_item{display: block;margin-top:15px;}
        .advantage_item .advantage_label_top .emphasize {color: #2486EE;font-weight: bold;}
        .advantage_item .advantage_label_bottom {width: 100%;text-align: right;font-size: 15px;color: #333333;margin-top: 0.15rem;}
        .advantage_item .advantage_label_bottom .emphasize {color: #2486EE;font-weight: bold;}
        #choosePage .find_market{height:525px;}
        #choosePage .find_market p{font-size:20px;padding-top:40px;}
        #choosePage .find_market .find_market_content{margin-top:40px;display: block;text-align: center;}
        #choosePage .find_market .find_market_content img{width: 80%;height:fit-content;}
        #choosePage .find_market .find_market_content .find_market_list{width: 100%;height:fit-content;padding: 0 40px;}
        #choosePage .find_market .find_market_content .find_market_list .border{margin-top:40px;margin-left:0;}
        #choosePage .find_market .find_market_content .find_market_list .market_list_detail{margin-left:0;margin-top:25px;}
        #choosePage .find_market .find_market_content .find_market_list .market_list_detail .market_list{font-size:14px;}
        #choosePage .glad_find_world{height:590px;}
        #choosePage .glad_find_world img{width: 100%;}
        #choosePage .glad_find_world .glad_find_world_title{font-size:20px;padding-top:50px;}
        #choosePage .glad_find_world .glad_find_world_txt{font-size: 12px;margin-top: 10px;}
        #choosePage .glad_find_world .glad_find_world_content{width: 100%;display: block;padding:0 20px;margin-top:20px;}
        #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list{width:100%;height:68px;margin-bottom:10px;}
        #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_left{width: 80px;height: 68px;line-height: 68px;font-size: 20px;}
        #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_left .sp1 {font-size: 20px;}
        #choosePage .glad_find_world .glad_find_world_content .glad_find_world_list .find_world_right .right_p1{margin-top:15px;font-size: 15px;line-height: 15px;}
    }
</style>
<div id="main">

    <div id="choosePage">
        <div class="market_top_bg">

            <h1 class="chooseMarket_title ">选市场</h1>
            <div class="chooseMarket_txt">多维数据分析轻松选出最适市场</div>
            <div class="market_dialog" style="display:none;">
                <div class="market_dialog_content">

                    <div class="market_dialog_content_btn notips">
                        <div class="label">贸易类型：</div>
                        <div class="market_btn market_come market_active" data-i="1">出口</div>
                        <div class="market_btn market_leave" data-i="2">进口</div>
                    </div>
                    <div class="market_dialog_content_input">
                        <div class="label">查看分析：</div>
                        <div class="market_input_box" id="market_drop_down">
                            <div class="input_content">
                                <input id="market_input" name="market_input" type="text" autocomplete="off" placeholder="请输入2-8位的HS编码或中文商品描述">
                                <div class="search_button">查询</div>
                            </div>
                            <div class="market_drop_down">
                                <ul class="drop_ul"></ul>
                                <div class="market_no_result">
                                    <div class="img">
                                        <div class="t1">没有找到您要查询的信息，请重新调整关键词</div>
                                        <div class="t2">或先<span class="toHscode">检查/匹配 HS编码 &gt;&gt;</span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="cm_sh_drop" id="cm_sh_drop" style="display: none;">
                                <div class="drop_item recentSearch" style="display: none;">
                                    <div class="item_title">
                                        <div class="title_label">最近搜索</div>
                                        <div class="delete_box" id="recentSearchDelete">
                                            <i class="gald_iconfont delete_icon"></i>
                                            <div class="delete_label">清除</div>
                                        </div>
                                    </div>
                                    <div class="drop_search_list" id="drop_search_list"></div>
                                </div>
                                <div class="drop_item history_box" style="display: none;">
                                    <div class="item_title">
                                        <div class="title_label">浏览历史</div>
                                        <div class="delete_box" id="historyDelete">
                                            <i class="gald_iconfont delete_icon"></i>
                                            <div class="delete_label">清除</div>
                                        </div>
                                    </div>
                                    <div class="history_list" id="history_list">

                                    </div>
                                </div>

                                <div class="login_tips_empty_box" style="display: block;">
                                    <div class="login_tips_empty_img"></div>
                                    <div class="drop_login_botton">马上登录</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="market_dialog_content_hot">
                        <div class="hot_search">热搜：</div>

                        <a target="_blank" href="/chooseMarket/export/67041900">
                            <div class="hot_list">【出口】假发睫毛</div>
                        </a>

                        <a target="_blank" href="/chooseMarket/export/29012100">
                            <div class="hot_list">【出口】乙烯</div>
                        </a>

                        <a target="_blank" href="/chooseMarket/import/85168000">
                            <div class="hot_list">【进口】加热电阻器</div>
                        </a>

                        <a target="_blank" href="/chooseMarket/import/854141">
                            <div class="hot_list">【进口】发光二极管</div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="searchContainer">
                <div class="linkBtnBox">
                    <ul>
                        <li class="active">
                            <a href="javascript:void(0);">出口</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">进口</a>
                        </li>
                    </ul>
                </div>
                <div class="searchBox">
                    <div class="icon"></div>
                    <div class="inputSearch">
                        <input type="text" id="surveySearch" placeholder="请输入2-8位的HS编码或中文商品描述" autocomplete="off">
                        <i class="gald_iconfont icon-guanbi1" id="clear_surveySearch"></i>
                    </div>
                    <button id="searchBtn">立即查询</button>

                    <div class="history_drop" id="history_drop">
                        <div class="drop_item recentSearch">
                            <div class="item_title">
                                <div class="title_label">最近搜索</div>
                                <div class="delete_box" id="recentSearchDelete">
                                    <div class="delete_icon"></div>
                                    <div class="delete_label">清除</div>
                                </div>
                            </div>
                            <div class="search_box" id="search_box"></div>
                        </div>
                        <div class="drop_item history_box">
                            <div class="item_title">
                                <div class="title_label">浏览历史</div>
                                <div class="delete_box" id="historyDelete">
                                    <div class="delete_icon"></div>
                                    <div class="delete_label">清除</div>
                                </div>
                            </div>
                            <div class="history_list" id="history_list"></div>
                        </div>

                        <div class="login_tips_empty_box">
                            <div class="login_tips_empty_img"></div>
                            <div class="drop_login_botton">马上登录</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="market_question">
            <p>手握产品，你正为找不到市场困扰吗？</p>
            <div class="market_question_content">

                <div class="market_question_list">
                    <img src="/img/customers/question1.png" alt="">
                    <div class="market_question_list_txt">
                        <span class="sp">产品销量&nbsp;</span>
                        全凭经验猜测
                        <span class="sp">&nbsp;</span>？
                    </div>
                    <div class="advantage_item">
                        <div class="advantage_label_top">
                            <span class="emphasize">产品销量</span>
                        </div>
                        <div class="advantage_label_bottom">
                            全凭经验猜测？
                        </div>
                    </div>
                </div>

                <div class="market_question_list">
                    <img src="/img/customers/question2.png" alt="">
                    <div class="market_question_list_txt">
                        <span class="sp">&nbsp;</span>
                        不清楚产品最新
                        <span class="sp">&nbsp;市场走向</span>？
                    </div>
                    <div class="advantage_item">
                        <div class="advantage_label_top">
                            不清楚产品最新
                        </div>
                        <div class="advantage_label_bottom">
                            <span class="emphasize">市场走向</span>？
                        </div>
                    </div>
                </div>

                <div class="market_question_list">
                    <img src="/img/customers/question3.png" alt="">
                    <div class="market_question_list_txt">
                        <span class="sp">&nbsp;</span>
                        不了解近几年产品
                        <span class="sp">&nbsp;价格波动</span>？
                    </div>
                    <div class="advantage_item">
                        <div class="advantage_label_top">
                            不了解近几年产品
                        </div>
                        <div class="advantage_label_bottom">
                            <span class="emphasize">价格波动</span>？
                        </div>
                    </div>
                </div>

                <div class="market_question_list">
                    <img src="/img/customers/question4.png" alt="">
                    <div class="market_question_list_txt">
                        <span class="sp">&nbsp;</span>
                        想获得精准的
                        <span class="sp">&nbsp;市场分析</span>？
                    </div>
                    <div class="advantage_item">
                        <div class="advantage_label_top">
                            想获得精准的
                        </div>
                        <div class="advantage_label_bottom">
                            <span class="emphasize">市场分析</span>？
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="find_market">
            <p>GOGO“选市场”，精准锁定潜力市场</p>
            <div class="find_market_content">
                <img src="/img/customers/line_img.png" alt="">
                <div class="find_market_list">
                    <div class="border"></div>
                    <div class="market_list_detail">

                        <div class="market_list">
                            <div class="duigou"></div>
                            <div class="market_list_txt">全球市场分布</div>
                        </div>

                        <div class="market_list">
                            <div class="duigou"></div>
                            <div class="market_list_txt">细分市场平均价格</div>
                        </div>

                        <div class="market_list">
                            <div class="duigou"></div>
                            <div class="market_list_txt">细分市场规模分析</div>
                        </div>

                        <div class="market_list">
                            <div class="duigou"></div>
                            <div class="market_list_txt">国内竞争环境分析</div>
                        </div>

                        <div class="market_list">
                            <div class="duigou"></div>
                            <div class="market_list_txt">市场趋势波动分析</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="glad_find_world" style="text-align: center;">
            <p class="glad_find_world_title">GOGO“选市场”，覆盖全球240+市场</p>
            <p class="glad_find_world_txt">美国、英国、法国、德国、意大利、韩国、日本、印度、巴西、阿联酋等</p>
            <img src="/img/customers/find_world.png" alt="">
            <div class="glad_find_world_content">

                <div class="glad_find_world_list">
                    <div class="find_world_left">89<span class="sp1">%</span></div>
                    <div class="find_world_right">
                        <div class="right_p1">节省分析时间</div>
                        <div class="right_p2">多样统计图表输出  复杂数据更易读</div>
                    </div>
                </div>

                <div class="glad_find_world_list">
                    <div class="find_world_left">90<span class="sp1">%</span></div>
                    <div class="find_world_right">
                        <div class="right_p1">提升选市场成功率</div>
                        <div class="right_p2">海量海关原始数据  精准贸易数据分析</div>
                    </div>
                </div>

                <div class="glad_find_world_list">
                    <div class="find_world_left">85<span class="sp1">%</span></div>
                    <div class="find_world_right">
                        <div class="right_p1">提升贸易额</div>
                        <div class="right_p2">深度市场分析  精准触达细分市场</div>
                    </div>
                </div>

            </div>
        </div>
</div>

{include file="common/footer"}
<script>
    $('.linkBtnBox ul li').click(function(){
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
    });

    layui.use(['layer','form','laydate','upload'],function() {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;

        $('#searchBtn').click(function () {
            let market_input = $('#market_input').val();
            $.ajax({
                url: "/?s=index/chooseMarket",
                method: 'post',
                data: {'market_input': market_input},
                dataType: 'JSON',
                success: function (res) {
                    if (res.code == 0) {
                        if(res.jump_gld==0){
                            layer.confirm('是否同意授权跳转到第三方网站[格兰德]？', {
                                btn: ['同意','拒绝']
                            }, function(){
                                $.ajax({
                                    url: "/?s=index/goto_gld",
                                    method: 'post',
                                    data: {'is_jump': 1,'firsttimes':1,'type':1},
                                    dataType: 'JSON',
                                    success: function (res) {
                                        if(res.code==0){
                                            window.location.href=res.url;
                                        }
                                    }
                                });
                            }, function(){

                            });
                        }
                        else{
                            $.ajax({
                                url: "/?s=index/goto_gld",
                                method: 'post',
                                data: {'is_jump': 1,'firsttimes':0,'type':1},
                                dataType: 'JSON',
                                success: function (res) {
                                    if(res.code==0){
                                        window.location.href=res.url;
                                    }
                                }
                            });
                        }
                    } else if (res.code == -1) {
                        layer.msg(res.msg, {time: 2000}, function () {
                            // window.location.href = "/?s=index/customer_login";
                            layer.open({
                                type: 2,
                                title: '请先登录',
                                shadeClose: true,
                                shade: 0.3,
                                area: ['100%', '100%'],
                                content: "/?s=index/customer_login&open=3",
                            });
                        });
                    } else if (res.code == -2) {

                    }
                },
                error: function (data) {
                    layer.msg('系统错误', {time: 2000});
                }
            });
        });
    });
</script>