{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style>
    li{list-style: none;}
    p{margin-bottom:0;}
    a{text-decoration:none !important;}

    #pageMain {
        background: #F4F7FA
    }

    #pageMain .top_bg {
        width: 100%;
        height: 334px;
        background: url("/img/customers/zkh_banner_bg.jpg") no-repeat top
    }

    #pageMain .top_bg .title {
        padding-top: 70px;
        text-align: center;
        font-size: 50px;
        line-height: 50px;
        font-weight: bold;
        color: #FFFFFF;
        text-shadow: 0px 1px 8px rgba(0,0,0,0.2)
    }

    #pageMain .top_bg .desc {
        padding-top: 20px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        font-weight: 400;
        color: #FFFFFF;
        text-shadow: 0px 1px 8px rgba(89,183,217,0.66)
    }

    #pageMain .top_nav_box {
        margin: -116px auto 0;
        width: 1200px;
        height: 200px;
        background: #FFFFFF;
        box-shadow: 0px 3px 18px 0px rgba(42,91,173,0.04);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly
    }

    #pageMain .top_nav_box .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        height: 168px;
        border-radius: 6px;
        position: relative;
        background: #E9F0FC
    }

    #pageMain .top_nav_box .list.noLink {
        cursor: not-allowed
    }

    #pageMain .top_nav_box .list:hover {
        background: #E1EBFC;
        transform: translateY(-5px)
    }

    #pageMain .top_nav_box .list .icon {
        margin-top: 26px
    }

    #pageMain .top_nav_box .list .title {
        font-size: 20px;
        font-weight: bold;
        color: #303133;
        line-height: 20px;
        margin-top: 22px
    }

    #pageMain .top_nav_box .list .desc {
        font-size: 13px;
        font-weight: 400;
        color: #798498;
        line-height: 14px;
        margin-top: 12px
    }

    #pageMain .top_nav_box .list .please_wait {
        position: absolute;
        width: 80px;
        height: 24px;
        background: #94A5C3;
        border-radius: 12px 16px 0px 12px;
        font-size: 13px;
        font-weight: 400;
        color: #FFFFFF;
        text-align: center;
        line-height: 24px;
        left: 22px;
        top: 22px
    }

    #pageMain .top_nav_box .list .beta {
        position: absolute;
        width: 46px;
        height: 20px;
        left: 60px;
        top: 22px;
        background: url("/img/customers/beta.png") no-repeat center
    }

    #pageMain .top_nav_box .list .new {
        position: absolute;
        width: 38px;
        height: 18px;
        right: 60px;
        top: 22px;
        background: url("/public/images/homeV2/new.png") no-repeat center
    }

    #pageMain .top_nav_box .list .discount {
        position: absolute;
        width: 65px;
        height: 16px;
        right: 40px;
        top: 22px;
        background: url(/public/images/homeV2/customer_discount.png) no-repeat center
    }

    #pageMain .directories {
        display: block;
        width: 1200px;
        height: 120px;
        margin: 24px auto 0;
        padding-left: 260px;
        background: url("/img/customers/banner_bg.png") no-repeat top
    }

    #pageMain .directories:hover {
        background: url("/img/customers/banner_bg_hover.png") no-repeat top
    }

    #pageMain .directories:hover .title {
        color: #FFFFFF
    }

    #pageMain .directories:hover .desc {
        color: #FFFFFF
    }

    #pageMain .directories .title {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        color: #303133;
        padding-top: 34px
    }

    #pageMain .directories .desc {
        padding-top: 13px;
        font-size: 14px;
        line-height: 14px;
        font-weight: 400;
        color: #798498
    }

    #pageMain .findTitle {
        font-size: 28px;
        font-weight: 400;
        color: #303133;
        line-height: 28px;
        margin-top: 80px;
        text-align: center;
        padding-bottom: 60px
    }

    #pageMain .tool_box {
        display: flex;
        align-items: center;
        width: 1200px;
        height: 507px;
        margin: auto;
        margin-bottom: 50px
    }

    #pageMain .tool_box .findCust {
        width: 558px;
        height: 507px;
        background: url("/img/customers/2_bg.png") no-repeat top;
        background-size: 100% 100%
    }

    #pageMain .tool_box .tool_list {
        height: 100%;
        width: 642px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    #pageMain .tool_box .tool_list .list {
        width: 100%;
        height: 126px;
        background: #fff;
        display: flex
    }

    #pageMain .tool_box .tool_list .list:hover {
        background: #F3F6FF
    }

    #pageMain .tool_box .tool_list .list .desc_detail .title {
        display: flex;
        padding-top: 30px;
        align-items: center;
        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        color: #303133;
        position: relative
    }

    #pageMain .tool_box .tool_list .list .desc_detail .title .line {
        margin-left: 40px;
        margin-right: 10px;
        width: 4px;
        height: 16px;
        background: #4088FF
    }

    #pageMain .tool_box .tool_list .list .desc_detail .title .betaFind {
        position: absolute;
        top: 25px;
        left: 183px;
        width: 27px;
        height: 14px;
        background: url("/img/customers/beta2.png") no-repeat top
    }

    #pageMain .tool_box .tool_list .list .desc_detail .title .newFind {
        position: absolute;
        top: 25px;
        left: 183px;
        width: 24px;
        height: 13px;
        background: url("/public/images/homeV2/top_new.png") no-repeat top
    }

    #pageMain .tool_box .tool_list .list .desc_detail .desc {
        margin-top: 14px;
        margin-left: 54px;
        width: 400px;
        font-size: 14px;
        font-weight: 400;
        color: #959EAD
    }

    #pageMain .tool_box .tool_list .list .search_btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 38px;
        background: #4088FF;
        border-radius: 4px;
        margin: auto;
        font-size: 15px;
        font-weight: 400;
        color: #FFFFFF !important
    }

    #pageMain .tool_box .tool_list .list .search_btn.active {
        cursor: default;
        background: #A7B8D4
    }

    #pageMain .problem_handling {
        width: 100%;
        height: 580px;
        background: #FFFFFF
    }

    #pageMain .problem_handling .title {
        padding-top: 80px;
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        color: #303133;
        text-align: center
    }

    #pageMain .problem_handling .list_box {
        margin: 34px auto auto;
        width: 1119px;
        height: 395px;
        background: url("/img/customers/problem_list.png") no-repeat top;
        background-size: 100% 100%
    }

    #pageMain .successful_case {
        width: 100%;
        height: 558px;
        background: #396EC8
    }

    #pageMain .successful_case .customer_banner_p {
        font-size: 28px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 28px;
        padding-top: 80px;
        text-align: center
    }

    #pageMain .successful_case .banner_content {
        width: 1200px;
        margin: 50px auto auto;
        position: relative
    }

    #pageMain .successful_case .banner_content .leftbtn {
        position: absolute;
        top: 140px;
        left: -100px;
        width: 44px;
        height: 44px;
        cursor: pointer;
        background: url("../images/customer/country/left.png") no-repeat center
    }

    #pageMain .successful_case .banner_content .rightbtn {
        position: absolute;
        cursor: pointer;
        top: 140px;
        right: -100px;
        width: 44px;
        height: 44px;
        background: url("../images/customer/country/right.png") no-repeat center
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list {
        width: 380px;
        height: 320px;
        background: #FFFFFF;
        border-radius: 10px 10px 60px 10px
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .top {
        position: relative;
        display: flex
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .top .icon_1 {
        width: 64px;
        height: 42px;
        margin-top: 37px;
        margin-left: 29px;
        background: url("../images/customer/country/bannericon.png") no-repeat center
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .top .call {
        margin-left: 120px;
        margin-top: 43px;
        text-align: center
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .top .call .name {
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
        color: #333333
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .top .call .duty {
        font-size: 14px;
        line-height: 14px;
        margin-top: 8px;
        font-weight: 400;
        color: #959EAD
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .top img {
        position: absolute;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        border: 2px solid #e6ecf8;
        top: 22px;
        right: 22px
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .p_title {
        font-size: 20px;
        font-weight: bold;
        color: #396EC8;
        margin-top: 40px;
        margin-left: 31px
    }

    #pageMain .successful_case .banner_content .banner_box_list .swiper_list .bottom_txt {
        padding-left: 29px;
        padding-right: 29px;
        font-size: 14px;
        font-weight: 400;
        color: #959EAD;
        margin-top: 37px
    }

    /**手机版**/
    @media (max-width: 992px) {
        #pageMain .top_bg .title {padding-top: 110px;font-size: 30px;}
        #pageMain .top_bg .desc {padding-top: 0px;font-size: 20px;}
        #pageMain .top_nav_box {width: 100%;height:fit-content;flex-wrap: wrap;padding:20px 15px;box-sizing: border-box;}
        #pageMain .top_nav_box .list{width: 45%;margin-bottom: 20px;padding: 10px 10px;height:fit-content;}
        #pageMain .top_nav_box .list:nth-of-type(3){margin:0;}
        #pageMain .top_nav_box .list:nth-of-type(4){margin:0;}
        #pageMain .top_nav_box .list .title {font-size: 15px;}
    }

</style>
<div id="main">

    <div id="pageMain" style="padding-bottom:20px;">
        <div class="top_bg">
            <h1 class="title"  style="margin-top:0;">找客户</h1>
            <p class="desc">四大渠道全网络大数据精准获客</p>
        </div>
        <div class="top_nav_box">
            <a href="/?s=index/searchengine" target="_blank" class="list">
                <img class="icon" src="/img/customers/icon_qiye(1).png" alt="">
                <p class="title">搜索引擎获客</p>
                <p class="desc">全球客户网址及联系方式，按地区/商品筛选</p>
            </a>
            <a href="/?s=index/domainsearch" target="_blank" class="list">
                <img class="icon" src="/img/customers/icon_domain.png" alt="">
                <p class="title">域名任务获客</p>
                <p class="desc">批量域名，一键获取客户邮箱及联系人</p>
                <div class="new"></div>
            </a>
            <a href="/?s=index/findcustomers" target="_blank" class="list">
                <img class="icon" src="/img/customers/icon_qiye(3).png" alt="">
                <p class="title">海关数据</p>
                <p class="desc">最新海关数据，全球真实买家</p>
                <div class="discount"></div>
            </a>
            <a href="/?s=index/enterprise" target="_blank" class="list">
                <img class="icon" src="/img/customers/icon_qiye.png" alt="">
                <p class="title">社交媒体获客</p>
                <p class="desc">全球企业按商品/行业筛选，匹配联系方式</p>
            </a>
        </div>
    </div>

</div>
{include file="common/footer"}