{include file="common/header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    
    .layui-form-label{width:100px;}
    .layui-input-block{line-height:38px;}
    legend{width:unset;border-bottom:0;}
    .ordertype2,.type1_h,.type1,.type2,.create_user,.type2_h,.type3,.sms{display:none;}
    .layui-form-checkbox i{border-left: 1px solid #d2d2d2;width: 25px;height: 23px;}
    .condi_cb .disf{margin-right:7px;}
    .layui-form-checkbox{margin-right:2px;}

    .tips_item {
        width: 100%;
        padding: 50px 0 0;
    }
    .tips_item .ymrwhk {
        width: 1096px;
        height: 406px;
        background: url(/img/customers/yuming_pic.png) no-repeat;
        background-size: 100% 100%;
        margin: 30px auto 0;
    }
    .tips_item .title {
        font-size: 28px;
        font-weight: 400;
        color: #303133;
        width: 100%;
        text-align: center;
    }
    .tips_item .example_box .example_type_button_box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .tips_item .example_box .example_type_button_box .example_type_button.active {
        width: 125px;
        box-shadow: 0px 2px 10px 0px rgba(219,126,0,0.35);
        background: #F8A12B;
        color: #fff;
        z-index: 9;
    }
    .tips_item .example_box .example_type_button_box .example_type_button {
        width: 140px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        background: #FFF3E3;
        color: #F8A12B;
        cursor: pointer;
    }
    .tips_item .example_box .example_type_button_box .example_type_button {
        width: 140px;
        height: 40px;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        background: #FFF3E3;
        color: #F8A12B;
        cursor: pointer;
    }
    .tips_item .example_box .example_table_box {
        width: 1050px;
        background: #ffffff;
        margin: 20px auto;
    }
    .tips_item .example_box .example_table_box .expDemoTable {
        border-collapse: collapse;
    }
    .tips_item .example_box .example_table_box .expDemoTable thead {
        background: #F0F7FF;
    }
    .tips_item .example_box .example_table_box .expDemoTable.domaoinTable td:nth-of-type(1) {
        width: 48px;
    }
    .tips_item .example_box .example_table_box .expDemoTable thead td {
        color: #606266;
        height: 46px;
        padding: 0 10px;
    }
    .tips_item .example_box .example_table_box .expDemoTable td {
        border: 1px solid #DBEAF8;
        padding: 13px 10px;
        font-size: 14px;
        color: #303133;
        text-align: center;
    }

    /**手机版**/
    @media (max-width: 992px){
        #content{padding-top: 40px;}
        .layui-form-item .layui-form-label{padding: 9px 5px;width: 80px;}
        .layui-input-block {margin-left: 90px;}
        .tips_item {width: 100%;padding: 30px 0 0;}
        .tips_item .ymrwhk{width: 100%;height: 180px;}
        .tips_item .example_box .example_table_box{width: 100%;overflow-x:scroll; }
    }
</style>

<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" style="padding:0;">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <form class="layui-form" action="" method="post" lay-filter="component-form-element">
                        <div class="layui-col-md12">
                            <!--<a href="javascript:history.back(-1);">-->
                            <!--    <div style="display:flex;align-items:center;border: 1px solid #fff;width: fit-content;padding: 10px 20px;border-radius: 15px;background: #8f8b8b;margin-bottom:30px;color:#fff;">-->
                            <!--        <img class="" src="./img/account/back.png" alt="" style="width: 18px;margin-right: 10px;"/>-->
                            <!--        返回-->
                            <!--    </div>-->
                            <!--</a>-->
                            <div class="layui-card">
                                <div class="layui-card-body">
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">域名任务</div>
                                        <div class="layui-input-block">
                                            <input type="text" class="layui-input" name="create_task_name" value="" placeholder="请输入任务名称（选填）"/>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-form-label">任务网址</div>
                                        <div class="layui-input-block">
                                            <textarea name="" id="" class="layui-textarea" placeholder="请输入格式正确的网址,多个网址请以换行隔开"></textarea>
                                        </div>
                                    </div>
                                    
                                   
                                </div>
                                <div class="layui-form-item" style="margin-top: 25px;text-align: center;">
                                    <div>
                                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="component-form-element2">提交任务</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-body">
<!--                                <p class="f22" style="text-align: center;margin-top:10px;">域名获客任务</p>-->
                                <div class="tips_item">
                                    <div class="title">域名获客任务</div>
                                    <div class="ymrwhk"></div>
                                </div>
                                <div class="tips_item">
                                    <div class="title">导出示例</div>
                                    <div class="example_box">
                                        <div class="example_type_button_box">
                                            <div class="example_type_button domainInfo active" flag="domainInfo">域名信息</div>
                                            <div class="example_type_button emailInfo" flag="emailInfo">邮箱信息</div>
                                        </div>
                                        <div class="example_table_box">
                                            <table class="expDemoTable domaoinTable" style="">
                                                <thead>
                                                <tr>
                                                    <td nowrap="nowrap">序号</td>
                                                    <td nowrap="nowrap">域名</td>
                                                    <td nowrap="nowrap">国家</td>
                                                    <td nowrap="nowrap">网站世界排名</td>
                                                    <td nowrap="nowrap">网站注册时间</td>
                                                    <td nowrap="nowrap">title</td>
                                                    <td nowrap="nowrap">description</td>
                                                    <td nowrap="nowrap">keywords</td>
                                                    <td nowrap="nowrap">
                                                        <div>导出邮箱数量</div>
                                                        <div>（上限10个）</div>
                                                    </td>
                                                </tr>
                                                </thead>
                                                <tbody id="example_domain_tbody">


                                                <tr>
                                                    <td nowrap="nowrap">1</td>
                                                    <td nowrap="nowrap">apb-***.com</td>
                                                    <td nowrap="nowrap">美国</td>
                                                    <td nowrap="nowrap">896532</td>
                                                    <td nowrap="nowrap">2008/5/6</td>
                                                    <td nowrap="nowrap">American***</td>
                                                    <td nowrap="nowrap">compliant data center***</td>
                                                    <td nowrap="nowrap">CEW is ***</td>
                                                    <td nowrap="nowrap">10</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">2</td>
                                                    <td nowrap="nowrap">qts***ters.com</td>
                                                    <td nowrap="nowrap">英国</td>
                                                    <td nowrap="nowrap">1644713</td>
                                                    <td nowrap="nowrap">2003/9/7</td>
                                                    <td nowrap="nowrap">QTS Data***</td>
                                                    <td nowrap="nowrap">QTS delivers***</td>
                                                    <td nowrap="nowrap">***professional organization</td>
                                                    <td nowrap="nowrap">10</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">3</td>
                                                    <td nowrap="nowrap">***eri.com</td>
                                                    <td nowrap="nowrap">印度</td>
                                                    <td nowrap="nowrap">11771474</td>
                                                    <td nowrap="nowrap">2005/10/11</td>
                                                    <td nowrap="nowrap">alm***.com</td>
                                                    <td nowrap="nowrap">robust connectivity***</td>
                                                    <td nowrap="nowrap">***more than 10,500+</td>
                                                    <td nowrap="nowrap">10</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">4</td>
                                                    <td nowrap="nowrap">sa***ass.com</td>
                                                    <td nowrap="nowrap">新西兰</td>
                                                    <td nowrap="nowrap">261948</td>
                                                    <td nowrap="nowrap">2010/11/26</td>
                                                    <td nowrap="nowrap">sd***</td>
                                                    <td nowrap="nowrap">real-time access***</td>
                                                    <td nowrap="nowrap">globally from***</td>
                                                    <td nowrap="nowrap">10</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">5</td>
                                                    <td nowrap="nowrap">chi***ng.com</td>
                                                    <td nowrap="nowrap">美国</td>
                                                    <td nowrap="nowrap">16090124</td>
                                                    <td nowrap="nowrap">2000/1/9</td>
                                                    <td nowrap="nowrap">CTC***</td>
                                                    <td nowrap="nowrap">DCIM***</td>
                                                    <td nowrap="nowrap">***in the beauty industry</td>
                                                    <td nowrap="nowrap">10</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="expDemoTable emailTable" style="display: none;">
                                                <thead>
                                                <tr>
                                                    <td nowrap="nowrap">序号</td>
                                                    <td nowrap="nowrap">邮箱</td>
                                                    <td nowrap="nowrap">验证状态</td>
                                                    <td nowrap="nowrap">验证时间</td>
                                                    <td nowrap="nowrap">关联域名</td>
                                                    <td nowrap="nowrap">联系人姓名</td>
                                                    <td nowrap="nowrap">联系人职位</td>
                                                    <td nowrap="nowrap">联系人国家</td>
                                                </tr>
                                                </thead>
                                                <tbody id="example_email_tbody">


                                                <tr>
                                                    <td nowrap="nowrap">1</td>
                                                    <td nowrap="nowrap">rb***@apb-bend.com</td>
                                                    <td nowrap="nowrap">有效</td>
                                                    <td nowrap="nowrap">2022/11/3</td>
                                                    <td nowrap="nowrap">apb-bend.com</td>
                                                    <td nowrap="nowrap">Roy***</td>
                                                    <td nowrap="nowrap">Finance Manager</td>
                                                    <td nowrap="nowrap">美国</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">2</td>
                                                    <td nowrap="nowrap">lhou***@ldry.com</td>
                                                    <td nowrap="nowrap">有效</td>
                                                    <td nowrap="nowrap">2022/11/3</td>
                                                    <td nowrap="nowrap">ldry.com</td>
                                                    <td nowrap="nowrap">Larry***</td>
                                                    <td nowrap="nowrap">President Owner</td>
                                                    <td nowrap="nowrap">美国</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">3</td>
                                                    <td nowrap="nowrap">o***ord@chicagotrading.com</td>
                                                    <td nowrap="nowrap">有效</td>
                                                    <td nowrap="nowrap">2022/11/3</td>
                                                    <td nowrap="nowrap">chicagotrading.com</td>
                                                    <td nowrap="nowrap">Houston***</td>
                                                    <td nowrap="nowrap">Senior Software Engineer</td>
                                                    <td nowrap="nowrap">印度尼西亚</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">4</td>
                                                    <td nowrap="nowrap">dfr***@goarmy.com</td>
                                                    <td nowrap="nowrap">有效</td>
                                                    <td nowrap="nowrap">2022/11/3</td>
                                                    <td nowrap="nowrap">goarmy.com</td>
                                                    <td nowrap="nowrap">Kaye***</td>
                                                    <td nowrap="nowrap">Product Manager</td>
                                                    <td nowrap="nowrap">波兰</td>
                                                </tr>

                                                <tr>
                                                    <td nowrap="nowrap">5</td>
                                                    <td nowrap="nowrap">lgov***@csa1.com</td>
                                                    <td nowrap="nowrap">有效</td>
                                                    <td nowrap="nowrap">2022/11/3</td>
                                                    <td nowrap="nowrap">csa1.com</td>
                                                    <td nowrap="nowrap">Gover***</td>
                                                    <td nowrap="nowrap">Boss</td>
                                                    <td nowrap="nowrap">阿联酋</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{include file="common/footer"}
<script type="text/javascript">
    layui.use(['layer','form','laydate','upload'],function(){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;
        
        form.render(null, 'component-form-element');

        form.on('submit(component-form-element2)', function(data){
            // JSON.stringify()
            // console.log(data.field);return false;
            $.ajax({
                url:"/?s=index/domainsearch",
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){
                    if(res.code == 0)
                    {
                        if(res.jump_gld==0) {
                            layer.confirm('是否同意授权跳转到第三方网站[格兰德]？', {
                                btn: ['同意', '拒绝']
                            }, function () {
                                $.ajax({
                                    url: "/?s=index/goto_gld",
                                    method: 'post',
                                    data: {'is_jump': 1, 'firsttimes': 1, 'type': 3},
                                    dataType: 'JSON',
                                    success: function (res) {
                                        if (res.code == 0) {
                                            window.location.href = res.url;
                                        }
                                    }
                                });
                            }, function () {

                            });
                        }else {
                            $.ajax({
                                url: "/?s=index/goto_gld",
                                method: 'post',
                                data: {'is_jump': 1, 'firsttimes': 0, 'type': 3},
                                dataType: 'JSON',
                                success: function (res) {
                                    if (res.code == 0) {
                                        window.location.href = res.url;
                                    }
                                }
                            });
                        }
                    }else if(res.code == -1){
                        layer.msg(res.msg,{time:2000}, function () {
                            layer.open({
                                type: 2,
                                title: '请先登录',
                                shadeClose: true,
                                shade: 0.3,
                                area: ['100%', '100%'],
                                content: "/?s=index/customer_login&open=3",
                            });
                        });
                    }else if(res.code==-2){

                    }
                },
                error:function (data) {
                    layer.msg('系统错误',{time:2000});
                }
            });
            return false;
        });

        $('.example_type_button_box .example_type_button').click(function(){
            let idx = $(this).index();
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
            $('.example_table_box').find('.expDemoTable').hide();
            $('.example_table_box').find('.expDemoTable').eq(idx).show();
        });
    });
</script>