<style type="text/css" media="all">
    footer{background:{$website['color']};border-top:2px solid {$website['color_word']};position: fixed;bottom:0;left:0;width: 100%;display: none;z-index: 9;padding:10px;}
    footer a:hover{color:unset;}
    footer .footerItem,footer .footerItem2{text-align: center;position:relative;cursor:pointer;font-weight: 600;}
    footer .footerItem *,footer .footerItem2 *{color:{$website['color_word']};}
    /*footer .footerItem:hover,footer .footerItem2:hover{color:#e60000;}*/
    footer .footerItem:after{content:'';width: 0;position: absolute;top: 5px;left: 60%;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #fff;transform: rotate(180deg);}
    footer .footerItem2:after{content:'';width: 0;position: absolute;top: 5px;left: 60%;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #fff;}
    footer .footerItem .footerChildren, footer .footerItem2 .footerChildren{display:none;position: absolute;left:50%;bottom: 34px;background: #2f2f2f;width: max-content;color:{$website['color_word']};border: 2px solid {$website['color_word']};border-bottom: 0;border-top-left-radius: 5px;border-top-right-radius: 5px;transform: translate(-50%, 0px);}
    footer .footerItem2 .footerChildren .footerChildrenItem{padding:10px;box-sizing: border-box;border-bottom: 2px solid {$website['color_word']};}
    footer .footerItem2 .footerChildren .footerChildrenItem:last-child{border-bottom: 0;}
    footer .footerItem2 .footerChildren .footerChildrenItem a span{font-size: 15px;}
    .contact_contain{width: 40%;position: relative;left:10%}
    .foot-menu{justify-content: space-between;align-items:baseline;}
    footer .widgetheading{color:{$website['color_word']};/*text-shadow: -1px 0px 0px #fff, 0px 1px 0px #fff, 1px 0px 0px #fff, 0px -1px 0px #fff;*/}
    footer ul.link-list li{white-space: nowrap;}
    footer ul.link-list li a{color:{$website['color_word']};}
    footer ul.link-list li a:hover{color:{$website['color_word']} !important;}
    .footerDiv{display: grid;grid-template-columns: repeat(3,1fr);-moz-column-gap: 0px;column-gap: 0px;row-gap: 0px;}

    @media (max-width: 992px) {
        .contact_contain{width: 80%;position: relative;left:10%}
        .foot-menu{display:block;}
        .foot-menu .col-md-4{width: 48%;display: inline-block;float: left;}

        /*底部菜单栏*/
        /*footer .footerDiv .footerItem,footer .footerDiv .footerItem2{width:48%;display: inline-block;}*/
        footer .footerItem:after{left:85%;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #fff;top:10px;}
        footer .footerItem2:after{left:85%;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #fff;top:10px;}
        footer .footerItem .footerChildren, footer .footerItem2 .footerChildren{left:-10%;transform:unset;}
        footer .footerItem:last-child .footerChildren, footer .footerItem2:last-child .footerChildren{width: 340px;left:-190%;transform:unset;}
        footer .swiper-button-prev, footer .swiper-button-next{width:20px;height:20px;top:90%;}
    }
    .contact_contain .box{width: 100%;position: relative;overflow: hidden;height:34px;}
    .contact_contain .box_wheel{height: 500px;position: absolute;overflow: hidden;}
    .contact_contain .box_wheel li{width: 1040px;height: 500px;background: pink;text-align: center;line-height: 500px;float: left;}
    .contact_contain .contact_btn{width: 30px;height: 30px;line-height: 30px;text-align: center;color: #f1be83;font-size: 30px;cursor: pointer;display:none;}
    .contact_contain .btn_left{position: absolute;left: -50px;top: 0%;}
    .contact_contain .btn_right{position: absolute;right: -50px;top: 0%;}

    .copyright p span:first-child{display:none;}
    .col-md-4{margin-bottom: 10px;}
</style>
<footer>
    <div class="footerDiv">
        <div class="footerItem f15">
            <span>联系我们</span>
            <div class="footerChildren">
                <div class="footerChildrenItem"><i class="fa fa-phone" style="width: 18px;font-size: 15px;padding-left: 4px;"></i> <a href="tel:{$website['tel']}" class="f15">{$website['tel']}</a></div>
                <div class="footerChildrenItem"><img src="img/email.png" alt="" style="width:18px;"/> <a href="mailto:{$website['email']}" class="f15">{$website['email']}</a></div>
            </div>
        </div>
        <div class="footerItem f15">
            <span>网站导航</span>
            <div class="footerChildren">
                <div class="footerChildrenItem">

                    {volist name="menu" key="key" id="vo"}
                    {if(!empty($vo.childMenu))}
                    <div class="col-md-4 col-sm-4">
                        <div class="widget">
                            <h4 class="widgetheading f18" style="margin-bottom:5px;text-align:center;white-space: nowrap;">{$vo['name']}</h4>
                            <ul class="link-list" style="text-align:center;">
                                {volist name="vo.childMenu" id="vo2"}
                                {if $vo2.go_other==1}
                                <li><a href="{$vo2.other_link}" target="_blank" class="f15">{$vo2.name}</a></li>
                                {elseif($vo2.go_other==2)}
                                <li><a href="?s=index/detail&id={$vo2.other_navbar}" target="_blank" class="f15">{$vo2.name}</a></li>
                                {else}
                                <li><a href="?s=index/detail&id={$vo2.id}" class="f15">{$vo2.name}</a></li>
                                {/if}
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    {/if}
                    {/volist}
                </div>
            </div>
        </div>
        <div class="footerItem f15">
            <span>网站信息</span>
            <div class="footerChildren">
                <div class="footerChildrenItem">
                    {$website['copyright']}
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<!--右侧滑动栏-->
{include file="common/contact"}

<script src="js/jquery.js"></script>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/bootstrap.min.js?v=5"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/animate.js"></script>
<!--插件脚本 -->
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script type="text/javascript" charset="utf-8">
    //判断是否MicrosoftEdge（微软）浏览器
    function isMicrosoftEdge() {
        var userAgent = navigator.userAgent;
        return userAgent.indexOf("Edg") > -1 || userAgent.indexOf("EdgA") > -1;
    }

    //滚动控制底部栏显示与隐藏
    function isScrolledToBottom() {
        return (window.scrollY + 200 + window.innerHeight) >= document.documentElement.scrollHeight;
    }

    $(window).scroll(function(){
        if (isScrolledToBottom()) {
            $('footer').show();
        }else{
            $('footer').hide();
        }
    });

    //页脚点击事件
    $('footer .footerDiv .footerItem').click(function(){
        if($(this).find('.footerChildren').css('display') == 'block'){
            $(this).find('.footerChildren').hide();
            $(this).removeClass('footerItem2').addClass('footerItem');
        }else{
            $('.footerChildren').hide();
            $(this).siblings().removeClass('footerItem2').addClass('footerItem');

            $(this).find('.footerChildren').show();
            $(this).removeClass('footerItem').addClass('footerItem2');
        }
    });

    function IsPhone() {
        var info = navigator.userAgent;
        var isPhone = /mobile/i.test(info);
        return isPhone;
    }

    $('.haschild').click(function(){
        $(this).parent().find('.dropdown').addClass('open');
        $(this).parent().parent().parent('.dd_parent').addClass('open2');

        if(IsPhone()){
            $('.navbar-collapse').stop().animate({
                scrollTop: 500
            }, 1000);
        }
    });

    function removeclass(t){
        $(t).siblings().removeClass('open2');
    }

    function change_language2(lang){
        $.ajax({
            url: "?s=index/change_language",
            method: 'post',
            data: {'lang':lang},
            dataType: 'JSON',
            success: function (res) {
                window.location.reload();
            },
            error: function (data) {

            }
        });
    }

    //打开平台的应用
    function open_apps(){
        if($('.appsDiv').css('display')=='block'){
            $('.appsDiv').css('display','none');
        }else{
            $('.appsDiv').css('display','block');
        }
    }

    //手机版显示超出菜单
    function showMenu(){
        if($('.overflowMenu').css('display')=='block'){
            $('.overflowMenu').css('display','none');
        }else{
            $('.overflowMenu').css('display','block');
        }
    }

    $(function(){
        //图片懒加载
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll('img').forEach(img => {
                if (!img.hasAttribute('loading')) img.setAttribute('loading', 'lazy');
            });
        });
        
        //菜单栏start
        // 1. 桌面端：二级菜单 hover 交互（缓动显示/隐藏）
        $('.has-sub').hover(
            function() {
                $(this).find('.submenu').stop(true, true).delay(200).fadeIn(300); // 延迟200ms显示，避免误触
            },
            function() {
                $(this).find('.submenu').stop(true, true).delay(200).fadeOut(300); // 延迟200ms隐藏，避免快速移动鼠标时闪烁
            }
        );

        // 2. 桌面端：三级菜单 hover 交互（缓动显示/隐藏）
        $('.has-sub-sub').hover(
            function() {
                $(this).find('.subsubmenu').stop(true, true).delay(200).fadeIn(300);
            },
            function() {
                $(this).find('.subsubmenu').stop(true, true).delay(200).fadeOut(300);
            }
        );

        // 3. 移动端：汉堡菜单点击交互（显示/隐藏主菜单）
        $('.hamburger').click(function() {
            $(this).toggleClass('active'); // 切换汉堡菜单状态（叉号）
            $('.navbar').toggleClass('mobile-active'); // 显示/隐藏主菜单
        });
        //菜单栏start

        if(IsPhone()){
            // $('.mobile_translate').attr('id','translate');
            // $('.web_translate').attr('id','123');
            // $('.navbar-collapses').addClass('navbar-collapse');
            // $('.navbar-collapses').removeClass('navbar-collapses');
            //内页头部判断
            $('.wapGuide').show();
            $('.pcGuide').hide();
        }else{
            // $('.mobile_translate').attr('id','123');
            // $('.web_translate').attr('id','translate');
        }

        var idx = 0;
        $(".btn_left").click(function(){
            idx --;  //索引自加
            if(idx == -1){
                idx = len - 1;
            }
            changeLi(idx);
        });
        $(".btn_right").click(function(){
            idx ++;  //索引自减
            if(idx == len){
                idx = 0;
            }
            changeLi(idx);
        });
        function changeLi(idx){
            var move = -idx * liW;
            $(".social-network").stop().animate({"left":move},300);
        }


        //头部菜单点击
        // $('.navbar-nav .dropdown').click(function(){
        //     $(this).parent().find('.dropdown').not($(this)).find('.dropdown-menu').hide();
        //     $(this).find('.dropdown-menu').toggle();
        // });
    });

    //占满屏判断
    // function setFullScreenSectionHeight() {
    //     var windowHeight = $(window).height()+20;
    //
    //     $('.fullscreen-section').css({'height':windowHeight+'px'});
    // }
    //
    // setFullScreenSectionHeight();
    //
    // $(window).resize(function() {
    //     setFullScreenSectionHeight();
    // });

    //联系客服
    function connect_kefu(){
        {if empty(session('account'))}
            window.location.href="/?s=index/customer_login&company_id={$company_id}&company_type={$company_type}";
        {else}
            showCondition();
        {/if}
    }
</script>
{include file="common/kefu"}

<!-- Google Analytics 4 (GA4) - dtc.gogo198.net -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LQH9QBW547"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  // GA4 配置（台湾隐私 + 电商优化）
  gtag('config', 'G-LQH9QBW547', {
    'send_page_view': true,
    'cookie_prefix': 'gogo_',
    'cookie_domain': 'gogo198.net',  // 主域名
    'cookie_expires': 63072000,      // 2 年
    'anonymize_ip': true,            // 隐私保护（台湾法规）
    'linker': {
      'domains': ['gogo198.net', 'dtc.gogo198.net']
    }
  });

  // 自定义事件：页面加载（兼容 ThinkPHP 动态页）
  document.addEventListener('DOMContentLoaded', function() {
    gtag('event', 'page_view', {
      'page_location': window.location.href,
      'page_title': document.title,
      'page_path': window.location.pathname + window.location.search
    });
  });

  // 自动点击追踪（按钮、链接）
  document.addEventListener('click', function(e) {
    let target = e.target.closest('a, button, .btn, [data-track]');
    if (!target) return;

    let label = (target.innerText || target.value || '').trim().substring(0, 50);
    let url = target.href || '';

    gtag('event', 'click', {
      'event_category': 'engagement',
      'event_label': label,
      'link_url': url,
      'page_path': window.location.pathname
    });
  });
</script>
<!-- End GA4 -->

</body>
</html>