<link rel="stylesheet" href="layui/css/layui.css">
<style>
    .layui-colla-title{color:#fff;background-color:#603160;}
    .preamble_con,.layui-colla-content{color:#fff;font-size:15px;}
    .layui-colla-content p{margin-bottom:0.3cm;}
    .disf{display:flex;align-items: center;}
    .f15{font-size:15px;}
    .taxmethod span{margin:0 2px;}
    .layui-table {width: auto;background-color: unset;color: #fff;}
    .layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even){background:#444444;}
    .layui-form-label{color:#fff;}
</style>

<div style="padding:15px;">
    <form class="layui-form" action="" lay-filter="component-form-group">
        <div class="layui-form-item">
            <label class="layui-form-label">目的国地</label>
            <div class="layui-input-inline layui-select-fscon">
                <select name="country" lay-filter="country" lay-search>
                    {volist name="country_list" id="vo"}
                    <option value="{$vo['id']}" {if $vo['id']==$country}selected{/if}>{$vo['param2']}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-collapse" lay-accordion="now">
            {volist name="infos" id="vo"}
            <div class="layui-colla-item">
                <h2 class="layui-colla-title">{$vo.name}</h2>
                <div class="layui-colla-content">
                    <div class="layui-collapse" lay-accordion="now" style="margin:10px 0;">
                        {volist name="vo.values" id="vo2"}
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">{$vo2.name}</h2>
                            <div class="layui-colla-content">
                                {if $vo2['name']=='国际专线'}
                                <div class="layui-collapse" lay-accordion="now" style="margin:10px 0;">
                                    {volist name="vo2.values" id="vo3"}
                                    <div class="layui-colla-item">
                                        <h2 class="layui-colla-title">{$vo3.name}</h2>
                                        <div class="layui-colla-content">
                                            <!--显示正文-->
                                            {volist name="vo3.values.taxmethod_select" key="key4" id="vo4"}
                                            {if($vo4=='免税' || $vo4=='征税')}
                                            <p class="f15 taxmethod">
                                                <span>{$vo3['values']['times'][$key3-1]}</span><span>{$vo3['values']['declare_value_equal'][$key3-1]}</span><span>{$vo3['values']['declare_value_currency'][$key3-1]}</span><span>{$vo3['values']['declare_value'][$key3-1]}</span><span>及或等值</span><span>{$vo3['values']['default_value_equal'][$key3-1]}</span><span>{$vo3['values']['default_value'][$key3-1]}</span><span>{$vo4}</span>
                                            </p>
                                            <p class="f15 taxmethod">{if $vo4=='免税'}<span>备注：{$vo3['values']['tax_introduce'][$key3-1]}</span><hr/>{/if}</p>
                                            {if $vo4=='征税'}
                                            <table class="layui-table">
                                                <thead>
                                                <th>税种</th>
                                                <th>税负</th>
                                                </thead>
                                                <tbody>
                                                {volist name="vo3.values.taxes_catename[$key3-1]" key="key5" id="vo5"}
                                                <tr>
                                                    <td>{$vo5}</td>
                                                    <td>{$vo3['values']['taxes_burden'][$key3-1]}</td>
                                                </tr>
                                                {/volist}
                                                </tbody>
                                            </table>
                                            <hr/>
                                            {/if}
                                            {/if}
                                            {if($vo4=='说明')}
                                            <p class="f15 taxmethod"><span>备注：{$vo3['values']['tax_introduce'][$key3-1]}</span></p><hr/>
                                            {/if}
                                            {/volist}
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                                {else}
                                <!--显示正文-->
                                {volist name="vo2.values.taxmethod_select" key="key3" id="vo3"}
                                {if($vo3=='免税' || $vo3=='征税')}
                                <p class="f15 taxmethod">
                                    <span>{$vo2['values']['times'][$key3-1]}</span><span>{$vo2['values']['declare_value_equal'][$key3-1]}</span><span>{$vo2['values']['declare_value_currency'][$key3-1]}</span><span>{$vo2['values']['declare_value'][$key3-1]}</span><span>及或等值</span><span>{$vo2['values']['default_value_equal'][$key3-1]}</span><span>{$vo2['values']['default_value'][$key3-1]}</span><span>{$vo3}</span>
                                </p>
                                <p class="f15 taxmethod">{if $vo3=='免税'}<span>备注：{$vo2['values']['tax_introduce'][$key3-1]}</span><hr/>{/if}</p>
                                {if $vo3=='征税'}
                                <table class="layui-table">
                                    <thead>
                                    <th>税种</th>
                                    <th>税负</th>
                                    </thead>
                                    <tbody>
                                    {volist name="vo2.values.taxes_catename[$key3-1]" key="key4" id="vo4"}
                                    <tr>
                                        <td>{$vo4}</td>
                                        <td>{$vo2['values']['taxes_burden'][$key3-1][$key4-1]}</td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <hr/>
                                {/if}
                                {/if}
                                {if($vo3=='说明')}
                                <p class="f15 taxmethod"><span>备注：{$vo2['values']['tax_introduce'][$key3-1]}</span></p><hr/>
                                {/if}
                                {/volist}
                                {/if}
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </form>
    <div style="margin:15px auto;text-align: center;">
        <div class="layui-btn layui-btn-normal layui-btn-md" onclick="go_back()">&lt;返回</div>
    </div>
</div>

<script src="layui/layui.js"></script>
<script>
    layui.use(['layer', 'form', 'table', 'upload','element'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.on('select(country)',function(data){
            let val = data.value;
            window.location.href="/?s=gather/tax_relate&country="+val;
            // var index = parent.layer.getFrameIndex(window.name);
            // parent.layer.close(index);
            // layer.close(layer.index);


        });
    });

    function go_back(){
        var $ = layui.$
            , layer = layui.layer;
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>