{include file="common/inner_header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    body{background:{$website['color_inner']} !important;}
    #content{padding-top:130px;padding-bottom:20px;min-height:75vh;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:{$website['color']};color:{$website['color_word']};border:1px solid {$website['color_word']};font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .content .account_div{display: grid;grid-template-columns: repeat(1,1fr);-moz-column-gap: 20px;column-gap: 20px;row-gap: 20px;}
    .content .account_div a{color:{$website['color_word']};}
    .content .account_div .box_content{white-space: nowrap;overflow:hidden;text-overflow: ellipsis;margin-bottom: 0;}
    .content .account_div #select_enterprise:hover{background: {$website['color']};color: {$website['color_word']};}
    .content .account_div #select_enterprise option{width: 100%;white-space: pre-wrap;}
    .no_infop{color:{$website['color_word']};text-align:center;}
    .no_infop a{text-decoration: underline;}
    @media (max-width:992px){
        .content{padding:20px 0;}
        #content{margin-top:0px;}
        .content .account_div{display:inline-block;width: 100%;text-align: center;}
        .content .account_div a{}
        .content .box_content{margin-bottom:30px !important;}
    }
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content" >
            <div class="col-md-12">
                <p style="text-align: center;font-size:28px;color:{$website['color_word']};font-weight: 600;margin-bottom:25px;">{$group['realname']}邀请您加入群组[{$group['name']}]</p>
                <div class="account_div">
                    <div style="width: 310px;margin:0 auto;height:auto;">
                        {if $is_group_member['status'] == 0}
                        <select id="select_enterprise" class="f18" onchange="select_enterprise(this)" style="width: 100%;height:38px;border: 1px solid {$website['color']};">
                            <option value="">请选择是否加入</option>
                            <option value="1">同意加入</option>
                            <option value="-1">拒绝加入</option>
                        </select>
                        {else}
                        <p class="f15" style="color:{$website['color_word']};">您已{if $is_group_member['status']==1}同意加入{elseif($is_group_member['status']==-1)}拒绝加入{/if}该群组。</p>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/main_footer"}
<script>
    function select_enterprise(t){
        let val = $(t).val();

        if(val != ''){
            $.post('/?s=member/join_group',{'group_id':"{$group['id']}",'status':val},function(res){
                layer.msg(res.msg, {time: 3000}, function () {
                    if (res.code == 0) {
                        window.location.href="/?s=member/member_center";
                    }
                });
            });
        }
    }

    $(function(){
        {if $is_group_member['status'] == 1}
        window.location.href="/?s=member/member_center";
        {/if}
        });
</script>