{include file="common/merchant_header"}
<style type="text/css">
    .layui-upload-img{width: 92px; height: 92px; margin: 0 10px 10px 0;}
    .layui-btn{background-color: #F7931E !important;}
    .layui-btn-primary{background-color: #fff !important;}
    .layui-btn-primary:hover {border-color: #F7931E !important;}
    .layui-fluid{padding:0;}
    .info_div{display: grid;grid-template-columns: repeat(2,1fr);-moz-column-gap: 0px;column-gap: 0px;row-gap: 0px;}
    .layui-table th{background: {$website['color']};color:{$website['color_word']};}
    .layui-colla-content{padding:10px;}
    .allFileName{display: grid;grid-template-columns: repeat(2, 1fr);-moz-column-gap: 50px;column-gap: 0;row-gap: 8px;}
    .allFileName .upDiyInput{width:140px;display:inline-block;margin:10px 1px 0 0;}
    @media screen and (min-width: 992px){
        .layui-form-label {margin-left: 0px!important;}
        .layui-input-block{margin-left: 140px !important;}
        .yulan{width: 700px !important;}
        .layui-select-fs{width: 100%;}
        .layui-select-fscon{width: 735px !important;}
    }
    @media screen and (max-width: 450px){
        .layui-form-label {width: 60px!important;margin-left: 0px!important;}
        .layui-input-block{margin-left: 75px !important;}
        .layui-form-label{padding: 9px 5px;}
        .yulan{width: 80% !important;}
        .layui-select-fs{width: 100%;}
        .layui-select-fscon{width: 62%  !important;}
        .layui-form-item .layui-input-inline {display: block;float: none;left: 4px;width: auto;margin: 0 0 10px 95px;}
        .layui-form-item .layui-inline {margin-bottom:10px;}
        .layui-form-item{margin-bottom:5px !important;}
        .info_div{display: grid;grid-template-columns: repeat(1,1fr);-moz-column-gap: 0px;column-gap: 0px;row-gap: 0px;}
        .allFileName .upDiyInput{width:100px;display:inline-block;margin:0;}
    }
    html{background:#fff;}
    .member_btn{border:1px solid {$website['color_word']};}
    .layui-btn{background:{$website['color']} !important;}
    .layui-btn-danger{background:#e60000 !important;}
    .layui-btn-primary{background:#fff !important;}
    .sel_box{width: 50%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .sel_div .layui-form-selected dl{width: 100%;}
    .result_div{display:none;width: calc(100% - 0px);height: 200px;position: absolute;background: #fff;color: #000;font-size: 13px;overflow-y: scroll;z-index: 9;border: 1px solid #c7c6c6;padding: 5px 10px;box-sizing: border-box;}
    .result_div li{border-bottom:1px solid #000;padding:5px 0;box-sizing: border-box;}
    .result_div li:hover{background:{$website['color']};color:{$website['color_word']};cursor:pointer;}
    .layui-layer-nobg{background:#fff;}
    .layui-colla-title{background:{$website['color']};color:{$website['color_word']};}
    {if $id>0}
    .layui-fluid{margin-top:10px;}
    {/if}
</style>
<script src="/centralize_manager/js/jquery.min.js"></script>
<script src="/layuiadmin/layui/layui.js"></script>
<script src="/layuiadmin/qrcode/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="layui-fluid" style="margin-top:0;">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 10px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <input type="hidden" name="id" value="{$id}">
                <input type="hidden" name="method" value="{$method}">
                <input type="hidden" name="pa" value="1">

                <div class="layui-collapse" lay-accordion="now" style="margin:10px 0 30px 0;">
                    {if($method==3 || $method==0)}
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">议题内容</h2>
                        <div class="layui-colla-content layui-show">
                            <div class="info_div">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">议题名称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="name" id="name" lay-verify="required" placeholder="群组名称" autocomplete="off" class="layui-input" value="{$data['name']}" {if $method==3}disabled style="background:#aaaaaa;"{/if}>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">议题内容</label>
                                    <div class="layui-input-block">
                                        <textarea name="content" id="content" class="layui-textarea" placeholder="请输入议题内容">{$data['content']}</textarea>
                                    </div>
                                </div>
                                <!--                                        <div class="layui-form-item" style="display: none;">-->
                                <!--                                            <label class="layui-form-label">议题附件</label>-->
                                <!--                                            <div class="layui-input-block">-->
                                <!--                                                <div class="layui-upload" style="margin-top: 10px;">-->
                                <!--                                                    <button type="button" class="layui-btn" id="img_file-upload">上传文件</button>-->
                                <!--                                                    <blockquote class="layui-elem-quote layui-quote-nm yulan" style="margin-top: 10px;">-->
                                <!--                                                        预览图：-->
                                <!--                                                        <div class="layui-upload-list" id="img_file-upload-list">-->
                                <!--                                                            if !empty($data['files'])-->
                                <!--                                                            volist name="data['files']" id="vo"-->
                                <!--                                                            <div style="display: inline-block;">-->
                                <!--                                                                <img onclick="seePic(this);" src="$vo" class="layui-upload-img" style="width:80px;height:80px;" onerror=src="https://shop.gogo198.cn/attachment/images/default_file.png">-->
                                <!--                                                                <button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: 45px;top: -99px;">删除</button>-->
                                <!--                                                                <input type="hidden" name="files[]" value="$vo">-->
                                <!--                                                            </div>-->
                                <!--                                                            /volist-->
                                <!--                                                            /if-->
                                <!--                                                        </div>-->
                                <!--                                                    </blockquote>-->
                                <!--                                                </div>-->
                                <!--                                            </div>-->
                                <!--                                        </div>-->
                                <div class="layui-form-item">
                                    <label class="layui-form-label">议题附件</label>
                                    <div class="layui-input-block">
                                        <div class="layui-upload">
                                            <div class="uploadFileBtn layui-btn">上传附件</div>
                                        </div>
                                    </div>
                                    <div class="layui-input-block">
                                        <div class="allFileName" style="display:none;"></div>
                                        <blockquote class="layui-elem-quote layui-quote-nm yulan" style="margin-top: 10px;">
                                            预览图：
                                            <div class="layui-upload-list" id="diy_file-upload-list">
                                                {if !empty($data['files'])}
                                                {volist name="data['files']" id="val"}
                                                <div style="display: inline-block;">
                                                    <img onclick="seePic(this);" src="/{$val}" class="layui-upload-img" onerror=src="https://shop.gogo198.cn/attachment/images/default_file.png">
                                                    <button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button>
                                                    <input type="hidden" name="files[]" value="{$val}">
                                                </div>
                                                {/volist}
                                                {/if}
                                            </div>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">选择群组</h2>
                        <div class="layui-colla-content">
                            <div class="info_div">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">参与群组</label>
                                    <div class="layui-input-block">
                                        <select name="group_id" id="group_id" lay-verify="required" lay-search {if $id>0}disabled  style="background:#aaaaaa;"{/if}>
                                            <option value="">请选择</option>
                                            {volist name="group" id="vo"}
                                            <option value="{$vo['id']}" {if $data['group_id']==$vo['id']}selected{/if}>{$vo['name']}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">抄送成员</label>
                                    <div class="layui-input-block">
                                        <input type="text" placeholder="用顿号“、”分割邮箱号码" name="cc_member2" class="layui-input" autocomplete="off" value="{$data['cc_member2']}" {if $id>0}disabled  style="background:#aaaaaa;"{/if}>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">通过方式</label>
                                    <div class="layui-input-block">
                                        <select name="pass_method" lay-filter="method">
                                            <option value="1" {if $data['pass_method']==1}selected{/if}>一致决议=100%</option>
                                            <option value="2" {if $data['pass_method']==2}selected{/if}>多数决议≥60%</option>
                                            <option value="3" {if $data['pass_method']==3}selected{/if}>半数决议≥50%</option>
                                            <option value="4" {if $data['pass_method']==4}selected{/if}>少数决议<50%</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">决议选项</h2>
                        <div class="layui-colla-content">
                            <div class="layui-collapse" lay-accordion="" style="margin:10px 0 30px 0;">
                                {if $id>0}
                                {volist name="data['options']" key="key" id="vo"}
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title"><div class="disf" style="justify-content: space-between;"><div class="sel_box" style="width: 44%;"><span class="sel">{$vo['name']}</span></div><div>{if $key>1}<div class="layui-btn layui-btn-danger member_btn" onclick="del_option(this)">-</div>{/if}<div class="layui-btn layui-btn-parimary member_btn" onclick="add_option(this)">+</div></div></div></h2>
                                    <div class="layui-colla-content {if $key==1}layui-show{/if}">
                                        <div class="info_div">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">选项名称</label>
                                                <div class="layui-input-block">
                                                    <input type="hidden" name="options_id[]" value="{$vo['id']}">
                                                    <input type="text" name="options_name[]" placeholder="请输入选项名称" autocomplete="off" class="layui-input" value="{$vo['name']}" onInput="write_options(this)">
                                                </div>
                                            </div>
                                            <div class="layui-form-item type1">
                                                <label class="layui-form-label">选项说明</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="options_remark[]" placeholder="请输入选项说明" autocomplete="off" class="layui-input" value="{$vo['content']}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {/volist}
                                {else}
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title"><div class="disf" style="justify-content: space-between;"><div class="sel_box"><span class="sel">选项</span></div><div><div class="layui-btn layui-btn-parimary member_btn" onclick="add_option(this)">+</div></div></div></h2>
                                    <div class="layui-colla-content layui-show">
                                        <div class="info_div">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">选项名称</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="options_name[]" placeholder="请输入选项名称" autocomplete="off" class="layui-input" value="" onInput="write_options(this)">
                                                </div>
                                            </div>
                                            <div class="layui-form-item type1">
                                                <label class="layui-form-label">选项说明</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="options_remark[]" placeholder="请输入选项说明" autocomplete="off" class="layui-input" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {/if}
                            </div>
                        </div>
                    </div>
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">决议时效</h2>
                        <div class="layui-colla-content">
                            <div class="info_div">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">开始时间</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input" name="starttime" id="starttime" value="{$data['starttime']}" placeholder="开始时间" lay-verify="required" {if $id>0}disabled  style="background:#aaaaaa;"{/if}>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">结束时间</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input" name="endtime" id="endtime" value="{$data['endtime']}" placeholder="结束时间" lay-verify="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {elseif($method==4)}
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">决议时效</h2>
                        <div class="layui-colla-content layui-show">
                            <div class="info_div">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">开始时间</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input" name="starttime" id="starttime" value="{$data['starttime']}" placeholder="开始时间" lay-verify="required">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">结束时间</label>
                                    <div class="layui-input-block">
                                        <input type="text" class="layui-input" name="endtime" id="endtime" value="{$data['endtime']}" placeholder="结束时间" lay-verify="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}

                </div>

                <div class="layui-form-item" style="margin-top:10px;text-align: center;">
                    <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">{if $id>0}立即保存{else}立即发起{/if}</button>
                </div>

                <!--                <div class="layui-form-item layui-layout-admin">-->
                <!--                    <div class="layui-input-block">-->
                <!--                        <div class="layui-footer" style="left: 0;text-align: center;padding:10px 0;z-index: 99;">-->
                <!--                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">{if $id>0}立即保存{else}立即发起{/if}</button>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </form>
        </div>
    </div>
</div>
<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form','upload','element','laydate'], function() {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;

        form.render(null, 'component-form-group');

        laydate.render({
            elem: '#starttime'
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm'
        });
        laydate.render({
            elem: '#endtime'
            ,type: 'datetime'
            ,format: 'yyyy-MM-dd HH:mm'
            ,min:"{$data['endtime']}"
        });

        upload.render({
            elem: '#img_file-upload'
            ,url: '/?s=index/upload_file'
            ,accept: 'file'
            ,data: { folder: 'topics_files'}
            ,multiple: true
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.error == 1)
                {

                    $('#img_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="'+ res.file_path +'" class="layui-upload-img" style="width:80px;height:80px;" onerror=src="https://shop.gogo198.cn/attachment/images/default_file.png"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="files[]" value="'+res.file_path+'"></div>')
                }
            }
        });

        /* 监听提交 */
        form.on('submit(component-form-demo1)', function (data) {
            layer.load();
            $.ajax({
                url: "/?s=member/save_topics",
                method: 'post',
                data: data.field,
                dataType: 'JSON',
                success: function (res) {
                    layer.closeAll('loading');

                    layer.msg(res.msg, {time: 2000}, function () {
                        if (res.code == 0) {
                            // var index = parent.layer.getFrameIndex(window.name);
                            // parent.layer.close(index);
                            window.location.reload();
                        }
                    });
                },
                error: function (data) {
                    layer.msg('系统错误', {time: 2000});
                }
            });
            return false;
        });
    });

    //自定义上传文件方法
    var counts = 0;
    $('.uploadFileBtn').click(function(){
        //要先输入前面的文本框后再添加新文本框
        let c = parseInt(counts-1);
        if(c>parseInt(-1)){
            var upName = $('input[name="uploadFile'+counts+'"]').val();
            if(upName=='') {
                layer.msg('请输入文件名称后再新增！');
                $('input[name="uploadFile'+counts+'"]').focus();
                return false;
            }
        }
        upDiyAdd(counts);
    });

    //添加方法
    function upDiyAdd(count){
        var $ = layui.$
            , layer = layui.layer;

        //要先输入前面的文本框后再添加新文本框
        let c = parseInt(counts-1);
        if(c>parseInt(-1)){
            var upName = $('input[name="uploadFile'+counts+'"]').val();
            if(upName=='') {
                layer.msg('请输入文件名称后再新增！');
                $('input[name="uploadFile'+counts+'"]').focus();
                return false;
            }
        }

        counts = count+1;
        //输入框
        var upDiyBtn = '<input name="uploadFile'+counts+'" id="idUploadFile'+counts+'" type="text" placeholder="请输入文件名称" autocomplete="off" class="layui-input upDiyInput" onchange="myFunction(counts)">';
        //上传按钮
        upDiyBtn += '<button type="button" class="layui-btn" id="uploadFile'+counts+'-upload" style="display:none;margin:0px 5px 4px 0;">上传文件</button>';
        //添加按钮
        upDiyBtn += '<span class="upDiyAdd" onclick="upDiyAdd('+counts+')"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>';
        $('.upDiyAdd').remove();
        $('.allFileName').show().append(upDiyBtn);
    }

    function myFunction(count){
        var $ = layui.$
            , layer = layui.layer;

        var upName = $('input[name="uploadFile'+count+'"]').val();
        if(upName==''){
            layer.msg('请输入文件名称后上传文件！');
            $('input[name="uploadFile'+count+'"]').focus();
            return false;
        }else{
            $('#uploadFile'+count+'-upload').css('display','inline-block');
            up_add("uploadFile"+count+"-upload",count);//注册layui上传
        }
    }

    function up_add(idname,count){
        var $ = layui.$
            , layer = layui.layer
            , upload = layui.upload;

        upload.render({
            elem: '#'+idname
            ,url: '/?s=index/upload_diy_file'
            ,accept: 'file'
            ,data: { folder: 'topics_files',upName:$('input[name="uploadFile'+count+'"]').val()}
            ,multiple: false
            ,before: function(obj){
                layer.load(); //上传loading
            }
            ,done: function(res){
                layer.closeAll('loading'); //关闭loading
                if(res.code == 1)
                {
                    $('input[name="uploadFile'+count+'"]').attr('name','').attr('disabled',true);
                    $('#diy_file-upload-list').append('<div style="display: inline-block;"><img onclick="seePic(this);" src="/'+ res.file_path +'" class="layui-upload-img" onerror=src="https://shop.gogo198.cn/attachment/images/default_file.png"><button type="button" onclick="delPic(this);" class="layui-btn layui-btn-xs layui-btn-danger" style="position: relative;left: -45px;top: -39px;">删除</button><input type="hidden" name="files[]" value="'+res.file_path+'"></div>')
                }
            }
        });
    }

    function delPic(obj){
        var layer = layui.layer,$ = layui.$;
        layer.confirm('确认要删除该附件？', {
            btn: ['删除','取消']
        }, function(){
            $(obj).parent().remove();
            layer.closeAll();
        }, function(){

        });
    }

    function seePic(obj){
        var layer = layui.layer,$ = layui.$;
        layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            area: ['auto'],
            skin: 'layui-layer-nobg',
            shadeClose: true,
            content: '<img width="100%" src="' + $(obj)[0].src + '" />'
        });
    }

    function write_options(t){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form;

        $(t).parents(":eq(4)").find('.layui-colla-title').find('.sel_box').find('.sel').text($(t).val());
    }

    function add_option(t){
        var layer = layui.layer,$ = layui.$,element = layui.element,form = layui.form;

        let html = '<div class="layui-colla-item">\n' +
            '                                    <h2 class="layui-colla-title"><div class="disf" style="justify-content: space-between;"><div class="sel_box"><span class="sel">选项</span></div><div><div class="layui-btn layui-btn-danger member_btn" onclick="del_option(this)">-</div><div class="layui-btn layui-btn-parimary member_btn" onclick="add_option(this)">+</div></div></div></h2>\n' +
            '                                    <div class="layui-colla-content layui-show">\n' +
            '                                        <div class="info_div">\n' +
            '                                            <div class="layui-form-item">\n' +
            '                                                <label class="layui-form-label">选项名称</label>\n' +
            '                                                <div class="layui-input-block">\n' +
            '                                                    <input type="text" name="options_name[]" placeholder="请输入选项名称" autocomplete="off" class="layui-input" value="" onInput="write_options(this)">\n' +
            '                                                </div>\n' +
            '                                            </div>\n' +
            '                                            <div class="layui-form-item type1">\n' +
            '                                                <label class="layui-form-label">选项说明</label>\n' +
            '                                                <div class="layui-input-block">\n' +
            '                                                    <input type="text" name="options_remark[]" placeholder="请输入选项说明" autocomplete="off" class="layui-input" value="">\n' +
            '                                                </div>\n' +
            '                                            </div>\n' +
            '                                        </div>\n' +
            '                                    </div>\n' +
            '                                </div>';

        $(t).parents(":eq(4)").append(html);
        form.render(null,'component-form-group');
        element.render('collapse');
    }

    function del_option(t){
        var $ = layui.$
            , layer = layui.layer
            , element = layui.element
            , form = layui.form;

        var c = layer.confirm('确认要删除该选项吗？',{
            btn:['删除','取消']
        }, function(){
            $(t).parents(":eq(3)").remove();
            layer.close(c);
            {if $id>0}
            $.post('/?s=member/del_options',{'topics_id':"{$id}",'name':$(t).parents(":eq(1)").find(".sel_box").find('.sel').text()},function(res){
                layer.msg(res.msg, {time: 2000}, function () {
                    if (res.code == 0) {

                    }
                });
            });
            {/if}
            },function(){

            });
    }
</script>
</body>
</html>