{include file="common/merchant_header"}
<style>
    html,body{background:#fff;}
    .layui-card,.layui-card-body,.layui-tab{height:100%;}
    .layui-card-body{box-sizing: border-box;padding:15px;}
    .layui-tab-card>.layui-tab-title{background:#fff;}
    .layui-tab-card>.layui-tab-title .layui-this{background:{$website['color']};color:{$website['color_word']};}
    .layui-tab-card{border-color: #2e2e2e;box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);    border-radius: 5px;}

    .layui-tab-bar{display: none;}
    .layui-tab-title{overflow: hidden;width: 90%;display: inline-flex;float:left;}
    .layui-tab-title li{min-width: 83px;}
    .layui-tab .tab_arrow{background: #999;color: {$website['color_word']};width: 5%;height: 40px;line-height: 40px;text-align: center;display:inline-grid;float:left;cursor:pointer;}

    @media screen and (max-width:768px) {
        .layui-tab-title{overflow: hidden;height: 5%;left:50%;transform: translate(-63%, 0px);width: 75%;display: inline-flex;float:left;}
        .layui-tab-title li{min-width: 83px;}
        .layui-tab .tab_arrow{background: #999;color: {$website['color_word']};width: 10%;height: 38px;line-height: 38px;text-align: center;display:inline-grid;float:left;}
    }

    .layui-tab .right{float:right;}
</style>
</head>
<body>
<div class="layui-fluid" style="padding:0px;">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-tab layui-tab-card">
                <div class="left tab_arrow" onclick="change_tab(this,1)">&lt;</div>
                <ul class="layui-tab-title">
                    {volist name="menu_list" key="k" id="v"}
                    {if(strstr($level_list,strval($v['id'])))}
                    <li class="{if $k==1}layui-this{/if}">{$v['title']}</li>
                    {/if}
                    {/volist}
                </ul>
                <div class="right tab_arrow" onclick="change_tab(this,2)">&gt;</div>
                <div class="layui-tab-content" style="padding:1px;height: 95%;margin-top:35px;box-sizing: border-box;">
                    {volist name="menu_list" key="k" id="v"}
                    {if(strstr($level_list,strval($v['id'])))}
                    <div class="layui-tab-item {if $k==1}layui-show{/if}" style="height: 100%;">
                        <iframe src="{$v['url']}&pid={$v['id']}&group_id={$group_id}" frameborder="0" style="width:100%;height:100%;"></iframe>
                    </div>
                    {/if}
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>

<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload','element'], function(){
        var admin = layui.admin
            ,table = layui.table
            ,$ = layui.jquery
            ,element = layui.element
            ,upload = layui.upload;

        $('.layui-fluid').css({'height':$(window).height() - 4});
    });

    var tab_width = 0;
    function change_tab(t,type){
        var $ = layui.$;

        var this_tab_width = $('.layui-tab').find('.layui-tab-title').find('.layui-this').outerWidth();
        var tab_li_len = $('.layui-tab').find('.layui-tab-title').find('li').length;
        var total_width = this_tab_width * 2;

        if(type==1){
            if(tab_width>0) {
                tab_width -= this_tab_width;
                $('.layui-tab-title').stop().animate({
                    scrollLeft: tab_width
                }, 500);
            }

            if($('.layui-tab').find('.layui-tab-title').find('.layui-this').prev().is('li') == true){
                $('.layui-tab').find('.layui-tab-title').find('.layui-this').prev().addClass('layui-this');
                $('.layui-tab').find('.layui-tab-title').find('.layui-this').eq(0).siblings().removeClass('layui-this');

                $('.layui-tab').find('.layui-tab-content').find('.layui-show').prev().addClass('layui-show');
                $('.layui-tab').find('.layui-tab-content').find('.layui-show').eq(0).siblings().removeClass('layui-show');
            }
        }
        else if(type==2){
            if(tab_width<total_width){
                tab_width += this_tab_width;
                $('.layui-tab-title').stop().animate({
                    scrollLeft: tab_width
                },500);
            }
            if($('.layui-tab').find('.layui-tab-title').find('.layui-this').next().is('li') == true) {
                $('.layui-tab').find('.layui-tab-title').find('.layui-this').next().addClass('layui-this');
                $('.layui-tab').find('.layui-tab-title').find('.layui-this').eq(1).siblings().removeClass('layui-this');

                $('.layui-tab').find('.layui-tab-content').find('.layui-show').next().addClass('layui-show');
                $('.layui-tab').find('.layui-tab-content').find('.layui-show').eq(1).siblings().removeClass('layui-show');
            }
        }
    }

    function openWindow(title,url,type)
    {
        var layer = layui.layer;
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
</script>

</body>

</html>
