{include file="common/merchant_header"}
<style>
    html,body{background:#fff;}
    .layui-card,.layui-card-body,.layui-tab{height:100%;}
    .layui-card-body{box-sizing: border-box;padding:0px;}
    .layui-tab-card>.layui-tab-title{background:#fff;}
    .layui-tab-card>.layui-tab-title .layui-this{background:{$website['color']};color:{$website['color_word']};}
    .layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{border-bottom: 2px solid {$website['color']};}
    .layui-card .layui-tab-brief .layui-tab-title li{margin:0;line-height: 32px;}
    .layui-card .layui-tab-brief .layui-tab-title .layui-this:after {height: 38px;}
</style>
</head>
<body>
<div class="layui-fluid" style="padding:0px;">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title" style="height: 5%;">
                    {volist name="menu_list" key="k" id="v"}
                    <li class="{if $k==1}layui-this{/if}">{$v['title']}</li>
                    {/volist}
                </ul>
                <div class="layui-tab-content" style="padding:15px;height: 95%;box-sizing: border-box;">
                    {volist name="menu_list" key="k" id="v"}
                        <div class="layui-tab-item {if $k==1}layui-show{/if}" style="height: 100%;">
                            <iframe src="{$v['url']}&pid={$v['id']}" frameborder="0" style="width:100%;height:100%;border:0;"></iframe>
                        </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>

<script>
    layui.config({
        base: '/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload','element'], function(){
        var admin = layui.admin
            ,table = layui.table
            ,$ = layui.jquery
            ,element = layui.element
            ,upload = layui.upload;

        $('.layui-fluid').css({'height':$(window).height()-10});
        if($(window).height()==0){
            let heig = window.parent.document.getElementsByClassName('layui-tab-content')[0].clientHeight - 35;
            $('.layui-fluid').css({'min-height':heig+'px'});
        }
    });

    function openWindow(title,url,type)
    {
        var layer = layui.layer;
        var index = layer.open({
            type: 2,
            title: title,
            content: url
        });
        layer.full(index);
    }
</script>

</body>

</html>
