{include file="common/gather_header"}
<link rel="stylesheet" href="layui/css/layui.css">
<link rel="stylesheet" href="css/gather_base.css">
<link rel="stylesheet" href="css/gather_about.css">
<link rel="stylesheet" href="css/gather_app.css">
<link rel="stylesheet" href="css/gather_article.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:#444444;}
    #content .container{width: 80%;max-width: 1200px;padding: 0px;margin: 30px auto 40px;border-radius: 5px;background-color: unset;box-shadow: 0 0 16px rgba(0,0,0,.04);border:1px solid #fff;color:#fff;box-shadow: unset;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:;color:;border:1px solid ;font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .layui-elem-field legend,.layui-form-item .layui-form-label{color:;}
    .word_color{color:;}
    .layui-card{background:;}
    .layui-fluid,.layui-card-body{padding:0;}

    .layui-form-label{width:fit-content;}
    .layui-input-block{line-height:38px;margin-left:100px;}
    .layui-elem-field{margin-bottom: 0;}
    .no-line{text-align: center;color:;}
    .about{background: unset;}
    @media (max-width:992px){
        .container_content{margin-top:15px;}
        /**日期时间**/
        .layui-laydate-range{left: 0 !important;width: fit-content;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .layui-fluid,.layui-card-body{padding:0;}
        #content .container{width:100%;}
    }
</style>
<div id="app">
    <div>
        <img loading="lazy" alt="GOGO198 網站圖片" src="https://api-jiyun.beegoplus.com/storage/admin/20211021-NxJ08BFWJiayuTPA.png" alt="" class="top-img">
    </div>
</div>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="about">
            <div class="about-content">
                <div class="title">平台介绍</div>
                <div class="sub-title">PLATFORM INTRODUCTION</div>
                <div class="about-system">
                    <div><span></span>
                        <h4><p><b>公</b><b>司简介</b><b></b></p>
                            <p>
                                BeeGoPLUS集运隶属于上海必购家信息技术有限公司，依托母公司YDH强大的物流服务体系而快速发展。目前集运线路服务200多个国家的留学生和全球华人，在20多国家设BeeGoPLUS&nbsp;集运专线，让国人在海外“
                                轻松买国货，无忧寄全球”。</p>
                            <p><b>发</b><b>展历程</b><b></b></p>
                            <p>BeeGoPLUS 集运以为国内家长运送防疫物资给海外学子作为 C 端业务缘起,为全球华人开启集商品质检、仓储、物流和售后为一体的一站式综合集运服 务。</p>
                            <p><b>品牌价值观</b></p>
                            <p>口号 ：轻松买国货,无忧寄全球</p>
                            <p>使命：扬帆出海，只为送达</p>
                            <p>愿景：赋能国货品牌出海，让8000万位海外留学生和华人轻松买国货 &nbsp;</p>
                            <p>价值观：务实、激情、奋斗、创新、高效、专注、感恩、共赢</p>
                            <p><b>品</b><b>牌故事</b><b></b></p>
                            <p>BeeGoPLUS 集运品牌由 Bee&nbsp; (勤劳服务)&nbsp; 、Go&nbsp; (出海)&nbsp;
                                、&nbsp; Plus&nbsp;&nbsp; (加强服务)&nbsp;
                                三个词语组成。
                                服务海外华人为其运送优质国货，&nbsp; 提供跨境集运服务成为 BeeGoplus 集运的发展新机遇。</p>
                            <p><b>业务简述</b></p>
                            <p>
                                BeeGoPLUS集运为全球华人及海外留学生提供高质低价的集质检、仓储、物流及售后为一体的一站式集运转运服务；为跨境电商平台提供优质集运转运服务，为各电商平台的跨境网购客户完成商品购买后的“出仓到门”的高效便捷集运服务。</p>
                            <p>1、集运服务：为用户提供免费的合包、分包服务。提供专业的运输建议和协助选择最具性价比的物流服务商；</p>
                            <p>2、仓储服务：上海、深圳、广州、香港等仓库接受来自用户购买、代购、集运的各类商品，进行后续验货入库、专业打包、产品拍摄、超长免租等服务；</p>
                            <p>3、物流服务：与国际物流服务商长期合作全球发货，物流线路多种可选，专业售后全程跟踪。</p>
                            <p><b>业</b><b>务优势</b><b></b></p>
                            <p>多：&nbsp; 路线覆盖全球 200 多个国家，&nbsp; 20+国家自营专线，&nbsp; 全品类寄送；</p>
                            <p>快：&nbsp;
                                24 小时打包出库，&nbsp;
                                派送快至 6 天；</p>
                            <p>好：&nbsp; 携手众多国际物流大品牌紧密合作，&nbsp; 服务有保障。 线上下单，&nbsp; 订单可追踪，&nbsp; 专属客服 16 小时在线；</p>
                            <p>省：&nbsp; 各种优惠补贴、新人礼包、会员秒杀等，&nbsp; 80%线路的价格优于同行。</p>
                            <p><b>客</b><b>服特色</b><b></b></p>
                            <p>BeeGoPLUS 集运提供的质检、仓储等服务都主要集中在客服环节，&nbsp; 客服人员根据客户委托 代表客户本人对网购商品进行相应处理，&nbsp;
                                细致贴心的服务和最优化的运费建议, 凸显了 BeeGoPLUS 集运超高性价比的客服特色。</p>
                            <p>具体的客服特色包含：&nbsp;
                                最长 180 天免费的超长仓储、免费拍照质检、免费拆包打包、24 小 时内发货、运送时效稳定、&nbsp; 16 小时在线客服响应、线上进度跟踪、丢件包赔等保价服务的 8
                                大优势，&nbsp; 覆盖海外华人们网购国货并跨境送达的各个流转环节。</p>
                            <p><b>国际业务</b></p>
                            <p>BeeGoPLUS集运订单足迹遍布全球超过200个国家，具备海陆空运15个以上的国际品牌路线的丰富经验，在20多个国家拥有BeeGoPLUS集运专线。</p>
                            <p>主要寄送国家或地区包括英国、美国、加拿大、澳洲、日本、德国、法国、意大利、西班牙、瑞士、东欧五国（奥地利、匈牙利、捷克、波兰、斯洛伐克）、俄罗斯及东南亚
                                （泰国、印尼）等。</p>
                            <p><b></b></p>
                            <p><b>社会</b><b>公益</b></p>
                            <p>
                                全球新冠疫情自2020年初爆发以来，经过了多轮变异，不时对世界多地区人们的正常生活和经济发展造成困扰，迫使世界人民进入后疫情时代。病毒蔓延中，许多企业被迫停工停产，破产裁员的不在少数。当然，更令人欣喜的是，有像BeeGoPLUS集运这样的全球集运新品牌，于危机时刻带着希望诞生。</p>
                            <p>
                                BeeGoPLUS集运乍一出生就逆流而上，积极投身到全球防疫物资运送的一线工作中，并无意中开辟了以跨境电商网购需求带来的全球集运平台的全新业务板块，收获了众多海外华人为主的忠实用户。</p>
                            <p>
                                疫情爆发初期，武汉的感染数据不断牵动着世界的关注，全球各界爱心人士也纷纷捐助物资助力缓解疫情危难。尚处于起步阶段的BeeGoPLUS集运密切关注疫情变化之际，收到了YDH集团对于共同支持运送日本兵库县捐赠救援物资到疫情地区的需求，双方一拍即合。BeeGoPLUS集运初创团队与YDH集团一起，发出了免费为日本到国内运送防疫物资开设绿色通道的公告，逆行奔赴疫情最危急的内陆前线，BeeGoPLUS集运的员工们义无反顾在这条生命运输线上开始了马不停蹄的接力，很快将带着“山川异域风月同天”、“岂曰无衣与子同袍”等美好祝愿的口罩等防疫物资配送到了医护和受灾人群手中，不仅补充了防疫物力，更注入了国内战胜疫情的温暖动力。</p>
                            <p>
                                在国内疫情逐渐减缓之际，海外疫情却感染加剧，当初源源不断的救援物资送到国内，此刻面临病毒肆虐而防疫用品却捉襟见肘。缓过神的国内企业和爱心人士又急需将国内的防疫物资快速驰援到世界各地的疫情重灾区，BeeGoPLUS集运再次协同YDH集团，逆流出击奔赴各个跨境运输生命线，隔空接力送出来自中国的感恩救援防疫物资。</p>
                            <p>
                                通过国内亲人的视角，YDH集团收到了很多海外学子家长们求购口罩的需求，BeeGoPLUS集运的市场人员也发现，前期大幅向国内捐赠防疫物资之后，使得海外市场上口罩等防疫品出现严重缺口，BeeGoPLUS集运当即决定支持YDH集团，运用自身跨境代购和集运的业务优势，采购一批口罩免费发放给海外留学生。最终，三万多个包裹共计60万只口罩发往十多个国家的不同高校，为焦虑的留学生们送来了专属的安全感，也由此获得了多个高校的感谢信回馈。</p>
                            <p></p>
                            <p>
                                这次疫情援助，BeeGoPLUS集运与YDH集团一道投入了共计600万元专项基金支持抗疫活动，受到众多媒体和政府及社会慈善机构等多个团体的高度认可，也造就了BeeGoPLUS集运以责任促发展的品牌经营理念。2021年7月的河南洪灾中，BeeGoPLUS集运也在YDH的共同支持引领下伸出援手，通过河南省慈善总会捐出100万元帮助其防汛救灾、重建家园。</p>
                        </h4>
                    </div>
                    <div><img loading="lazy" alt="GOGO198 網站圖片" src="https://api-jiyun.beegoplus.com/storage/admin/20211109-HgS2lgtjIjo8VwXz.png"
                              style="max-width: 100%;"></div>
                </div>
            </div>
            <div class="contact">
                <div class="contact-content">
                    <div class="title">联系方式</div>
                    <div class="sub-title">CONTACT INFORMATION</div>
                    <div class="map">
                        <div class="address">
                            <div class="address-item"><img loading="lazy" alt="GOGO198 網站圖片" src="https://www.beegoplus.com/images/about1.png" alt="">
                                <div class="address-value">
                                    <div class="address-title">公司名称:</div>
                                    <div>上海必购家信息技术有限公司</div>
                                </div>
                            </div>
                            <div class="address-item"><img loading="lazy" alt="GOGO198 網站圖片" src="https://www.beegoplus.com/images/about2.png" alt="">
                                <div class="address-value">
                                    <div class="address-title">联系电话:</div>
                                    <div>02161921501</div>
                                </div>
                            </div>
                            <div class="address-item"><img loading="lazy" alt="GOGO198 網站圖片" src="https://www.beegoplus.com/images/about3.png" alt="">
                                <div class="address-value">
                                    <div class="address-title">电子邮箱:</div>
                                    <div>services@beegoplus.com</div>
                                </div>
                            </div>
                            <div class="address-item"><img loading="lazy" alt="GOGO198 網站圖片" src="https://www.beegoplus.com/images/about4.png" alt="">
                                <div class="address-value">
                                    <div class="address-title">公司地址:</div>
                                    <div>上海市闵行区黎安路999号AFC大虹桥国际28楼</div>
                                </div>
                            </div>
                        </div>
<!--                        <div id="map-main"-->
<!--                             style="z-index: 10; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); position: relative;">-->

<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}