{include file="common/gather_header"}
<meta name="viewport" content="width=device-width, initial-scale=0.5" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .main-container {display: flex;flex-direction: column;flex: 1;background-color: unset;padding-bottom: 20px;border-radius: 5px;overflow: hidden;box-shadow: 0 0 14px rgba(0,0,0,.04);border:1px solid #fff;}
    .operat-box {display: flex;align-items: center;justify-content: space-between;padding: 16px 30px;background-color: #0e2e68;color:#fff;}
    .main-container-title {padding-right: 20px;}
    .add-btn-container {display: flex;align-items: center;padding: 8px 28px;cursor: pointer;border-radius: 5px;background: unset;border:1px solid #fff;color:#fff;}
    .address-container .address-list {padding: 30px;}
    .address-container .address-list .address-content {display: grid;gap: 20px;grid-template-columns: 1fr 1fr;}
    .address-container .address-list .address-content .address-item {cursor: pointer;padding: 25px 20px;border-radius: 5px;border: 1px solid #eee;color:#fff;}
    .address-container .grey-color {padding-left: 10px;color: #efefef;font-size: 14px;}
    .address-container .address-list .address-content .address-item .address-center {padding: 15px 0;}
    .address-container .address-list .address-content .address-item .address-street {padding: 0 0 15px;}
    .address-container .address-list .address-content .address-item .address-footer {display: flex;align-items: center;justify-content: space-between;}
    .address-container .address-list .address-content .address-item .address-footer .add-position {width: 75%;padding-left: 0;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}
    .empty-box {flex: 1;padding-top: 30px;color: #ccc;font-size: 14px;text-align: center;}
    .empty-box img {width: 120px;padding-bottom: 16px;}
    
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div  class="address-container main-container">
                    <div  class="operat-box">
                        <div  class="main-container-title"><span 
                                                                                   class="main-container-title">收货地址</span>
                        </div>
                        <div data-v-00017d9f=""  class="add-btn-container"><i data-v-00017d9f=""
                                                                                                class="el-icon-plus add"></i>
                            <div data-v-00017d9f="">添加地址</div>
                        </div>
                    </div>
                    <div  class="address-list"><!---->
                        <div  class="address-content">
                            <div  class="address-item">
                                <div  class="address-top"><span 
                                                                                  class="reciever-name">测试12321321 </span>
                                    <span  class="grey-color">0043-12345</span></div>
                                <div  class="address-center"><span >奥地利</span> <span
                                         class="grey-color">测试</span> <span 
                                                                                              class="grey-color">测试</span>
                                </div>
                                <div  class="address-street">测试</div>
                                <div  class="address-footer">
                                    <div  class="add-position grey-color">测试</div>
                                    <div  class="option"><!----> <i 
                                                                                      class="iconfont icon-edit-fill edit-icon edit-btn"></i>
                                        <i  class="el-icon-delete edit-icon"></i></div>
                                </div>
                            </div>
                        </div>
                        <div  class="empty-box" style="display: none;">
                            <div ><img  src="/images/empty2.png" class="img-empty">
                            </div>
                            <div >没有内容哦</div>
                        </div> <!----></div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}