{include file="common/gather_header"}
<link rel="stylesheet" href="layui/css/layui.css">
<link rel="stylesheet" href="css/gather_appraise.css?v=21232">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:#444444;}
    #content .container{width: 80%;max-width: 1200px;padding: 0px;margin: 30px auto 40px;border-radius: 5px;background-color: unset;box-shadow: 0 0 16px rgba(0,0,0,.04);color:#fff;}
    .content{padding:20px 20px;box-sizing:border-box;}

    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:;color:;border:1px solid ;font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .layui-fluid,.layui-card-body{padding:0;}
    .layui-form-label{width:fit-content;}
    .layui-input-block{line-height:38px;margin-left:100px;}
    .layui-elem-field{margin-bottom: 0;}
    .no-line{text-align: center;color:;}
    .container-xl {width: 80%;max-width: 1200px;margin-right: auto;margin-left: auto;}
    @media (max-width:992px){
        .container_content{margin-top:15px;}
        /**日期时间**/
        .layui-laydate-range{left: 0 !important;width: fit-content;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .layui-fluid,.layui-card-body{padding:0;}
        #content .container {width: 90%;}
    }
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class=" appraise">
            <div class="appraise-item">
                <div class="user-info"><img
                        src="https://thirdwx.qlogo.cn/mmopen/vi_32/9FN33ibbgKjHNdqL0HMwVwicqho6tIcmDTJzb3kegh4ZqhNOdcpllXmJUHU6icvPLdVYTicrZsh8LJ6bFibcj0pXzKA/132"
                        alt="" class="avatar">
                    <div class="flex-between">
                        <div>Sussiezcy</div> <!----></div>
                    <div role="slider" aria-valuenow="5" aria-valuetext="" aria-valuemin="0" aria-valuemax="5"
                         tabindex="0" class="el-rate"><span class="el-rate__item" style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i></span>
                        <!----></div>
                </div>
                <div class="user-comment">
                    <div>
                        挺好的。很满意，8.9打包，8.15收到。DHL确实快很多。客服回复速度很快。挺好的。很满意，8.9打包，8.15收到。DHL确实快很多。客服回复速度很快。挺好的。很满意，8.9打包，8.15收到。DHL确实快很多。客服回复速度很快。
                    </div>
                    <div class="comment-image"><img
                            src="https://api-jiyun.beegoplus.com/storage/client-images202308/20230828pNVGBFD1c1BeTTXLgfIHy6Qvy7E3XXHpSc4fxhGm.jpg"
                            alt="" class="img-item" style="cursor: pointer;"><img
                            src="https://api-jiyun.beegoplus.com/storage/client-images202308/20230828jnYgcRqF47hOtVcgO1sOW0HYAtf4wC9OsH9kVL5C.jpg"
                            alt="" class="img-item" style="cursor: pointer;"><img
                            src="https://api-jiyun.beegoplus.com/storage/client-images202308/20230828jXy1YpxDi1iXMCZx3Hb9AOvPk6Bp7uMeIx886cI3.jpg"
                            alt="" class="img-item" style="cursor: pointer;"></div>
                </div>
                <div class="user-city">
                    <div><i class="el-icon-location"></i> <span>德国</span></div>
                    <div>2023-08-28 16:58:08</div>
                </div>
                <div class="comment"></div>
            </div>
            <div class="appraise-item">
                <div class="user-info"><img loading="lazy" alt="GOGO198 網站圖片" src="https://api-jiyun-v2.haiouoms.com/storage/default_user_avatar.jpg"
                                            alt="" class="avatar">
                    <div class="flex-between">
                        <div></div> <!----></div>
                    <div role="slider" aria-valuenow="5" aria-valuetext="" aria-valuemin="0" aria-valuemax="5"
                         tabindex="0" class="el-rate"><span class="el-rate__item" style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on"
                            style="color: rgb(247, 186, 42);"><!----></i></span><span class="el-rate__item"
                                                                                      style="cursor: auto;"><i
                            class="el-rate__icon el-icon-star-on" style="color: rgb(247, 186, 42);"><!----></i></span>
                        <!----></div>
                </div>
                <div class="user-comment">
                    <div>效果杠杠的，价钱合理。一直坚持使用，是小卖家的首选物流。希望以后能一直保持这个服务</div>
                    <div class="comment-image"><img
                            src="https://api-jiyun.beegoplus.com/storage/client-images202308/202308288z40RxH1SyjmBVVrFM07BlweZpgp21jHBqocBsvS.png"
                            alt="" class="img-item" style="cursor: pointer;"><img
                            src="https://api-jiyun.beegoplus.com/storage/client-images202308/202308287GG6CtciZbJpUBwiL2pasIJtaBYdPvrevH0ukRHm.png"
                            alt="" class="img-item" style="cursor: pointer;"><img
                            src="https://api-jiyun.beegoplus.com/storage/client-images202308/20230828Q5tAtFx6674Uk96dIiOmOdBcgmM5Fr0FvQ1Ommec.png"
                            alt="" class="img-item" style="cursor: pointer;"></div>
                </div>
                <div class="user-city">
                    <div><i class="el-icon-location"></i> <span>日本</span></div>
                    <div>2023-08-28 16:23:17</div>
                </div>
                <div class="comment"></div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}