{include file="common/gather_header"}
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="css/flexslider.css" rel="stylesheet" />
<link href="css/style.css?v=12122312" rel="stylesheet" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    body{background:#0e2e68;}
    .disf{display:flex;}
    #content{padding-top:20px;padding-bottom:20px;background: #0e2e68;border-bottom:1px solid #fff; }
    #content .container{width: 80%;max-width: 1200px;padding: 0px;margin: 30px auto 40px;border-radius: 5px;background-color: unset;box-shadow: 0 0 16px rgba(0,0,0,.04);box-shadow: unset;}
    .content{padding:20px 20px;box-sizing:border-box;border: 1px solid #ffffff;box-shadow: 1px 1px 10px #ffffff;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:;color:;border:1px solid ;font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .layui-elem-field legend,.layui-form-item .layui-form-label{color:;}
    #content{padding-top:20px;padding-bottom:20px;}
    .content .title{font-size:26px;color:#fff;font-weight:800;text-align:center;line-height:normal !important;}
    .content .control-group{margin-top:10px;}
    .content .control-group .label_title{width:80px;color:#fff;font-weight:800;font-size:15px;text-align:right;margin-right:10px;}
    .content .control-group .controls .form-control{width:90%;font-size:15px;}
    .content .control-group .controls .btn-send{padding:7px 0px;width:25%;background:#0e2e68;color:#fff;border:1px solid #fff;}
    .content form{text-align:center;}
    .content form .btn-submit{background:unset;color:#fff;border:1px solid #D2A778;padding:10px 100px;box-sizing:border-box;float:unset !important;margin-top:15px;}

    .email{display:none;}
    @media (max-width:992px){
        .container_content{margin-top:15px;}
        /**日期时间**/
        .layui-laydate-range{left: 0 !important;width: fit-content;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .layui-fluid,.layui-card-body{padding:0;}
    }
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="content">
            <form name="sentMessage" id="loginForm"  novalidate>
            <div class="title">账户登录</div>
            <div class="control-group">
                <div class="controls disf">
                    <label class="label_title">登录方式</label>
                    <select name="reg_method" id="reg_method" class="form-control">
                        <option value="1">手机号码</option>
                        <option value="2">电子邮箱</option>
                    </select>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group phone">
                <div class="controls disf">
                    <label class="label_title">手机号码</label>
                    <input type="text" class="form-control" placeholder="请输入您的手机号码" id="phone" name="phone" required/>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group email">
                <div class="controls disf">
                    <label class="label_title">电子邮箱</label>
                    <input type="text" class="form-control" placeholder="请输入您的电子邮箱" id="email" name="email" required />
                    <p class="help-block"></p>
                </div>
            </div>

            <div class="control-group">
                <div class="controls disf">
                    <label class="label_title">验证码</label>
                    <input type="text" class="form-control" placeholder="请输入验证码" id="code" name="code" required style="width:65%;"/>
                    <div class="btn btn-sm btn-send" onclick="send_code()" id="sendCode">发送</div>
                </div>
            </div>
            <div class="control-group" style="text-align:right;display:none;">
                <a href="/?s=index/customer_reg" class="f15" style="text-decoration:underline;">立即注册</a>
            </div>
            <button type="submit" class="btn pull-center btn-submit">立即登录</button><br />
        </form>
        </div>
    </div>
</section>
<script>
    layui.use(['layer','form','laydate','upload'],function(){
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload;

        $('#reg_method').change(function(){
            let val = $(this).val();
            if(val==1){
                $('.email').hide();
                $('.phone').show();
            }else if(val==2){
                $('.email').show();
                $('.phone').hide();
            }
        });

        $('#loginForm').submit(function(){
            // let json = $('#regForm').serialize();

            let number = '';
            if($('#reg_method').val()==1){
                number = $('#phone').val();
                if(number==''){
                    alert('请输入您的手机号码');return false;
                }
            }else if($('#reg_method').val()==2){
                number = $('#email').val();
                if(number==''){
                    alert('请输入您的邮箱地址');return false;
                }
            }

            if($('#code').val()==''){
                alert('请输入验证码');return false;
            }


            $.ajax({
                url: "?s=gather/login",
                method: 'post',
                data: {'reg_method':$('#reg_method').val(),'number':number,'code':$('#code').val(),'open':"{$open}"},
                dataType: 'JSON',
                success: function (res) {
                    if(res.code==-1){
                        alert(res.msg);
                        return false;
                    }else{
                        alert(res.msg);
                        if("{$open}"==1){
                            window.location.href="/?s=gather/service_center";
                        }else{
                            window.location.href="/?s=gather/member_center";
                        }
                    }
                },
                error: function (data) {

                }
            });

            return false;
        });
    });

    //倒计时
    var n=60;
    function timers(){
        n-=1;
        if(n==0){
            n=60;
            $("#sendCode").html("发送");
        }else{
            $("#sendCode").html(n+"重试");
            setTimeout(function () {
                timers();
            },1000);
        }
    }

    function send_code(){
        let val = $('#reg_method').val();
        let number = '';

        if(val==1){
            number = $('input[name="phone"]').val();
            if(number==''){
                alert('手机格式错误');return false;
            }
        }else if(val==2){
            number = $('input[name="email"]').val();
            var myreg=/^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/; //邮箱正则
            if (!myreg.test(number)){
                alert('邮箱格式错误');return false;
            }
        }
        if(n==60){
            timers();
            $.ajax({
                url: "?s=gather/send_code",
                method: 'post',
                data: {'code_type':val,'number':number,'islogin':1},
                dataType: 'JSON',
                success: function (res) {
                    if(res.code==-1){
                        alert(res.msg);
                        return false;
                    }else{

                    }
                },
                error: function (data) {

                }
            });
        }
    }
</script>
{include file="common/gather_footer"}