{include file="common/gather_header"}
<meta name="viewport" content="width=device-width, initial-scale=0.5" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .panel-container .user{padding: 40px;background-color: unset;border-radius: 5px;box-shadow: 0 0 16px rgba(0,0,0,.04);border: 1px solid #fff;color:#fff;}
    .panel-container .user .user-info{display: flex;align-items: center;padding-bottom: 34px;}
    .panel-container .user .user-info .avatar{margin-right: 20px;}
    .panel-container .user .user-info .avatar img{width: 80px;height: 80px;border-radius: 50%;}
    .panel-container .user .user-info .user-name{color: #fff;font-size: 14px;line-height: 25px;}
    .panel-container .user .user-info .user-name .username{font-size: 20px;color: #fff;}
    .panel-container .user .user-details{display: grid;grid-template-columns: 1fr 1fr;row-gap: 28px;}
    .panel-container .user .user-details .details-item{display: flex;align-items: center;}
    .panel-container .user .user-details .details-item .user-label{width: 70px;text-align: justify;-moz-text-align-last: justify;text-align-last: justify;text-justify: distribute-all-lines;}
    .panel-container .font-grey{color: #fff;}
    .panel-container .user .user-details .details-item .user-value{padding-left: 10px;}
    .panel-container .user .user-details .details-item .recharge{padding: 4px 8px;margin-left: 75px;cursor: pointer;border-radius: 5px;background-color: #0e2e68;}
    .panel-container .paner-container-info{display: grid;gap: 17px;grid-template-columns: repeat(4,1fr);padding: 20px 0;text-align: center;}
    .panel-container .paner-container-info .paner-container-info-item{cursor: pointer;background-color: #fff;border-radius: 5px;overflow: hidden;box-shadow: 0 0 16px rgba(0,0,0,.04);}
    .panel-container .paner-container-info .paner-container-info-item .info-item-title{padding: 18px 0;word-break: normal;background-color: #0e2e68;color:#fff;border:1px solid #fff;}
    .panel-container .paner-container-info .paner-container-info-item .paner-container-info-value{font-size: 24px;padding: 24px 0;}
    .panel-container .paner-container-info p{margin: 0;}
    .panel-container .notice-center, .panel-container .problem-center{background: #fff;border-radius: 5px;overflow: hidden;box-shadow: 0 0 16px rgba(0,0,0,.04);}
    .panel-container .notice-center, .panel-container .problem-center .content{padding:0 20px;}
    .panel-container .notice-center .content-top, .panel-container .problem-center .content-top{display: flex;justify-content: space-between;align-items: center;padding: 16px 30px;color: #999;background: #eee;}
    .panel-container .notice-center .content-top .title, .panel-container .problem-center .content-top .title{color: #fff;}
    .panel-container .notice-center .content{max-height: 374px;overflow: hidden;}
    .panel-container .notice-center .content .item, .panel-container .problem-center .content .item{padding: 28px 0;display: flex;justify-content: space-between;align-items: center;cursor: pointer;border-bottom: 1px solid #eee;}
    .panel-container .notice-center .content .item .title, .panel-container .problem-center .content .item .title{width: 60%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .panel-container .notice-center .content .item .create-time, .panel-container .problem-center .content .item .create-time{color: #999;font-size: 14px;}
    .panel-container .panel-container-footer{display: grid;gap: 20px;grid-template-columns: 2fr 1fr;margin-top: 20px;}
    .panel-container .notice-center, .panel-container .problem-center{background: unset;border-radius: 5px;overflow: hidden;box-shadow: 0 0 16px rgba(0,0,0,.04);color:#fff;border:1px solid #fff;}
    .panel-container .notice-center .content-top, .panel-container .problem-center .content-top{display: flex;justify-content: space-between;align-items: center;padding: 16px 30px;color: #fff;background: #0e2e68;}
    .panel-container .problem-center .content{max-height: 301px;overflow-y: scroll;}
    .panel-container .notice-center .content .item, .panel-container .problem-center .content .item{padding: 28px 0;display: flex;justify-content: space-between;align-items: center;cursor: pointer;border-bottom: 1px solid #eee;}
    .panel-container .notice-center .content .item .title, .panel-container .problem-center .content .item .title{width: 60%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    [class*=" el-icon-"], [class^=el-icon-] {font-family: element-icons!important;speak: none;font-style: normal;font-weight: 400;font-variant: normal;text-transform: none;line-height: 1;vertical-align: baseline;display: inline-block;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
    .el-icon-arrow-right:before {content: ">";}
    .panel-container .panel-container-footer .tool-center{display: flex;flex-direction: column;overflow: hidden;border-radius: 5px;background: unset;box-shadow: 0 0 16px rgba(0,0,0,.04);border:1px solid #fff;}
    .panel-container .panel-container-footer .tool-center .title{padding: 16px 30px;color: #fff;background: #0e2e68;}
    .panel-container .panel-container-footer .tool-center .content{flex: 1;display: grid;row-gap: 23px;align-items: center;grid-template-columns: 1fr 1fr;padding: 30px 0;text-align: center;color:#fff;}
    .panel-container .panel-container-footer .tool-center .content img{width: 72px;height: 72px;margin-bottom: 16px;}

    @media (max-width:992px){
        .container_content{margin-top:15px;}
        /**日期时间**/
        .layui-laydate-range{left: 0 !important;width: fit-content;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .layui-fluid,.layui-card-body{padding:0;}
        #content .container{width:90%;}
        .personalMain .personal{width: 100%;}
    }
</style>

<section id="content" class="non_topimg">
    <div class="container">
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div class="panel-container">
                    <div class="user">
                        <div class="user-info">
                            <div class="avatar">
                                <img src="https://shop.gogo198.cn/collect_website/public/uploads/centralize/website_index/64d357f7c4a70.jpg">
                            </div>
                            <div  class="user-name">
                                <div  class="username">
                                    {if !empty(session('account.realname'))}
                                        <?php echo session('account.realname');?>
                                    {else}
                                        游客
                                    {/if}</div>
                                <div >用户ID：<?php echo session('account.custom_id');?></div>
                                <div >
                                    成长值
                                    <span  style="color: #f1be83;">0</span>
                                    |
                                    再累积
                                    <span  style="color: #f1be83;">1000</span>
                                    成长值即可升级
                                </div>
                            </div>
                        </div>
                        <div  class="user-details">
                            <div  class="details-item">
                                <div  class="font-grey user-label">手机号</div>
                                :
                                <div  class="user-value"><?php echo session('account.phone');?></div>
                            </div>
                            <div  class="details-item">
                                <div  class="font-grey user-label">余额</div>
                                :
                                <div  class="user-value">
                                    ￥0.00
                                </div>
                                <div  class="recharge">充值</div>
                            </div>
                            <div  class="details-item">
                                <div  class="font-grey user-label">电子邮箱</div>
                                :
                                <div  class="user-value"><?php echo session('account.email');?></div>
                            </div>
                            <div  class="details-item">
                                <div  class="font-grey user-label">积分</div>
                                :
                                <div  class="user-value">0</div>
                            </div>
                            <div  class="details-item">
                                <div  class="font-grey user-label">微信</div>
                                :
                                <div  class="user-value">未绑定</div>
                            </div>
                            <div  class="details-item">
                                <div  class="font-grey user-label">优惠券</div>
                                :
                                <div  class="user-value">0</div>
                            </div>
                        </div>
                    </div>
                    <div  class="paner-container-info">
                        <div class="paner-container-info-item">
                            <p class="info-item-title">预报订单</p>
                            <p  class="paner-container-info-value">0</p>
                        </div>
                        <div  class="paner-container-info-item main-bg">
                            <p class="info-item-title">到仓订单</p>
                            <p  class="paner-container-info-value">0</p>
                        </div>
                        <div  class="paner-container-info-item">
                            <p class="info-item-title">在仓订单</p>
                            <p  class="paner-container-info-value">0</p>
                        </div>
                        <div  class="paner-container-info-item">
                            <p class="info-item-title">集运订单</p>
                            <p  class="paner-container-info-value">0</p>
                        </div>
                    </div>
                    <div  class="notice-center" style="padding:0;">
                        <div  class="content-top">
                            <div  class="title">BeeGoPlus公告</div>
                        </div>
                        <div  class="content" style="padding-top:0;">
                            <div  class="item">
                                <div  class="title">关于“BG德国专线派送商测试”通知</div>
                                <div  class="create-time">2023-07-10 11:35:08</div>
                            </div>
                            <div  class="item">
                                <div  class="title">丢失、破损理赔及超时赔付的调整通知</div>
                                <div  class="create-time">2023-05-25 13:45:44</div>
                            </div>
                            <div  class="item">
                                <div  class="title">关于BEEGOPLUS“重新打包规则”的公告</div>
                                <div  class="create-time">2023-03-20 19:09:59</div>
                            </div>
                        </div>
                    </div>
                    <div  class="panel-container-footer">
                        <div  class="problem-center">
                            <div  class="content-top">
                                <div  class="title">常见问题</div>
                            </div>
                            <div  class="content">
                                <div  class="item">
                                    <div  class="title">成长值与积分的规则</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                                <div  class="item">
                                    <div  class="title">BEEGOPLUS包裹丢失、破损赔偿规则</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                                <div  class="item">
                                    <div  class="title">BEEGOPLUS渠道尺寸限制与附加费公示</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                                <div  class="item">
                                    <div  class="title">BG专线超时赔偿标准</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                                <div  class="item">
                                    <div  class="title">BG集运日常问题汇总</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                                <div  class="item">
                                    <div  class="title">BEEGOPLUS集运仓打包规范</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                                <div  class="item">
                                    <div  class="title">常见问题及注意事项</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                                <div  class="item">
                                    <div  class="title">关于“超出免费仓储期包裹的处理”通知</div>
                                    <div  class="el-icon-arrow-right"></div>
                                </div>
                            </div>
                        </div>
                        <div  class="tool-center">
                            <div  class="title">工具</div>
                            <div class="content">
                                <span>
                                    <div role="tooltip" id="el-popover-9932" aria-hidden="true" class="el-popover el-popper" tabindex="0" style="display: none;">
                                        <img src="/img/qrcode_for_gogo.jpg" alt="" style="width: 150px;">
                                    </div>
                                    <span class="el-popover__reference-wrapper">
                                        <div class="el-popover__reference" aria-describedby="el-popover-4268" tabindex="0">
                                            <img src="/img/qrcode_for_gogo.jpg" alt="">
                                            <div>关注公众号</div>
                                        </div>
                                    </span>
                                </span>
                                <span>
                                    <div role="tooltip" id="el-popover-9932" aria-hidden="true" class="el-popover el-popper" tabindex="0" style="display: none;">
                                        <img src="/images/app.png" alt="" style="width: 150px;">
                                    </div>
                                    <span class="el-popover__reference-wrapper">
                                        <div class="el-popover__reference" aria-describedby="el-popover-9932" tabindex="0">
                                            <img src="/images/app.png" alt="">
                                            <div>APP下载</div>
                                        </div>
                                    </span>
                                </span>
<!--                                <span>-->
<!--                                    <div role="tooltip" id="el-popover-842" aria-hidden="true" class="el-popover el-popper" tabindex="0" style="display: none;">-->
<!--                                        <img src="/images/xcx.jpg" alt="" style="width: 150px;">-->
<!--                                    </div>-->
<!--                                    <span class="el-popover__reference-wrapper">-->
<!--                                        <div class="el-popover__reference" aria-describedby="el-popover-842" tabindex="0">-->
<!--                                            <img src="/images/xcx.jpg" alt="">-->
<!--                                            <div>小程序下单</div>-->
<!--                                        </div>-->
<!--                                    </span>-->
<!--                                </span>-->
                                <span>
                                    <div role="tooltip" id="el-popover-8595" aria-hidden="true" class="el-popover el-popper" tabindex="0" style="display: none;">
                                        <img src="/images/kfwx.png" alt="" style="width: 150px;">
                                    </div>
                                    <span class="el-popover__reference-wrapper">
                                        <div class="el-popover__reference" aria-describedby="el-popover-8595" tabindex="0">
                                            <img src="/images/kfwx.png" alt="">
                                            <div>联系客服</div>
                                        </div>
                                    </span>
                                </span>
<!--                                4268-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}