{include file="common/gather_header"}
<link rel="stylesheet" href="layui/css/layui.css">
<link rel="stylesheet" href="css/gather_information.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:#444444;}
    #content .container{width: 80%;max-width: 1200px;padding: 0px;margin: 30px auto 40px;border-radius: 5px;box-shadow: 0 0 16px rgba(0,0,0,.04);background: unset;color:#000;box-shadow: unset;border:1px solid #fff;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:;color:;border:1px solid ;font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .layui-elem-field legend,.layui-form-item .layui-form-label{color:;}
    .word_color{color:;}
    .layui-card{background:;}
    .layui-fluid,.layui-card-body{padding:0;}

    .layui-form-label{width:fit-content;}
    .layui-input-block{line-height:38px;margin-left:100px;}
    .layui-elem-field{margin-bottom: 0;}
    .no-line{text-align: center;color:;}
    .details{background: #fff;}
    .informationDetails{padding:0}
    @media (max-width:992px){
        .container_content{margin-top:15px;}
        /**日期时间**/
        .layui-laydate-range{left: 0 !important;width: fit-content;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .layui-fluid,.layui-card-body{padding:0;}
        #content .container{width:100%;}
    }
</style>
<section id="content" class="non_topimg">
    <div class="container">
<!--        <div id="app">-->
            <div class="informationDetails">
                <div class="details">
                    <div class="details-header">
                        <div class="details-title">关于“BG德国专线派送商测试”通知</div>
                        <div class="details-time">2023-07-10 11:35:08</div>
                    </div>
                    <div class="details-main"><p>尊敬的BEEGOPLUS用户：<br>为提升德国用户们的寄递体验，近期BEEGOPLUS将对BG德国专线（普货渠道）</p>
                        <p>进行末端派送商调整测试，部分BG德国专线订单，末端派送商将由Hermes调整为DHL，若用户仍需Hermes派送可在订单备注中说明。</p>
                        <p>感谢大家一直以来对BEEGOPLUS信任与支持，我们会不断优化寄递方案，为大家提供最优质的寄递体验。</p>
                        <p>——BEEGOPLUS集运</p>
                        <p>2023/7/10</p></div>
                </div>
            </div>
<!--        </div>-->
    </div>
</section>
{include file="common/gather_footer"}