{include file="common/gather_header"}
<meta name="viewport" content="width=device-width, initial-scale=0.5" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .main-container {display: flex;flex-direction: column;flex: 1;background-color: unset;padding-bottom: 20px;border-radius: 5px;overflow: hidden;box-shadow: 0 0 14px rgba(0,0,0,.04);border:1px solid #fff;}
    .operat-box {display: flex;align-items: center;justify-content: space-between;padding: 16px 30px;background-color: #0e2e68;color:#fff;}
    .main-container-title {padding-right: 20px;}
    .search-container {display: inline-block;width: 350px;}
    .search-container .search-ipt {background-color: #fff;border-radius: 4px;}
    .el-input {position: relative;font-size: 14px;display: inline-block;width: 100%;}
    .el-input--suffix .el-input__inner {padding-right: 30px;}
    .el-input__inner {-webkit-appearance: none;background-color: #fff;background-image: none;border-radius: 4px;border: 1px solid #dcdfe6;box-sizing: border-box;color: #606266;display: inline-block;font-size: inherit;height: 40px;line-height: 40px;outline: none;padding: 0 15px;transition: border-color .2s cubic-bezier(.645,.045,.355,1);width: 100%;}
    .search-container .search-ipt .el-input__suffix {display: flex;align-items: center;}
    .el-input__suffix {position: absolute;height: 100%;right: 5px;top: 0;text-align: center;color: #c0c4cc;transition: all .3s;pointer-events: none;}
    .add-btn-container {display: flex;align-items: center;padding: 8px 28px;cursor: pointer;border-radius: 5px;background: unset;color:#fff;border:1px solid #fff;}
    .add-btn-container .el-icon-plus {font-weight: 700;}
    .el-tabs__header {padding: 0;position: relative;margin: 0 0 15px;}
    .el-tabs__nav-wrap {overflow: hidden;margin-bottom: -1px;position: relative;}
    .el-tabs__nav-scroll {overflow: hidden;}
    .el-tabs__nav {white-space: nowrap;position: relative;transition: transform .3s;float: left;z-index: 2;}
    .el-tabs__active-bar {position: absolute;bottom: 0;left: 0;height: 2px;background-color: #f1be83;z-index: 1;transition: transform .3s cubic-bezier(.645,.045,.355,1);list-style: none;}
    .el-tabs__item {padding: 0 20px;height: 40px;box-sizing: border-box;line-height: 40px;display: inline-block;list-style: none;font-size: 14px;font-weight: 500;color: #fff;position: relative;}
    .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2), .el-tabs--bottom .el-tabs__item.is-top:nth-child(2), .el-tabs--top .el-tabs__item.is-bottom:nth-child(2), .el-tabs--top .el-tabs__item.is-top:nth-child(2) {padding-left: 0;}
    .el-tabs__item.is-active {color: #f1be83;}
    .package-container .content .package-info {display: grid;justify-items: center;grid-template-columns: 20% 10% 10% 15% 20% 15% 10%;padding: 14px 20px;margin-bottom: 15px;font-size: 14px;background: #0e2e68;color:#fff;}
    .empty-box {flex: 1;padding-top: 30px;color: #ccc;font-size: 14px;text-align: center;}
    .empty-box img {width: 120px;padding-bottom: 16px;}
    .el-loading-mask {position: absolute;z-index: 2000;background-color: hsla(0,0%,100%,.9);margin: 0;top: 0;right: 0;bottom: 0;left: 0;transition: opacity .3s;}
    .el-tabs__nav-wrap:after {content: "";position: absolute;left: 0;bottom: 0;width: 100%;height: 2px;background-color: #e4e7ed;z-index: 1;}
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div class="package-container main-container">
                    <div  class="operat-box">
                        <div ><span  class="main-container-title">包裹列表</span>
                            <div  class="search-container">
                                <div class="search-ipt el-input el-input--suffix"><!----><input
                                        type="text" autocomplete="off" placeholder="请输入关键字" class="el-input__inner">
                                    <!----><span class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                            class="el-icon-search search-icon"></i><!----><!---->
                                        <!----><!----></span><!----></span><!----><!----></div>
                            </div>
                        </div>
                        <div   class="add-btn-container"><i 
                                                                                                class="el-icon-plus add"></i>
                            <div >添加包裹</div>
                        </div>
                    </div>
                    <div class="content">
                        <div >
                            <div  class="package-tabs el-tabs el-tabs--top">
                                <div class="el-tabs__header is-top">
                                    <div class="el-tabs__nav-wrap is-top">
                                        <div class="el-tabs__nav-scroll">
                                            <div role="tablist" class="el-tabs__nav is-top"
                                                 style="transform: translateX(0px);">
                                                <div class="el-tabs__active-bar is-top"
                                                     style="width: 60px; transform: translateX(0px);"></div>
                                                <div id="tab-1" aria-controls="pane-1" role="tab" aria-selected="true"
                                                     tabindex="0" class="el-tabs__item is-top is-active">预报件(0)
                                                </div>
                                                <div id="tab-2" aria-controls="pane-2" role="tab" tabindex="-1"
                                                     class="el-tabs__item is-top">在仓件(0)
                                                </div>
                                                <div id="tab-3" aria-controls="pane-2" role="tab" tabindex="-1"
                                                     class="el-tabs__item is-top">在途件(0)
                                                </div>
                                                <div id="tab-4" aria-controls="pane-2" role="tab" tabindex="-1"
                                                     class="el-tabs__item is-top">问题件(0)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="el-tabs__content">
                                    <div  role="tabpanel" id="pane-1" aria-labelledby="tab-1"
                                         class="el-tab-pane"></div>
                                    <div  role="tabpanel" aria-hidden="true" id="pane-2"
                                         aria-labelledby="tab-2" class="el-tab-pane" style="display: none;"></div>
                                </div>
                            </div>
                            <table class="layui-hide" id="mainTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}
<script>
    layui.use(['layer', 'form', 'table', 'upload'], function () {
        var $ = layui.$
            , layer = layui.layer
            , form = layui.form
            , element = layui.element
            , upload = layui.upload
            , table = layui.table;

        form.render(null, 'component-form-group');

        table.render({
            elem: '#mainTable'
            ,url: "/?s=gather/package_list&pa=1"
            ,cellMinWidth: 200
            ,cols: [[
                {field:'id', width:80, title: '编号'}
                ,{field:'ordersn',  title: '订单编号'}
                ,{field:'brand_desc',  title: '商品描述'}
                ,{field:'itemid',  title: '商品类别'}
                ,{field:'createtime',  title: '创建时间'}
                // ,{width:120, align:'center', fixed: 'right', title: '操作', templet: function(d){
                //         return [
                //             '<a onclick="openWindow('+ "'["+d.ordersn+"]查看详情'" +',' + "'/?s=gather/order_info&id="+ d.id +"'" + ');" class="layui-btn layui-btn-xs layui-btn-normal">查看详情</a>',
                //             // '<a onclick="del('+ "'"+d.id+"'" +');" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>'
                //         ].join('');
                //     } }
            ]]
            ,page: true
        });

        var $ = layui.$, active = {
            reload: function () {
                //执行重载
                table.reload('mainTable1', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        keywords: $("#keywords1").val(),
                    }
                });
            }
        };
        $('.main-table-reload-btn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

    function openWindow(title,url,type)
    {
        var layer = layui.layer;
        var index = layer.open({
            type: 2,
            title: title,
            content: url,
            area:['100%','100%']
        });
        // layer.full(index);
    }
</script>