{include file="common/gather_header"}
<meta name="viewport" content="width=device-width, initial-scale=0.5" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .main-container {display: flex;flex-direction: column;flex: 1;background-color: unset;padding-bottom: 20px;border-radius: 5px;overflow: hidden;box-shadow: 0 0 14px rgba(0,0,0,.04);border:1px solid #fff;}
    .operat-box {display: flex;align-items: center;justify-content: space-between;padding: 16px 30px;background-color: #0e2e68;color:#fff;}
    .main-container-title {padding-right: 20px;}
    .search-container {display: inline-block;width: 350px;}
    .search-container .search-ipt {background-color: #fff;border-radius: 4px;}
    .el-input {position: relative;font-size: 14px;display: inline-block;width: 100%;}
    .el-input--suffix .el-input__inner {padding-right: 30px;}
    .el-input__inner {-webkit-appearance: none;background-color: #fff;background-image: none;border-radius: 4px;border: 1px solid #dcdfe6;box-sizing: border-box;color: #606266;display: inline-block;font-size: inherit;height: 40px;line-height: 40px;outline: none;padding: 0 15px;transition: border-color .2s cubic-bezier(.645,.045,.355,1);width: 100%;}
    .search-container .search-ipt .el-input__suffix {display: flex;align-items: center;}
    .el-input__suffix {position: absolute;height: 100%;right: 5px;top: 0;text-align: center;color: #c0c4cc;transition: all .3s;pointer-events: none;}
    .parcel-claim-main {padding: 25px;}
    .el-table--border, .el-table--group {border: 1px solid #ebeef5;}
    .el-table td, .el-table th {padding: 12px 0;min-width: 0;box-sizing: border-box;text-overflow: ellipsis;vertical-align: middle;position: relative;text-align: left;}
    .el-table {position: relative;overflow: hidden;box-sizing: border-box;flex: 1;width: 100%;max-width: 100%;background-color: unset;font-size: 14px;color: #fff;}
    .el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {width: 100%;}
    .el-table__body, .el-table__footer, .el-table__header {table-layout: fixed;border-collapse: separate;}
    .el-table thead {background: #0e2e68;color:#fff;font-weight: 500;}
    /*.el-table tr {background-color: unset;}*/
    .el-table td, .el-table th.is-leaf {border-bottom: 1px solid #ebeef5;}
    .el-table th>.cell {display: inline-block;box-sizing: border-box;position: relative;vertical-align: middle;padding-left: 10px;padding-right: 10px;width: 100%;}
    .el-table .cell {box-sizing: border-box;overflow: hidden;text-overflow: ellipsis;white-space: normal;word-break: break-all;line-height: 23px;padding-left: 10px;padding-right: 10px;text-align: center;}
    .el-table__body-wrapper {overflow: hidden;position: relative;width:100%;}
    .el-table--enable-row-transition .el-table__body td {transition: background-color .25s ease;}
    .el-button {display: inline-block;line-height: 1;white-space: nowrap;cursor: pointer;background: #fff;border: 1px solid #dcdfe6;color: #606266;-webkit-appearance: none;text-align: center;box-sizing: border-box;outline: none;margin: 0;transition: .1s;font-weight: 500;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;padding: 12px 20px;font-size: 14px;border-radius: 4px;color: #333;}
    .el-button--primary {color: #fff;background-color: unset;border-color: #fff;}

</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div class="parcel-claim main-container">
                    <div  class="operat-box">
                        <div  class="main-container-title">异常件认领</div>
                        <div   class="search-container">
                            <div  class="search-ipt el-input el-input--suffix"><!----><input
                                    type="text" autocomplete="off" placeholder="请输入关键字" class="el-input__inner">
                                <!----><span class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                         class="el-icon-search search-icon"></i><!----><!----><!---->
                                    <!----></span><!----></span><!----><!----></div>
                        </div>
                    </div>
                    <div  class="parcel-claim-main">
                        <div
                             class="el-table parcel-claim-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition"
                             style="width: 100%;">
                            <div class="hidden-columns">
                                <div ></div>
                                <div ></div>
                                <div ></div>
                            </div>
                            <div class="el-table__header-wrapper">
                                <table cellspacing="0" cellpadding="0" border="0" class="el-table__header"
                                       style="width: 889px;">
                                    <colgroup>
                                        <col name="el-table_1_column_1" width="355">
                                        <col name="el-table_1_column_2" width="354">
                                        <col name="el-table_1_column_3" width="180">
                                        <col name="gutter" width="0">
                                    </colgroup>
                                    <thead class="has-gutter">
                                    <tr class="">
                                        <th colspan="1" rowspan="1" class="el-table_1_column_1  is-center   is-leaf">
                                            <div class="cell">快递单号</div>
                                        </th>
                                        <th colspan="1" rowspan="1" class="el-table_1_column_2  is-center   is-leaf">
                                            <div class="cell">入库时间</div>
                                        </th>
                                        <th colspan="1" rowspan="1" class="el-table_1_column_3  is-center   is-leaf">
                                            <div class="cell">操作</div>
                                        </th>
                                        <th class="gutter" style="width: 0px; display: none;"></th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="el-table__body-wrapper is-scrolling-none">
                                <table cellspacing="0" cellpadding="0" border="0" class="el-table__body"
                                       style="width: 889px;">
                                    <colgroup>
                                        <col name="el-table_1_column_1" width="355">
                                        <col name="el-table_1_column_2" width="354">
                                        <col name="el-table_1_column_3" width="180">
                                    </colgroup>
                                    <tbody>
                                    <tr class="el-table__row">
                                        <td rowspan="1" colspan="1" class="el-table_1_column_1 is-center ">
                                            <div class="cell">433*71</div>
                                        </td>
                                        <td rowspan="1" colspan="1" class="el-table_1_column_2 is-center ">
                                            <div class="cell">2023-08-29 11:17:01</div>
                                        </td>
                                        <td rowspan="1" colspan="1" class="el-table_1_column_3 is-center ">
                                            <div class="cell">
                                                <button  type="button"
                                                        class="el-button claim el-button--primary"><!----><!----><span>认领</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="el-table__row">
                                        <td rowspan="1" colspan="1" class="el-table_1_column_1 is-center ">
                                            <div class="cell">SF1*42</div>
                                        </td>
                                        <td rowspan="1" colspan="1" class="el-table_1_column_2 is-center ">
                                            <div class="cell">2023-08-29 11:08:52</div>
                                        </td>
                                        <td rowspan="1" colspan="1" class="el-table_1_column_3 is-center ">
                                            <div class="cell">
                                                <button  type="button"
                                                        class="el-button claim el-button--primary"><!----><!----><span>认领</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                   </tbody>
                                </table><!----><!----></div><!----><!----><!----><!---->
                            <div class="el-table__column-resize-proxy" style="display: none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}