{include file="common/gather_header"}
<meta name="viewport" content="width=device-width, initial-scale=0.5" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .main-container {display: flex;flex-direction: column;flex: 1;background-color: unset;padding-bottom: 20px;border-radius: 5px;overflow: hidden;box-shadow: 0 0 14px rgba(0,0,0,.04);border:1px solid #fff;}
    .operat-box {display: flex;align-items: center;justify-content: space-between;padding: 16px 30px;background-color: #0e2e68;color:#fff;}
    .main-container-title {padding-right: 20px;}
    .point-container .point-content {flex: 1;display: flex;flex-direction: column;padding: 30px 50px;color:#fff;}
    .point-container .point-content .point-top {display: grid;grid-template-columns: repeat(3,1fr);align-items: center;padding: 20px 50px;text-align: center;}
    .point-container .point-content .point-top .point-info {color: #fff;font-size: 14px;}
    .point-container .point-content .point-top .point-info .amount {font-size: 36px;font-weight: 400;}
    .point-container .red-text {color: #f55;}
    .point-container .point-content .point-top img {justify-self: end;}
    .point-container .point-content .empty {padding: 50px 0;color: #ccc;font-size: 14px;text-align: center;}
    
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div   class="point-container main-container">
                    <div  class="operat-box"><span  class="main-container-title">我的积分</span>
                    </div>
                    <div  class="point-content">
                        <div >可用积分：</div>
                        <div  class="point-top">
                            <div ></div>
                            <div  class="point-info">
                                <div  class="amount red-text">100</div>
                                <div  style="padding: 16px 0px 12px;">
                                    （1积分=￥0.01）
                                </div>
                                <div >下单时系统会消耗积分自动抵扣运费</div>
                            </div>
                            <img loading="lazy" alt="GOGO198 網站圖片" src="/images/point.png" alt=""></div>
                        <div  class="empty"><img loading="lazy" alt="GOGO198 網站圖片" src="/images/empty.png" alt="">
                            <div  style="padding-top: 20px;">暂无记录</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}