{include file="common/gather_header"}
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    #content{padding-top:20px;padding-bottom:20px;background:#fcfcfc;}
    #content .container{width: 80%;max-width: 1200px;padding: 0px;margin: 30px auto 40px;border-radius: 5px;background-color: #fff;box-shadow: 0 0 16px rgba(0,0,0,.04);background: #fafafa;box-shadow: unset;}
    .content{padding:20px 20px;box-sizing:border-box;}
    .content .col-md-12{padding:0;float:unset;}
    .content .box_content{justify-content:center;border-radius:8px;margin-bottom:30px;}
    .content .box_content{background:;color:;border:1px solid ;font-size:25px;text-align:center;padding:30px;width:100%;}
    .content .box_content img{width:40px;margin-right:5px;}
    .layui-elem-field legend,.layui-form-item .layui-form-label{color:;}
    .suggest {margin: 30px auto;padding: 10px 30px 30px;background-color: #fff;border-radius: 5px;box-shadow: 0 0 16px rgba(0,0,0,.04);box-sizing: border-box}
    .suggest .suggest-content {display: flex;flex-direction: column;gap: 20px;width: 40%;min-width: 300px;max-width: 500px}
    .suggest .suggest-content .submit {cursor: pointer;width: 30%;max-width: 148px;min-width: 100px;padding: 12px 0;text-align: center;border-radius: 5px;background-color: #ffd400}
    .el-input__inner {-webkit-appearance: none;background-color: #fff;background-image: none;border-radius: 4px;border: 1px solid #dcdfe6;box-sizing: border-box;color: #606266;display: inline-block;font-size: inherit;height: 40px;line-height: 40px;outline: 0;padding: 0 15px;transition: border-color .2s cubic-bezier(.645,.045,.355,1);width: 100%;}
    .el-textarea {position: relative;display: inline-block;width: 100%;vertical-align: bottom;font-size: 14px;}
    .el-textarea__inner {display: block;resize: vertical;padding: 5px 15px;line-height: 1.5;box-sizing: border-box;width: 100%;font-size: inherit;color: #606266;background-color: #fff;background-image: none;border: 1px solid #dcdfe6;border-radius: 4px;transition: border-color .2s cubic-bezier(.645,.045,.355,1);}
    @media (max-width:992px){
        .container_content{margin-top:15px;}
        /**日期时间**/
        .layui-laydate-range{left: 0 !important;width: fit-content;}
        .layui-laydate-range .layui-laydate-main{display: block;width: 100%;}
        .layui-laydate-range .layui-laydate-main .layui-laydate-content table{width: 100%;}
        .layui-fluid,.layui-card-body{padding:0;}
        #content .container{width:100%;}
    }
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <!--        <div id="app">-->
        <div class="container-xl suggest"><p>如果BEEGOPLUS团队有什么做的不好的，你需要投诉或给与建议，可在下方输入:</p>
            <div class="suggest-content">
                <div class="el-input"><!----><input type="text" autocomplete="off" placeholder="请输入标题"
                                                    class="el-input__inner"><!----><!----><!----><!----></div>
                <div class="el-textarea"><textarea autocomplete="off" rows="5" placeholder="请输入您的投诉或建议"
                                                   class="el-textarea__inner" style="min-height: 33px;"></textarea>
                    <!----></div>
                <div class="submit">提交</div>
            </div>
        </div>
        <!--        </div>-->
    </div>
</section>
{include file="common/gather_footer"}