{include file="common/gather_header"}
<meta name="viewport" content="width=device-width, initial-scale=0.5" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .main-container {display: flex;flex-direction: column;flex: 1;background-color: unset;padding-bottom: 20px;border-radius: 5px;overflow: hidden;box-shadow: 0 0 14px rgba(0,0,0,.04);border:1px solid #fff;}
    .operat-box {display: flex;align-items: center;justify-content: space-between;padding: 16px 30px;background-color: #0e2e68;color:#fff;}
    .main-container-title {padding-right: 20px;}
    .personal-container .cancel, .personal-container .edit {cursor: pointer;width: 80px;padding: 8px 0;text-align: center;border-radius: 5px;background: unset;color:#fff;border:1px solid #fff;}
    .personal-container .personal-content {display: flex;flex-direction: column;align-items: center;padding: 40px;}
    .personal-container .personal-content .avatar {width: 80px;height: 80px;border-radius: 50%;overflow: hidden;}
    .personal-container .personal-content .personal-form {width: 60%;}
    .el-form-item {margin-bottom: 22px;}
    .el-form-item__label {text-align: right;vertical-align: middle;float: left;font-size: 14px;color: #606266;line-height: 40px;padding: 0 12px 0 0;box-sizing: border-box;}
    .personal-container .personal-content .personal-form .el-form-item__label {color: #fff !important;font-size: 16px!important;text-align: justify;-moz-text-align-last: justify;text-align-last: justify;}
    .el-form-item__content {line-height: 40px;position: relative;font-size: 14px;}
    .personal-container .personal-content .personal-form .el-form-item__content {color: #efefef !important;font-size: 16px!important;}
    
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div   class="personal-container main-container">
                    <div  class="operat-box"><span  class="main-container-title">个人信息</span>
                        <div  class="edit" style="">编辑</div>
                    </div>
                    <div  class="personal-content"><img 
                                                                          src="https://thirdwx.qlogo.cn/mmopen/vi_32/KZd62NRVDNpKmr1SHyWwFCpXU9DUFZW5CbSG1YxDib7jXrpUhMiaMmruYAX6kicEvf7XIP377ia0sJazTtovbhPaFQ/132"
                                                                          alt="" class="avatar">
                        <p >hjxssl</p>
                        <form  class="el-form personal-form">
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 120px;">用户ID:</label>
                                <div class="el-form-item__content" style="margin-left: 120px;"><span 
                                                                                                     class="userId">398249</span>
                                    <!----></div>
                            </div>
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 120px;">性别:</label>
                                <div class="el-form-item__content" style="margin-left: 120px;">
                                    <div >未选择</div><!----></div>
                            </div>
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 120px;">手机号:</label>
                                <div class="el-form-item__content" style="margin-left: 120px;"><span >null-13119893380</span>
                                    <!----><!----></div>
                            </div>
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 120px;">电子邮箱:</label>
                                <div class="el-form-item__content" style="margin-left: 120px;">
                                    未填写
                                    <!----><!----></div>
                            </div>
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 120px;">微信:</label>
                                <div class="el-form-item__content" style="margin-left: 120px;">
                                    <div >未填写</div><!----></div>
                            </div>
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 120px;">现居:</label>
                                <div class="el-form-item__content" style="margin-left: 120px;">
                                    <div >未选择</div><!----></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}