{include file="common/gather_header"}
<meta name="viewport" content="width=device-width, initial-scale=0.5" />
<link rel="stylesheet" href="layui/css/layui.css">
<script src="layui/layui.js"></script>
<style type="text/css" media="all">
    .update-password {flex: 1;border: 1px solid #f2f2f2;}
    .main-container {display: flex;flex-direction: column;flex: 1;background-color: unset;padding-bottom: 20px;border-radius: 5px;overflow: hidden;box-shadow: 0 0 14px rgba(0,0,0,.04);border:1px solid #fff;}
    .operat-box {display: flex;align-items: center;justify-content: space-between;padding: 16px 30px;background-color: #0e2e68;color:#fff;}
    .main-container-title {padding-right: 20px;}
    .update-password .update-password-table {display: flex;flex-direction: column;align-items: center;padding: 40px 0;}
    .update-password .update-password-table .password-form {max-width: 350px;}
    .el-form-item {margin-bottom: 22px;}
    .el-form-item__label {text-align: right;vertical-align: middle;float: left;font-size: 14px;color: #fff;line-height: 40px;padding: 0 12px 0 0;box-sizing: border-box;}
    .el-form-item__content {line-height: 40px;position: relative;font-size: 14px;}
    .el-input {position: relative;font-size: 14px;display: inline-block;width: 100%;}
    .el-input__inner {-webkit-appearance: none;background-color: #fff;background-image: none;border-radius: 4px;border: 1px solid #dcdfe6;box-sizing: border-box;color: #606266;display: inline-block;font-size: inherit;height: 40px;line-height: 40px;outline: none;padding: 0 15px;transition: border-color .2s cubic-bezier(.645,.045,.355,1);width: 100%;}
    .update-password .update-password-table .long-btn {width: 100%;}
    .el-button {display: inline-block;line-height: 1;white-space: nowrap;cursor: pointer;background: #fff;border: 1px solid #dcdfe6;color: #606266;-webkit-appearance: none;text-align: center;box-sizing: border-box;outline: none;margin: 0;transition: .1s;font-weight: 500;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;padding: 12px 20px;font-size: 14px;border-radius: 4px;}
    .el-button--primary {color: #fff;background-color: unset;border-color: #fff;}
</style>
<section id="content" class="non_topimg">
    <div class="container">
        <div class="personalMain">
            <div class="personal">
                {include file="common/member_left"}
                <div   class="update-password main-container">
                    <div  class="operat-box"><span  class="main-container-title">修改密码</span>
                    </div>
                    <div  class="update-password-table">
                        <form  class="el-form password-form">
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 140px;">*新密码</label>
                                <div class="el-form-item__content" style="margin-left: 140px;">
                                    <div  class="el-input"><!----><input type="password"
                                                                                           autocomplete="off"
                                                                                           placeholder="请输入新密码"
                                                                                           class="el-input__inner">
                                        <!----><!----><!----><!----></div><!----></div>
                            </div>
                            <div  class="el-form-item"><label class="el-form-item__label"
                                                                                style="width: 140px;">*确认密码</label>
                                <div class="el-form-item__content" style="margin-left: 140px;">
                                    <div  class="el-input"><!----><input type="password"
                                                                                           autocomplete="off"
                                                                                           placeholder="请确认密码"
                                                                                           class="el-input__inner">
                                        <!----><!----><!----><!----></div><!----></div>
                            </div>
                            <div  class="el-form-item"><!---->
                                <div class="el-form-item__content" style="margin-left: 140px;">
                                    <button  type="button"
                                            class="el-button long-btn el-button--primary"><!----><!----><span>确定</span>
                                    </button><!----></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{include file="common/gather_footer"}
